In [ ]:
# float  object  demo  program (Home  work)
a = 10.8
print(a) # 10.8 will be printed
print(type(a)) # <class ‘float’>
print(id(a))#  return address of the a lets suppose 1234
b = 25.
print(b) # 25.0 n will be printed
print(type(b)) # <class ‘int’>
c = .689
print(c) # 0.689 will be printed
d = 3.4E2
print(d) # 3.4*10^2 = 340.0 as it was the float return value
print(type(d)) # <class ‘float’>
e = 9.62e-2 
print(e) # 9.62*10^-2=0.0962
#print(9.8.2) #  error becz decimal will have one ‘.’

In [ ]:
# complex object demo program
a = 3 + 4j
print(a) # 3+4j will be printed
print(type(a)) # <class ‘complex’>
print(id(a)) # return address of the a lets suppose 1234
print(a . real) # 3.0 will be printed
print(a . imag) # 4.0 will be printed
print(type(a . real)) # <class ‘float’>
print(type(a . imag)) # <class ‘float’>

In [ ]:
# Find outputs (Home work)
a = 6j
print(a) # 6j will be printed
print(type(a)) # <class ‘complex’>
print(a.real) # 0.0 will be printed
print(a.imag)# 6.0 will be printed
#print(5 + j6) # error becz ‘j’ should be after the number
#print(3 + 4i)  # error becz ‘I’ is not consider as complex number
#print(4+j) # error bcz ‘1j’ we should write
print(4 + 1j)# 4+1j will be printed
print(4 + 0j) # 4.0 will be printed

In [ ]:
# bool object demo program  (Home  work)
a = True
print(a) # True will be printed
print(type(a))# <class ‘bool’>
print(id(a))  # return address of the a lets suppose 1234
b = False 
print(b) # False will be printed
print(type(b)) #<class ‘bool’>
print(True + True) # 2 will be printed
print(True + False) # 1 will be printed
print(False + True) # 1 will be printed
print(False + False) # 0 will be printed
print(True + True + True) # 3 will be printed
print(25 + 10.8 + True) # 36.8  will be printed
print(True > False) # True
print(True) # True
print(False) # False
#print(true)# error as True is keyword ‘T’ should be capital
#print(false) # error as False is keyword ‘F’ should be capital

In [ ]:
# Find  outputs (Home  work)
a = 0O6247
print(a) #3239 will be printed
print(type(a))# <class ‘int’>
print(id(a)) # return address of the a lets suppose 1231
b = 0o6247
print(id(b)) # return address of the a lets suppose 1231
print(b) # 3239 will be printed
c = 3239
print(c) # 3239 will be printed
print(id(c)) # return address of the a lets suppose 1231
#print(0o9248)#  error becz ‘9’ is not octal decimal

In [ ]:
# Find  outputs  (Home  work)
a = 0XA7B9
print(a) # 42937 will be printed
print(type(a)) #<class ‘int’>
b = 0xBEEF
print(b)# 48879 will be printed
#print(A7B9) # error as it was not starting with 0X at starting
#print('A7B9') # A7B9 will be printed
#print(0XBEER)# error bcz  hexa decimal has from ‘A-F’
#print(0XHYD) # error bcz  hexa decimal has from ‘A-F’
#print(0xA7G9B) # error bcz  hexa decimal has from ‘A-F’

In [ ]:
# Find outputs (Home  work)
a = 9248
print(a) #9248 will be printed
print(type(a))# <class ‘int’>

In [ ]:
#  Find  outputs  (Home  work)
a = "Rama Rao"
print(a) # Rama Rao 
print(type(a))#<class ‘str’>
print(id(a))# address of ref a lets be 1234
b = 'Hyd'
print(b)#Hyd
c = '''Hyd is green city.
Hyd is hitec city.
Hyd is beautiful city.'''
print(c)# Hyd is green city.
#Hyd is hitec city.
#Hyd is beautiful city.

In [ ]:
# Index   demo  program  (Home  work)
a = 'Hyd'
print(a[0]) #print(How  to  print  'H'  of  object  'a')
print(a[1])#print(How  to  print  'y'  of  object  'a')
print(a[2])#print(How  to  print  'd'  of  object  'a')
#print(a[3])#Error bcz index value from 0 to 2
print(a[-1])#print(How  to  print  'd'  of  object  'a')
print(a[-2])#print(How  to  print  'y'  of  object  'a')
print(a[-3])#print(How  to  print  'H'  of  object  'a')
#print(a[-4])# Error bcz index value from -1 to -3
print(a[0] ==  a[-3])#True
#a[2] = 'c'
#print(25[0])#Error int cannot be split
print('25'[0])#2
#print(True[1])# Error bool cannot be split
print('True'[1])# r

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a * 3)# HydHydHyd
print(a * 2)# HydHyd
print(a * 1)# Hyd
print(a * 0)#’’
print(a * -1)#’’
print(25 * 3)# 75
print('25' * 3)#252525
#print('25' * 4.0)# error bcz string cannot be multiply with float 
print(3 * 'Hyd')# HydHydHyd
print('25' * True)#25

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a , id(a)) #Hyd , address of a lets be 1234
a = a * 3
print(a , id(a)) #HydHydHyd ,address of a lets be 1235

In [ ]:
# len()  function  (Home  work)
print(len('Hyd'))#3
print(len('Rama Rao'))#8
print(len('9247'))#4
print(len(''))#0
print(len(' '))#1
#print(len(689))#Error becz ‘689’ is int type

In [ ]:
# Find  outputs  (Home  work)
a = """"Hyd"""
#print(a) #Error ‘”’ was has starting 4 “ where as 3 “ ending
#print(len(a))# Error ‘”’ was has starting 4 “ where as 3 “ ending
#print(a[0])# Error ‘”’ was has starting 4 “ where as 3 “ ending
#print("""Hyd"""")# Error ‘”’ was has starting 3 “ where as 4 “ ending
b = """""Hyd"""
#print(b)# Error ‘”’ was has starting 5 “ where as 3 “ ending
#print(len(b))# Error ‘”’ was has starting 5 “ where as 3 “ ending

In [ ]:
# Find  outputs
a = 'Sankar Dayal Sarma'
print(a[7 : 12]) #Dayal<space>
print(a[7 : ])# Dayal<space>Sarma
print(a[ : 6])# Sankar<space>
print(a[ : ])  #  a[ 0 :  18  : 1]  --->   string  from  indexes  0  to  17  in  steps  of   1  i.e.  #Sankar<space>Dayal<space>Sarma
print(a[:  : ]) #Sankar<space>Dayal<space>Sarma
print(a[1 : 10 : 2])# akrDy
print(a[0 : : 2])#Sna<space>aa<space>am
print(a[1 : : 2])#akrDylSra
print(a[-5 : -1])#Sarm
print(a[::-1])#amraS<space>layaD<space>raknaS
print(a[-1:-5:-1])# amra
print(a[ : : -2]) #   a[-1 :  -19 : -2]  --->  string  from  indexes  -1  to  -18  in  steps  of   -2  i.e.arSlyDrka
print(a[3 : -3])#kar<space>Dayal<space>Sa
print(a[2 : -5])#nkar<space>Dayal<space>
print(a[-1:-5])# empty result
print(a[3 : 3])# empty result

In [ ]:
#  Find  outputs  (Home  work)
a =  'A'
#print(a[1])# error becz out of range
#print(a[1:])#error out of range

# int()  function  demo  program
print(int(10.8))  #  Converts  float   object  10.8  to  int  object  10
print(int(True))  #  Converts  bool   object    True  to  int  object 1
print(int(False)) #  Converts  bool   object    True  to  int  object 0
print(int('25')) #  Converts  str   object    25 to  int  object 25
print(int('0075')) #  Converts  str   object   0075  to  int  object 75
print(int(0B11010))#  Converts  binary   object    11010 to  int  object 26
print(0B11010)#26
print(int(0O6247))# Converts  octal   object    0O6247 to  int  object 3239
print(0O6247)# 3239
print(int(0XA7B9)) # Converts  octal   object    0XA7B9 to  int  object 42937
print(0XA7B9)# 42937
#print(int(3 + 4j)) #Error complex cannot be int
#print(int('25.4'))# Error as after conerting string of 25.4 to int
#print(int('Ten'))# ))# Error as after conerting string of Ten to int

In [ ]:
# float()  function  demo  program
print(float(25))  #  Converts  int  object  25  to  float  object   25.0
print(float(True))   #  Converts  bool  object   True   to  float  object   1.0
print(float(False)) #  Converts  bool  object   False   to  float  object   0.0
print(float('92'))#   Converts  int  object   92   to  float  object   92.0
print(float('36.4')) #  Converts  str  object   36.4   to  float  object   36.4
print(float('0075')) #  Converts  str  object   0075   to  float  object   75.0
print(float(0B1010101))# Converts  binary to dec object   85   to  float  object   85.0
print(float(0O6247))# Converts  oct to dec  object   3239 to  float  object   3239.0
print(float(0XA7B9))# Converts  hexa to dec  object   42937 to  float  object   42937.0
#print(float(3 + 4j))# Error complex cannot be int
#print(float('Ten')) # Error as after conerting string of Ten to int

In [ ]:
# complex()  function  demo  program
print(complex(3 , 4)) #(3+4j)
print(complex(0 , 4))#(4j)
print(complex(3))#(3+0j)
print(complex(3.8 , 4.6))#(3.8+4.6j)
print(complex(3.8))#(3.8+0j)
print(complex(3 , 4.5))#(3+4.5j)
print(complex(True , False))#(1+0j)
print(complex(True))#(1+0j)
print(complex(False))#(0j)
print(complex(True , 4))#(1+4j)
print(complex('3'))#(3+0j)
print(complex('3.8'))#(3.8+0j)
#print(complex(3 , '4'))#Error img cannot be string
#print(complex('3' , 4)) #Error real cannot be string
#print(complex('3' , '4'))# #Error real,img cannot be string
#print(complex('Ten'))#Error string cannot be complex

In [ ]:
#  bool()  function  demo  program
print(bool(0)) #   False
print(bool(10)) #   True :  10  is  non-zero
print(bool(-25)) # True
print(bool(0.0))#False
print(bool(0.1)) #True
print(bool(0 + 0j))#False
print(bool(10 + 20j)) #True
print(bool(-15j))#True
print(bool('False'))#True
print(bool(''))#False
print(bool('Hyd'))#True
print(bool(' '))#True
print(bool('True'))#True

In [ ]:
# str()  function  demo  program
print(str(25))  #  Converts   25  to  '25'
print(str(10.8)) # Converts 10.8 to ’10.8’
print(str(3 + 4j))#Converts 3+4j to ‘3+4j’
print(str(True))# Converts True’ to ‘True’
print(str(False)) # Converts False to ‘False’
print(str(None))# Converts None to ‘None’

In [ ]:
# oct()  function  demo  program
print(oct(195)) #0o303
print(oct(0B10101110010))# 0o2562
print(oct(0xA7B9)) #0o123671

In [ ]:
# hex()  function  demo  program
print(hex(25))#0X19
print(hex(0B10101111010111))#0X2BD7
print(hex(0O6247))#0XCA7

In [ ]:
# Find  outputs    (Home  work)
a = range(10 , 50 , 5)

print(type(a)) #<class ‘range’>

print(a) #range(10,50,5)

print(*a)# 10 15 20 25 30 35 40 45

print(id(a))#Address of *a

print(len(a)) #8

print(*a[2 : 7] , sep = ' , ')# 20,25,30,35,40,45 

print(*a[ : : -1]) #45 40 35 30 25 20 15 10

#a[4] = 32 # Error bcz range cannot be modified as it is an immutable

#print(a * 2) # Error  bcz range cannot be modified as it is an immutable

In [ ]:
#  Find  outputs  (Home  work)
a = range(10 , 20)
print(*a , sep = ',') # 10 , 11 , 12 , 13 , 14 ,15 , 16 , 17 , 18 , 19 
b = range(5)
print(*b)# 0  1  2  3  4
c = range(10 , 1 , -1)
print(*c , sep = '...') # 10...8…9...7...6...5...4...3...2
d = range(-10 , 0)
print(*d) # -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
e = range(-10)
print(*e)#Empty bcz 0 will never approach to -10 if step value is 1
f = range(2 , 2)
#print(*f)#error bcz in range no duplicates allowed
#g = range(10 , 11 , 0.1)# Error bcz decimal/float objects are not allowed
#h = range('A' , 'F')#Error bcz only integer are allowed in range

In [ ]:
#  Find  outputs  (Home  work)
r = range(10 ,  17 , 3)
a , b , c = r
print(a , b , c) # 10, 13, 16
r = range(3)
#x , y = r # Error since unpack produces 0 1 2 where equates to x, y 
#p , q  , r , s = r # Error since unpack produces 0 1 2 where equates to p,q,r,s
#a , b , c = *r  # 0 1 2

In [ ]:
#  Find  outputs  (Home  Work)
a = [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(a)# [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(*a)# 25 10.8 Hyd True 3+4j None Hyd 25
print(type(a))# <class ‘list’>
print(id(a))# address of obj a
print(len(a))#8
a[2] = 'Sec'
print(a)# [25 , 10.8 , 'Sec' , True , 3 + 4j , None , 'Hyd' , 25]
print(a[2 : 5])# ['Sec' , True , 3 + 4j]

In [ ]:
# append()  and  remove()  methods  (Home  work)
a = [ ]
print(a)# []
a . append(25)
a . append(10.8)
a . append('Hyd')
a . append(True)
print(a)#[25,10.8,’Hyd’,True]
a . remove('Hyd')
print(a)#[25,10.8,True]
#a . remove('25')
print(a)# Error becz in list 25 is an int not and string.

In [ ]:
#  Find  outputs  (Home  work)
a = [25 , 10.8 , 'Hyd']
print(a) #[25 , 10.8 , 'Hyd']
print(id(a)) # Address of obj a
print(a * 3)#[ 25 , 10.8 , 'Hyd', 25 , 10.8 , 'Hyd', 25 , 10.8 , 'Hyd']
print(a * 2)#[ 25 , 10.8 , 'Hyd', 25 , 10.8 , 'Hyd']
print(a * 1)#[ 25 , 10.8 , 'Hyd']
print(a * 0)#[]
print(a * -1)#[]
#print(a * 4.0)# Error operator should not have float value.
a = a * 3
print(a)# [ 25 , 10.8 , 'Hyd', 25 , 10.8 , 'Hyd', 25 , 10.8 , 'Hyd']
print(id(a))#Address of updated obj a
a = [25]
#print(a * a)#Error operator can only be int not list

In [ ]:
# list()  function  demo  program
a = list('Hyd')
print(a)#[‘Hyd’]
print(type(a))#<class ‘list’>
print(len(a))#1
b = (10 , 20 , 15 , 18)
print(list(b))#[10,20,15,18]
print(list(range(5)))#[0,1,2,3,4]
#print(list(25))#Error bcz sequences cannot be converted.

In [ ]:
# Find  outputs
a = [ ]
print(type(a))# <class ‘list’>
print(a)#[]
print(len(a))#0
b = list()
print(len(b))#0

In [ ]:
list = [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
#           -8     -7       -6            -5         -4           -3       -2        -1

print(list[2 : 7])#[ 3 + 4j , 'Hyd' , True , None , 10.8]
print(list[ : : ])# [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[:]) #  list[0 :  8 :  1]  --->  List  from  indexes  0  to  7  in  steps  of  1  i.e.  [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[ : : -1])#[‘Hyd’, 10.8,None,True,’Hyd’,3+4j,10.8,25]
print(list[ : : 2])# [25 , 3 + 4j , True , 10.8 ]
print(list[1 : : 2])# [ 10.8 ,  'Hyd' ,  None , 'Hyd']
print(list[ : : -2]) #  list[-1 :  -9 : -2]  --->  List  from  indexes   -1  to  -8  in  steps  of   -2   i.e.  ['Hyd' , None , 'Hyd' , 10.8]
print(list[-2 : : -2])#[-2:-9:-2] [10.8,True,3+4j,25]
print(list[1 : 4])#[10.8,3+4j,’Hyd’]
print(list[-4 : -1])#[True,None,10.8]
print(list[3 : -3])#[‘Hyd’,True]
print(list[2 : -5])#[3+4j]
print(list[-1:-5])#[]

In [ ]:
#        0             1      2             3         4             5         6        7
list = [25 , 10.8 , 3+4j , 'Hyd' , True , None , 10.8 , 'Hyd']
x ,  y = list[3 : 5]
print('x : ' , x)#x:Hyd
print('y : ' , y)#y:True
for  x  in  list[2:7]:
	print(x)#3+4j <next line>’Hyd’ <next line>True<next line>None<next line>10.8

In [ ]:
a = [10 , 20 , 30 , 40 , 50]
print(a , id(a))# [10 , 20 , 30 , 40 , 50] Address of a
a[1 : 4] = [60 , 70]
print(a , id(a))#[10,60,70,50]
a[2: 4] = [100 , 200 ,  300]
print(a , id(a))# [10,60,100,200,300]

In [ ]:
#  Find  outputs  (Home  work)
a =  [25]
#print(a[1])#Error as no index 1
#print(a[1:])#Error since no index 1

In [ ]:
# How  to  print  list  in  two  differnet ways  (Home  work)
a = [25 , True , 'Hyd' , 10.8]
print(a)
#print(a[i])
for x in a:
   print(x)
for i in range(len(a)):
  print(a[i])

In [ ]:
# Find  outputs  (Home  work)
a = (25)
b = 25,
c = 25
d = (25,)
print(type(a))#<class ‘int’>
print(type(b)) #<class ‘tuple’>
print(type(c)) #<class ‘int’>
print(type(d)) #<class ‘tuple’>
print(a * 4)#100
print(b * 4)#(25,25,25,25)
print(c * 4)#100
print(d * 4)# (25,25,25,25)

In [ ]:
# tuple()  function  demo  program  (Home  work)
a = tuple('Hyd')
print(a)#(‘H’,’y’,’d’)
print(type(a))#<class ‘tuple’>
print(len(a))#3
b = [10 , 20 , 15 , 18]
print(tuple(b))#(10 , 20 , 15 , 18)
print(tuple(range(5)))#(0,1,2,3,4)
#print(tuple(25))#Error since 25 is an sequence element

In [ ]:
# Find  outputs (Home  work)
a = ()
print(type(a))#<class ‘tuple’> 
print(a)#()
print(len(a))#0
b = tuple()
print(b)#()
print(len(b))#0

In [ ]:
# Tricky program
# Find  outputs (Home  work)
a = (10 , 20 , 30)
print(a) #(10,20,30)
print(id(a))#Address of a
a = a * 2
print(a)#(10,20,30,10,20,30)
print(id(a))#address of updated a

In [ ]:
a = {25 , 10.8 , 'Hyd' , True , 3+4j , None , 25 , 'Hyd'}
print(a)# {25 , 10.8 , 'Hyd' , True , 3+4j , None }
print(type(a))#<class ‘set’>
print(len(a))#6
#print(a[2])#Error as set don’t have index as it in unordered
#print(a[1 : 4])#Error as set don’t have index for slicing as it in unordered
#a[2] = 'Sec'#Error as set don’t have index as it in unordered
#print(a * 2)#Error no duplicates
#print(a * a) #Error no duplicates

In [ ]:
# Tricky  program
# Find  outputs (Home  work)
a = {1 , 'Hyd' , False , True , 0.0 , '' , 1.0 ,  0}
print(a)# {1 , 'Hyd' , False   , '' }
print(len(a))#4
print(type(a))#<class ‘tuple’>

In [ ]:
#  set()  function demo  program
a = set('Rama rAo')
print(a) #(R,a,m,r,o,A,’’)
print(len(a))#7
print(set([10 , 20 , 15 , 20]))#Error  list is mutable
print(set((25 , 10.8 , 'Hyd' , 10.8)))# (25 , 10.8 , 'Hyd' )
print(set(range(10 , 20 , 3)))#(10,13,16,19)
#print(set(25))#Error as 25 it non-sequence is not allowed type cast
#print(set([25 , 10.8 , [] , 'Hyd']))#Error list is mutable.

In [1]:
a =   [ ]
b =   ( )
c =   {}
d =   set()
print(type(a))#<class ‘list’>
print(type(b)) #<class ‘tuple’>
print(type(c)) #<class ‘dic’>
print(type(d)) #<class ‘set’>
print(a)#[]
print(b)#
print(c)#{}
print(d)#set()

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
[]
()
{}
set()

In [ ]:
# Tricky  program
# add()  and  remove()  methods  (Home  work)
a = set()
a . add(25)
a . add(10.8)
a . add('Hyd')
a . add(True)
a . add(None)
a . add('Hyd')
a . add(1)
print(a)#{25,10.8,Hyd,True,None}
print(len(a))#5
a . remove(25)
print(a)# {10.8,Hyd,True,None}
#a . append(100)#Error set we have add method
#a . add(set())#Error set we have cannot add set method
a . add(())#{10.8,Hyd,True,None,()}
#a . add([])#Error as empty list cannot be added to set
print(a)
#a . add({})

In [ ]:
# How  to  print  set  in  two  differnet ways  (Home  work)
a = {25 , True , 'Hyd' , 10.8}
print('set  with  print  function')
#Print(a)
print('Iterate  thru  set  with  for  loop')
for x in a:
      print(x)

In [ ]:
# Find  outputs  (Home  work)
a = {10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(a) #{10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(type(a))#<class ‘dict’>
print(a[10])#How  to  obtain  value  key  10)
print(a[20])#How  to  obtain  value  key  20)
print(a[15])#How  to  obtain  value  key  15)
print(a[18])#How  to  obtain  value  key  18)
#print(a[19])#Error bcz no key value with ‘19’
#print(a[0])# Error bcz no key value with ‘0’
#print(a['Amar'])# Error bcz we cannot extract key using value 
a[15]='Krishna'#How  to  modify  value  of   key  15  to  'Krishna'
del a[20]#How  to  remove  20 :  'Kiran'  from  dict  'a'
#del a[25]#How  to  append  25 : 'Vamsi'  to  dict  'a' # throws error becz no key with ‘25’
print(a) #{10 : 'Ramesh' , 15 : 'Krishna', 18 : 'Sita'}
print(len(a))#3
#print(a * 2)#Error as dic does not contains duplicates

In [ ]:
# Find  outputs  (Home  work)
a = {10 : 'Hyd' , 10 : 'Sec'}
print(a) #{10 : Sec’ }
print(len(a))#1
b = {'R' : 'Red' , 'G' : 'Green' , 'B' : 'Blue' , 'Y' : 'Yellow' , 'G' : 'Gray' , 'B' : 'Black'}
print(b)# {'R' : 'Red' , 'G' : 'Green' , 'B' : 'Blue' , 'Y' : 'Yellow'}

print(len(b))#4

In [ ]:
#  Tricky  program
# Find output  (Home  work)
a = {True : 'Yes' , 1 : 'No' , 1.0 : 'May  be'}
print(a)#(True :’Yes’}
print(len(a))#1

In [ ]:
# Find  outputs
#a = { [ ] : 25}# Error becz list cannot be in key value is error
b = { ( ) : 25}
print(b)# { ( ) : 25}
#c = { { } : 25}# Error becz dict cannot be in key value is error
d = {'Ramesh' : [9948250500, 9848565090, 9440250404]}
print(d)#(‘Ramesh’: [9948250500, 9848565090, 9440250404]}
print(len(d))#1
#e = {set() : 10.8}# Error becz set cannot be in key value is error

In [ ]:
# Find  outputs
a = {}
print(type(a))#<class ‘dict’>
print(len(a))#0
print(a)#{}
b = dict()
print(type(b))#<class ‘dict’>
print(len(b))#0
print(b)#{}