'''
Modify  following  program  with  walrus  operator

Hint:  Combine  lines  7 , 8  and  10  to  a  single  line  with  walrus  operator
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = a . find('is')
while  index != -1:
	print(index)
	index = a . find('is' , index + 1)
print('End')

In [5]:
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
while (index :=a.find('is',index+1))!=-1:
    print(index)
print('End')

4
23
42
46
End

'''  (Home  work)
index()  method  demo  program

Modify  the  following  program  with  index()  method
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = a . find('is')
while  index != -1:
	print(index)
	index = a . find('is' , index + 1)
print('End')



'''
index()  method
-------------------
It  is  same  as  find()  method  except  that  it  throws   error (but  not  -1) when  string  is  not  found

Syntax :  Same  as   find()  method
'''

In [12]:
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
try:
    start=0
    while True:
        b=a.index('is',start)
        print(b)
        start=b+1
except ValueError:
    print('End')

4
23
42
46
End

'''(Home  work)
rfind()  method  demo  program

Modify  following  program  with  rfind()  method
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
index = a . find('is')
while  index != -1:
	print(index)
	index = a . find('is' , index + 1)
print('End')


'''
rfind()  method
-------------------
1) What  does  str1 . rfind(str2 , x , y)  do ?  --->   Returns  index  of  str2  in  str1   between  indexes  y - 1  downto  x
																			  i.e. right  to  left

2) What  does  str1 . rfind(str2)  do ?  --->  Returns  index  of  str2  in  str1   between  indexes  len(str1) - 1  downto  0
																     i.e. right  to  left

3) What  does  str1 . rfind(str2 , x)  do ?  --->  Returns  index  of  str2  in  str1   between  indexes  x  to  len(str1) - 1
														                  i.e.  left  to  right

4) How  many  arguments  can  rfind()  method  take ?  --->  1 (or) 3  but  not  2

5) What  is  the  issue  with  two  arguments ?  --->  Method  searches  from  left  to  right  even  though  it  is  rfind()  method

6) What  does  rfind()  method  return  (+ve  (or)  -ve  index) ?  --->  +ve  index  even  though  search  is  from  right  to  left

7) What  does  rfind()  method  do  if  str2  is  not  in  str1 ?  --->  Returns  -1

In [27]:
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
end=len(a)
while True:
    end=a.rfind('is',0,end)
    if end==-1:
        break
    print(end)
print('End')

46
42
23
4
End

'''  (Home  work)
rindex()   method  demo  program

Modify  following  program  with  rindex()  method

Hint: Use   try  and  except
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = a . find('is')
while  index != -1:
	print(index)
	index = a . find('is' , index + 1)
print('End')


'''
rindex()  method
--------------------
It  is  same  as   rfind()  method  except  that  it  throws  error  but  not  -1  when  string  is  not  found
'''

In [29]:
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
try:
    end=len(a)
    while True:
        end=a.rindex('is',0,end)
        print(end)
        if end==-1:
            break
except ValueError:
    print('End')

46
42
23
4
End

In [ ]:
#  count()  method  demo  program (Home  work)
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
print(a . count('is')) #4
print(a . count('is' , 19 , 48))#3
print(a . count('was'))#0


'''
count()
---------
1) What  does  str1 . count(str2)  do ? --->  Returns  number  of  times  str2  is  found  in  str1

2) What  does  str1 . count(str2 , x , y)  do ? --->
														Returns  number  of  times  str2  is  found  in  str1  between  indexes  x  and  y - 1
'''

4
3
0

'\ncount()\n---------\n1) What  does  str1 . count(str2)  do ? --->  Returns  number  of  times  str2  is  found  in  str1\n\n2) What  does  str1 . count(str2 , x , y)  do ? --->\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tReturns  number  of  times  str2  is  found  in  str1  between  indexes  x  and  y - 1\n'

In [ ]:
#  Find  outputs  (Home  work)
a = 'Hyd is\tgreen\ncity.Hyd is\thitec\ncity.Hyd is\this\ncity'
print(a . count(' '))#3
print(a . count('\t'))#3
print(a . count('\n'))#3

3
3
3

'''
Write  a  program  to  replace  every  occurance  of  first  character  in  the  string  with  '*'  except  first  character

Let  input  be  'babble'
What  is  the  output ?  ---> ba**le
'''

In [53]:
inp=input("Enter an string : ")#apple
f=inp[0]
new=''
new+=f
for i in range(1,len(inp)):
    if inp[i]==f:
        new+='*'
    else:
        new+=inp[i]
print(new)

ba**le

In [ ]:
#  Find  outputs  (Home  work)
a = '15:36:48'
print(a . split(':'))#['15','36','48']
print(a)#15:36:48

['15', '36', '48']
15:36:48

In [ ]:
# Find  outputs  (Home  work)
a = 'Hyd\nis green\tcity'
print(a . split(' '))#['Hyd\nis', 'green\tcity']
print(a . split())#['Hyd', 'is', 'green', 'city']
print(a . split('green'))#['Hyd\nis ', '\tcity']
#print(a . split(''))#error bcz split with empty string

['Hyd\nis', 'green\tcity']
['Hyd', 'is', 'green', 'city']
['Hyd\nis ', '\tcity']

In [ ]:
# Find  outputs  (Home  work)
a = 'Hyd	is	green	city' #  There  is  tab  between  the  words
print(a . split('\t'))#['Hyd','is,'green','city']
print(a . split())#['Hyd', 'is', 'green', 'city']
print(a . split(' '))#['Hyd\tis\tgreen\tcity']

['Hyd', 'is', 'green', 'city']
['Hyd', 'is', 'green', 'city']
['Hyd\tis\tgreen\tcity']

In [58]:
# Find  outputs (Home  work)
a = 'Hyd   is   green   city'  #  There  are  3  spaces  between  the  words
print(a . split())#['Hyd', 'is', 'green', 'city']
print(a . split(' '))#['Hyd', 'is', 'green', 'city']

['Hyd', 'is', 'green', 'city']
['Hyd', '', '', 'is', '', '', 'green', '', '', 'city']

In [59]:
# Find  outputs  (Home  work)
a = 'www.gmail.com'
print(a . split('.'))#['www','gmail','com']

['www', 'gmail', 'com']

'''
Write  a  program  to  evaluate  an  expression  which  contains  only  +  symbols
Let  input  be  123+45+6+789
Print  the  sum  result
'''

In [61]:
inp=input("Enter an expression using + : ")
a=inp.split('+')
sum=0
for i in a:
    sum+=int(i)
print(sum)

963

In [64]:
#  Find  outputs  (Home  work)
a = ['15' , '36' , '48']
print(':' . join(a))#15:36:48
b = ('Hyd' , 'is' , 'green' , 'city')
print(' ' . join(b))#Hyd is green city
c = {'10' , '20' , '15' , '25' , '52'}
print(',' . join(c))#10,20,15,25,52
d = ['www' , 'gmail', 'com']
print('.' . join(d))#www.gmail.com
e = [15 , 36 , 48]
#print(':' . join(e))#Error
f = ['Sankar' , 'Dayal' , 'Sarma']
print('' . join(f))#SankardayalSarma
g = range(5)
#print('-' . join(g))#Error

15:36:48
Hyd is green city
20,15,25,52,10
www.gmail.com
SankarDayalSarma

In [ ]:
# endswith()  method  demo  progrram (Home  work)
a = 'Hyd is green city'
print(a . endswith('city'))#True
print(a . endswith('town'))#False
print(a . endswith('green' , 3 , 12))#True
print(a . endswith('green' , 3 , 13))#False
print(a . endswith(' ' , 3 , 13))#True

True
False
True
False
True

'''
Write  a  program  to  append  'ing'  to  input  string.
Append  'ly'  to  the  string  if  the  string  already  ends  with  'ing'.
Leave  the  string  unchanged  if  string  has  lessthan  three  characters

1) What  is  the  output  if  input  is  'interest' ?  ---> interesting

2) What  is  the  output  if  input  is  'interesting' ? --->  interestingly

3) What  is  the  output  if  input  is  Hi ?  --->  Hi  itself
'''

In [69]:
inp=input("Enter an string at least more than 3 charcters : ")
if len(inp)>3 and inp.endswith('ing') :
    print(f'{inp}ly')
elif len(inp)<3:
    print(inp)
else:
    print(f'{inp}ing')

Hi

In [70]:
#  isalpha()  method  demo  program (Home  work)
print('Hyd'  . isalpha())  #   True
print('Rama  Rao'  . isalpha()) #   False
print('Hyd4'  . isalpha())#False
print('Hyd$'  . isalpha())#False
print('9247'  .  isalpha())#False
print('+-$'    .  isalpha())#False
print('A2#'  .   isalpha())#False
print(''  .  isalpha())#False
print(' '  .  isalpha())#False



'''
isalpha()  method
---------------------
1) When  does  the  method  return  True ? --->  When  every  character  of  the  string  is  alphabet

2) When  does  it  return  False  ?  ---> When  at  least  one  character  of  the  string  is  non-alphabet(i.e. digit (or) special  character)
																					    (or)
															  When  there  are  no  alphabets  in  the  string
'''

True
False
False
False
False
False
False
False
False

'\nisalpha()  method\n---------------------\n1) When  does  the  method  return  True ? --->  When  every  character  of  the  string  is  alphabet\n\n2) When  does  it  return  False  ?  ---> When  at  least  one  character  of  the  string  is  non-alphabet(i.e. digit (or) special  character)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t    (or)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  When  there  are  no  alphabets  in  the  string\n'

In [72]:
# isdigit()  method  demo  program  (Home  work)
print('9247' . isdigit())  # True
print('92a47' . isdigit())  # False
print('92$47' . isdigit())#False
print('Hyd' . isdigit())#False
print('+-$' . isdigit())#False
print('A2#' . isdigit())#False
print('' . isdigit())#False
print(' ' . isdigit())#False
#print(9247 . isdigit())#Error


'''
isdigit()  method
--------------------
1) When  does  the  method  return  True  ?  --->  When  every  character  of  the  string  is  a  digit

2) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  non-digit(i.e. alphabet  (or) special  character)
																					   (or)
															  When  there  are  no  digits  in  the  string
'''

True
False
False
False
False
False
False
False

'\nisdigit()  method\n--------------------\n1) When  does  the  method  return  True  ?  --->  When  every  character  of  the  string  is  a  digit\n\n2) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  non-digit(i.e. alphabet  (or) special  character)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t   (or)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  When  there  are  no  digits  in  the  string\n'

In [ ]:
# isupper()  method  demo  program  (Home  work)
print('HYd' . isupper())  #   False
print('HYD' . isupper()) #   True
print('9247' . isupper())  #   False
print('RAMA  RAO' . isupper())#True
print('+-$' . isupper())#False
print('HYD123' . isupper())#True
print('HYD+-$' . isupper())#True
print('' . isupper())#False
print('A2#' . isupper())#True


'''
isupper()  method
----------------------
1) When  does  the  method  return  False ?  --->  When  at  least  one  character  of  the  string  is  lowercase  alphabet
																								(or)
															                  When  there  are  no  uppercase  alphabets  in  the  string

2) When  does  it  return  True ?  ---> When  there  are  no  lowercase  alphabets  in  the  string
																						and
															at  least  one  character  is  an  uppercase  alphabet
'''

False
True
False
True
False
True
True
False
True

'\nisupper()  method\n----------------------\n1) When  does  the  method  return  False ?  --->  When  at  least  one  character  of  the  string  is  lowercase  alphabet\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t(or)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                  When  there  are  no  uppercase  alphabets  in  the  string\n\n2) When  does  it  return  True ?  ---> When  there  are  no  lowercase  alphabets  in  the  string\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tat  least  one  character  is  an  uppercase  alphabet\n'

In [74]:
# islower()  method  demo  program  (Home  work)
print('hyD' . islower())  #  False
print('hyd' . islower())  #  True
print('9247' . islower())  #  False
print('rama  rao' . islower())#True
print('+-$' . islower())#False
print('hyd+-$' . islower())#True
print('abc123' . islower())#True
print('' . islower())#False
print('a2#' . islower())#True


'''
islower()  method
---------------------
1) When  does  the  method  return  False ?  --->  When  at  least  one  character  of  the  string  is  uppercase  alphabet
																								(or)
																			  When  there  are  no  lowercase  alphabets  in  the  string

2) When  does  it  return  True ?  --->  When  there  are  no  uppercase  alphabets  in  the  string
																						and
															 at  least  one  character  is  an  lowercase  alphabet
                                                             '''

False
True
False
True
False
True
True
False
True

'\nislower()  method\n---------------------\n1) When  does  the  method  return  False ?  --->  When  at  least  one  character  of  the  string  is  uppercase  alphabet\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t(or)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  When  there  are  no  lowercase  alphabets  in  the  string\n\n2) When  does  it  return  True ?  --->  When  there  are  no  uppercase  alphabets  in  the  string\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t at  least  one  character  is  an  lowercase  alphabet\n                                                             '

In [75]:
# isalnum()  method  demo  program  (Home  work)
print('A7$g'  . isalnum())  #  False
print('HYD' . isalnum())  #  True
print('+-$' . isalnum())#False
print('hyd' . isalnum())#True
print('hYd' . isalnum())#True
print('9247' . isalnum())#True
print('' . isalnum())#False
print('A7g9'  . isalnum())#True


'''
isalnum()  method
----------------------
1) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  speical  character
																						(or)
															 when  there  are  no  alphabets  and  digits

2) When  does  it  return  True ?  ---> When  there  are  no  special  characters  in  the  string
																						and
															 at  least  one  char  should  be  alphabet  (or)  digit

3) What  is  isalpha()  +  isdigit()  called ?  ---> isalnum()
'''

False
True
False
True
True
True
False
True

'\nisalnum()  method\n----------------------\n1) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  speical  character\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t(or)\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t when  there  are  no  alphabets  and  digits\n\n2) When  does  it  return  True ?  ---> When  there  are  no  special  characters  in  the  string\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t at  least  one  char  should  be  alphabet  (or)  digit\n\n3) What  is  isalpha()  +  isdigit()  called ?  ---> isalnum()\n'

In [76]:
# isspace()  method  demo  program  (Home  work)
print('\n  A\t' . isspace())  #  False
print('\n  \t' . isspace()) #  True
print('\n  7\t' . isspace())#False
print('\n' . isspace())#True
print('\n  $\t' . isspace())#False
print('\t' . isspace())#True
print('' . isspace())#False
print(' ' . isspace())#True


'''
isspace()  method
---------------------
1) When  does  it  return  True ?  --->  When  every  character  of  the  string  is  white  space  character

2) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  not  a  white  space
                                                               i.e.  Alphabet, digit (or)  special  character
'''

False
True
False
True
False
True
False
True

'\nisspace()  method\n---------------------\n1) When  does  it  return  True ?  --->  When  every  character  of  the  string  is  white  space  character\n\n2) When  does  it  return  False ?  --->  When  at  least  one  character  of  the  string  is  not  a  white  space\n                                                               i.e.  Alphabet, digit (or)  special  character\n'

In [ ]:
# Find  outputs  (Home  work)
a , b , c = 25 , 10.8 , 'Hyd'
print('a  :  {}  \t  b  :  {}  \t  c  :  {}  '  .  format(a , b , c))#a  :  25  	  b  :  10.8  	  c  :  Hyd 
print('a  :  {0}  \t  b  :  {1}  \t  c  :  {2}  ' . format(a , b , c))#a  :  25  	  b  :  10.8  	  c  :  Hyd 
print('a  :  {2}  \t  b  :  {1}  \t  c  :  {0}  ' . format(a , b , c))#a  :  Hyd  	  b  :  10.8  	  c  :  25 
print('a  :  {2}  \t  b  :  {2}  \t  c  :  {2}  ' . format(a , b , c))#a  :  Hyd  	  b  :  Hyd  	  c  :  Hyd 
print('a  :  {x}  \t  b  :  {y}  \t  c  :  {z}  ' . format(x = a , y = b , z = c))#a  :  25  	  b  :  10.8  	  c  :  Hyd 
print('a  :  {x}  \t  b  :  {y}  \t  c  :  {z}  ' . format(z = a , y = b , x = c))#a  :  Hyd  	  b  :  10.8  	  c  :  25 
print('a  :  {z}  \t  b  :  {z}  \t  c  :  {z}  ' . format(z = a , y = b , x = c))#a  :  25  	  b  :  25  	  c  :  25

a  :  25  	  b  :  10.8  	  c  :  Hyd
a  :  25  	  b  :  10.8  	  c  :  Hyd
a  :  Hyd  	  b  :  10.8  	  c  :  25
a  :  Hyd  	  b  :  Hyd  	  c  :  Hyd
a  :  25  	  b  :  10.8  	  c  :  Hyd
a  :  Hyd  	  b  :  10.8  	  c  :  25
a  :  25  	  b  :  25  	  c  :  25

'''
Write  a  program  to  determine  user  input  is  alphabet , digit , white space  or  special  character

1) What  are  the  three  outputs  if  input  is  'A' ?  --->  Alphanumeric  character , Alphabet character , Upper case  alphabet

2) What  are  the  three  outputs  if  input  is  'a' ?  ---> Alphanumeric  character , Alphabet character , lower case  alphabet

3) What  are  the  two  outputs  if  input  is  '7' ?  ---> Alphanumeric  character , digit  character

4) What  is  the  output  if  input  is  '$' ?  ---> Special  character

5) What  is  the  output  if  input  is  <spacebar> ?  --->  White  space

6) What  is  the  output  if  input  is  <tab>  key ?  --->  White  space

7) What  is  the  output  if  input   is   <enter>   key ?  ---> White  space

8) Hint2:  Use  nested  if  and   elif
'''
Enter  any  character  :  A
Alpha  Numeric  Character
Alphabet  Character
Upper  case  Alphabet

Enter  any  character  :  7
Alpha  Numeric  Character
Digit  character

In [81]:
a=input("Enter any character : ")
if a.isalnum():
    print("Alphanumeric  character")
    if a.isalpha() and a.isupper():
        print("Alphabet character")
        print("Upper case  alphabet")
    elif a.isalpha() and a.islower():
        print("Alphabet character")
        print("lower case  alphabet")
    elif a.isdigit():
        print("digit  character")
else:
    print("White  space")

White  space

'''
Write  a  program  to  reverse  a  string  without  slice

1) Let  input  be   Hyd
    What  is  the  output ?  --->  dyH

2)   H       y      d
      -3     -2     -1

      i       a[-i]            b
    ---------------------------------------
                                ''
     1        'd'             '' + 'd' = 'd'
     2       'y'             'd' + 'y' = 'dy'
     3       'H'            'dy' + 'H' = 'dyH'
  ---------------------------------------------
'''
Enter  any  string : Rama Rao
Reverse  String :   oaR amaR

In [ ]:
a=input("Enter a string : ")
b=''
for i in range(1,len(a)+1):
    b+=a[-i]
print(F'Reverse  String : {b}')

oaR amaR

'''
Write  a  program  to  reverse  order  of  words  in  the  sentence  without  slice

1) Let  input  be  Hyd  is  green  city
    What  is  the  output ?  ---> city   green   is   Hyd

2) What  is  the  result  of  input . split() ?  --->  ['Hyd' , 'is' , 'green' , 'city']   --->   Assume  that  it  is  'b'

3) i        b[-i]           c
   ---------------------------------------------
                              ''
   1        'city'         '' + 'city' + ' '=  'city '
   2        'green'     'city ' + 'green' + ' ' = 'city green '
   3        'is'            'city green ' + 'is' + ' ' =  'city green is '
   4        'Hyd'        'city green is ' + 'Hyd' + ' ' = 'city green is Hyd '
   --------------------------------------------------------
'''

In [88]:
inp=input("Enter an sentence : ")
b=inp.split()
new=''
for i in range(1,len(b)+1):
    new+=b[-i]+' '
print(new)

city green is Hyd

'''
Write  a  program  to  reverse  each  word  of  the  sentence

1) Let  input  be  Hyd  is  green  city
    What  is  the  output ?  ---> dyH si neerg ytic

2) Hint: Use  for  each  loop  and  also  slice
'''

In [90]:
inp=input("Enter an sentence : ")
b=inp.split()
new=''
for i in range(len(b)):
    new+=b[i][::-1]+' '
print(new)

dyH si neerg ytic

'''
Write  a  program  to  sort  string  in  alphabetical  order

Let  input  be  RAJESH
What  is  the  output ?  --->  AEHJRS
'''

In [93]:
inp=input("Enter an sentence : ")
new=''
for i in sorted(inp):
    new+=i
print(new)

13579ADKPZ

'''
Write  a  program  to  sort  string  such  that  alphabets  in  alphabetical  order  and  digits  in  ascending  order

Let  input  be  Z9K3PA7D51
What  is  the  output ?  --->  ADKPZ13579

1)What  is  the  result  after  input  is  sorted ?  --->  '13579ADKPZ'

2) alpha = '' + 'A' + 'D' + 'K' + 'P' + 'Z'
    digit = '' + '1' + '3' + '5' + '7' + '9'

3) What  is  the  result  after  alpha  and  digit  are  concatenated ?  --->  'ADKPZ13579'

In [94]:
inp=input("Enter an sentence : ")
new=''
alpha=''
digit=''
for i in sorted(inp):
    new+=i
for j in new:
    if j.isalpha():
        alpha+=j
    elif j.isdigit():
        digit+=j
print(alpha+digit)

ADKPZ13579

In [1]:
# What  are  the  outputs  if  input  is   [25 , 10.8 , 'Hyd' , True]   (Home  work)
a = input('Enter  list  :  ')#[25 , 10.8 , 'Hyd' , True] 
print(type(a))#<class str>
print(a)#'[25 , 10.8 , 'Hyd' , True]' 
b = eval(a)
print(b)#[25 , 10.8 , 'Hyd' , True] 
print(type(b))#<class list>

<class 'str'>
[25 , 10.8 , 'Hyd' , True]
[25, 10.8, 'Hyd', True]
<class 'list'>

In [2]:
#  Find  outputs (Home  work)
a = [10, 20, 15, 18]
b = a
print(a  is  b)#False
print(a  ==  b)#True
b[2] = 12
print(a)#[10,20,15,18]

True
True
[10, 20, 12, 18]

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 15 , 18]
b = [100 , 200 , 150]
print(a + b)#[10, 20, 15, 18, 100, 200, 150]
#print(a + 5)#Error
#print(a + '5')#Error
#print([10 , 20] + (30 , 40))#Error

[10, 20, 15, 18, 100, 200, 150]

TypeError: can only concatenate list (not "tuple") to list

In [7]:
#  Tricky  program
#  Find  outputs
a = [1,2,3]
b = [4,5,6]
print(a , id(a))#[1,2,3] Address of a
a += b#Error
print(a , id(a))

[1, 2, 3] 2431691587200
[1, 2, 3, 4, 5, 6] 2431691587200

In [8]:
# List  packing
a = 25
b = 10.8
c = 'Hyd'
d = True
e = [a , b , c , d]#[25,10.8,'Hyd',True]
print(e)#[25,10.8,'Hyd',True]
print(type(e))#<class list>

[25, 10.8, 'Hyd', True]
<class 'list'>

In [9]:
# Find  outputs
list = [25 , 10.8 , 'Hyd' ,  True]
a , *b , c = list
print('a : ' , a)  #  a :  25
print('b : ' , b) #  b : [10.8 , 'Hyd']
print('c : ' , c) #  c :  True
print(type(b))#<class list>
x , *y = list
print('x : ' , x)#25
print('y : ' , y)#[10.8,'Hyd',True]
*p , q = list
print('p : ' , p)#[25,10.8,'Hyd']
print('q : ' , q)#True

a :  25
b :  [10.8, 'Hyd']
c :  True
<class 'list'>
x :  25
y :  [10.8, 'Hyd', True]
p :  [25, 10.8, 'Hyd']
q :  True

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , c , d , e = list#Error
a , b , *c , d , e = list#Error
print('a : ' , a)
print('b : ' , b)
print('c : ' , c)
print('d : ' , d)
print('e : ' , e)
a , b , *c , d , e , f = list

ValueError: not enough values to unpack (expected 5, got 4)

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , _  , d = list
print('a : ' , a)#a: 25
print('b : ' , b)#b: 10.8
print('_ :  ' , _)#_ :'Hyd'
print('d : ' , d)#d: True

a :  25
b :  10.8
_ :   Hyd
d :  True

In [12]:
# Find  outputs (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , b , a , d , a = list
print('a : ' , a)#3+4j
print('b : ' , b)#10.8
print('d : ' , d)#True

a :  (3+4j)
b :  10.8
d :  True

In [ ]:
#  Tricky  program
# Find  outputs (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , b ,  _ , d , _  = list
print('a : ' , a)#a: 25
print('b : ' , b)#b: 10.8
print('_ : ' , _)#_ :3_4j
print('d : ' , d)#d: True
print('_: ' , _)#_: 3+4j

a :  25
b :  10.8
_ :  (3+4j)
d :  True
_:  (3+4j)

In [ ]:
# Identify  error (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , *b , c , *d , e  = list#Only one unpack can have

In [14]:
# Find  outputs  (Home  work)
list = [[25 , 10.8] , 'Hyd' , True]   #  Nested  list
a , b , c = list
print('a :  ' , a)#[25,10.8]
print('b :  ' , b)#'Hyd'
print('c :  ' , c)#True

a :   [25, 10.8]
b :   Hyd
c :   True

In [17]:
# Find  outputs  (Home  work)
list = [[25 , 10.8] , 'Hyd' , True]
[a , b] , c , d = list
print('a : ' , a)#[25]
print('b : ' , b)#[10.8]
print('c : ' , c)#'Hyd'
print('d : ' , d)#True
#a , b , c , d = list#Error

a :  25
b :  10.8
c :  Hyd
d :  True

In [ ]:
# Comparing  Lists
a = [10 , 20 , 15 , 18]
b = [10 , 20 , 15 , 18]
c = [10 , 20 , 25 , 9]
d = [10 , 20 , 7 , 22]
print(a == b)#True
print(a  is   b)#False
print(a < c)#True
print(a > d)#True
print(a >= c)#False
print(a <= d)#False
print(a != c)#True
print(a != b)#False
print(a == c)#False

True
False
True
True
False
False
True
False
False

In [19]:
# Comparing  Lists  (Home  work)
a = [10 , 20 , 15 , 18]
b = [20 , 18 , 15 , 10]
print(a == b)#False
print(a  is   b)#False

False
False

In [1]:
#  len()  function demo   program  (Home  work)
a = [ 25, 10.8, 'Hyd', True]
print(len(a))#4
b = []
print(len(b))#0
c = [[10 , 20] , 30 , 40]
print(len(c))#3


'''
What  does  len(list)  do ?  --->  Returns  number  of  elements  in  the  list
'''

4
0
3

'\nWhat  does  len(list)  do ?  --->  Returns  number  of  elements  in  the  list\n'

In [4]:
# sum()  function  demo  program  (Home  work)
a = [25 , 10.8 , True]
print(sum(a))#36.8
b= [3 + 4j , 5 + 6j]
print(sum(b))#8+10j
c = [25 , 10.8 , True , 3 + 4j , False]
print(sum(c))#39.8+4j
d = [10 , 20 , 15 , 18]
print(sum(d))#63
e = [25 , 10.8 , 'Hyd' , True]
#print(sum(e))#Error bcz str cannot be added


'''
What  does  sum(list)  do ?  ---> Returns  sum  of  list  elements
'''

36.8
(8+10j)
(39.8+4j)
63

'\nWhat  does  sum(list)  do ?  ---> Returns  sum  of  list  elements\n'

In [12]:
#  Find  outputs
a = [[10 , 20 , 15 , 18]]
#print(sum(a))#Error
print(sum(a[0]))#How  to  determine  sum  of  inner  list  elements)
sum=0
for x in a[0]:
    sum+=x
print(sum)#print(How  to  determine  sum  of  inner  list  elements  in  another  way)

63
63

In [ ]:
# max()  and  min()  functions  demo  program  (Home  work)
a = [10 , 20 , 15 , 18 , 30, 5 , 12]
print(max(a))#30
print(min(a))#5
b = ['Rama' , 'Sita' , 'Rajesh' , 'Kiran' , 'Amar' , 'Vamsi' , 'Manohar']
print(max(b))#Vamsi
print(min(b))#Amar
c = [25 , 10.8 ,  3 + 4j , True]
#print(max(c))#Error cannot comapre
d = [25 , '35']
#print(max(d))#Cannot commapre
#print(max([]))#Error bcz empty cannot compared
#print(min([]))#Error bcz empty cannot compared


'''
1) What  does  max(list)  do ?  --->  Returns  largest  element  of  the  list

2) What  does  min(list)  do ?  --->  Returns  smallest  element  of  the  list
'''

30
5
Vamsi
Amar

'\n1) What  does  max(list)  do ?  --->  Returns  largest  element  of  the  list\n\n2) What  does  min(list)  do ?  --->  Returns  smallest  element  of  the  list\n'

In [17]:
# list()  function  demo  program
a = (10 , 20 , 15, 18)
b = list(a)
print(b)#[10,20,15,18]
print(type(b))#<class list>
print(a  is  b)#False
print(a == b)#False

[10, 20, 15, 18]
<class 'list'>
False
False

In [21]:
#  Find  outputs (Home  work)
a = range(4 , 10 , 2)#[4,6,8]
b = list(a)
print(b)#[4,6,8]
print(type(b))#<class list>
a = list('Vamsi')
print(a)#['v','a','m','s','i']
a = list()
print(a)#[]
#print(list(25))#Error agument is not sequence
#print(list(10.8))#Error agument is not sequence
#print(list(True))#Error agument is not sequence
#print(list(None))#Error agument is not sequence


'''
1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list  and  returns  list

2) What  does  list(no-args)  do ?  ---> Returns  an  empty  list

3) What  does  list(non-sequence)  do ?  --->  Throws  error
'''

[4, 6, 8]
<class 'list'>
['V', 'a', 'm', 's', 'i']
[]

'\n1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list  and  returns  list\n\n2) What  does  list(no-args)  do ?  ---> Returns  an  empty  list\n\n3) What  does  list(non-sequence)  do ?  --->  Throws  error\n'

In [22]:
# Find  outputs (Home  work)
a = ((10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90))
print(list(a))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
b = { (10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)}
print(list(b))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
c = ([10 , 20] , (30 , 40) , {50 , 60})
print(list(c))#[[10 , 20] , (30 , 40) , {50 , 60}]

[(10, 20), (30, 40, 50), (60, 70, 80, 90)]
[(30, 40, 50), (60, 70, 80, 90), (10, 20)]
[[10, 20], (30, 40), {50, 60}]

In [23]:
# sorted()  function   demo  program
a = [10 , 20 , 15 , 5 , 12]
b = sorted(a)#[5,10,12,15,20]
print(b)#[5,10,12,15,20]
print(type(b))#<class list>
c = sorted(a , reverse = True)#[20,15,12,10,5]
print(c)#[20,15,12,10,5]
print(a)#[10 , 20 , 15 , 5 , 12]


'''
sorted()  function
----------------------
1) What  does  sorted(list)  do  ?  ---> Returns  another  sorted  list

2) Is  argument  list  modified ?  --->  No  and  it  remains  unchanged

3) How  to  sort  list  in  descending  order ?  --->  sorted(list , reverse = True)

4) What  are  the  two  arguments  of  sorted()  function ?  --->  List  to  be  sorted
																												and
																					                  reverse = True  which  is  an  optional  argument
'''

[5, 10, 12, 15, 20]
<class 'list'>
[20, 15, 12, 10, 5]
[10, 20, 15, 5, 12]

'\nsorted()  function\n----------------------\n1) What  does  sorted(list)  do  ?  ---> Returns  another  sorted  list\n\n2) Is  argument  list  modified ?  --->  No  and  it  remains  unchanged\n\n3) How  to  sort  list  in  descending  order ?  --->  sorted(list , reverse = True)\n\n4) What  are  the  two  arguments  of  sorted()  function ?  --->  List  to  be  sorted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                  reverse = True  which  is  an  optional  argument\n'

In [26]:
# Find  outputs  (Home  work)
a = ['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']
b = sorted(a)#['Amar','Kiran','Rajesh','Rama','Rama  Rao','Sita','Vamsi']
print(b)#['Amar','Kiran','Rajesh','Rama','Rama  Rao','Sita','Vamsi']
c = sorted(a , reverse = True)
print(c)#['Vamsi','Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']
print(a)#['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']

['Amar', 'Kiran', 'Rajesh', 'Rama', 'Rama  Rao', 'Sita', 'Vamsi']
['Vamsi', 'Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']
['Rama', 'Rajesh', 'Amar', 'Sita', 'Vamsi', 'Kiran', 'Rama  Rao']

In [27]:
# all()  function demo  program  (Home  work)
a = [12 > 10 , 5 < 20 , 30 == 30]
print(all(a))#True
b = [9 >= 6 , 12 <= 9 , 6 == 6]
print(all(b))#False
c = [25 , 10.8 , '' , True , 3+4j , 'Hyd']
print(all(c))#False
d = [10 , 0 , 20]
print(all(d))#False
e = []
print(all(e))#False


'''
all()  function
-----------------
1) What  does  all(list)  do ?  --->  Returns  True  when  every  element of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  --->  When  at  least  one  element  of  the  list  is  False

3) if  cond1  and  cond2  and  cond3  and  cond4:
    How  to  reduce  the  four  conditions  to  a  single  condition ?  --->  if  all([cond1 , cond2 , cond3 , cond4]):
'''

True
False
False
False
True

'\nall()  function\n-----------------\n1) What  does  all(list)  do ?  --->  Returns  True  when  every  element of  the  list  is  True  and  False  otherwise\n\n2) When  does  it  return  False ?  --->  When  at  least  one  element  of  the  list  is  False\n\n3) if  cond1  and  cond2  and  cond3  and  cond4:\n    How  to  reduce  the  four  conditions  to  a  single  condition ?  --->  if  all([cond1 , cond2 , cond3 , cond4]):\n'

In [28]:
# any()  function demo program  (Home  work)
a  = [12 > 18 , 5 < 20 , 35 == 30]
print(any(a))#True
b = [12 > 18 , 25 < 20 , 35 == 30]
print(any(b))#False
c = [0 , 0.0 , '' , 25 , 0 + 0j , False]
print(any(c))#True
d = [0 , 0.0 , '' , 0 + 0j , False]
print(any(d))#False
e = []
print(any(e))#False


'''
any()   function
-------------------
1) What  does  any(list)  do ?  ---> Returns  True  when  at  least  one  element  of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  ---> When  every  element  of  the  list  is  false

3) if  cond1  or  cond2  or  cond3  or  cond4:
     How  to  reduce  the  four  conditions  to  a  single  condition ?  ---> if  any([cond1 , cond2 , cond3 , cond4]):

4) all()  and  any()  functions  are  used  as  an  alternative  when  there  are  too  many  conditions  in  if  and  while
'''

True
False
True
False
False

'\nany()   function\n-------------------\n1) What  does  any(list)  do ?  ---> Returns  True  when  at  least  one  element  of  the  list  is  True  and  False  otherwise\n\n2) When  does  it  return  False ?  ---> When  every  element  of  the  list  is  false\n\n3) if  cond1  or  cond2  or  cond3  or  cond4:\n     How  to  reduce  the  four  conditions  to  a  single  condition ?  ---> if  any([cond1 , cond2 , cond3 , cond4]):\n\n4) all()  and  any()  functions  are  used  as  an  alternative  when  there  are  too  many  conditions  in  if  and  while\n'

In [31]:
# del  operator  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)#[10 , 20 , 15 , 18]
del    a[2]
print(a)#[10,20,18]
#del  a[3]#Error bcz we dont have a[3]
del  a#delete whole a
#print(a)#Error as a is already deleted

[10, 20, 15, 18]
[10, 20, 18]

In [32]:
#  append()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18]
print(list)#[10 , 20 , 15 , 18]
list . append(19)
print(list)#[10 , 20 , 15 , 18,19]

[10, 20, 15, 18]
[10, 20, 15, 18, 19]

In [33]:
#  Find  outputs (Home  work)
list = []
print(list)#[]
list . append(25)#[25]
list . append(10.8)#[25,10.8]
list . append('Hyd')#[25,10.8,'Hyd']
list . append(True)#[25,10.8,'Hyd',True]
print(list)#[25,10.8,'Hyd',True]

[]
[25, 10.8, 'Hyd', True]

In [34]:
# Find  outputs  (Home  work)
list = []
for  x  in   range(0 , 50 , 10):# 0,10,20,30,40
	list . append(x)
print(list)#[0,10,20,30,40]

[0, 10, 20, 30, 40]

In [37]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 30]
a . append('Hyd')
print(a)#[10 , 20 , 30 , 'H','y','d']
print(len(a))#4
#print(a[4])#How  to  print  4th  element  of  list  'a' #Error bcz not 4th element
#print(a[5])#How  to  print  'H')#Error bcz not 5th element
#print(How  to  print  'y')##Error bcz not 6th element
#print(How  to  print  'd')#Error bcz not 7th element

[10, 20, 30, 'Hyd']
4

In [38]:
# remove()  method  demo  program  (Home  work)
try:
	list = [10 , 20 , 15 , 18 , 15 , 12 , 15 , 19]
	list . remove(15)
	print(list)#[10 , 20 ,  18 , 15 , 12 , 15 , 19]
	list . remove(25)#25  is   not  in  the  list
except:
	print('25  is   not  in  the  list')



'''
remove()   method
---------------------
1) What  does  remove(x)  do ?  --->  Removes   first  occurance  of  'x'  from  the  list

2) What  does  remove()  method  do  if  'x'  is  not   in  the  list ?  --->  Throws  ValueError

3) How  to  remove  all  ocurances  of  'x'  from  the  list ?  --->   Call  remove()  method  in  a  loop
'''

[10, 20, 18, 15, 12, 15, 19]
25  is   not  in  the  list

"\nremove()   method\n---------------------\n1) What  does  remove(x)  do ?  --->  Removes   first  occurance  of  'x'  from  the  list\n\n2) What  does  remove()  method  do  if  'x'  is  not   in  the  list ?  --->  Throws  ValueError\n\n3) How  to  remove  all  ocurances  of  'x'  from  the  list ?  --->   Call  remove()  method  in  a  loop\n"

'''
Write  a  program  to  delete  'all'  occurences  of  'x'  from  the  list

Let  1st  input  be   [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]  and
2nd  input  be  15
What  is  the  output ?  ---> [10 , 20 ,  18 , 19 , 17 , 20 , 14]
'''

In [51]:
l=eval(input("Enter List  :"))
d=int(input("Enter  element  to  be  deleted : "))
while True:
    try:
        l.remove(d)
    except ValueError: 
        break

print(F'List  without   15 : {l}')

List  without   15 : [10, 20, 18, 19, 17, 20, 14]

In [44]:
l=eval(input("Enter the list : "))
new=[]
for x in l:
    if x!=15:
        new.append(x)
print(new)

[10, 20, 18, 19, 17, 20, 14]

In [52]:
# clear() method  demo program  (Home  work)
list = [10 , 20 , 15 , 18]
print(list)# [10 , 20 , 15 , 18]
list . clear()
print(list)#[]


'''
clear()  method
------------------
1) What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  the  list  and  list  becomes  empty

2) What  about  remove()  and  pop()  methods  ?  ---> They  remove  single  element  of  the  list
'''

[10, 20, 15, 18]
[]

'\nclear()  method\n------------------\n1) What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  the  list  and  list  becomes  empty\n\n2) What  about  remove()  and  pop()  methods  ?  ---> They  remove  single  element  of  the  list\n'

In [53]:
# reverse()  method  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)#[10 , 20 , 15 , 18]
a . reverse()
print(a)#[18,15,20,10]


'''
reverse()  method
---------------------
1) What  does  reverse()  method  do ?  --->  Reverses  all  the  elements  of  list

2) Where  are  the  results  stored ?  --->  In  the  same  list  replacing  existing  elements (List  is  mutable)
'''

[10, 20, 15, 18]
[18, 15, 20, 10]

'\nreverse()  method\n---------------------\n1) What  does  reverse()  method  do ?  --->  Reverses  all  the  elements  of  list\n\n2) Where  are  the  results  stored ?  --->  In  the  same  list  replacing  existing  elements (List  is  mutable)\n'

In [54]:
#  sort()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18 , 5]
print(list)#[10 , 20 , 15 , 18 , 5]
list . sort()
print(list)#[5,10,15,18,20]
list . sort(reverse = True)
print(list)#[20,18,15,10,5]

[10, 20, 15, 18, 5]
[5, 10, 15, 18, 20]
[20, 18, 15, 10, 5]

In [55]:
# Find  outputs (Home  work)
a = ['Rama' , 'Rajesh' , 'Amar' ,  'Sita' ,  'Vamsi' , 'Kiran' , 'Rama  Rao']
print(a)#['Rama' , 'Rajesh' , 'Amar' ,  'Sita' ,  'Vamsi' , 'Kiran' , 'Rama  Rao']
a . sort()
print(a)#['Amar','Kiran','Rajesh','Rama','Rama  Rao','Sita','Vamsi']
a . sort(reverse = True)
print(a)#['Vamsi','Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']

['Rama', 'Rajesh', 'Amar', 'Sita', 'Vamsi', 'Kiran', 'Rama  Rao']
['Amar', 'Kiran', 'Rajesh', 'Rama', 'Rama  Rao', 'Sita', 'Vamsi']
['Vamsi', 'Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']

In [57]:
# Identify  error (Home  work)
a = [25 , 10.8 ,  'Hyd' ,  True]
#a . sort()#Error we cannot sort with different types

In [58]:
#  count()  method  demo    program (Home  work)
a = [10 , 20 , 15 , 18 , 15 , 12 , 14 , 15 , 19]
print(a . count(15))#3
print(a . count(25))#0
print(len(a))#9


'''
What  does  list . count(x)  do ?  ---> Returns  number  of  times  'x'  is  in  the  list
'''

3
0
9

"\nWhat  does  list . count(x)  do ?  ---> Returns  number  of  times  'x'  is  in  the  list\n"

In [ ]:
'''
Tricky  program
Write  a  program  to  remove  all  duplicate  elements  of  the  list  (Not  even  single  occurance)
Let  input  be  [10 , 20 , 15 , 10 , 14 , 10 , 18 , 20 , 19]
What  is  the  output ?  ---> [15 , 14 , 18 , 19]

Hint:  Use  count()  and  append()  methods
'''

In [ ]:
l=eval(input("Enter the list :"))
New=[]
for i in l:
    if l.count(i)==1:
        New.append(i)
    else:
        pass
print(New)

[15, 14, 18, 19]

'''
Write  a  program  to  determine  all  the  list  elements  are  identical  or  not

1) Let  input  be  [25 , 25 , 25 , 25]
    What  is  the  output ?  ---> All  the  elements  are  identical
    How  many  elements  are  in  the  list ?  --->  4
    How  many  times  is  first  element  repeated ?  ---> 4

2) Let  input  be  [10 , 10 , 20 ,  10]
    What  is  the  output ?  --->All  the  elements  are  not  identical
    How  many  elements  are  in  the  list ?  ---> 4
    How  many  times  is  first  element  repeated ? --->  3

3) Hint: Use  len()  and  count()
'''

Enter  any  list  :  [25,25,25,25]
All  the  list  elements  are  identical

Enter  any  list  :  [10,10,20,10]
List   elements  are  not  identical

In [62]:
l=eval(input("Enter any list :"))
c=l.count(l[0])
if len(l)==c:
    print(F'All  the  list  elements  are  identical')
else:
    print(F'List   elements  are  not  identical')

List   elements  are  not  identical

In [ ]:
# index()  method  demo  program  (Home  work)
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
#     0   1     2    3    4   5    6    7     8    9    10
try:
	i = a . index(15)
	while  True:
		print(i)#2,5,8
		i = a . index(15 , i + 1)
except:
	print(F'15  is  found  {a . count(15)}  times ')# 15 is found 3 times


'''
index()  method
-------------------
1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list

2) What  does  index(invalid-element)  do  ?  --->  Throws  error

3) list . index(x , i)
    list . index(x)
    What  is  the  difference  between  the  two  statements ?  --->
										list . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but
										list . index(x)   searches  for  for  'x'  from   index  0  of  the  list

Note:
1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()

2) What  is  the  only  search  method  in  list  class  ---> index()
'''

2
5
8
15  is  found  3  times

"\nindex()  method\n-------------------\n1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list\n\n2) What  does  index(invalid-element)  do  ?  --->  Throws  error\n\n3) list . index(x , i)\n    list . index(x)\n    What  is  the  difference  between  the  two  statements ?  --->\n\t\t\t\t\t\t\t\t\t\tlist . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but\n\t\t\t\t\t\t\t\t\t\tlist . index(x)   searches  for  for  'x'  from   index  0  of  the  list\n\nNote:\n1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()\n\n2) What  is  the  only  search  method  in  list  class  ---> index()\n"

'''
Modify  the  following  program  with  walrus  operator

Hint:  Call  index()  method  only  once
'''
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
try:
	i = a . index(15)
	while  True:
		print(i)
		i = a . index(15 , i + 1)
except:
	print(F'15  is  found  {a . count(15)}  times ')

In [11]:
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
i=0
try:
    while i:=a.index(15,i+1):
        print(i)
except:
    print(F'15  is  found  {a . count(15)}  times ')

2
5
8
15  is  found  3  times

'''
Most   tricky  program
Write  a  program  to  determine  first  list  is  a  sublist  of  2nd  list  or  not.
Print  True  if  it  is  a  sublist  and  False  otherwise

1) First  list :  [10 , 20 , 30]
    Second  list :  [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
    What  is  the  output ?  --->  True  becoz  elements  10 , 20 , 30  are  in  2nd  list  in  same  order

2) First  list :  [10 , 20 , 20]
    Second  list :  [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
    What  is  the  output ?  ---> False  becoz   elements  10 , 20 , 30  are  not  in  2nd  list

3) First  list :  [2 , 2 , 5]
    Second  list :  [2 , 2 , 3 , 4 , 5]
    What  is  the  output ?  --->  True  becoz   elements  2 , 2 , 5  are  in  [2 , 2 , 3 , 4 , 5]

4) First  list :  [2 , 4 , 3]
    Second  list :  [2 , 2 , 3 , 4 , 5]
    What  is  the  output ?  --->  False  becoz   elements  2 , 4 , 3   are  not  in  [2 , 2 , 3 , 4 , 5]

5) Hint:  Use  index()  method
'''
Enter  the  first  list :  [10 , 20 , 30]
Enter  the  second  list : [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
True

Enter  the  first  list : [10 , 20 , 20]
Enter  the  second  list : [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
False

In [33]:
a = eval(input("Enter  the  first  list :  "))
b= eval(input("Enter  the  second  list :"))
i = b . index(a[0])
try:
	for j in range(1,len(b)):
		i = b . index( a[j], i + 1)
except IndexError:
	print(True)
except ValueError:
	print(False)

False

In [34]:
# copy()  method  demo program  (Home  work)
a = [10 , 20 , 15 , 18]
b = a . copy()
print(b)#[10,20,15,18]
print(a  is  b)#False
print(a  ==  b)#True
c = a[:]
print(c)#[10,20,15,18]
print(a  is  c)#False
print(a  ==  c)#True
d = a
print(d)#[10,20,15,18]
print(a  is  d)#True
print(a  ==  d)#True


'''
copy()  method
------------------
1) What  does  copy()  method  do ? --->  Returns  a  new  list  with  same  elements

2) b = a . copy()
    What  is  another  way  to  copy  list  elements  to  another list ?  --->  b = a[:]
'''

[10, 20, 15, 18]
False
True
[10, 20, 15, 18]
False
True
[10, 20, 15, 18]
True
True

'\ncopy()  method\n------------------\n1) What  does  copy()  method  do ? --->  Returns  a  new  list  with  same  elements\n\n2) b = a . copy()\n    What  is  another  way  to  copy  list  elements  to  another list ?  --->  b = a[:]\n'

'''
Tricky  program
Write  a  program  to  determine  mode

1) What  is  mode ?  ---> The  element  which  is  repeated  maximum  number  of  times  in  the  list

2) Let  input  be  [12 , 20 , 18 , 15 , 10 ,  15 , 10 ,  15 ,  20 , 18 , 15 , 10 , 20 , 15 , 10]
    What  is  set(list) ?  ---> {12 , 20 , 18 , 15 , 10}
    How  many  times  is  first  element  12  repeated  in  the  list  ?  --->  1
    How  many  times  is  2nd  element  20  repeated  in  the  list  ?  --->  3
    How  many  times  is  3rd  element  18  repeated  in  the  list  ?  --->  2
    How  many  times  is  4th  element  15  repeated  in  the  list  ?  --->  5
    How  many  times  is  last  element  10  repeated  in  the  list  ?  --->  4
    What  is  the  mode  ?  --->	15  becoz  it  is  repeated  max  number  of  times  i.e.  5

3) mode = 15
    ctr = 5
'''
Enter  List  :   [12 , 20 , 18 , 15 , 10 ,  15 , 10 ,  15 ,  20 , 18 , 15 , 10 , 20 , 15 , 10]
Mode :  15

In [ ]:
a = eval(input("Enter  the  first  list :  "))
d={}
for x in a:
    ctr=a.count(x)
    mode=x
    d[x]=ctr
result=max(d,key=d.get)   
print(F'Mode : {result}')

Mode :15

In [44]:
#  Nested  List  demo  program  (Home  work)
a = [[10 , 20 , 30 ,  40]  ,  [50 , 60 ,  70 , 80]  ,  [90 , 100 , 110 , 120] ]
print(a)#[[10 , 20 , 30 ,  40]  ,  [50 , 60 ,  70 , 80]  ,  [90 , 100 , 110 , 120] ]
print(len(a))#3
print(a[0])#How  to  print  1st  inner  list)
print(a[1])#How  to  print  2nd  inner  list)
print(a[2])#How  to  print  3rd  inner  list)
print(a[0][2])#How  to  print  30)
print(a[1][3])#How  to  print  80)
print(a[2][1])#How  to  print  100)


'''
What  is  a  nested  list ?  --->  A  list  in  another  list
'''

[[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]]
3
[10, 20, 30, 40]
[50, 60, 70, 80]
[90, 100, 110, 120]
30
80
100

'\nWhat  is  a  nested  list ?  --->  A  list  in  another  list\n'

In [45]:
#  Find  outputs  (Home  work)
a=[ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
print(a[0])#How  to  print  1st   inner  list)
print(a[1])#How  to  print  2nd   inner  list)
print(a[2])#How  to  print  3rd   inner  list)
print(*a[0])#How  to  print  number  of  elements  in  1st  inner  list)
print(*a[1])#How  to  print  number  of  elements  in  2nd  inner  list)
print(*a[2])#How  to  print  number  of  elements  in  3rd  inner  list)

[10, 20]
[30, 40, 50]
[60, 70, 80, 90]
10 20
30 40 50
60 70 80 90

In [46]:
#  How  to  print  nested  list  in  differnent  ways
a = [[10 , 20] , [30 , 40 ,  50] , [60 , 70 , 80 , 90]]
print(a)#'Nested list  with  print function')
#print(???)
print(*a)#'Each  inner  list   of   outer  list  without  indexes')
for i in a:
    print(i)#How  to  print  each  inner  list  of  list  'a'  without  using  indexes  (use  for  loop)
print('Elements  in  the  form   of  matrix   without  using  indexes')
for i in a:
    print(*i)#How  to   print  elements  of  each  inner  list  without  using  indexes  in  matrix style  (use  nested  loop)
print('Elements  in  the  form   of  matrix  using  indexes')
for i in a:
    for j in i:
        print(j)#How  to   print  elements  of  each  inner  list  using  indexes  in  matrix style (use  nested  loop)



'''
matrix   style
----------------
10    20
30    40   50
60    70   80   90
'''

[[10, 20], [30, 40, 50], [60, 70, 80, 90]]
[10, 20] [30, 40, 50] [60, 70, 80, 90]
[10, 20]
[30, 40, 50]
[60, 70, 80, 90]
Elements  in  the  form   of  matrix   without  using  indexes
10 20
30 40 50
60 70 80 90
Elements  in  the  form   of  matrix  using  indexes
10
20
30
40
50
60
70
80
90

'\nmatrix   style\n----------------\n10    20\n30    40   50\n60    70   80   90\n'

In [47]:
#  Find  outputs (Home  work)
a = [[10 , 20] , [30 , 40] , [50 , 60] , [70 , 80]]
for  x  in  a:
    print(x)#[10,20]
    #[30,40]
    #[50,60]
    #[70,80]
print()#''
for  x , y  in  a:
	print(x , y , sep = '...')#10...20
      #30...40
      #50...60
      #70...80

[10, 20]
[30, 40]
[50, 60]
[70, 80]

10...20
30...40
50...60
70...80

In [ ]:
#  Find  outputs (Home  work)
a = [[10 , 20 , 30] , [40 , 50 , 60] , [70 , 80 , 90]]
for  x  in  a:
    print(x)#[10 , 20 , 30]
    #[40 , 50 , 60]
    #[70 , 80 , 90]
print()
for  x , y ,  z  in   a:
	print(x , y , z , sep = '...')
      #10...20...30
#40...50...60
#70...80...90

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

10...20...30
40...50...60
70...80...90

In [ ]:
#  Find  outputs (Home  work)
a = [[10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
for  x  in  a:
	print(x)#[10, 20]
#[30, 40, 50]
#[60, 70, 80, 90]
for  x , y  in  a:
	print(x , y ,	sep = '...')#10...20 next error

[10, 20]
[30, 40, 50]
[60, 70, 80, 90]
10...20

ValueError: too many values to unpack (expected 2)

In [50]:
#  Find  outputs  (Home  work)
a = [[]]
print(*a)#How  to  print  inner  list)
print(a[0])#How  to  print  inner  list  in  another  way)

[]
[]

In [ ]:
#  Find  outputs  (Home  work)
a = [[10 , 'Rama' , 1000.0] , [20 , 'Sita' , 2000.0] , [15 , 'Rajesh' , 3500.0] , [18 , 'Kiran' , 2800.0] , [5 , 'Amar'  ,5000.0] ]
print(sorted(a))#[[5, 'Amar', 5000.0], [10, 'Rama', 1000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [20, 'Sita', 2000.0]]
print(sorted(a , reverse = True))#[[20, 'Sita', 2000.0], [18, 'Kiran', 2800.0], [15, 'Rajesh', 3500.0], [10, 'Rama', 1000.0], [5, 'Amar', 5000.0]]
print(a)#[[10, 'Rama', 1000.0], [20, 'Sita', 2000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [5, 'Amar', 5000.0]]

[[5, 'Amar', 5000.0], [10, 'Rama', 1000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [20, 'Sita', 2000.0]]
[[20, 'Sita', 2000.0], [18, 'Kiran', 2800.0], [15, 'Rajesh', 3500.0], [10, 'Rama', 1000.0], [5, 'Amar', 5000.0]]
[[10, 'Rama', 1000.0], [20, 'Sita', 2000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [5, 'Amar', 5000.0]]

In [3]:
# Find  outputs   (Home  work)
a = 25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 'Hyd' , 25
print(a)#(25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 'Hyd' , 25)
print(type(a))#<class 'tuple'>
#a[3] = 'Sec'#Error bcz tuples are immutable
#a[3 : 6] = 60 , 70 , 80#Error bcz tuples are immutable

(25, 10.8, (3+4j), 'Hyd', True, None, 'Hyd', 25)
<class 'tuple'>

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a))#(1, 2, 3) address of a
a += b
print(a , id(a))#(1, 2, 3, 4, 5, 6) address of new tuple

(1, 2, 3) 2753948104320
(1, 2, 3, 4, 5, 6) 2753948163072

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a))#(1, 2, 3) address of a
a = a + b
print(a , id(a))#(1, 2, 3, 4, 5, 6) address of new tuple

In [ ]:
#  What   are  the  outputs  if  input  is  (10 , 20 , 30 , 40) ?   (Home  work)
a = input('Enter  Tuple  :  ')
print(a)#(10 , 20 , 30 , 40)
print(type(a))#<class 'str'>
b = eval(a)
print(b)#(10 , 20 , 30 , 40)
print(type(b))#<class 'tuple'>
print(len(b))#4

(10 , 20 , 30 , 40)
<class 'str'>
(10, 20, 30, 40)
<class 'tuple'>
4

In [8]:
# Find  outputs  (Home  work)
a = (10 , [20 , 30 , 40] , 50 , 60)
a[1][0] = 70
print(a)#(10 , [70 , 30 , 40] , 50 , 60)
#a[1] = [80 , 90 , 100]
#print(a)#Error bcz tuples are immutable

(10, [70, 30, 40], 50, 60)

In [10]:
# Find  outputs  (Home  work)
a = [10 , (20 , 30 , 40) , 50 , 60]
#a[1][0] = 70
#print(a)#Error bcz tuples are immutable
a[1] = [80 , 90]
print(a)#(10 , [80 , 90] , 50 , 60)

[10, [80, 90], 50, 60]

In [11]:
# Find  outputs   (Home  work)
a = 25
b = 10.8
c = 'Hyd'
d = True
x = a , b , c , d
print(x)#(25,10.8,'Hyd',True)
print(type(x))#<class 'tuple'>

(25, 10.8, 'Hyd', True)
<class 'tuple'>

In [14]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True
a , b , c , d = x
print(a)#25
print(b)#10.8
print(c)#'Hyd'
print(d)#True
#p , q , r =  x#Error
#a , b , c , d  , e = x#Error

25
10.8
Hyd
True

In [15]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True
a , *b , c = x
print(a)#25
print(b)#[10.8,'Hyd']
print(c)#True

25
[10.8, 'Hyd']
True

In [17]:
# Find  outputs   (Home  work)
tpl = 25 , 10.8 , 'Hyd' , True
a , b , *c , d , e = tpl
print(a)#25
print(b)#10.8
print(c)#[]
print(d)#'Hyd'
print(e)#True

25
10.8
[]
Hyd
True

In [18]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True , 3 + 4j
a , b , _ , d , _= x
print(a)#25
print(b)#10.8
print(_)#3+4j
print(d)#True
print(_)#3+4j

25
10.8
(3+4j)
True
(3+4j)

In [21]:
# tuple()  function  demo  program   (Home  work)
a = range(100 , 150 , 10)#(100, 110, 120, 130, 140)
b = tuple(a)#(100, 110, 120, 130, 140)
print(b)#(100, 110, 120, 130, 140)
print(type(b))#<class 'tuple'>
c = [10 , 20 , 15, 18]
d = tuple(c)
print(d)#(10, 20, 15, 18)
e = tuple('Vamsi')
print(e)#('V', 'a', 'm', 's', 'i')
#print(tuple(25))#Error bcz 25 is non-sequence
print(tuple())#()


'''
tuple()  function
--------------------
1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple

2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple

3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only

4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one
'''

(100, 110, 120, 130, 140)
<class 'tuple'>
(10, 20, 15, 18)
('V', 'a', 'm', 's', 'i')
()

'\ntuple()  function\n--------------------\n1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple\n\n2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple\n\n3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only\n\n4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one\n'

In [ ]:
#index()  and  count()  methods  demo  program   (Home  work)
a = (10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25)
#     0    1      2     3    4     5     6    7     8    9    10
try:
	i = a . index(15)
	while  True:
		print('15 is found at index : ' , i)
		i = a . index(15 , i + 1)
except:
		print(F'15  is  found  {a . count(15)}  times')#15 is found at index :  2
#15 is found at index :  5
#15 is found at index :  8
#15  is  found  3  times

15 is found at index :  2
15 is found at index :  5
15 is found at index :  8
15  is  found  3  times

In [ ]:
#  How  to  modify  an  element  of  tuple ?    (Home  work)
a  =  10 ,  20 ,  30 ,   40 ,  50
#     0      1       2       3      4
#a[2] = 35#Error bcz tuple is immutable
print(a)#(10,20,30,40,50)
print(id(a))#address of a
a=a[2:]+(35,)+a[3:]#How  to  modify  30  in  tuple  to  35
print(a)#(30, 40, 50, 35, 40, 50)
print(id(a))#address updated a

(10, 20, 30, 40, 50)
1585321104688
(30, 40, 50, 35, 40, 50)
1585321164960

In [6]:
# How  to  delete  an  element  of  tuple ?   (Home  work)
a  = 10 , 20 , 30 , 40 , 50
#    0     1      2     3      4
#a . remove(30)#Error bcz tuple dont have remove method
#del  a[2]#Error bcz tuple is immutable
#a . pop(2)#Error bcz tuple is immutable
print(a)#(10, 20, 30, 40, 50)
print(id(a))#Address of a
a=a[0:2]+a[3:]#How  to  remove  30  from  tuple  'a'
print(a)#(10, 20, 40, 50)
print(id(a))#Address updated a

(10, 20, 30, 40, 50)
1585321616032
(10, 20, 40, 50)
1585321616192

In [7]:
#  Nested   tuple  (Home  work)
a = ( (10 , 20)  ,  (30 , 40 , 50)  ,  (60 , 70 , 80 , 90) )
print(a)#( (10 , 20)  ,  (30 , 40 , 50)  ,  (60 , 70 , 80 , 90) )
print(type(a))#<class 'tuple'>
print(len(a))#3
print(a[0])#(10, 20)
print(a[1])#(30, 40, 50)
print(a[2])#(60, 70, 80, 90)
print(a[0][1])#20
print(a[1][2])#50
print(a[2][3])#90

((10, 20), (30, 40, 50), (60, 70, 80, 90))
<class 'tuple'>
3
(10, 20)
(30, 40, 50)
(60, 70, 80, 90)
20
50
90

In [9]:
# Find  outputs  (Home  work)
a = ((10 , 20 , 30),)
print(a[0])#(10, 20, 30)
print(a[0])#(10, 20, 30)
print(a[0][0])#10
print(a[0][1])#20
print(a[0][2])#30
b = ((),)
print(b[0])#()
#print(b[0][0])#Error bcz inner tuple is empty

(10, 20, 30)
(10, 20, 30)
10
20
30
()

In [ ]:
#  Find  outputs (Home  work)
a = ((10 , 20 , 30))
print(a)#(10, 20, 30)
print(*a)#10 20 30
b = (())
print(b)#()
#print(*b)#Error bcz inner tuple is empty

(10, 20, 30)
10 20 30
()

In [ ]:
# What  are  the  outputs  if  input  is  {10 , 20 , 15 , 18 , 20 , 12 , 18}
a = input('Enter  Set  :  ')
print(a)#{10 , 20 , 15 , 18 , 20 , 12 , 18}
print(type(a))#<class 'str'>
b = eval(a)
print(b)#{10, 12, 15, 18, 20}
print(type(b))#<class 'set'>

{10 , 20 , 15 , 18 , 20 , 12 , 18}
<class 'str'>
{18, 20, 10, 12, 15}
<class 'set'>

In [14]:
#  Find  outputs  (Home  work)
print({(10 , 20 , 30)})#{(10, 20, 30)}
#print({[10 , 20 , 30]})#Error bcz list is unhashable
#print({{10 , 20 , 30}})#Error bcz set is unhashable
#print({{}})#Error bcz set is unhashable

{(10, 20, 30)}

In [ ]:
# How  to  print  set  in  differnet ways  (Home  work)
a = {25 , True , 'Hyd' , 10.8}
print('set  with  print  function')#set  with  print  function
print(a)#{25, 10.8, 'Hyd', True}
print('Iterate  elements  of  set  with  for  loop')#Iterate  elements  of  set  with  for  loop
for i in a:
    print(i)#25, True, 'Hyd', 10.8

set  with  print  function
{25, 10.8, 'Hyd', True}
Iterate  elements  of  set  with  for  loop
25
10.8
Hyd
True

In [16]:
# Find  outputs  (Home  work)
a = 'Hyd'
b = True
c = 25
d = 1
e = 'Hyd'
s = {a , b , c , d , e}
print(s)#{1, 25, True, 'Hyd'}
print(len(s))#4
print(type(s))#<class 'set'>

{True, 'Hyd', 25}
3
<class 'set'>

In [ ]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)#{True, 10.8, 'Hyd', 25}
a , b , c , d = s
print(a)#25
print(b)#True
print(c)#10.8
print(d)#'Hyd'

{25, 10.8, 'Hyd', True}
25
10.8
Hyd
True

In [18]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)#{True, 10.8, 'Hyd', 25}
a , *b = s
print(a)#25
print(b)#[True, 10.8, 'Hyd']
print(type(b))#<class 'list'>

{25, 10.8, 'Hyd', True}
25
[10.8, 'Hyd', True]
<class 'list'>

In [ ]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)#{True, 10.8, 'Hyd', 25}
a , *b , c = s
print(a)#25
print(b)#[True, 10.8, 'Hyd']
print(c)#'Hyd'

{25, 10.8, 'Hyd', True}
25
[10.8, 'Hyd']
True

In [20]:
# Find  outputs  (Home  work)
s = {20 , 10 , 20 , 10}
print(s)#{10, 20}
x , y = s
print(x)#10
print(y)#20

{10, 20}
10
20

In [22]:
# set()  function  demo  program  (Home  work)
a = range(100 , 151 , 10)
b = set(a)
print(b)#{100, 110, 120, 130, 140, 150}
c = [10 , 20 , 15 , 18 , 10 , 50 , 20 , 12 , 18]
d = set(c)
print(d)#{10, 12, 15, 18, 20, 50}
e = set('Rama  rAo')
print(e)#{' ', 'A', 'a', 'm', 'o', 'r'}     
#print(set(25))#TypeError: 'int' object is not iterable
print(set())#set()


'''
set()  function
-----------------
1) What  does  set(sequence)  do ?  ---> Converts  sequence  to  set

2) What  does  set(No-args)  do ?  --->  Returns  an  empty  set

3) How  many  arguments  can  set()  function  take ?  ---> Zero  (or) One  but  not  more  than  one

4) Is  set(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence
'''

{130, 100, 140, 110, 150, 120}
{10, 12, 15, 18, 50, 20}
{'a', 'R', 'm', 'A', ' ', 'o', 'r'}
set()

'\nset()  function\n-----------------\n1) What  does  set(sequence)  do ?  ---> Converts  sequence  to  set\n\n2) What  does  set(No-args)  do ?  --->  Returns  an  empty  set\n\n3) How  many  arguments  can  set()  function  take ?  ---> Zero  (or) One  but  not  more  than  one\n\n4) Is  set(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence\n'

In [24]:
# add()  method  demo  program  (Home  work)
a = set()
a . add(True)#{True}
a . add(25)#{True, 25}
a . add(10.8)#{True, 25, 10.8}
a . add(1)#{True, 25, 10.8, 1}
a . add('Hyd')#{True, 25, 10.8, 1, 'Hyd'}
a . add(25)#{True, 25, 10.8, 1, 'Hyd'}
a . add(None)#{True, 25, 10.8, 1, 'Hyd', None}
a . add('Hyd')#{True, 25, 10.8, 1, 'Hyd', None}
a . add(1.0)#{True, 25, 10.8, 1, 'Hyd', None}
print(a)#{True, 25, 10.8, 1, 'Hyd', None}
#a . add(10 , 20 , 30)#Error bcz set can only take one argument
#a . add([10,20,30])#Error bcz set can only take one argument


'''
add()   method
-----------------
1) What  does  add(x)  do ?  --->  Inserts   'x'  any  where  in  the  set  becoz  set  is  unordered

2) How  many  arguments  can  add()  method  take ?  --->  Single

3) Is  set . add(mutable-object)  valid ? ---> No  becoz  set  can  not  hold  mutable  element

4) In  other  words,  argument  of  add()  method  should  be  immutable  object  only

5) What  does  set .  add(sequence)  do  ?  --->
															Inserts  sequence  any  where  in  the  set  but  not  elements  of  sequence
															(Like  append()  method  of  list  class)
'''

{None, True, 10.8, 25, 'Hyd'}

"\nadd()   method\n-----------------\n1) What  does  add(x)  do ?  --->  Inserts   'x'  any  where  in  the  set  becoz  set  is  unordered\n\n2) How  many  arguments  can  add()  method  take ?  --->  Single\n\n3) Is  set . add(mutable-object)  valid ? ---> No  becoz  set  can  not  hold  mutable  element\n\n4) In  other  words,  argument  of  add()  method  should  be  immutable  object  only\n\n5) What  does  set .  add(sequence)  do  ?  --->\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tInserts  sequence  any  where  in  the  set  but  not  elements  of  sequence\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t(Like  append()  method  of  list  class)\n"

In [28]:
# Find  outputs  (Home  work)
a = {25 , 10.8 , 'Hyd' , True}
tpl = (10 , 20 , 30)
print(a)#{True, 10.8, 'Hyd', 25}
print(id(a))#address of set 'a'
a . add(tpl)#{True, 10.8, (10, 20, 30), 'Sec', 25, 'Hyd'}
a . add('Sec')
print(a)#{True, 10.8, 'Hyd', 25, 'Sec'}
print(id(a))#address of updated set 'a'
print(len(a))#6
#a . add([100 , 200 , 300])#Error bcz set can only take one argument
#a . add(set())#Error bcz set cannot hold set objects
#a . add({ })#Error bcz set cannot hold dict objects

{25, 10.8, 'Hyd', True}
1585320749632
{True, 10.8, (10, 20, 30), 'Sec', 25, 'Hyd'}
1585320749632
6

In [29]:
# Find  outputs (Home  work)
s = set()
tpl = (10 , 20 , 15 , 18)
s . add(tpl)
print(s)#{(10, 20, 15, 18)}
print(len(s))#1

{(10, 20, 15, 18)}
1

In [31]:
# update()  method  demo program  (Home  work)
tpl = (10 , 20 , 15, 18 , 10 , 20)
s = set()
s . update(tpl)
print(len(s))#4
print(s)#{10, 15, 18, 20}
#s . update(25)#Error bcz arguments should be sequence only

'''
update()  method
--------------------
1) What  does  update(sequence)  do ?  ---> Inserts  elements  of  sequence  anywhere  in  the  set  but  not  sequence
											                         (Like  extend()  method  of  list  class)

2) Is  update(non-sequnece)  valid ?   --->  No  becoz  agument  should  be  sequence  only

3) How  many  arguments  can  update()  method  take ?  --->  One  (or)  more
'''

4
{10, 18, 20, 15}

'\nupdate()  method\n--------------------\n1) What  does  update(sequence)  do ?  ---> Inserts  elements  of  sequence  anywhere  in  the  set  but  not  sequence\n\t\t\t\t\t\t\t\t\t\t\t                         (Like  extend()  method  of  list  class)\n\n2) Is  update(non-sequnece)  valid ?   --->  No  becoz  agument  should  be  sequence  only\n\n3) How  many  arguments  can  update()  method  take ?  --->  One  (or)  more\n'

In [ ]:
# Find  outputs  (Home  work)
a = [10 , 20 , 30]
b = {30 , 40,50 }
c = (50 , 60 , 70)
s = set()
s . update(a , b , c)
print(s)#{40, 50, 60, 70, 10, 20, 30}
print(len(s))#7
#s . add(a , b , c)#Error bcz add() method can take only one argument

{50, 20, 70, 40, 10, 60, 30}
7

In [35]:
# Find  outputs  (Home  work)
a = set()
a . update('Rama Rao')
print(a)#{'R', 'a', 'm', 'o', ' ', 'R', 'a', 'o'}
print(len(a))#8
#a . update(3 + 4j , 10.8 , True)#Error bcz arguments should be sequence only

{'a', 'R', 'm', ' ', 'o'}
5

In [36]:
# copy()  method  demo  program  (Home  work)
a = {10 , 20 , 15 , 18}
print(a)#{10, 15, 18, 20}
b = a . copy()
print(b)#{10, 15, 18, 20}
print(a  is  b) #False
print(a  ==  b) #True
c = a
print(a  is  c) #True


'''
copy()  method
------------------
1) What  does  copy()  method  do ?  --->  Returns  a  new  set  with  same  elements

2) a = b
    What  does  the  statement  do ?  --->  Reference  copy
																  i.e.  id  is  copied

3) What  is  shallow  clone ?  --->  Reference  copy
     What  is  deep  clone ?  ---> Object  copy
'''

{10, 18, 20, 15}
{10, 18, 20, 15}
False
True
True

'\ncopy()  method\n------------------\n1) What  does  copy()  method  do ?  --->  Returns  a  new  set  with  same  elements\n\n2) a = b\n    What  does  the  statement  do ?  --->  Reference  copy\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  i.e.  id  is  copied\n\n3) What  is  shallow  clone ?  --->  Reference  copy\n     What  is  deep  clone ?  ---> Object  copy\n'

In [39]:
# pop()  method  demo  program  (Home  work)
a = {25 , 10.8 , 'Hyd' , True}
print(a)#{25, 10.8, 'Hyd', True}
print(a . pop())
print(a . pop())
print(a . pop())
print(a . pop())
#print(a . pop())#Error bcz elements in set has been deleted
print(a)#set()
b = {10 , 20 , 30 , 40}
#print(b . pop(2))#Error bcz pop does not take any arguments


'''
pop()  method
----------------
1) What  does  pop(No-args)  method  do ?  --->  Removes  first  element  of  the  set  and  returns  the  deleted  element

2) What  does  emptyset . pop()  do ?  --->  Throws  error

3) Is  set . pop(index)  valid ?  --->  No  becoz  set  is  not  indexed

4) How  many  arguments  can  pop()  method  take  ?  --->  Zero
'''

{25, 10.8, 'Hyd', True}
25
10.8
Hyd
True
set()

'\npop()  method\n----------------\n1) What  does  pop(No-args)  method  do ?  --->  Removes  first  element  of  the  set  and  returns  the  deleted  element\n\n2) What  does  emptyset . pop()  do ?  --->  Throws  error\n\n3) Is  set . pop(index)  valid ?  --->  No  becoz  set  is  not  indexed\n\n4) How  many  arguments  can  pop()  method  take  ?  --->  Zero\n'

In [41]:
# remove()  method  demo  program  (Home  work)
a = {25 , 10.8 , 'Hyd' , True}
print(a)#{25, 10.8, 'Hyd', True}
a . remove('Hyd')
print(a)#{25, 10.8, True}
#a . remove('Sec')#Error bcz 'Sec' is not present in the set


'''
remove()   method
----------------------
1) What  does  remove(x)  do ?  --->  Removes  'x'  from  the   set

2) What  does  remove(Invalid-element)  do ?  --->  Throws  error

3) What  is  the  argument  of  remove()  method ?  --->  Element  to  be  removed
'''

{25, 10.8, 'Hyd', True}
{25, 10.8, True}

"\nremove()   method\n----------------------\n1) What  does  remove(x)  do ?  --->  Removes  'x'  from  the   set\n\n2) What  does  remove(Invalid-element)  do ?  --->  Throws  error\n\n3) What  is  the  argument  of  remove()  method ?  --->  Element  to  be  removed\n"

In [42]:
# discard()  method  demo  program (Home  work)
a = {25 , 10.8 , 'Hyd' , True}
print(a)#{25, 10.8, 'Hyd', True}
a . discard('Hyd')
print(a)#{25, 10.8, True}
a . discard('Sec')
print(a)#{25, 10.8, True}
#a . remove('Sec')#Error bcz 'Sec' is not present in the set


'''
discard()  method
---------------------
1) What  does  discard(x)  do ?  --->  Removes  'x'  from  the  set

2) What  does  discard(Invalid-element)  do ?  --->  Nothing

3) In  other  words,  discard(invalid-element)  does  not  raise  error  nor  deletion
'''

{25, 10.8, 'Hyd', True}
{25, 10.8, True}
{25, 10.8, True}

"\ndiscard()  method\n---------------------\n1) What  does  discard(x)  do ?  --->  Removes  'x'  from  the  set\n\n2) What  does  discard(Invalid-element)  do ?  --->  Nothing\n\n3) In  other  words,  discard(invalid-element)  does  not  raise  error  nor  deletion\n"

In [43]:
# clear()  method  demo  program (Home  work)
a = {10 , 20 , 15 , 18}
print(a)#{10, 15, 18, 20}
a . clear()
print(a)#{}
print(len(a))#0


'''
clear()  method
------------------
What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  set  and  set  becomes  empty
'''

{10, 18, 20, 15}
set()
0

'\nclear()  method\n------------------\nWhat  does  clear()  method  do ?  --->  Removes  all  the  elements  of  set  and  set  becomes  empty\n'

In [47]:
# Find  outputs  (Home work)
a = {10 , 20 , 30 , 40}
b = [30 , 40 , 50 , 60]
print(a . union(b))#{40, 10, 50, 20, 30, 60}
#print(a | b)#error bcz set and list cannot be merged
#print(b . union(a))#list has no union method
#print(a + b)#Error bcz set and list cannot be merged with +

{40, 10, 50, 20, 60, 30}