Day-1

'''
Write  a  program  to  add ,  subtract , multiply  and  divide  two  complex  numbers

First  complex  number   --->  3 + 4j
2nd   complex  number   --->  5 + 6j
What  is  the  sum ? ---> (3 + 4j) + (5 + 6j) = 8 + 10j
What  is  the  difference ?  ---> (3 + 4j) - (5 + 6j) =  -2 - 2j
What  is  the  product ?  ---> (3 + 4j) * (5 + 6j) =  15 + 18j + 20j - 24 =  -9 + 38j


What  is  the  division ?  ---> (3 + 4j) / (5 + 6j) = (3 + 4j) * (5 - 6j) / (5 + 6j) * (5 -6j)
                                                                         =   (15 - 18j + 20j + 24) / (25 + 36)
																		 = 39 / 61 + 2j / 61											   
'''

Enter first complex number : 3+4j
Enter second complex number: 5+6j
Sum :  (8+10j)
Difference :  (-2-2j)
Product:  (-9+38j)
Division :  (0.6393442622950819+0.03278688524590165j)

In [ ]:
x=complex(input("Enter first complex number :"))
y=complex(input("Enter second complex number :"))
print(F'sum :{x+y}')
print(F'Difference :{x-y}')
print(F'Product :{x*y}')
print(F'Division :{x/y:.2f}')

In [ ]:
# Identify  error
#else:
		#print('else  suite')#Error because of indentation
#print('Outside')

In [ ]:
# Identify  error
#if  9 > 5 #Error because of missing colon
	#print('Hello')
#print('Bye')

In [ ]:
# Identify  error
if  9 > 12:
	print('Hyd')
else#Error because of missing colon
	print('Sec')

In [ ]:
# Identify  error
if  (10,20,15):
print('Hyd')#Error because of indentation
else:#Error because of indentation
print('Sec')

In [ ]:
# Identify  error
if  ():
			print('Hyd')
	else:#Error because of indentation
					print('Sec')
print('Bye')

In [ ]:
# Identify  error
if  { }:
{#Error because of opening curly brace they are used only for dictionaries and sets
	print('One')
	print('Two')
	print('Three')
}
else:
{#Error because of opening curly brace they are used only for dictionaries and sets
	print('Four')
	print('Five')
	print('Six')
}
print('Bye')

In [ ]:
# Identify  error
if  ():
	print('One')
	print('Two')
	print('Three')
else:
if  []:#Error because of indentation
	print('Four')
	print('Five')
	print('Six')
else:
if  {}:#Error because of indentation
	print('Seven')
	print('Eight')
	print('Nine')
else:
	print('Hyd')
	print('Sec')
	print('Cyb')
print('Bye')

# Write  a  program  to  determine  a  number  is  even  or  odd  with   if  statement

In [ ]:
x=int(input("Enter a positive number :"))
if x % 2 == 0:
    print(F'{x} is a even number')
else:
    print(F'{x} is a odd number')

In [ ]:
# Find outputs  (Home  work)
if():
        print('Hyd')
        print('Sec')
        print('Cyb')
else:
        print('One')
        print('Two')
        print('Three')
print('Bye')

In [ ]:
# Find  outputs  (Home  work)
if{10 : 20 , 30 : 40}:
        print('Hyd')
        print('Sec')
        print('Cyb')
print('Bye')

In [ ]:
# Find outputs  (Home  work)
if { }:
	print('Hyd')
	print('Sec')
	print('Cyb')
print('Bye')

# Write   a  program  to  print  month  name  for  input  month  number  by  using  if  and  elif  (Home  work)
Enter month number (1 - 12): 6
June
Enter month number (1 - 12): 13
Input  should  be  between  1  and   12
Enter month number (1 - 12): 10.8
Input  should  be  an  integer

In [ ]:
try:
    month = int(input("Enter month number (1 - 12): "))
    if month == 1:
        print("January")
    elif month == 2:
        print("February")
    elif month == 3:
        print("March")
    elif month == 4:
        print("April")
    elif month == 5:
        print("May")
    elif month == 6:
        print("June")
    elif month == 7:
        print("July")
    elif month == 8:
        print("August")
    elif month == 9:
        print("September")
    elif month == 10:
        print("October")
    elif month == 11:
        print("November")
    elif month == 12:
        print("December")
    else:
        print("Input should be between 1 and 12")
except ValueError:
    print("Input should be an integer")

'''
Write  a  program  to  print  digit  in  words  with  else  and  if  (do  not  use  elif)
0 - Zero
1 - One
2 - Two
....
9 - Nine
10 - Invalid
'''

In [ ]:
num = int(input("Enter a number: "))
if num==0:
    print('Zero')
else:
    if num==1:
        print('One')
    else:
        if num==2:
            print('Two')
        else:
            if num==3:
                print('Three')
            else:
                if num==4:
                    print('Four')
                else:
                    if num==5:
                        print('Five')
                    else:
                        if num==6:
                            print('Six')
                        else:
                            if num==7:
                                print('Seven')
                            else:
                                if num==8:
                                    print('Eight')
                                else:
                                    if num==9:
                                        print('Nine')
                                    else:
                                        print('Invalid')

Day 2

'''
Write  a  program  to  test  year  is  leap  year  or  not

1) What  is  leap  year ?  --->  Divisible  by  4  but  not  by  100   (or)  divisble  by  400

2) Are  2016 , 2020 , 2024  leap  years ? --->  Yes  becoz  leap  year  for  every  4  yearrs

3) Are  1700 , 1800 , 1900  leap  years ? --->  No  becoz  no  leap  year  for  every  100  years

4) Are  1600 , 2000 , 2400  leap  years ?  --->  Yes  becoz  leap  year  for  every  400  years

5) Hint:  single  if  with  3  conditions  and  else
'''

In [ ]:
year=int(input("Enter a year: "))
if year % 4 == 0 and year % 400 ==0 or year % 100 !=0 :
    print(F'{year} is a leap year')
else:
    print(F'{year} is not a leap year')

'''
Write  a  program  to  determine  largest  of  three  numbers  with  if  and  else

Hint:  Write  multiple  conditions
'''

In [ ]:
try:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: ")) 
    c= int(input("Enter third number: "))
    if a > b and a > c:
        print(F'{a} is the largest number') 
    elif b > a and b > c:
        print(F'{b} is the largest number') 
    elif c > a and c > b:
        print(F'{c} is the largest number')
    else:
        print("All numbers are equal")
except ValueError:
    print("Please enter valid integers for comparison.")

'''
Write  a  program  to  convert  celsius  temperature  to  farenheit  and  vice-versa

1) What  is  the  formula  to  convert  celsius  to  farenheit ? --->  1.8 * temp + 32

2) What  is  the  formula  to  convert  farenheit  to  celsius ?  --->  (temp - 32) / 1.8
'''

o/p:
Enter  1  to  convert  celsius  to  farenheit  and  2  to  convert  fahrenheit  to  celsius :  1
Enter  celsius  temperature :  30
Fahrenheit  Equivalent  :  86.0
Enter  1  to  convert  celsius  to  farenheit  and  2  to  convert  fahrenheit  to  celsius :  2
Enter  fahrenheit  temperature : 100
celsius   equivalent :  37.78
Enter  1  to  convert  celsius  to  farenheit  and  2  to  convert  fahrenheit  to  celsius :  3
Invalid input

In [ ]:
option = int(input("Enter  1  to  convert  celsius  to  farenheit  and  2  to  convert  fahrenheit  to  celsius :"))
match option:
    case 1:
        celsius = float(input("Enter temperature in Celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"Fahrenheit  Equivalent  : {fahrenheit:.2f}")
    case 2:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"celsius   equivalent : {celsius:.2f}")
    case _:
        print("Invalid option. Please enter 1 or 2.")

'''
Write  a  program  to  test  a  point  (x , y)  lies  in  1st  quadrant , 2nd  quadrant , 3rd  quadrant ,
4th  quadrant , x - axis , y - axis   or  origin

1) What  are  the  values  of  x  and  y  in  1st  quadrant ?  --->  Both  are  +ve

2) What  are  the  values  of  x  and  y  in  2nd  quadrant ?  --->  'x'  is  -ve  and  'y'  is  +ve

3) What  are  the  values  of  x  and  y  in  3rd  quadrant ?  ---> Both   are  -ve

4) What  are  the  values  of  x  and  y  in  4th  quadrant ?  --->  'x'  is   +ve  and  'y'  is  -ve

5) What  are  the  values  of  x  and  y  on  x - axis ?  ---> 'x'  is  non-zero  and  'y'  is  0

6) What  are  the  values  of  x  and  y  on  y - axis ?  --->  'x'  is  0  and  'y'  is  non-zero

7) What  are  the  values  of  x  and  y  if  point  is  origin ?  --->  Both  are  zeroes

8) Hint:  Use  if  ..   elif
'''

In [ ]:
a=tuple(input("Enter elements separated by spaces: ").split(','))
x=int(a[0])
y=int(a[1])
if(x ==0 and y == 0):
    print("Origin")
elif(x==0 and y!=0):
    print("Y-axis")
elif(x!=0 and y==0):
    print("X-axis")
elif(x>0 and y>0):
    print("Quadrant 1")
elif(x<0 and y>0):
    print("Quadrant 2")
elif(x<0 and y<0):
    print("Quadrant 3")
elif(x>0 and y<0):
    print("Quadrant 4")
else:
    print("Invalid input")

'''
Write  a  program  to  determine  largest , smallest  and  middle  of  three  numbers

a = 10
b = 20
c = 7
max =  20
min =  7
mid =  (10 + 20 + 7) - (20 + 7) = 10

1) What  is  the  initial  value  of  max  ?  --->  a

2) Whichever  input >  max,  assign  that  input  to  max

3) What  is  the  initial  value  of  min  ?  --->  'a'

4) Whichever  input  <  min,  assign  that  input  to  min

5) How  to  obtain  middle  number ?  ---> Eliminate  max  and  min  from  a , b , c

6) Hint : Do  not  use  else  in  the  program
'''

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: ")) 
c= int(input("Enter third number: "))
max=a
if(b>a and c>a):
    if(b>c):
        max=b

In [ ]:
try:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: ")) 
    c= int(input("Enter third number: "))
    if max=a

'''
Write  a  program  to  determine  three  sides  form  a  triangle  or  not

1) Find  area  if  it  is  an  equilateral  triangle
    What  is  an  equilateral  triangle ?  ---> All  the  three  sides  should  be  same
    What  is  the  area  of  equilateral  triangle ?  --->  sqrt(3) / 4 * a ^ 2

2) Find  perimeter  if  it  is  an  isosceles  triangle
    What  is  an  isoscles  triangle ?  ---> Any  two  sides  are  same
    What   is  the  perimeter  of  isoscles  triangle ?  ---> a + b + c

3) Find  both  if  it  is  scalene  triangle
    What  is  a  scalene  triangle ?  ---> All  the  three  sides  are  different
    What  is  the  area  of  scalene  triangle ?  ---> sqrt(s * (s - a) * (s - b) * (s - c))
	What  is  the  value  of  's'  ?  --->  	(a + b + c) / 2
    What   is  the  perimeter  of  scalene  triangle ?  --->  a + b + c

4) What  is  the  qualification  of  triangle  ?  --->  Sum  of  every  two  sides  should  be  >  3rd  side

5) Hint: Use  nested  if
'''

In [ ]:
import math
a = int(input("Enter first side: "))
b = int(input("Enter second side: ")) 
c= int(input("Enter third side: "))
if a + b > c and a + c > b and b + c > a:
    if( a==b and b==c and a==c ):
        print("Equilateral triangle")
        area=math.sqrt(3)/4 * a**2
        print(f"Area of the equilateral triangle: {area:.2f}")
    elif (a==b  or b==c or a==c):
        print("Isosceles triangle")
        perimeter= a + b + c
        print(f"perimeter  of  isoscles  triangle: {perimeter:.2f}")
    elif (a!=b and b!=c and a!=c):
        print("Scalene triangle")
        s = (a + b + c) / 2
        area = math.sqrt(s * (s - a) * (s - b) * (s - c))
        print(f"Area of the scalene triangle: {area:.2f}")
        perimeter= a + b + c
        print(f"perimeter  of  scalene  triangle: {perimeter:.2f}")
else:
    print("The given sides do not form a triangle")

'''
Write  a  program  to  determine  roots  of  a  quadtratic  equation  a * x ^ 2 + b * x + c = 0  where  a  ! = 0

1) What  is  the  value  of  discriminant ?  --->  b ^ 2 - 4ac

2) What  are  the  roots  called  if  disc > 0 ?  --->  Real  and  distinct
     What  is  the  formula  for  root1  ?  ---> (-b + sqrt(disc)) / 2a
     What  is  the  formula  for  root2 ?  ---> (-b - sqrt(disc)) / 2a

3) What  are  the  roots  called  if  disc  is  0 ?  --->  Real  and  same
     What  is  the  formula  for  root  ?  --->  -b / 2a

4) What  are  the  roots  called  if  disc < 0 ?  --->  Complex  (or)  Imaginary  roots
     What  is  the  formula  for  real  part ?  --->  -b / 2a
	 What  is  the  formula  for  imag  part ?  --->  sqrt(-disc) / 2a
	 What  is  root1  if  real  part  is  3  and  imag  part  is  4 ?  ---> 3 + 4j
	 What  is  root2  if  real  part  is  3  and  imag  part  is  4 ?  --->  3 - 4j
'''

In [ ]:
import math
a= eval(input("Enter a value: "))
if (a==0):
    print("Please enter a>0")
else:
    b=eval(input("Enter b value: "))
    c=eval(input("Enter c value: "))
    print(F'roots for {a}x^2+{b}x+{c}=0')
    disc = b**2-4*a*c
    print(disc)
    if(disc>0):
        print("Real  and  distinct")
        root1=(-b+math.sqrt(disc))/2*a
        root2=(-b-math.sqrt(disc))/2*a
        print(root1,root2)
    elif disc==0:
        print("Real  and  distinct")
        root=-b/(2*a)
        print(root)
    elif disc<0:
        print("Complex  (or)  Imaginary  roots")
        real=-b/(2*a)
        imag=math.sqrt(-disc)/(2*a)
        root1= print(F'{real}+{imag}j')
        root2=print(F'{real}-{imag}j')

roots for 4x^2+12x+9=0
0
Real  and  distinct
-1.5

'''
Write  a  program   to  determine  a  point (x , y)  lies  inside , outside  or  on  the  circle.
Center  is  origin  and  radius  is  'r'

1) What  is  the  distance  between  origin  and  point (x , y) ?  --->  sqrt(x ^ 2 + y ^ 2)

2) Where  is  the  point  if  distance >  raidus ?  --->  Outside  the  circle

3) Where  is  the  point  if  distance < raidus ?  --->  Inside  the  circle

4) Where  is  the  point  if  distance  and  raidus   are  same ?  ---> On  the  circle
'''

In [ ]:
import math
a=tuple(input("Enter elements separated by spaces: ").split(','))
r=int(input("Enter radius: "))
x=int(a[0])
y=int(a[1])
dis= math.sqrt(x**2 + y**2)
if dis >r :
    print("Point is outside the circle")
elif dis < r:
    print("Point is inside the circle")
elif dis == r:
    print("Point is on the circle")
else:
    print("Invalid input")

In [ ]:
# Find  outputs  (Home  work)
m = 4
match  m:
	case  1:
		print('One')
	case  2:
		print('Two')
	case  3:
		print('Three')
print('Bye')#o/p :Bye

In [ ]:
# Identify  Error
i = 2
match  i:
	case  1:
		print('One')
	case  _:
		print('None of   the  above')
	case  2:
		print('Two')
print('Bye')
#o/p: wildcard should not be in the middle of match cases

In [ ]:
# Find  outputs  (Home  work)
m = 2
match  m:
	case  1:
		print('One')
	case  _:
		print('Hello')
	case  _:
		print('Bye')
print('End')
#o/p: wildcard should not be in the middle of match cases

In [ ]:
#  Find  outputs  (Home  work)
m = 1
match  m:
	case  1:
		print('Hyd')
	case  1:
		print('Sec')
	case  1:
		print('Cyb')
print('Bye')
#o/p: Hyd
#Bye

In [ ]:
# Find  outputs  (Home  work)
ch = 'B'
match  ch:
	case   'A':
		print('Apple')
	case  'B':
		print('Book')
	case  'C':
		print('Cafe')
	case  _:
		print('None of  the  above')
print('Bye')
#o/p: Book
#Bye

In [ ]:
'''
1) What  are  the  outputs  if  input  is  -6 ? --->
2) What  are  the  outputs  if  input  is  15  ?  --->
3) What  are  the  outputs  if  input  is  10.8  ?  --->
4) What  are  the  outputs  if  input  is  0  ?  --->
5) What  are  the  outputs  if  input  is  -10  ?  --->
6) What  are  the  outputs  if  input  is  7  ?  --->
'''
x = eval(input('Enter any  number :  '))
match  x:
	case  7 |  -6  |  0:
		print('Hyd')
		print('Sec')
		print('Cyb')
	case  -10 | 15:
		print('One')
		print('Two')
		print('Three')
	case  _:
		print('India')
		print('China')
		print('Usa')
# End  of  match
print('Bye')

1) What  are  the  outputs  if  input  is  -6 ? --->
Hyd
Sec
Cyb
Bye
2) What  are  the  outputs  if  input  is  15  ?  --->
One
Two
Three
Bye
3) What  are  the  outputs  if  input  is  10.8  ?  --->
India
China
Usa
Bye
4) What  are  the  outputs  if  input  is  0  ?  --->
Hyd
Sec
Cyb
Bye
5) What  are  the  outputs  if  input  is  -10  ?  --->
One
Two
Three
Bye
6) What  are  the  outputs  if  input  is  7  ?  --->
Hyd
Sec
Cyb
Bye

In [ ]:
'''
1) What  is  the  output  when  input  is  (-10 , -20) ?  --->
2) What  is  the  output  when  input  is  (10 , 0) ?  --->
3) What  is  the  output  when  input  is  (0 , -20) ?  --->
4) What  is  the  output  when  input  is  (0 , 0) ?  --->
5) What  is  the  output  when  input  is  (10 , 20 , 30) ?  --->
6) What  is  the  output  when  input  is  [10 , 20]  ?  --->
7) What  is  the  output  when  input  is  [0 , -25]  ?  --->
8) What  is  the  output  when  input  is  ()  ?  --->
9) What  is  the  output  when  input  is  {10 , 20} ?  --->
10) What  is  the  output  when  input  is  (25,) ?  --->
11) What  is  the  output  when  input  is  {10 : 20} ?  --->
'''
tpl = eval(input('Enter  any  point  in  the  form  of  (x , y) :  '))
match  tpl:
	case  (0 , 0):
		print('Origin')
	case   (0 , y):
		print('y - axis')
	case   (x , 0):
		print('x - axis')
	case   (x , y):
		print('Quadrant')
	case  _:
		print('Not  a  point')

1) What  is  the  output  when  input  is  (-10 , -20) ?  --->Quadrant
2) What  is  the  output  when  input  is  (10 , 0) ?  --->x - axis
3) What  is  the  output  when  input  is  (0 , -20) ?  --->y - axis
4) What  is  the  output  when  input  is  (0 , 0) ?  --->Origin
5) What  is  the  output  when  input  is  (10 , 20 , 30) ?  --->Not  a  point
6) What  is  the  output  when  input  is  [10 , 20]  ?  --->Quadrant
7) What  is  the  output  when  input  is  [0 , -25]  ?  --->y - axis
8) What  is  the  output  when  input  is  ()  ?  --->Not  a  point
9) What  is  the  output  when  input  is  {10 , 20} ?  --->Not  a  point
10) What  is  the  output  when  input  is  (25,) ?  --->Not  a  point
11) What  is  the  output  when  input  is  {10 : 20} ?  --->Not  a  point

'''
Write  a  program  to  determine  bill  amount  and  input  is  units

Units                                                      Cost
------------------------------------------------------------
First  100  units(0 - 99)					Rs. 3.00 / unit

Next  100  units(100 - 199)				Rs. 3.50 / unit

Next  200  units(200 - 399)		    	Rs. 4.00 / unit

Next  300  units(400 - 699)				Rs. 4.50 / unit

Above  700  units(>= 700)				Rs. 5.00 / unit
---------------------------------------------------------------
Let  units  be  1200
What  is  the  bill  amount ? --->  100 * 3.00 + 100 * 3.50 + 200 * 4.00 + 300 * 4.50 + 500 * 5.00
300+350+800+1350+2500

Hint:  Use  match  ...  case   but  not  if ... else
'''
units = int(input('Enter  units :   '))  #  75
match  units // 100:
	case  0:
				cost = units * 3.00

In [ ]:
units = int(input('Enter  units :   '))  #  75
match  units // 100:    
    case  0:
        cost = units * 3.00
    case  1:
        cost = (100 * 3.00)+(units - 100) * 3.50
    case  2:
        cost = (100 * 3.00)+100 * 3.50 + (units - 200) * 4.00
    case  3:
        cost=(100 * 3.00)+100 * 3.50 +200 * 4.00 + (units - 300) * 4.50
    case  _:
        cost = (100 * 3.00)+100 * 3.50 +200 * 4.00 + 300 * 4.50 + (units - 700) * 5.00
print(f'Total  cost  is  : {cost:.2f}')

'''
Write  a  program  to  print  fibonacci  series  upto   x

Let  input  be   10
What  are  the  outputs  ?  --->   0 , 1 ,  1 , 2 ,  3 ,5 , 8


1) What  is  the  formula  for  10th  term ?  ---> 9th  term + 8th  term
    What  is  the  formula  for   3rd  term ?  ---> 	2nd  term + 1st  term
    What  is  the  formual  for  ith  term ?  --->  (i - 1)th  term +  (i - 2)  term

2) What  are  the  first  two  terms ?  --->  0  and  1  (No  formula)

3) Hint:  Use  while  loop
'''

In [104]:
inp = int(input("Enter a number: "))
print("fibonacci  series  upto", inp)
print("0")
print("1")
a,b=0,1
for c in range(2, inp):
    while c <= inp:
        c = a + b
        print(c)
        a, b = b, c

fibonacci  series  upto 10
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [ ]:
#  Find  outputs
while  True:
	print('Hello')
print('Bye')

In [ ]:
#  Find  outputs
while  False:
	print('Hello')
print('Bye')
#o/p:Bye

# Find  outputs  (Home  work)
How  to  print  each  element  of  list  [10 , 20 , 15 , 18]  with  for  loop
print()
How  to  print  each  character  of   string  'Hyd'  with  for  loop
print()
How  to  print  each  element  of   range(5)  with  for  loop

In [79]:
a=eval(input("Enter a value: "))
for  x in a:
    print(x)

H
y
d

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [81]:
# Find  outputs  (Home  work)
for  x  in  {10 : 20 , 30 : 40 , 50 : 60} . keys():
	print(x)
print()
for  x  in  {10 : 20 , 30 : 40 , 50 : 60} . values():
	print(x)
print()
for  x  in  {10 : 20 , 30 : 40 , 50 : 60} . items():
	print(x)
print()
for  x  in  {10 : 20 , 30 : 40 , 50 : 60}:
	print(x)

10
30
50

20
40
60

(10, 20)
(30, 40)
(50, 60)

10
30
50

10
30
50

20
40
60

(10,20)
(30,40)
(50,60)

10
30
50

In [ ]:
# Find outputs  (Home  work)
a = {10 : 20 , 30 : 40 , 50 : 60}
for  x , y  in   a . items():
	print(x , y , sep = '...')
for  x ,  y  in   a:
	print(x , y#Error Beause of closing parenthesis and missing colon
for  x , y  in  {10 : 20 , 30 : 40 , 50 : 60}:
	print(x , y , sep = '...')

In [ ]:
# Identify  error  (Home  work)
for  x  in   123:#Error because 123 is sequence cannot be iterated
        print(x)

In [ ]:
# Find  outputs  (Home  work)
for  x   in   ():#Error because empty tuple cannot be iterated
        print(x)
for  x   in  []:#Error because empty list cannot be iterated
        print(x)
for  x   in   {}:#Error because empty dictionary cannot be iterated
        print(x)
for  x   in   set():#Error because empty set cannot be iterated
        print(x)
for  x   in   '':#Error because empty string cannot be iterated
        print(x)
for  x  in  range(10 , 10):#Error because range(10, 10) is empty
	print(x)
for  x  in   range():#Error because range() requires at least one argument
	print(x)
for  x  in   (25):#Error because 25 is not a sequence
	print(x)

In [82]:
#  Nested  Loop  demo  program
for  i  in  range(1 , 4):
	for  j  in  range(1 , 5):
			print(i ,  j)  #
	print('Hello')
print('Bye')

1 1
1 2
1 3
1 4
Hello
2 1
2 2
2 3
2 4
Hello
3 1
3 2
3 3
3 4
Hello
Bye

In [83]:
# How  to  print  each  element  and  the  corresponding  index
a = [25 , 10.8 , 'Hyd' , True]
print('Indexed  based  for loop')
for i in range(len(a)):
    print(a[i])#How  to  print  each  element  and  the  corresponding  index  with  index  based  for  loop
print('For each loop')
for x in a:
    print(x)#How  to  print  each  element  and  the  corresponding  index  with  for  ...  each  loop (Do  not  use  2nd  variable)

Indexed  based  for loop
25
10.8
Hyd
True
For each loop
25
10.8
Hyd
True

In [97]:
a = [25 , 10.8 , 'Hyd' , True]
print('Indexed for loop')
for i in range (-1,len(a)+1,-1):
    print(a[i])
    #i+=1#How   to  print  each  element  of  list  in  reverse  order  with  indexed  based  for  loop

Indexed for loop

In [ ]:
#  How  to  print  list  elements  in  reverse  order   without  slice
a = [25, 10.8, 'Hyd', True]
print('Indexed for loop')
for i in range(len(a) - 1, -1, -1):
    print(a[i])#How   to  print  each  element  of  list  in  reverse  order  with  indexed  based  for  loop
#How   to  print  each  element  of  list  in  reverse  order  with  for  each  loop  (Do  not  use  2nd  variable  and  slice)

Indexed for loop
True
Hyd
10.8
25
For each loop (using reversed())
True
Hyd
10.8
25

'''
Write  a  program  to  add  two  lists  and  store  results  in  3rd  list

1st  list  --->  [10 , 20 , 15 , 18]

2nd  list  --->  [30 , 40 , 35 , 12 , 100 , 200 , 300]

3rd  list ?  ---> [10 + 30 , 20 + 40 , 15 + 35 , 18 + 12]  =  [40 , 60 , 50 , 30]

Hint:  Use  append()  method
'''
a = eval(input('Enter  1st  list  :  '))
b = eval(input('Enter  2nd  list  :  '))
c = []
How  to  add  lists  'a'  and  'b'  and  store  results  in  list  'c'  with  indexed  based   for  loop
print('3rd  list : ' , c)
How  to  add  lists  'a'  and  'b'  and  store  results  in  list  'c'  with  for  each  loop (Do  not  use  2nd  variable)

In [99]:
list1 = eval(input("Enter elements separated by spaces: "))
list2 = eval(input("Enter elements separated by spaces: "))
list3 = []
if len(list1) <len(list2):
    for i in range(len(list1)):
        list3.append(list1[i] + list2[i])
else:
    for i in range(len(list2)):
        list3.append(list1[i] + list2[i])
print("Resulting list:", list3)

Resulting list: [40, 60, 50, 30]

#  How  to  print  list  elements  from  indexes  2  to  4  without  slice
a = [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Sec']
print('Indexed for loop')
How  to  print  elements  from  indexes  2  to  4  of  list  'a'  with  indexed  based  for  loop
How  to  print  elements  from  indexes  2  to  4  of  list  'a'  with  for  each  loop   without  using  2nd  variable  and  slice

In [100]:
a = [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Sec']
print('Indexed for loop')
for i in range(2,4):
    print(a[i])

Indexed for loop
Hyd
True

In [101]:
#  Tricky  program
#  Find  outputs  (Home  work)
a = [10 , 20 , 15 , 18]
for  i  in  range(len(a)):
	a[i] +=  1# a[i] = a[i] + 1
print('a :  ' , a)#[11,21,16,18]
b = [10 , 20 , 15 , 18]
for  x  in   b:
	x += 1#x=x+1
print('b :  ' ,  b)#[11,21,16,19]

a :   [11, 21, 16, 19]
b :   [10, 20, 15, 18]

'''
Write  a  program  to  print  full  pyramid
	 *
   *
  ***
 ***
***
Input  is  number  of  lines
'''

How  many  lines ?  :  7
     *
     *
    ***
   ***
  ***
 *****
*****

In [121]:
inp=int(input("Input  is  number  of  lines "))
for i in range(inp):
    for j in range(i + 1):
        print("*", end=" ")
    print()  # New line after each row

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [127]:
inp=int(input("Input  is  number  of  lines "))
for i in range(1,inp+1):#[1,2,3,4,5,6]
    space=' '*(inp-i)#' ' *(5-1)=>' '*4
    star='*'*((2*i)-1)# '*' *(2*1)+1 => '*' *3
    print(space + star + space)  # Print spaces before and after star

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [155]:
inp=int(input("Input  is  number  of  lines "))
for i in range(1,inp+1):#[1,2,3,4,5,6]
    a=0
    exp='$'*(inp-a) + '*'*(i+a)
    print(exp,len(exp)) # Print spaces before and after star
    a+=1

$$$$$* 6
$$$$$** 7
$$$$$*** 8
$$$$$**** 9
$$$$$***** 10

In [160]:
inp=int(input("Input  is  number  of  lines "))
print(' '*4 +'*'*(inp-4))
print(' '*4 +'*'*(inp-4))
print(' '*3 +'*'*(inp-3+1))
print(' '*3 +'*'*(inp-3+1))
print(' '*3 +'*'*(inp-3+1))
print(' '*2 +'*'*(inp-2+2))
print(' '*2 +'*'*(inp-2+2))

    *
    *
   ***
   ***
   ***
  *****
  *****