In [1]:
# How  to  print  dictionary  in  different  ways
a  =  {10 : 'Ramesh' ,  20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print('Dictionary  with  print  function')
print(a)#How  to  print  dictionary  with  print()  function
print('Keys  of  dictionary')
print(a.keys())#How  to  print  each  key  of  dict  'a'
print('Values  of  dictionary')
print(a.values())#How  to  print  each  value  of  dict  'a'
print('All  the  tuples  of  dict_items   object')
print(a.items())#How  to  print  each  tuple  of  the  list  in  dict_items  object
print('Elements  of  each   tuple')
for i in a.items():
    print(i)#How  to  print  elements  of  each  tuple  in  the  list  of  dict_items  object
print('Keys  and  values  of  dictionary')
for key,value in a.items():
    print(f"{key} : {value}")#How  to  print  each  key  and  corresponding  value  in  dict  'a'

Dictionary  with  print  function
{10: 'Ramesh', 20: 'Kiran', 15: 'Amar', 18: 'Sita'}
Keys  of  dictionary
dict_keys([10, 20, 15, 18])
Values  of  dictionary
dict_values(['Ramesh', 'Kiran', 'Amar', 'Sita'])
All  the  tuples  of  dict_items   object
dict_items([(10, 'Ramesh'), (20, 'Kiran'), (15, 'Amar'), (18, 'Sita')])
Elements  of  each   tuple
(10, 'Ramesh')
(20, 'Kiran')
(15, 'Amar')
(18, 'Sita')
Keys  and  values  of  dictionary
10 : Ramesh
20 : Kiran
15 : Amar
18 : Sita

In [ ]:
#  Find  outputs (Home  work)
a = {
		print('Hyd') ,
		print('Sec') ,
		print('Cyb')
	}
print(type(a))#<class 'set'>
print(a)#print('Hyd') ,print('Sec') ,print('Cyb')
print(len(a))#Error

In [ ]:
#  Anonymous  object  demo  program
_ = 25
print(_)#25
print(type(_))#<class 'int'>
a , _ , c = 10 , 20 , 30
print(a)#10
print(_)#20
print(c)#30
for  _  in  range(5):
	print(_ , 'Hello')#0 Hello <next line>1 Hello <next line>2 Hello <next line>3 Hello <next line>4 Hello


'''
1) What  is   _   called ?   --->  Anonymous  object  (or) Nameless  object

2) How  many  nameless  objects  can  be  a  program ?  --->  Just  one  (or)  zero

3) What  happens  when  another  nameless  object  is  created ?  --->  Existing  nameless  object  gets  deleted

4) Can  there  be  multiple  nameless  objects  in  a  program ?  --->  No

5) _ = 10
    _ = 20
   What  happens  when  _ = 20  is  executed ?  --->  A  new  nameless  object  is  created  with  value  20  and
																				  old  nameless  object  with  10  is  lost
'''

In [ ]:
#  Find  outputs
a = 25
print(id(a))#Address of obj a
a = 35
print(id(a))#New address

In [ ]:
# Find  outputs (Home  work)
a = 25.7
print(id(a))#Address of obj a
print(a)#25.7
a = 35.6
print(id(a))#new Address of obj a
print(a)#35.6
b = True
print(id(b))#Address of obj b
b = False
print(id(b))# New Address of obj b
c = None
print(id(c))#Address of obj c
c = None
print(id(c))#same address

In [ ]:
#  Find  outputs  (Home  work)
a = 'Hyd'
print(id(a))#Address of obj a
#a[1] = 'e'#Erorr 
a = 'Sec'
print(id(a))#Same address
b = (10 , 20 , 15 , 18)
print(id(b))#Address of obj b
#b[2] = 19
b = (30 , 40 , 35 , 32)
print(id(b))#same address
c = range(5)
print(id(c))#Address of obj c
#c[3] = 10
c = range(5)
print(id(c))#Address of obj c

In [ ]:
# Find  outputs  (Home  work)
a = 25
b = 25
print(a  is  b) # True
c = 'Hyd'
d = 'Hyd'
print(c  is  d)#True
e = False
f = False
print(e  is  f)#True
g = range(10)
h = range(10)
print(g  is  h)#False

In [ ]:
#Find  outputs(Home  work)
a = [10 , 20 , 15 , 18]
b = [10 , 20 , 15 , 18]
print(a  is  b)#False
c =  {10 : 20, 30 : 40}
d =  {10 : 20, 30 : 40}
print(c  is  d)#False
e = (10 , 20 , 15 , 18)
f = (10 , 20 , 15 , 18)
print(e  is  f)#False
g = {10 , 20 , 15 , 18}
h = {10 , 20 , 15 , 18}
print(g  is  h)#False

In [ ]:
# Find outputs (Home work)
print(10 + 20)#30
print(10.8 + 20.6)#31.4
print(3 + 4j + 5 + 6j)#8+10j
print(True + False)#1
print('Hyder' + 'abad')#Hyderabad
print('Sankar' + 'Dayal' + 'Sarma')#SankarDayalsarma
print('10' + '20')#1020
print([10 , 20 , 30] + [1 , 2 , 3])#[10,20,30,1,2,3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None))#(25 , 10.8 , 'Hyd',3 + 4j , True , None)
#print({10 , 20} + {30 , 40})#Error 
#print({10 : 'Hyd'} + {20 : 'Sec'})#Error
#print(range(4) + range(5))#Error
#print(10 + '20')#Error
#print([10 , 20 , 30] + 5)#Error
#print([10 , 20 , 30] + (40 , 50 , 60))#Error

In [ ]:
# Find outputs (Home work)
print(25 * 3)#75
print(10.8 * 25.6)#276.48
print(True * False)#0
print((3 + 4j) * (5 + 6j))#(-9+38j)
print(3 + 4j * 5 + 6j)#3+26j
print('25' * 3)#252525
print(3 * '25')#2525225
print('Hyd' * 4)#HydHydHydHyd
print([10 , 20 , 15] * 2)#[10, 20, 15, 10, 20, 15]
print((25, 10.8, 'Hyd', True) * 3)#(25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)
#print([10 , 20 , 15] * 3.0)#Error we cannot multiple with non-int
#print({10 , 20 , 15} * 2)#Error
#print({10 : 20 , 30 : 40} * 2)#Error
#print([10] * [20])#Error we cannot multiple with non-int

In [ ]:
#  /  operator  demo  program
print(9.0 / 2)#4.5
print(9 / 2.0)#4.5
print(9.0 / 2.0)#4.5
print(9 / 2)  #  4.5
print(10.5 / 2)#5.25
print(10 / 3)#3.333
print(10 / 2)#5


'''
What  does  /  operator  do  ?  --->  Peforms  division   and  returns  float  quotient
'''

In [ ]:
#  //  operator  demo  program
print(9 // 2)  #   prev  integer  of (4.5) = 4
print(9.0 // 2)#4.0
print(9 // 2.0)#4.0
print(9.0 // 2.0)#4.0
print(10.5 // 2)#5.0
print(10 // 3)#3
print(10.0 // 3)  #    prev  integer  of  3.33 = 3.0
print(8.5 // 3)#2.0
print(18 // 4)#4
print(-18 // 4)#-5
print(-(18 // 4))#-4

In [1]:
# % operator demo program
print(9 % 5)#4
print(9.0 % 5)#4.0
print(9 % 5.0)#4.0
print(9.0 % 5.0)#4.0
print(10.5 % 2)  #   0.5
print(8.9 % 3)#2.9

4
4.0
4.0
4.0
0.5
2.9000000000000004

In [ ]:
# Find outputs
#print(7 / 0)#Error we cannot divide with 0
#print(7 // 0)#Error we cannot divide with 0
#print(7 % 0)#Error we cannot divide with 0

In [ ]:
# ** operator demo program
print(3 ** 4)#81
print(10 ** -2)#0.01
print(4 * 3 * 2)#24
print(3 + 4 * 5 - 32 / 2 ** 3)#3+4*5-32/9->3+20-3.55->-19.4

In [ ]:
#  Relational  operators  demo  program (Home  work)
print(9 >= 5)  #   True :  >  is  satisfied
print(9 >= 9)   #   True :  =  is  satisfied
print(9 >= 12)   #  False :  Both  are  not  satisfied
print(6 <= 8)#True
print(6 <= 6)#True
print(6 <= 4)#False
print(9 != 7)#True
print(6 == 8)#False
print(True  >  False)#True
print(3 + 4j == 3 + 4j)#True
print(3 + 4j == 5 + 6j)#False
print(3 + 4j != 5 + 6j)#True
print(10 == 10.0)#True
#print(3 + 4j >  3 + 4j)#Error

In [ ]:
#  Find  outputs  (Home  work)
print('Rama'   >  'Rajesh')  #   True :  'm' > 'j'
print('Rama'  <  'Sita') #  True : 'R' < 'S'
print('Hyd'  ==  'Hyd')#True
print('Rama'  <=   'Ramana')#True
print('Rama  Rao'  >=  'Rama')#True
print('Hyd'  != 'Sec')#True
print('HYD'  <   'hyd')#True

In [ ]:
# Chaining  relational  opeartors  (Home work)
print(10 < 20 < 30)  #   True
print(10 >= 20 < 30)  #   False : 10  is  not  >= 20
print(10 < 20 > 30)#False
print(1 < 2 < 3 < 4)#True
print(1 < 2 > 3 > 1)#False
print(4 > 3 >= 3 > 2)#True

In [ ]:
#  or  operator  demo program
print(True  or  False) #  True
print(False  or  True) #   True
print(True  or  True) #  True
print(False  or   False)   #  False
print(10  or  20)#  10
print(0   or  20)  #  20
print(-25  or  0)#-25
print(''  or  35)#35
print(6j  or  'Hyd')#6j
print(0.0  or  3 + 4j)#3+4j
print('Hyd'   or   10.8)#'Hyd

In [ ]:
# not  operator  demo  program
print(not  True) #   False
print(not  False) #  True
print(not  25)#False
print(not  0)#True
print(not  'Hyd')#False
print(not  '')#True
print(not  -10)#False
print(not  not  'Hyd')#True

In [ ]:
#  Find   outputs (Home work)
i = 10
i = not  i > 14
print(i)#True
print(not(6 < 4  or  9 >= 5  and  6 != 6))#True

Day-2

In [4]:
#  Find  outputs
print({10 , 20}  |  {30 , 20})#{10,20,30}
print({10 : 'Hyd' , 20 : 'Sec'} |  {30 : 'Cyb' , 20 : 'Vja'})#{10 : 'Hyd' , 20 : 'Vja',30 : 'Cyb'}
#print(range(4) | range(5))#Error Range cannot be concad
#print([10 , 20]  |  [30 , 20])#Error bcz list is concaded with '+'

{10, 20, 30}
{10: 'Hyd', 20: 'Vja', 30: 'Cyb'}

In [7]:
#  Assignment  operators  demo  program  (Home  work)
a = 25
print(a)#25
b =  a
print(b)#25
print(a  is  b)#True
x = 4
y = 5
z = x + y * 6
print(z)#34
#25 = a#Error LHS should only be ref not obj
#a + b = x + y#Error LHS should only be ref not obj

25
25
True
34

In [ ]:
# Find outputs (Home work)
a = b = c = 25
print(id(a))#Address of obj a
print(id(b))##Address of obj a
print(id(c))#Address of obj a
print(a , b , c)# 25 25 25

140731369524408
140731369524408
140731369524408
25 25 25

In [ ]:
# Multiple  Assignment (Home work)
x , y , z = 25 , 10.8 , 'Hyd'
print(x)# 25
print(y)#10.8
print(z)#Hyd

In [10]:
# Find outputs (Home work)
a , b , c = 3 , 4 , 5
a *= b + c#a = a*(4+5)->3*9
print(a)#27

27

In [ ]:
# Find outputs (Home work)
a = 20
a %= 3 + 2 * 4#  a %=3+8 -> a %=11 -> a= a%11 ->a=20%11 ->9
print(a)

9

In [12]:
# Find outputs (Home work)
a = 3
a **= 4 # a= a**4 -> a=81
print(a)#81

81

In [13]:
# Identity operators demo program
a = 25
b = 25
print(a  is  b)#True
print(a  is  not  b)#False
print(a == b)#True

True
False
True

In [ ]:
# Find outputs (Home work)
a = 25
b = 25.0
print(a  is  b)#False
print(a  is  not  b)#True
print(a == b)#True

False
True
True

In [ ]:
# Find outputs (Home work)
a = 'Hyd'
b = 'Hyd'
print(a  is  b)#True
print(a  is  not  b)#False
print(a == b)#True
print()#
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 3 , 4]
print(x is y)#False
print(x  is  not  y)#True
print(x == y)#True
print()#
m = (1 , 2 , 3 , 4)
n = (1 , 2 , 3 , 4)
print(m  is  n)#False
print(m  is  not  n)#True
print(m == n)#True
print(x == m)#Error we cannot compare different types

True
False
True

False
True
True

False
True
True
False

In [ ]:
# Membership operators demo program (Home work)
list = [10 , 20 , 15 , 12 , 18]
print(15 in list)#True
print(19 in list)#False
print(14 not in list)#True
print(15 not in list)#False
s = 'Hyd is green city'
print( 'is' in s)#True
print('was' in s)#False
print('g' in s)#True
print('z' in s)#False
print(' ' in s)#True
print('gre' in s)#True
print('yd i' in s)#True
print('' in s)#False
print('' not in s)#True

True
False
True
False
True
False
True
False
True
True
True
True
False

In [17]:
# Find outputs (Home work)
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 4 , 3]
print(x == y)#True
a = (4 , 1 , 3 , 2)
b = (4 , 2 , 3 , 1)
print(a == b)#True
p = {1 , 2 , 3 , 4}
q = {4 , 1 , 3 , 2}
print(p == q)#True
m = range(5)
n = range(5)
print(m == n)#True

False
False
True
True

In [ ]:
# Find outputs (Home work)
a = [10,20,30]
b = (10,20,30)
print(a  is  b) #False
print(a  ==  b)#False

False
False

Day-3

In [4]:
#  ++  and  --  operators  demo  program
a = 25
print(++a)  #  +(+a) = +a  =  25
#print(a++)   #  (a+)+  =  a+ =  25+  throws   error
print(a++1)  #  a + (+1)  =  a +  1 = 25 + 1  = 26
print(--a)#-(-a)=25
#print(a--)#(a-)-=Error
print(a--1)#(a-)-1=(a+1)=26
print(-a)#-25
print(+-a)#+(-a)=-25
print(-+a)#-(+a)=-25

25
26
25
26
-25
-25
-25

In [5]:
#  Semicolon  demo  program
print('One');#One
print('Two');#Two
print('Three');#Three
print('Hyd')  ;   print('Sec')  ;  print('Cyb') # Hyd
#Sec
#Cyb

One
Two
Three
Hyd
Sec
Cyb

In [ ]:
#  floor()  and  ceil()  functions  demo  program
import  math
print(math . floor(10.8))  #10
print(math . ceil(10.8)) #  11
print(math . floor(25.0))#25
print(math . ceil(25.0))#25
print(math . floor(-3.5))#-4
print(math . ceil(-3.5))#-3
print(math . floor(-9.0))#-9
print(math . ceil(-9.0))#-9
print(math . floor(25.1))#25
print(math . ceil(25.1))#26
#print(floor(3.5))#Error bcz we need call math.floor()
#print(ceil(3.5))#Error bcz we need call math.ceil()


'''
1) What  does  floor(x)  do ?  --->  Returns  nearest  previous  integer  of  'x'

2) What  does  ceil(x)  do ?  --->  Returns  nearest  next  integer  of  'x'
'''

10
11
25
25
-4
-3
-9
-9
25
26

"\n1) What  does  floor(x)  do ?  --->  Returns  nearest  previous  integer  of  'x'\n\n2) What  does  ceil(x)  do ?  --->  Returns  nearest  next  integer  of  'x'\n"

In [ ]:
# gcd()  function  demo  program
import  math
print(math . gcd(12 , 15)) #    3
print(math . gcd(12 , 18))  #  6
print(math . gcd(4 , 7)) #   1
print(math . gcd(7 , 7))#7
print(math . gcd(-18 , -27))#-9
print(math . gcd(-4 , 6))#2
print(math . gcd(0 , 7))#7
print(math . gcd(3 , 0))#3
print(math . gcd(0 , 0))#0
#print(gcd(5 , 15))#Error bcz we need call math.gcd()

3
6
1
7
9
2
7
3
0

In [ ]:
#  abs()  function  demo  program
from  builtins  import  abs
print(abs(-35.8))#35.8
print(abs(-27))#27
print(abs(29.5))#29.5
print(abs(32))#32
import  builtins
print(builtins . abs(-25))#25

35.8
27
29.5
32
25

In [9]:
#  max()  and  min()   functions  demo  program
from  builtins  import   max , min
print(max(10.8 , 20.6))#20.6
print(min(10.8 , 20.6 , 5.9 , 12.3))#5.9
print(max(25 , 10.8))#25
import  builtins
print(builtins . max(10 , 20 , 30))#30
print(builtins . min(10 , 20 , 15 , 5 , 12))#5

20.6
5.9
25
30
5

In [ ]:
# pow()  function  demo  program
from  builtins  import  pow
print(pow(10 , -2))#0.01
print(pow(4 , pow(3 , 2)))#pow(4,3^2)->pow(4,9)->4^9
import  builtins
print(builtins . pow(2 , 3))#2^3=8
print(builtins . pow(-2 , -3))#-0.125

0.01
262144
8
-0.125

In [12]:
# Find  outputs
from keyword import kwlist #How  to  import   kw  list
print(kwlist)#How  to  print  kwlist
x=10
print(x)#How  to  print  number  of  keywords
print(type(x))#How  to  print  type  of kwlist
import keyword
print(keyword . kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
10
<class 'int'>
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
#  Find  outputs  (Home  work)
import keyword #How  to  import   keyword  module
print(keyword.kwlist)#How  to  print  kwlist
x=10
print(x)#How  to  print  number  of  keywords
print(type(x))#How  to  print  type  of kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
10
<class 'int'>
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Day-4

In [10]:
# eval()  function  demo  program
print(eval('25'))#25
print(eval('10.8'))#10.8
print(eval('False'))#False
print(eval('3+4j'))#3+4j
#print(eval('Hyd'))#Error bcz it is in string already
print(eval("    'Hyd'   "))#Error bcz it is in string already
print(eval('3 + 4 * 5'))#23
print(eval('[10 , 20 , 15 , 18]'))#[10 , 20 , 15 , 18]
print(eval('{10,20,15,18,20,12,18}'))#{10,20,15,18,12}
print(eval('(10 , 20 , 30)'))#(10 , 20 , 30)
print(eval("{10 : 'Hyd' , 10 : 'Sec'}"))#{10:'Sec'}
#print(eval(4 + 5))#Error bcz input is in int format

25
10.8
False
(3+4j)
Hyd
23
[10, 20, 15, 18]
{18, 20, 10, 12, 15}
(10, 20, 30)
{10: 'Sec'}

In [7]:
#  Tricky  program
# Find  outputs  (Home  work)
print(eval("    'hyd'   "))#Error bcz it is in string already
hyd = 'Sec'
print(eval('hyd'))#Error bcz it is in string already
sec = '25'
print(eval('sec'))#25
print(eval(sec))#25
cyb = 10.8
print(eval('cyb'))#10.8
#print(eval(cyb))#Error bcz it is in string already

hyd
Sec
25
25
10.8

In [11]:
#  Tricky  program
#  Find  output  (Home  work)
print(eval('print("Hyd")'))#Hyd

Hyd
None

In [ ]:
#  Find  outputs  (Home  work)
print(bool('False'))#True
print(eval('False'))#False
print(bool(''))#False
print(eval('  ""  '))
print(eval(''))
print(eval('  " "   '))
print(eval(' '))

In [ ]:
# What  is  the  advantage  of  eval(input()) ?
x = eval(input('Enter  any  input  :  '))#25
print(type(x))#<class 'int'>
print(x)#25

In [3]:
# What  is  a  better  approach  to  read  string  input ?
a = input('Enter  any  string  :  ')#Vaishnavi
print(len(a))#9
print(a)#Vaishnavi
b = eval(input('Enter   any  string  : '))#2345
#print(len(b))#4
print(b)#2345

4
Chai
65

In [2]:
# sep  argument  demo  program  (Home  work)
a , b , c = 25 , 10.8 , 'Hyd'
print(a , b , c , sep = ',')   #   25 , 10.8 , Hyd
print(a , b , c , sep = '\t')#   25   10.8   Hyd
print(a , b , c , sep = '---')#  25---10.8---Hyd
print(a , b , c , sep = '\n')#25
#10.8
#Hyd
print(a , b , c)#25 10.8 Hyd
#print(a , b , c , separator = ':')#25:10.8:Hyd

25,10.8,Hyd
25	10.8	Hyd
25---10.8---Hyd
25
10.8
Hyd
25 10.8 Hyd

In [ ]:
# Find  outputs  (Home  work)
a , b , c = 25 , 10.8 , 'Hyd'
print(a , b , c , end = '---')#25 10.8 Hyd---
print(a , b , c , sep = ',,,')#25,,,10.8,,,Hyd
print(a , b , c , sep = ':::' , end = '\t\t\t')#25:::10.8:::Hyd
print(a , b , c)#25 10.8 Hyd

25 10.8 Hyd---25,,,10.8,,,Hyd
25:::10.8:::Hyd			25 10.8 Hyd

In [4]:
# Find outputs  (Home  work)
print('Hyd')#Hyd
print()#
print('Sec')#Sec
print()#
print('Cyb')#Cyb

Hyd

Sec

Cyb

In [ ]:
# Find  outputs  (Home  work)
l = [10 , 20 , 30 , 40]
t = (10 , 20 , 30 , 40)
s = {10 , 20 , 30 , 40}
print(l , t , s)#[10 , 20 , 30 , 40] (10 , 20 , 30 , 40) {10 , 20 , 30 , 40}

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [ ]:
#  Find  outputs (Home  work)
a = 25
b = '%f'  %a
print(b)#25.000000
print(type(b))#<class 'str'>
x = 10.8
y = '%d'  %x
print(y)#10
print(type(y))#<class 'str'>
m = [10 , 20 , 15 , 18]
n = '%s'  %m
print(n)#'[10 , 20 , 15 , 18]'
print(type(n))#<class 'str'>

25.000000
<class 'str'>
10
<class 'str'>
[10, 20, 15, 18]
<class 'str'>

In [ ]:
# Find  Outputs  (Home  work)
a = 10.9274
print('%8.2f'  %a)  #  <3  spaces>10.93
print('%9.1f'  %a)#<6 spaces>10.9
print('%10.3f'  %a)#<7 spaces>10.927
print('%.2f'  %a)#10.93
print('%.6f'  %a)#10.927400
print('%f'  %a)#10.927400

   10.93
     10.9
    10.927
10.93
10.927400
10.927400

In [ ]:
# Find  outputs (Home  work)
a = 'Hyd'
print('%7s'  %a)   #  <4  spaces>Hyd
print('%-7s'  %a)  #  Hyd<4   spaces>
print('%2s'  %a)   #  Hyd  and  ignores  smaller width
print('%s'  %a) #Hyd
print('%s' , a)#%s Hyd
#print('%s'  a)#Error for two arg we need to use ','
#print('%s' , %a)#Error in format we should not use ','
print(a)#Hyd

    Hyd
Hyd
Hyd
Hyd
%s Hyd
Hyd

In [13]:
# Find  outputs  (Home  work)
a = [10 , 20 , 30 , 40]
print('%s'  %a)# [10 , 20 , 30 , 40]
print('%s' , a)# %s  [10 , 20 , 30 , 40]
#print('%s'  a)#Error neither format nor arg
#print('%s' , %a)#Error not following format symtax
#print('%l'  %a)# [10 , 20 , 30 , 40]
print(a)# [10 , 20 , 30 , 40]

[10, 20, 30, 40]
%s [10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
#Find outputs  (Home  work)
a = 25
b = 10.9274
c = 'Hyd'
print('%d    %f    %s'  %(a , b , c)) #25    10.927400    Hyd
print('%i    %g    %s'    %(a , b , c))#25    10.9274    Hyd
print('%s    %s    %s'  %(a , b , c))#25     0.9274    Hyd
print('%d    %g    %s'  , a , b , c)# %d    %g    %s 25 10.9274 Hyd
#print('%d    %g      %s'   a , b , c)#Error neither format nor arg
#print('%d    %g    %s'  ,  %(a , b , c))#Error not following format symtax
#print('%d    %g    %s'    %a%b%c)#25 10.927400 Hyd
print('%d'    %a  ,  '%f'     %b  ,  '%s'   %c)#25 10.927400 Hyd

25    10.927400    Hyd
25    10.9274    Hyd
25    10.9274    Hyd
%d    %g    %s 25 10.9274 Hyd
25 10.927400 Hyd

In [14]:
#Find outputs  (Home  work)
a = 25
b = 10.9274
c = 'Hyd'
print('%d    %f    %s'  %(a , b , c))#25 10.9274 Hyd

25    10.927400    Hyd

Day 5

In [1]:
#  Find  outputs  (Home  work)
x = 25
y = F'{x}'#'25'
print(y)#'25'
print(type(y))#<class 'str'>
x = 10.8
y = F'{x}'#'10.8'
print(y)#'10.8'
print(type(y))#<class 'str'>
x = [10,20,30,40]
y = F'{x}'#'[10,20,30,40]'
print(y)#'[10,20,30,40]'
print(type(y))#<class 'str'>

25
<class 'str'>
10.8
<class 'str'>
[10, 20, 30, 40]
<class 'str'>

In [3]:
a ,  b , c = 25 , 10.8 , 'Hyd'
print(F'{a}  \t   {b}   \t  {c}') # ‘25’   ’10.8’  ‘Hyd’
print(F'a = {a}  \t  b  =  {b}  \t  c  =  {c}') # a = 25    b  =  10.8    c  =  Hyd
print(F'{a=}  \t   {b=}   \t  {c=}')#a=’25’  b=’10.8’  c=’Hyd’
print(F'{a:}  \t   {b:}   \t  {c:}')# 25 10.8 Hyd
print('a  =  {a}  \t  b  =  {b}  \t  c  =   {c}')# a  =  {a}    b  =  {b}    c  =   {c}
print(F'a  =  a  \t  b  =  b  \t  c  =  c')#a  =  a  	  b  =  b  	  c  =  c
#print(F'{x =}  \t   {y =}   \t  {z =}')#Error

25  	   10.8   	  Hyd
a = 25  	  b  =  10.8  	  c  =  Hyd
a=25  	   b=10.8   	  c='Hyd'
25  	   10.8   	  Hyd
a  =  {a}  	  b  =  {b}  	  c  =   {c}
a  =  a  	  b  =  b  	  c  =  c

In [ ]:
x = 25
print(F'{x}')  #  25
print(F'{{x}}')   #  {x}
print(F'{{{x}}}')  #   {25}
print(F'{{{{x}}}}') #{{x}}
print(F'{{{{{x}}}}}')#{{{25}}}
print(F'{{{{{{x}}}}}}')#{{{x}}}
print(F'{{{{{{{x}}}}}}}')#{{{25}}}
print(F'{{{{{{{{x}}}}}}}}')#{{{{x}}}}

25
{x}
{25}
{{x}}
{{25}}
{{{x}}}
{{{25}}}
{{{{x}}}}

In [ ]:
'''
Write  a  program  to  determine  sum , difference , product , quotient , largest  and  smallest  of  two  numbers.
Also  find  remainder,  sqrt  of  first  input , power, gcd  and  factorial  of  first  input

Hint:  Use  F  string  to  print  results

Let  inputs  be  10  and  7,
What  is  the  sum ?  --->  17
What  is  the  difference ?  --->  3
What  is  the  product ?  ---> 70
What  is  the  quotient ?  --->  1.42
What  is  the  remainder ?  --->  3
What  is  the  largest  number ?  ---> 10
What  is  the  smallest  number ?  --->  7
What  is  the  sqrt  of  1st  input ?  --->  3.16
What  is  the  result  of  power?  --->  10000000
What  is  the  gcd  of  2  numbers ?  ---> 1
What  is  the  factorial   of  1st  input ?  ---> 10!
'''

Enter 1st  integer  number :  10
Enter 2nd  integer  number :  7
10 + 7 = 17
10 - 7 = 3
10 * 7 = 70
10 / 7 = 1.4285714285714286
10 % 7 = 3
max(10 , 7) = 10
min(10 , 7) = 7
10 ^ 7 = 10000000
sqrt(10) = 3.1622776601683795
gcd(10 , 7) = 1
fact(10) = 3628800

In [17]:
import math
x=eval(input('Enter 1st  integer  number : '))
y=eval(input('Enter 2nd  integer  number : '))
print(x ,'+',y,'=' ,(x+y))
print(x ,'-',y,'=' ,(x-y))
print(x ,'*',y,'=' ,(x*y))
print(x ,'/',y,'=' ,(x/y))
print(x ,'%',y,'=' ,(x%y))
print('max(',x,',',y,')','=', max(x,y))
print('min(',x,',',y,')','=', min(x,y))
print(x,'^',y,'=',pow(x,y))
print('sqrt(',x,')=',math.sqrt(x))
print('gcd(',x,',',y,')=',math.gcd(x,y))
print('fact(',x,')=',math.factorial(x))

10 + 7 = 17
10 - 7 = 3
10 * 7 = 70
10 / 7 = 1.4285714285714286
10 % 7 = 3
max( 10 , 7 ) = 10
min( 10 , 7 ) = 7
10 ^ 7 = 10000000
sqrt( 10 )= 3.1622776601683795
gcd( 10 , 7 )= 1
fact( 10 )= 3628800

In [27]:
import math
x=eval(input('Enter 1st  integer  number : '))
y=eval(input('Enter 2nd  integer  number : '))
print(F'x + y ={x+y}')
print(F'x - y ={x-y}')
print(F'x * y ={x*y}')
print(F'x / y ={x/y}')
print(F'x % y ={x%y}')
print(F'max({x}, {y}) = {max(x,y)}')
print(F'min({x}, {y}) = {min(x,y)}')
print(F'x ^ y = {pow(x,y)}')
print(F'sqrt({x}) = {math.sqrt(x)}')
print(F'gcd({x}, {y}) = {math.gcd(x,y)}')
print(F'fact({x}) = {math.factorial(x)}')

x + y =17
x - y =3
x * y =70
x / y =1.4285714285714286
x % y =3
max(10, 7) = 10
min(10, 7) = 7
x ^ y = 10000000
sqrt(10) = 3.1622776601683795
gcd(10, 7) = 1
fact(10) = 3628800

'''
Write  a  program  to  swap  values  of  any  two  objects  in  a  single  statement  without  using  3rd  object

Let  'x'  be  25  and  'y'  be   'Hyd'
What  are  'x'  and  'y'  after  swap ?  ---> Hyd  and  25

Hint:  Swap  references  but  not  objects
'''

Enter  1st  input :  25
Enter  2nd  input : Hyd
Before  swap :  x='25'            y='Hyd'
After  swap :  x='Hyd'            y='25'

In [26]:
x=eval(input('Enter 1st  integer  number : '))
y=eval(input('Enter 2nd  integer  number : '))
print('Before  swap :  x=',x , 'y=',y)
x,y=y,x
print('Before  swap :  x=',x,'y=',y)

Before  swap :  x= 25 y= Hyd
Before  swap :  x= Hyd y= 25

In [28]:
x=eval(input('Enter 1st  integer  number : '))
y=eval(input('Enter 2nd  integer  number : '))
print(F'Before  swap :  x={x} y={y}')
x,y=y,x
print(F'After  swap :  x={x} y={y}')

Before  swap :  x=25 y=Hyd
After  swap :  x=Hyd y=25

'''
Write  a  program  to  determine  largest  of  three  inputs  without  using  max()  function

1) What  is  the  output  if  inputs  are  10 , 20  and  15 ?   --->  20

2) What  is  the  output  if  inputs  are  35.8 , 42.8  and  27.9 ?   --->  42.8

3) What  is  the  output  if  inputs  are  'RAMA'  , 'RAKESH'  and  'RAJESH' ?   --->  'RAMA'

4) What  is   the  output  if  inputs  are  [10 , 20 , 15 , 18]  , [10 , 20 , 32, 19]  and  [10 , 20 , 25, 17] ?  ---> [10 , 20 , 32 , 19]

5) Inputs  can  be  integers , floats , strings  and  so  on

6) Use  nested  ternary  operator
'''

Enter 1st input : 10
Enter 2nd input : 20
Enter 3rd input : 15.8
Largest  Input  :  20

In [32]:
x=eval(input('Enter 1st  input : '))
y=eval(input('Enter 2nd  input : '))
z=eval(input('Enter 3rd  input : '))
largest=x if x>y else y if y>z else z
print(F'Largest Input : {largest}')

Largest Input : [10, 20, 32, 19]

'''
Write  a  program  to  print   '>'  if  1st  input  >  2nd  input,
                                               '<'  if  1st  input  <  2nd  input  and
                                               '='  if  inputs  are  same

1) What  is  the  result  if  inputs  are  10  and  20 ?  ---> <

2) What  is  the  result  if  inputs  are  70  and  60 ?  --->  >

3) What  is  the  result  if  inputs  are  25  and  25 ?  ---> =

4) Inputs  can  be  integers , floats , strings  and  so  on

5) Use  ternary  operator
'''

Enter 1st input : 10
Enter 2nd input : 20
Result :   <

In [40]:
x=eval(input('Enter 1st  input : '))
y=eval(input('Enter 2nd  input : '))
print(F'Result :  >') if x>y else print(F'Result :  <') if y>x else print(F'Result :  =')

Result :  <

'''
Write  a  program  to  print  1  if  input  is  +ve  ,  -1    if  input  is  -ve  and  0  if  input  is  0

1) What  is  the  result  if  input  is  -25 ?  --->  -1

2) What  is  the  result  if  input  is  75 ?  --->  1

3) What  is  the  result  if  input  is  0 ?  --->  0

4) Use  nested  ternary  operator
'''

Enter any number : -25
Result :  -1

In [43]:
x=eval(input('Enter any number :'))
print(F'Result :  -1') if x<0 else print(F'Result :  1') if x>0 else print(F'Result :  0')

Result :  0

'''
Write  a  program  to  test  input  is  even  number  or  odd  number

1) What  is  an  even  number  ?  --->  Divisible  by  2

2) What  is  an  odd  number  ?  --->  Not  divisible  by  2

3) Use  ternary  operator
'''

Enter  any  +ve  integer : 45
Odd  number

In [45]:
x=eval(input('Enter  any  +ve  integer :'))
print(F'Even  number') if x%2==0 else print(F'Odd  number')

Even  number

'''
(Home  work)
Write  a  program  to  determine  area  and  perimeter  of  rectangle

1) What  are  the  inputs ?  ---> length  and   breadth

2) What  are  the  outputs  ?  --->  area  and  perimeter

3) What  is  the  area  of  rectangle  ?  --->  length * breadth

4) What  is  the  perimeter  of  rectangle ?  --->  2 * (length + breadth)
'''

In [47]:
length=eval(input('Enter  the length :'))
breadth=eval(input('Enter  the breadth :'))
Area=length * breadth
perimeter= 2*(length + breadth)
print(F'Area of rectangle : {Area}')
print(F'Perimeter of rectangle : {perimeter}')

Area of rectangle : 686.84
Perimeter of rectangle : 106.2

'''
(Home  work)
Write  a  program  to  determine  volume  of  a  sphere

1) What  is  the  input ?  --->  radius

2) What  is  the  output ?  --->  volume

3) What  is  the  volume  of  sphere  ?  --->  4 / 3  * pi *  r ^ 3
'''

In [ ]:
import math
radius=eval(input('Enter  the radius :'))
volume= (4/3)*math.pi *math.pow(radius,3)
print(F'Volume  of  sphere : {volume}')

volume  of  sphere : 333.0381428119515

'''
(Home  work)
Write  a  program  to  determine  simple  interest  and  compound  interest

1) What  are  the  inputs  ?  --->  principle , time  and   rate  of  interest

2) What  are  the  outputs ? --->  Simple  interest   and   compound  interest

3) What  is  simple  interest  formula ?  ---> ptr / 100

4) What  is  compound  interest  formula ?  --->  p * (1  +  r  /  100) ^  t  -  p
'''

In [7]:
import math
principle=eval(input('Enter  the principle :'))
time=eval(input('Enter  the time :'))
rate=eval(input('Enter  the rate :'))
Simple_interest = (principle * time * rate)/100
#compound_interest=(principle *(1+rate/100)**time) - principle
compound_interest = principle * (math.pow((1+rate/100),time)) - principle
print(F'Simple  interest : {Simple_interest}')
print(F'compound  interest : {compound_interest}')

Simple  interest : 60.0
compound  interest : 60.899999999999864

'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  using  3rd   object

Let  x = 10  and  y = 25
What  are  the  values  of  x  and  y  after  swap ?  --->  x = 25  and   y = 10
'''

In [59]:
x=eval(input('Enter 1st  input : '))
y=eval(input('Enter 2nd  input : '))
a= x
x=y
y=a
print(F'After  swap :  x = {x} y = {y}')

After  swap :  x = 25 y = 10

'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  addition  and  two  subtractions

x = 25
y =  10
'''

In [61]:
x=eval(input('Enter 1st  input : '))
y=eval(input('Enter 2nd  input : '))
x= x + y
y= x - y
x= x - y
print(F'After  swap :  x = {x} y = {y}')

After  swap :  x = 25 y = 10

'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  multiplication  and  two  divisions

x =  -200
y =  100
'''

In [62]:
x=eval(input('Enter 1st  input : '))
y=eval(input('Enter 2nd  input : '))
x= x * y
y= x / y
x= x / y
print(F'After  swap :  x={x} y={y}')

After  swap :  x=100.0 y=-200.0