In [ ]:
# What  are  the  outputs  if  input  is   [25 , 10.8 , 'Hyd' , True]   (Home  work)
a = input('Enter  list  :  ')
print(type(a))#Class str
print(a)# [25 , 10.8 , 'Hyd' , True]
b = eval(a)
print(b)# [25 , 10.8 , 'Hyd' , True]
print(type(b))# class list

In [ ]:
#  Find  outputs (Home  work)
a = [10, 20, 15, 18]
b = a
print(a  is  b)#True
print(a  ==  b)#True
b[2] = 12
print(a)#[10, 20, 12, 18]

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 15 , 18]
b = [100 , 200 , 150]
print(a + b)#[10, 20, 15, 18, 100, 200, 150]
print(a + 5)#Error due to concatenation not possible between list and int
print(a + '5')#Error due to concatenation not possible between list and str
print([10 , 20] + (30 , 40))#Error due to concatenation not possible between list and tuple

In [ ]:
#  Tricky  program
#  Find  outputs
a = [1,2,3]
b = [4,5,6]
print(a , id(a))# [1,2,3] address of object a
a += b
print(a , id(a))#[1,2,3,4,5,6] address of same object a

In [ ]:
#  Tricky  program
#  Find  outputs
a = [1,2,3]
b = [4,5,6]
print(a , id(a))#[1,2,3] address of object a
a  = a + b
print(a , id(a))#[1,2,3,4,5,6] address of different object a

In [ ]:
# List  packing
a = 25
b = 10.8
c = 'Hyd'
d = True
e = [a , b , c , d]
print(e)#[25, 10.8, 'Hyd', True]
print(type(e))#class list

In [ ]:
# Find  outputs
list = [25 , 10.8 , 'Hyd' ,  True]
a , *b , c = list
print('a : ' , a)  #  a :  25
print('b : ' , b) #  b : [10.8 , 'Hyd']
print('c : ' , c) #  c :  True
print(type(b))#class list
x , *y = list
print('x : ' , x)#x :  25
print('y : ' , y)#y :  [10.8, 'Hyd', True]
*p , q = list
print('p : ' , p)#p :  [25, 10.8, 'Hyd']
print('q : ' , q)#q :  True

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , c , d , e = list
a , b , *c , d , e = list
print('a : ' , a)#error
print('b : ' , b)#error
print('c : ' , c)#error
print('d : ' , d)#error
print('e : ' , e)#error
a , b , *c , d , e , f = list

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , _  , d = list
print('a : ' , a)#a :  25
print('b : ' , b)#b :  10.8
print('_ :  ' , _)#_ :   Hyd
print('d : ' , d)#d :  True

In [ ]:
# Find  outputs (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , b , a , d , a = list
print('a : ' , a)#a :  (3+4j)
print('b : ' , b)#b :  10.8
print('d : ' , d)#d :  True

In [ ]:
#  Tricky  program
# Find  outputs (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , b ,  _ , d , _  = list
print('a : ' , a)#a :  25
print('b : ' , b)#b :  10.8
print('_ : ' , _)#_ :  (3+4j)
print('d : ' , d)#d :  True
print('_: ' , _)#_:  (3+4j)

In [ ]:
# Identify  error (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , *b , c , *d , e  = list# Error

In [ ]:
# Find  outputs  (Home  work)
list = [[25 , 10.8] , 'Hyd' , True]   #  Nested  list
a , b , c = list
print('a :  ' , a)#a :   [25, 10.8]
print('b :  ' , b)#b :   Hyd
print('c :  ' , c)#c :   True

In [ ]:
# Find  outputs  (Home  work)
list = [[25 , 10.8] , 'Hyd' , True]
[a , b] , c , d = list
print('a : ' , a)#a :  25
print('b : ' , b)#b :  10.8
print('c : ' , c)#c :  Hyd
print('d : ' , d)#d :  True
a , b , c , d = list#Error

In [ ]:
# Comparing  Lists
a = [10 , 20 , 15 , 18]
b = [10 , 20 , 15 , 18]
c = [10 , 20 , 25 , 9]
d = [10 , 20 , 7 , 22]
print(a == b)#true
print(a  is   b)#False
print(a < c)# True
print(a > d)#true
print(a >= c)#false
print(a <= d)#false
print(a != c)#true
print(a != b)#false
print(a == c)#false

In [ ]:
# Comparing  Lists  (Home  work)
a = [10 , 20 , 15 , 18]
b = [20 , 18 , 15 , 10]
print(a == b)#Flase
print(a  is   b)#False