# 15/07/25

In [ ]:
# float  object  demo  program (Home  work)
a = 10.8
print(a)         # 10.8
print(type(a))  #<class float>
print(id(a))    # may be 1231200
b = 25.        
print(b)        #25.0
print(type(b))  #<class float>
c = .689       
print(c)        #0.689
d = 3.4E2       
print(d)        #3.4*10^2
print(type(d))  #<class float>
e = 9.62e-2
print(e)        # 9.62*10^-2
print(9.8.2)    # Error

10.8
<class 'float'>
2533675330736
25.0
<class 'float'>
0.689
340.0
<class 'float'>
0.0962

In [4]:
# complex object demo program
a = 3 + 4j
print(a)            #3+4j
print(type(a))      #<class complex>
print(id(a))        # may be 102101
print(a . real)     # 3.0
print(a . imag)     # 4.0
print(type(a . real))   # <class float>
print(type(a . imag))   # <class float>

(3+4j)
<class 'complex'>
2446328820944
3.0
4.0
<class 'float'>
<class 'float'>

In [ ]:
# Find outputs (Home work)
a = 6j
print(a)        # 6j
print(type(a))  # <class complex>
print(a.real)   # 0.0
print(a.imag)   # 6.0
print(5 + j6)  # Error due to 'j' is before 6
print(3 + 4i)  # Error due to  'i'
print(4+j)     # Error- we need to write at least '1' before 'j'
print(4 + 1j)   # 4+1j
print(4 + 0j)   #4+0j

6j
<class 'complex'>
0.0
6.0
(4+1j)
(4+0j)

In [ ]:
# bool object demo program  (Home  work)
a = True
print(a)        # True
print(type(a))  # <class bool>
print(id(a))    # may be 1000
b = False       
print(b)        # False
print(type(b))  # <class bool>
print(True + True)  # 2
print(True + False) # 1
print(False + True) # 1
print(False + False)    # 0
print(True + True + True)   # 3
print(25 + 10.8 + True) # 36.8
print(True > False)     # True
print(True)         # True
print(False)        # False
print(true)         # error due to 't'
print(false)        # error dut to 'f'

True
<class 'bool'>
140706418268176
False
<class 'bool'>
2
1
1
0
3
36.8
True
True
False

In [ ]:
# Find  outputs (Home  work)
a = 0O6247
print(a)        # 3249
print(type(a))  #<class int>
print(id(a))    # may be 2108210
b = 0o6247      
print(id(b))    #same address
print(b)        #3249  
c = 3239
print(c)        # 3239
print(id(c))    #same address
#print(0o9248)   # error due to '9' - octal int contain 0-7

3239
<class 'int'>
2056685792240
2056685790576
3239
3239
2056685791792

In [ ]:
# Find  outputs  (Home  work)
a = 0XA7B9
print(a) # 42937
print(type(a))  #<classs int>
b = 0xBEEF 
print(b)    #48879
print(A7B9) # error due to 'A7B9'
print('A7B9')   # Error due to A7B9

42937
<class 'int'>
48879
A7B9

In [12]:
# Find outputs (Home  work)
a = 9248
print(a) # 9248
print(type(a)) # <class int>

9248
<class 'int'>

16/07/25--- sequence

In [ ]:
#  Find  outputs  (Home  work)
a = "Rama Rao"
print(a)    # Rama Rao
print(type(a))  # <class 'str'>
print(id(a))    # may be 2108310
b = 'Hyd'
print(b)        # Hyd
c = '''Hyd is green city.
Hyd is hitec city.
Hyd is beautiful city.'''
print(c) #Hyd is green city.
        # Hyd is hitec city.
        # Hyd is beautiful city.

Rama Rao
<class 'str'>
2681571989488
Hyd
Hyd is green city.
Hyd is hitec city.
Hyd is beautiful city.

In [ ]:
# Index   demo  program  (Home  work)
a = 'Hyd'
print(How  to  print  'H'  of  object  'a')   #print(a[0])
print(How  to  print  'y'  of  object  'a')   # print(a[1]) 
print(How  to  print  'd'  of  object  'a')     #print(a[2])
print(a[3]) # error
print(How  to  print  'd'  of  object  'a')     # print(a[-1])
print(How  to  print  'y'  of  object  'a')     #print(a[-2])
print(How  to  print  'H'  of  object  'a')     #print(a[-3])
print(a[-4])    # error
print(a[0] ==  a[-3])   # True
a[2] = 'c'      
print(25[0])       #error due to 'int'
print('25'[0])      # 2
print(True[1])     # error due to 'bool'
print('True'[1])    # r

2
r

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a * 3)    # HydHydHyd
print(a * 2)    # HydHyd
print(a * 1)    # Hyd
print(a * 0)    # empty ''
print(a * -1)   # empty ''
print(25 * 3)   # 75
print('25' * 3) # 252525
#print('25' * 4.0)   # error due to 'float'
print(3 * 'Hyd')    # HydHydHyd
print('25' * True)  # 25

HydHydHyd
HydHyd
Hyd


75
252525
HydHydHyd
25

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a , id(a))    # Hyd 2134576
a = a * 3
print(a , id(a))    # HydHydHyd 12345098

Hyd 2681571880384
HydHydHyd 2681578346864

In [ ]:
# len()  function  (Home  work)
print(len('Hyd'))       # 3
print(len('Rama Rao'))  # 8
print(len('9247'))  # 4
print(len(''))  # 0
print(len(' ')) # 1
print(len(689)) # error due to 'int'

3
8
4
0
1

In [ ]:
# Find  outputs  (Home  work)
a = """"Hyd"""
print(a)    #Error 
print(len(a))   # 4
print(a[0]) # "
print("""Hyd"""")  # error
b = """""Hyd"""
print(b)    # ""Hyd
print(len(b))   # 5

4
"
""Hyd
5

In [ ]:
# Find  outputs
a = 'Sankar Dayal Sarma'
print(a[7 : 12])    # Dayal
print(a[7 : ])  #Dayal Sarma
print(a[ : 6])  #Sankar
print(a[ : ])  #  a[ 0 :  18  : 1]  --->   string  from  indexes  0  to  17  in  steps  of   1  i.e.  Sankar<space>Dayal<space>Sarma
print(a[:  : ]) # Sankar Dayal Sarma
print(a[1 : 10 : 2])    # akrdy
print(a[0 : : 2])       #sna aa am
print(a[1 : : 2])   # akrDylsra
print(a[-5 : -1])   # Sarm
print(a[::-1])  #amraS layaD raknaS
print(a[-1:-5:-1])  # amra
print(a[ : : -2]) #   a[-1 :  -19 : -2]  --->  string  from  indexes  -1  to  -18  in  steps  of   -2  i.e.  arSlyDrka
print(a[3 : -3])    #kar Dayal Sa
print(a[2 : -5])    #nkar Dayal 
print(a[-1:-5])     # ''
print(a[3 : 3])     # ''


#   0      1      2      3      4       5       6           7       8       9     10     11     12           13     14       15      16     17
#   S      a      n      k      a       r                    D       a      y     a       l                  S       a         r       m       a
#  -18   -17   -16      -15    -14     -13      -12        -11     -10    -9     -8    -7      -6            -5      -4       -3      -2      -1

Dayal
Dayal Sarma
Sankar
Sankar Dayal Sarma
Sankar Dayal Sarma
akrDy
Sna aa am
akrDylSra
Sarm
amraS layaD raknaS
amra
arSlyDrka
kar Dayal Sa
nkar Dayal

In [ ]:
#  Find  outputs  (Home  work)
a =  'A'
#print(a[1]) # error
print(a[1:])    # ''

In [ ]:
# int()  function  demo  program
print(int(10.8))  #  Converts  float   object  10.8  to  int  object  10
print(int(True))  #  Converts  bool   object    True  to  int  object 1
print(int(False))   # Converts  bool   object    Flase  to  int  object 0
print(int('25'))  # converts string object '25' to int object 25
print(int('0075')) #75
print(int(0B11010)) # 26
print(0B11010)  #26
print(int(0O6247))  # 3239
print(0O6247)    # 3239
print(int(0XA7B9))  # 42937
print(0XA7B9)   # 42937
print(int(3 + 4j))  # error due to complex
print(int('25.4'))  # Error 
print(int('Ten'))   # error



'''
int()  function
----------------
1) What  does  int(x)  do  ?  --->  Converts  object  'x'  to  integer'''

10
1
0
25
75
26
26
3239
3239
42937
42937

"\nint()  function\n----------------\n1) What  does  int(x)  do  ?  --->  Converts  object  'x'  to  integer"

In [ ]:
# float()  function  demo  program
print(float(25))  #  Converts  int  object  25  to  float  object   25.0
print(float(True))   #  Converts  bool  object   True   to  float  object   1.0
print(float(False)) # 0.0
print(float('92'))  # 92.0
print(float('36.4')) #36.4
print(float('0075'))    #75.0
print(float(0B1010101)) # 85.0
print(float(0O6247))    # 3239.0
print(float(0XA7B9))    # 42937.0
print(float(3 + 4j))    # error due to complex
print(float('Ten'))     #error due to str





'''
float()   function
--------------------
1) What  does  float(x)  do  ?  --->  Converts  object  'x'  to  float'''

25.0
1.0
0.0
92.0
36.4
75.0
85.0
3239.0
42937.0

"\nfloat()   function\n--------------------\n1) What  does  float(x)  do  ?  --->  Converts  object  'x'  to  float"

In [ ]:
# complex()  function  demo  program
print(complex(3 , 4))   # (3+4j)
print(complex(0 , 4))   #  4j
print(complex(3))   #(3+0j)
print(complex(3.8 , 4.6))   # (3.8+4.6j)
print(complex(3.8)) #(3.8+0j)
print(complex(3 , 4.5)) # (3+4.5j)
print(complex(True , False)) # (1+0j)
print(complex(True))    # (1+0j)
print(complex(False))   #0j
print(complex(True , 4))    # (1+4j)
print(complex('3')) #(3+0j)
print(complex('3.8'))   #(3.8+0j)
print(complex(3 , '4')) # error due to 'str'
print(complex('3' , 4)) # error due to second arg
print(complex('3' , '4')) # error due to second arg
print(complex('Ten'))   # error

(3+4j)
4j
(3+0j)
(3.8+4.6j)
(3.8+0j)
(3+4.5j)
(1+0j)
(1+0j)
0j
(1+4j)
(3+0j)
(3.8+0j)

"print(complex(3 , '4')) # error due to 'str'\nprint(complex('3' , 4)) # error due to second arg\nprint(complex('3' , '4')) # error due to second arg\nprint(complex('Ten'))   # error"

In [ ]:
#  bool()  function  demo  program
print(bool(0))  # False
print(bool(10))     # True :  10  is  non-zero
print(bool(-25))    # True
print(bool(-25))    # True
print(bool(-25))    # True
print(bool(0.0))    #True
print(bool(0.1))    #False
print(bool(0 + 0j)) #True
print(bool(10 + 20j))#True
print(bool(-15j)) # False
print(bool('False')) # True
print(bool('')) # False
print(bool('Hyd'))  # True
print(bool(' ')) # True
print(bool('True'))# True
'''
bool()  function
------------------
1) What  does  bool(x)  do  ?  --->  Converts  object  'x'  to  True / False

2) Is  0  True  (or)  False ? --->  False
    What  about  non-zero ?  --->  True

3) Is  ''(i.e.  Empty  string)  True  (or) False ?  --->  False
    What  about  non-empty  string ?  --->	True

4) When  is  x + yj  treated  as  False ?  --->  When  both  'x'  and  'y'  are  zeroes
     When  is  x + yj  treated  as  True ?  --->  When  either  'x'  is   non-zero  (or)  'y'  is  non-zero
'''

False
True
True
True
True
False
True
False
True
True
True
False
True
True
True

"\nbool()  function\n------------------\n1) What  does  bool(x)  do  ?  --->  Converts  object  'x'  to  True / False\n\n2) Is  0  True  (or)  False ? --->  False\n    What  about  non-zero ?  --->  True\n\n3) Is  ''(i.e.  Empty  string)  True  (or) False ?  --->  False\n    What  about  non-empty  string ?  --->\tTrue\n\n4) When  is  x + yj  treated  as  False ?  --->  When  both  'x'  and  'y'  are  zeroes\n     When  is  x + yj  treated  as  True ?  --->  When  either  'x'  is   non-zero  (or)  'y'  is  non-zero\n"

In [ ]:
# str()  function  demo  program
print(str(25))  #  Converts   25  to  '25'
print(str(10.8)) # 10.8
print(str(3 + 4j)) # (3+4j)
print(str(True))# True
print(str(False))#False
print(str(None)) # None


'''
What  does  str(x)  do ?  --->  Converts  object  'x'  to  string
'''

25
10.8
(3+4j)
True
False
None

"\nWhat  does  str(x)  do ?  --->  Converts  object  'x'  to  string\n"

In [ ]:
# oct()  function  demo  program
print(oct(195)) #0o303
print(oct(0B10101110010)) # 0o2562
print(oct(0xA7B9))	# 0o123671
'''
oct()  function
-----------------
1) What  does  oct(x)  do ?  --->  Converts  object  'x'  to  octal  number  where
								                    'x'  can  be  binary / decimal / hexa-decimal  number'''

0o303
0o2562
0o123671

"\noct()  function\n-----------------\n1) What  does  oct(x)  do ?  --->  Converts  object  'x'  to  octal  number  where\n\t\t\t\t\t\t\t\t                    'x'  can  be  binary / decimal / hexa-decimal  number"

In [ ]:
# hex()  function  demo  program
print(hex(25)) #0x19
print(hex(0B10101111010111)) #(11223)0x2bd7
print(hex(0O6247)) # (3239) 0xca7

'''
hex()  function
------------------
1) What  does  hex(x)  do ?  --->  Converts  object  'x'  to  hexa-decimal  number  where
								                     'x'  can  be  binary / decimal / octal  number'''

0x19
0x2bd7
0xca7

"\nhex()  function\n------------------\n1) What  does  hex(x)  do ?  --->  Converts  object  'x'  to  hexa-decimal  number  where\n\t\t\t\t\t\t\t\t                     'x'  can  be  binary / decimal / octal  number"

17/07/25

In [ ]:
# Find  outputs    (Home  work)

a = range(10 , 50 , 5)

print(type(a)) # <class 'range'>

print(a)    #range(10,50,5)

print(*a)   # 10 15 20 25 30 35 40 45

print(id(a))    # may be 23456

print(len(a))   # 8

print(*a[2 : 7] , sep = ' , ')  # 20,25,30,35,40

print(*a[ : : -1])  # 45 40 35 30 25 20 15 10

a[4] = 32   #   error due to immutable

print(a * 2)    # error due to int

<class 'range'>
range(10, 50, 5)
10 15 20 25 30 35 40 45
2533699917872
8
20 , 25 , 30 , 35 , 40
45 40 35 30 25 20 15 10

In [ ]:
#  Find  outputs  (Home  work)
a = range(10 , 20)
print(*a , sep = ',')   # 10,11,12,13,14,15,16,17,18,19
b = range(5)    
print(*b)   # 0 1 2 3 4
c = range(10 , 1 , -1)
print(*c , sep = '...') # 10...9...8...7...6...5...4...3...2
d = range(-10 , 0)
print(*d)   #   -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
e = range(-10)
print(*e)   # empty
f = range(2 , 2)
print(*f)   # empty
g = range(10 , 11 , 0.1) # error due to 'float'
h = range('A' , 'F')    # error due to 'str'

10,11,12,13,14,15,16,17,18,19
0 1 2 3 4
10...9...8...7...6...5...4...3...2
-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
#  Find  outputs  (Home  work)
r = range(10 ,  17 , 3)
a , b , c = r
print(a , b , c)    # 10 13 16
r = range(3)
x , y = r   # error
p , q  , r , s = r  # error
a , b , c = *r  # error

10 13 16

18/07/2025

In [ ]:
#  Find  outputs  (Home  Work)
a = [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(a)    # [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(*a)   # 25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25
print(type(a))  # <class 'list'>
print(id(a))    # may be 123456
print(len(a))   #8
a[2] = 'Sec'
print(a)    # [25 , 10.8 , 'sec' , True , 3 + 4j , None , 'Hyd' , 25] 
print(a[2 : 5]) # ['sec' , True , 3 + 4j]

[25, 10.8, 'Hyd', True, (3+4j), None, 'Hyd', 25]
25 10.8 Hyd True (3+4j) None Hyd 25
<class 'list'>
2036889237376
8
[25, 10.8, 'Sec', True, (3+4j), None, 'Hyd', 25]
['Sec', True, (3+4j)]

In [ ]:
# append()  and  remove()  methods  (Home  work)
a = [ ]
print(a)    #[]
a . append(25)
a . append(10.8)
a . append('Hyd')
a . append(True)
print(a)    #[25,10.8,'Hyd',True]
a . remove('Hyd')   
print(a)    # [25,10.8,True]
a . remove('25')
print(a)    # error due to '25'

[]
[25, 10.8, 'Hyd', True]
[25, 10.8, True]

In [ ]:
#  Find  outputs  (Home  work)
a = [25 , 10.8 , 'Hyd']
print(a)    # [25 , 10.8 , 'Hyd']
print(id(a))    # 12345987654
print(a * 3)    #[25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(a * 2)    # [25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(a * 1)    # [25 , 10.8 , 'Hyd']
print(a * 0)    # []
print(a * -1)   # []
print(a * 4.0)  # error
a = a * 3
print(a)      # [25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(id(a))    # 12345876
a = [25]
print(a * a) # Error

[25, 10.8, 'Hyd']
2533706343744
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
[25, 10.8, 'Hyd']
[]
[]
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
2533706204288

In [ ]:
# list()  function  demo  program
a = list('Hyd')
print(a)    # ['H','y','d']
print(type(a))  # <class 'list'>
print(len(a))   # 09873456745
b = (10 , 20 , 15 , 18)
print(list(b))  # [10 , 20 , 15 , 18]
print(list(range(5)))   # [0,1,2,3,4]
print(list(25)) # Error


'''
list()  function
-----------------
1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list

2) Is  list(non-sequence)  valid ?  --->   No  becoz  argument  should  be  sequence  only

3) What  does  list(No-args)  do ?  ---> Returns  an  empty  list  i.e.  []

4) Finally  list()  function  does  typecasting
'''

['H', 'y', 'd']
<class 'list'>
3
[10, 20, 15, 18]
[0, 1, 2, 3, 4]

'\nlist()  function\n-----------------\n1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list\n\n2) Is  list(non-sequence)  valid ?  --->   No  becoz  argument  should  be  sequence  only\n\n3) What  does  list(No-args)  do ?  ---> Returns  an  empty  list  i.e.  []\n\n4) Finally  list()  function  does  typecasting\n'

In [ ]:
# Find  outputs
a = [ ]
print(type(a))  # <class 'list'>
print(a)    # []
print(len(a)) # 0
b = list()
print(b)     # []
print(len(b))   # 0

<class 'list'>
[]
0
[]
0

In [ ]:
# Slice  demo  program (Home  work)
#        0      1    2        3      4      5       6      7
list = [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
#       -8     -7   -6        -5     -4     -3      -2      -1
print(list[2 : 7])  # [ 3 + 4j , 'Hyd' , True , None , 10.8 ]
print(list[ : : ])  # [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[:]) #  list[0 :  8 :  1]  --->  List  from  indexes  0  to  7  in  steps  of  1  i.e.  [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[ : : -1])    # ['Hyd',10.8,None,True,'Hyd',3+4j,10.8,25]
print(list[ : : 2])     # [25 , 3 + 4j ,  True ,  10.8 ]
print(list[1 : : 2])    # [10.8, 'Hyd', None, 'Hyd']
print(list[ : : -2]) #  list[-1 :  -9 : -2]  --->  List  from  indexes   -1  to  -8  in  steps  of   -2   i.e.  ['Hyd' , None , 'Hyd' , 10.8]
print(list[-2 : : -2])  # [10.8, True, 3+4j, 25]
print(list[1 : 4])  # [10.8 , 3 + 4j , 'Hyd' ]
print(list[-4 : -1])    #[True , None , 10.8]
print(list[3 : -3]) # ['Hyd' , True]
print(list[2 : -5]) # [3 + 4j , 'Hyd' ]
print(list[-1:-5])  # []

[(3+4j), 'Hyd', True, None, 10.8]
[25, 10.8, (3+4j), 'Hyd', True, None, 10.8, 'Hyd']
[25, 10.8, (3+4j), 'Hyd', True, None, 10.8, 'Hyd']
['Hyd', 10.8, None, True, 'Hyd', (3+4j), 10.8, 25]
[25, (3+4j), True, 10.8]
[10.8, 'Hyd', None, 'Hyd']
['Hyd', None, 'Hyd', 10.8]
[10.8, True, (3+4j), 25]
[10.8, (3+4j), 'Hyd']
[True, None, 10.8]
['Hyd', True]
[(3+4j)]
[]

In [ ]:
#  Find  outputs  (Home  work)
#        0    1      2      3       4      5     6        7
list = [25 , 10.8 , 3+4j , 'Hyd' , True , None , 10.8 , 'Hyd']
x ,  y = list[3 : 5]
print('x : ' , x) # x: Hyd
print('y : ' , y)	# y:  True 
for  x  in  list[2:7]:
	print(x)	#3+4j  Hyd  True  None  10.8

x :  Hyd
y :  True
(3+4j)
Hyd
True
None
10.8

In [ ]:
#  Find  outputs  (Home  work)
#     0   1    2    3     4
a = [10 , 20 , 30 , 40 , 50]
print(a , id(a))    # [10 , 20 , 30 , 40 , 50] 23456787654
a[1 : 4] = [60 , 70]   
print(a , id(a))     # [10, 60, 70, 50]  same address
a[2: 4] = [100 , 200 ,  300]
print(a , id(a))    #[10, 60, 100, 200, 300] same address

[10, 20, 30, 40, 50] 2036889334272
[10, 60, 70, 50] 2036889334272
[10, 60, 100, 200, 300] 2036889334272

In [ ]:
#  Find  outputs  (Home  work)
a =  [25]
print(a[1]) # error
print(a[1:])    #[]

[]

In [ ]:
# Find  outputs  (Home  work)
a = (25)
b = 25,
c = 25
d = (25,)
print(type(a))  # <class 'int'>
print(type(b))  # <class 'tuple'>
print(type(c))  # <class 'int'>
print(type(d))  # <class 'tuple'>
print(a * 4)    # 100
print(b * 4)    # (25,25,25,25)
print(c * 4)    # 100
print(d * 4)    # (25,25,25,25)

<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
100
(25, 25, 25, 25)
100
(25, 25, 25, 25)

In [ ]:
# tuple()  function  demo  program  (Home  work)
a = tuple('Hyd')
print(a)    # ('H','y','d')
print(type(a))  # <class 'tuple'>
print(len(a))   # 3
b = [10 , 20 , 15 , 18]
print(tuple(b)) # (10 , 20 , 15 , 18)
print(tuple(range(5)))  # (0,1,2,3,4)
print(tuple(25))    # Error



'''
tuple()  function
-------------------
1) What  does  tuple(sequence)  do ?  --->  Converts  sequence  to  tuple

2) Is  tuple(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only

3) What  does  tuple(No-args)  do ?  ---> Returns  an  empty  tuple
'''

('H', 'y', 'd')
<class 'tuple'>
3
(10, 20, 15, 18)
(0, 1, 2, 3, 4)

'\ntuple()  function\n-------------------\n1) What  does  tuple(sequence)  do ?  --->  Converts  sequence  to  tuple\n\n2) Is  tuple(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only\n\n3) What  does  tuple(No-args)  do ?  ---> Returns  an  empty  tuple\n'

In [ ]:
# Find  outputs (Home  work)
a = ()
print(type(a))  # <class 'tuple'>
print(a)    # ()
print(len(a))   # 0
b = tuple()
print(b)    # ()
print(len(b))   # 0

<class 'tuple'>
()
0
()
0

In [15]:
# Tricky program
# Find  outputs (Home  work)
a = (10 , 20 , 30)
print(a)    # (10 , 20 , 30)
print(id(a))    # 4321234567
a = a * 2
print(a)    # (10 , 20 , 30, 10 , 20 , 30)
print(id(a))    # 1234567876

(10, 20, 30)
2036895897344
(10, 20, 30, 10, 20, 30)
2036896751168

In [ ]:
#  set  object  demo  program  (Home  work)
a = {25 , 10.8 , 'Hyd' , True , 3+4j , None , 25 , 'Hyd'}
print(a)    # { 10.8 , True , 3+4j , None , 25 , 'Hyd'}
print(type(a))  # <class 'set'>
print(len(a))   # 6
print(a[2]) # Error
print(a[1 : 4]) # error
a[2] = 'Sec'    # error
print(a * 2)    # error
print(a * a)    # Error

{None, True, 25, 10.8, 'Hyd', (3+4j)}
<class 'set'>
6

In [ ]:
# Tricky  program
# Find  outputs (Home  work)
a = {1 , 'Hyd' , False , True , 0.0 , '' , 1.0 ,  0}
print(a)    # {False, 1, 'Hyd', ''}
print(len(a))   # 4
print(type(a))  # <class 'set'>

{False, 1, 'Hyd', ''}
4
<class 'set'>

In [ ]:
#  set()  function demo  program
a = set('Rama rAo')
print(a)    # {'A', 'a', 'R', 'r', 'o', ' ', 'm'}
print(len(a))   # 7
print(set([10 , 20 , 15 , 20])) # {10,20,15}
print(set((25 , 10.8 , 'Hyd' , 10.8)))  # (25 , 10.8 , 'Hyd')
print(set(range(10 , 20 , 3)))  # Error
print(set(25))  # Error
print(set([25 , 10.8 , [] , 'Hyd']))    # error


'''
set()  function
-----------------
1) What  does  set(sequence)  do ?  --->  Converts  sequence  to  set

2) Is  set(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only

3) What  does  set(No-args)  do ?  ---> Returns  an  empty  set
'''

{'m', ' ', 'R', 'r', 'a', 'A', 'o'}
7
{10, 20, 15}
{25, 10.8, 'Hyd'}

'\nset()  function\n-----------------\n1) What  does  set(sequence)  do ?  --->  Converts  sequence  to  set\n\n2) Is  set(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only\n\n3) What  does  set(No-args)  do ?  ---> Returns  an  empty  set\n'

In [ ]:
# Find  outputs  (Home  work)
a =   [ ]
b =   ( )
c =   {}
d =   set()
print(type(a))  # <class 'list'>
print(type(b))  # <class 'tuple'>
print(type(c))  # <class 'dict'>
print(type(d))  #<class 'set'>
print(a)    #[]
print(b)    #()
print(c)    #{}
print(d)    #set()

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
[]
()
{}
set()

In [ ]:
# Tricky  program
# add()  and  remove()  methods  (Home  work)
a = set()
a . add(25)
a . add(10.8)
a . add('Hyd')
a . add(True)
a . add(None)
a . add('Hyd')
a . add(1)
print(a)    # (25, 'Hyd', 10.8, True, None)
print(len(a))   # 5
a . remove(25)
print(a)    # {None, 'Hyd', 10.8, True}
a . append(100) # Error
a . add(set())  # Error
a . add(())    # Error
a . add([])    # Error
print(a)    # {None, 'Hyd', 10.8, True}
a . add({})    # Error

{None, True, 10.8, 'Hyd', 25}
5
{None, True, 10.8, 'Hyd'}
{None, True, 10.8, 'Hyd'}

In [ ]:
# How  to  print  set  in  two  differnet ways  (Home  work)
a = {25 , True , 'Hyd' , 10.8}
print('set  with  print  function') # 'set  with  print  function'
print(How  to  print  set)  # Print(a)
print('Iterate  thru  set  with  for  loop')    # 'Iterate  thru  set  with  for  loop'
How  to  iterate  thru  set  with  for  loop    # for i in a:
                                                    #print(a)

19/07/2025

In [ ]:
# Find  outputs  (Home  work)
a = {10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(a)    # {10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(type(a)) # <class 'dict'>
print(a[10])   #(How  to  obtain  value  key  10) 
print(a[20])   #(How  to  obtain  value  key  20)
print(a[20])   #(How  to  obtain  value  key  15)
print(a[18])   #(How  to  obtain  value  key  18)
print(a[19])    # Error
print(a[0]) # Error
print(a['Amar'])    # Error
a[15]='Krishna'    #How  to  modify  value  of   key  15  to  'Krishna'
del a[20]   #How  to  remove  20 :  'Kiran'  from  dict  'a'
a[25]='Vamsi'   # How  to  append  25 : 'Vamsi'  to  dict  'a'
print(a)    #{10 : 'Ramesh' , 15 : 'Krishna' , 18 : 'Sita', 25:'Vamsi'}
print(len(a))   # 4
print(a * 2)    # Error

{10: 'Ramesh', 20: 'Kiran', 15: 'Amar', 18: 'Sita'}
<class 'dict'>
Ramesh
Kiran
Kiran
Sita
{10: 'Ramesh', 15: 'Krishna', 18: 'Sita', 25: 'Vamsi'}
4

In [ ]:
# Find  outputs  (Home  work)
a = {10 : 'Hyd' , 10 : 'Sec'}
print(a)    #{10 : 'Sec'}
print(len(a))   #1
b = {'R' : 'Red' , 'G' : 'Green' , 'B' : 'Blue' , 'Y' : 'Yellow' , 'G' : 'Gray' , 'B' : 'Black'}
print(b)    # {'R' : 'Red', 'G' : 'Gray' , 'B' : 'Black','Y' : 'Yellow' }
print(len(b)) # 4

{10: 'Sec'}
1
{'R': 'Red', 'G': 'Gray', 'B': 'Black', 'Y': 'Yellow'}
4

In [ ]:
#  Tricky  program
# Find output  (Home  work)
a = {True : 'Yes' , 1 : 'No' , 1.0 : 'May  be'}
print(a)    # {True: 'may be}
print(len(a))   #1

{True: 'May  be'}
1

In [ ]:
# Find  outputs
a = { [ ] : 25} # error
b = { ( ) : 25}
print(b)    # error
c = { { } : 25} # error
d = {'Ramesh' : [9948250500, 9848565090, 9440250404]}
print(d)    #{'Ramesh' : [9948250500, 9848565090, 9440250404]}
print(len(d))   # 1
e = {set() : 10.8}  # error

{'Ramesh': [9948250500, 9848565090, 9440250404]}
1

In [ ]:
# Find  outputs
a = {}
print(type(a))  # <class 'dict'>
print(len(a))   # 0
print(a)    #{}
b = dict()  
print(type(b))   # <class 'dict'>
print(len(b))   #0
print(b)    # {}

<class 'dict'>
0
{}
<class 'dict'>
0
{}

21/7/25

In [3]:
# How  to  print  dictionary  in  different  ways
a  =  {10 : 'Ramesh' ,  20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print('Dictionary  with  print  function')
print(a)    #How  to  print  dictionary  with  print()  function
print('Keys  of  dictionary')
print(a.keys())    #How  to  print  each  key  of  dict  'a'
print('Values  of  dictionary')
print(a.values())    #How  to  print  each  value  of  dict  'a'
print('All  the  tuples  of  dict_items   object')
print(a.items()) #(How  to  print  each  tuple  of  the  list  in  dict_items  object
print('Elements  of  each   tuple')
print(a.items())    #How  to  print  elements  of  each  tuple  in  the  list  of  dict_items  object
print('Keys  and  values  of  dictionary')
print(a)    #How  to  print  each  key  and  corresponding  value  in  dict  'a'

Dictionary  with  print  function
{10: 'Ramesh', 20: 'Kiran', 15: 'Amar', 18: 'Sita'}
Keys  of  dictionary
dict_keys([10, 20, 15, 18])
Values  of  dictionary
dict_values(['Ramesh', 'Kiran', 'Amar', 'Sita'])
All  the  tuples  of  dict_items   object
dict_items([(10, 'Ramesh'), (20, 'Kiran'), (15, 'Amar'), (18, 'Sita')])
Elements  of  each   tuple
dict_items([(10, 'Ramesh'), (20, 'Kiran'), (15, 'Amar'), (18, 'Sita')])
Keys  and  values  of  dictionary
{10: 'Ramesh', 20: 'Kiran', 15: 'Amar', 18: 'Sita'}

In [ ]:
#  Find  outputs (Home  work)
a = {
		print('Hyd') ,
		print('Sec') ,
		print('Cyb')
	}
print(type(a))	# <class set>
print(a)	# {None}
print(len(a))	#1

Hyd
Sec
Cyb
<class 'set'>
{None}
1

In [ ]:
#  Anonymous  object  demo  program
_ = 25
print(_)    # 25
print(type(_))  #<class int>
a , _ , c = 10 , 20 , 30
print(a)    # 10
print(_)    # 20
print(c)    # 30
for  _  in  range(5):
	print(_ , 'Hello')  # 0 Hello 1 Hello 2 Hello 3 Hello 4 Hello


'''
1) What  is   _   called ?   --->  Anonymous  object  (or) Nameless  object

2) How  many  nameless  objects  can  be  a  program ?  --->  Just  one  (or)  zero

3) What  happens  when  another  nameless  object  is  created ?  --->  Existing  nameless  object  gets  deleted

4) Can  there  be  multiple  nameless  objects  in  a  program ?  --->  No

5) _ = 10
    _ = 20
   What  happens  when  _ = 20  is  executed ?  --->  A  new  nameless  object  is  created  with  value  20  and
																				  old  nameless  object  with  10  is  lost
'''

25
<class 'int'>
10
20
30
0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

'\n1) What  is   _   called ?   --->  Anonymous  object  (or) Nameless  object\n\n2) How  many  nameless  objects  can  be  a  program ?  --->  Just  one  (or)  zero\n\n3) What  happens  when  another  nameless  object  is  created ?  --->  Existing  nameless  object  gets  deleted\n\n4) Can  there  be  multiple  nameless  objects  in  a  program ?  --->  No\n\n5) _ = 10\n    _ = 20\n   What  happens  when  _ = 20  is  executed ?  --->  A  new  nameless  object  is  created  with  value  20  and\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  old  nameless  object  with  10  is  lost\n'

In [ ]:
#  Find  outputs
a = 25
print(id(a))    # some 1000
a = 35
print(id(a))    # some 2000

140720153578680
140720153579000

In [ ]:
# Find  outputs (Home  work)
a = 25.7
print(id(a))    #may be 1000(diff)
print(a)    # 25.7
a = 35.6
print(id(a))    #may be2000(diff)
print(a)    # 35.6
b = True
print(id(b))    # may be 100076(diff)
b = False
print(id(b))    # may be 200045(diff)
c = None
print(id(c))    # may be 20088(diff)
c = None
print(id(c))    # same address

1956669700016
25.7
1956700068208
35.6
140720152582160
140720152582192
140720152582224
140720152582224

In [ ]:
#  Find  outputs  (Home  work)
a = 'Hyd'
print(id(a))    # may be 1200
#a[1] = 'e'  # Error
a = 'Sec'   
print(id(a))    # diff address 23456
b = (10 , 20 , 15 , 18)
print(id(b))        # 234567 diff address
#b[2] = 19   #error
b = (30 , 40 , 35 , 32)
print(id(b))    # diff address
c = range(5)
print(id(c))    # diff adress 2345698
#c[3] = 10   # error
c = range(5)
print(id(c))    # diff address

1956695768592
1956695583712
1956700354928
1956701247008
1956695496176
1956695767248

In [ ]:
# Find  outputs  (Home  work)
a = 25
b = 25
print(a  is  b) # True
c = 'Hyd'
d = 'Hyd'
print(c  is  d) # True
e = False
f = False
print(e  is  f) # True
g = range(10)
h = range(10)
print(g  is  h) # False

True
True
True
False

In [ ]:
#Find  outputs(Home  work)
a = [10 , 20 , 15 , 18]
b = [10 , 20 , 15 , 18]
print(a  is  b) # False
c =  {10 : 20, 30 : 40}
d =  {10 : 20, 30 : 40}
print(c  is  d) # False
e = (10 , 20 , 15 , 18)
f = (10 , 20 , 15 , 18)
print(e  is  f) # False
g = {10 , 20 , 15 , 18}
h = {10 , 20 , 15 , 18}
print(g  is  h) # False

False
False
False
False

In [ ]:
# Find outputs (Home work)
print(10 + 20)  # 30
print(10.8 + 20.6)  # 31.4
print(3 + 4j + 5 + 6j)  # 8+10j
print(True + False) # 1
print('Hyder' + 'abad') # Hyderabad
print('Sankar' + 'Dayal' + 'Sarma') # Sankar Dayal Sarma
print('10' + '20')  #1020
print([10 , 20 , 30] + [1 , 2 , 3]) # [10,20,30,1,2,3]
print((25 , 10.8 , 'Hyd') + (3 + 4j , True , None)) #(25 , 10.8 , 'Hyd', 3 + 4j , True , None)
print({10 , 20} + {30 , 40})    # Error second ope must be int
print({10 : 'Hyd'} + {20 : 'Sec'})  # Error
print(range(4) + range(5))  # error
print(10 + '20')    # Error
print([10 , 20 , 30] + 5)   # Error
print([10 , 20 , 30] + (40 , 50 , 60))  # Error

30
31.400000000000002
(8+10j)
1
Hyderabad
SankarDayalSarma
1020
[10, 20, 30, 1, 2, 3]
(25, 10.8, 'Hyd', (3+4j), True, None)

In [ ]:
# Find outputs (Home work)
print(25 * 3)   # 75
print(10.8 * 25.6)  # 276.48
print(True * False) # 0
print((3 + 4j) * (5 + 6j))  # -9+38j  ((a+bj)(c+dj)=(ac−bd)+(ad+bc)j)
print(3 + 4j * 5 + 6j)  #3+326j  ((a+bj)(c+dj)=(ac−bd)+(ad+bc)j)
print('25' * 3) # 252525
print(3 * '25') # 252525
print('Hyd' * 4)    # HydHydHydHyd
print([10 , 20 , 15] * 2)   #[10 , 20 , 15,10 , 20 , 15]
print((25, 10.8, 'Hyd', True) * 3)  #(25, 10.8, 'Hyd', True,25, 10.8, 'Hyd', True,25, 10.8, 'Hyd', True)
print([10 , 20 , 15] * 3.0) # error
print({10 , 20 , 15} * 2)   # error
print({10 : 20 , 30 : 40} * 2)  # error
print([10] * [20])  # error

75
276.48
0
(-9+38j)
(3+26j)
252525
252525
HydHydHydHyd
[10, 20, 15, 10, 20, 15]
(25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True, 25, 10.8, 'Hyd', True)

In [ ]:
#  /  operator  demo  program
print(9.0 / 2)  # 4.5
print(9 / 2.0)  # 4.5
print(9.0 / 2.0) # 4.5
print(9 / 2)  #  4.5
print(10.5 / 2) #5.25
print(10 / 3)   # 3.33
print(10 / 2)   # 5.0


'''
What  does  /  operator  do  ?  --->  Peforms  division   and  returns  float  quotient
'''

4.5
4.5
4.5
4.5
5.25
3.3333333333333335
5.0

'\nWhat  does  /  operator  do  ?  --->  Peforms  division   and  returns  float  quotient\n'

In [ ]:
#  //  operator  demo  program
print(9 // 2)  #   prev  integer  of (4.5) = 4
print(9.0 // 2) # 4.0
print(9 // 2.0) # 4.0
print(9.0 // 2.0)   # 4.0
print(10.5 // 2)    #5.0
print(10 // 3)  #3
print(10.0 // 3)  #    prev  integer  of  3.33 = 3.0
print(8.5 // 3) #2.0
print(18 // 4)  # 4
print(-18 // 4) # -5
print(-(18 // 4))   # -4



'''
//  operator
--------------
1) What  does  //  operator do ?  --->  Same  as  /  operator  but  returns  previous  integer  of  /  result

2) What  is  the  result  of  integer // integer ?  --->  Integer  quotient
    What  is  the  result  of  integer // float ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // integer ?  ---> Float  quotient  with  .0
    What  is  the  result  of  float // float ?  ---> Float  quotient  with  .0

3) What  is  the  result  of  integer / integer ?  ---> Float  quotient
    What  is  the  result  of  integer / float ?  ---> Float  quotient
    What  is  the  result  of  float / integer ?  ---> Float  quotient
    What  is  the  result  of  float / float ?  ---> Float  quotient

4) When  is  the  result  of  //  operator  integer ?  ---> When  both  the  operands  are  integers
    When  is  the  result  of   //  operator  float  with  .0 ?  ---> When  at  least  one  operand  is  float
'''

4
4.0
4.0
4.0
5.0
3
3.0
2.0
4
-5
-4

'\n//  operator\n--------------\n1) What  does  //  operator do ?  --->  Same  as  /  operator  but  returns  previous  integer  of  /  result\n\n2) What  is  the  result  of  integer // integer ?  --->  Integer  quotient\n    What  is  the  result  of  integer // float ?  ---> Float  quotient  with  .0\n    What  is  the  result  of  float // integer ?  ---> Float  quotient  with  .0\n    What  is  the  result  of  float // float ?  ---> Float  quotient  with  .0\n\n3) What  is  the  result  of  integer / integer ?  ---> Float  quotient\n    What  is  the  result  of  integer / float ?  ---> Float  quotient\n    What  is  the  result  of  float / integer ?  ---> Float  quotient\n    What  is  the  result  of  float / float ?  ---> Float  quotient\n\n4) When  is  the  result  of  //  operator  integer ?  ---> When  both  the  operands  are  integers\n    When  is  the  result  of   //  operator  float  with  .0 ?  ---> When  at  least  one  operand  is  float\n'

In [ ]:
# % operator demo program
print(9 % 5)    # 4
print(9.0 % 5)  #4.0
print(9 % 5.0)  # 4.0
print(9.0 % 5.0)    # 4.0
print(10.5 % 2)  #   0.5
print(8.9 % 3)  # 2.900


'''
%   operator
---------------
1) What  does  %  operator  do ?  ---> Performs  division  and  returns  remainder

2) When  is  the  result  of  %  operator  integer ?  ---> When  both  the  operands  are  integers
    When  is  the  result  of  %  operator  float ?  ---> When  at  least  one  operand  is  float
'''

4
4.0
4.0
4.0
0.5
2.9000000000000004

'\n%   operator\n---------------\n1) What  does  %  operator  do ?  ---> Performs  division  and  returns  remainder\n\n2) When  is  the  result  of  %  operator  integer ?  ---> When  both  the  operands  are  integers\n    When  is  the  result  of  %  operator  float ?  ---> When  at  least  one  operand  is  float\n'

In [ ]:
# Find outputs
print(7 / 0)    # error we cant do division by zero
print(7 // 0)   #error
print(7 % 0)    #error

In [ ]:
# ** operator demo program
print(3 ** 4)   # 81
print(10 ** -2) # 0.01
print(4 ** 3 ** 2)  #  (4 ** 9 ) 262144  
print(3 + 4 * 5 - 32 / 2 ** 3)  # 19.0




'''
**  operator
---------------
1) What  is  **  operator  called ?  --->  Exponential  operator

2) What  is  the  result  of  a ** b ?  ---> a ^ b

3) What  is  the  result  of  a ** b  ** c ?   --->  a ^ b ^ c

4) What  is  the  associativity  of  **  operator ?  ---> Right  to  left
    What  is  the  associativity  of  remaining  arithmetic  operators ?  ---> Left  to  right'''

81
0.01
262144
19.0

'\n**  operator\n---------------\n1) What  is  **  operator  called ?  --->  Exponential  operator\n\n2) What  is  the  result  of  a ** b ?  ---> a ^ b\n\n3) What  is  the  result  of  a ** b  ** c ?   --->  a ^ b ^ c\n\n4) What  is  the  associativity  of  **  operator ?  ---> Right  to  left\n    What  is  the  associativity  of  remaining  arithmetic  operators ?  ---> Left  to  right'

In [ ]:
#  Relational  operators  demo  program (Home  work)
print(9 >= 5)  #   True :  >  is  satisfied
print(9 >= 9)   #   True :  =  is  satisfied
print(9 >= 12)   #  False :  Both  are  not  satisfied
print(6 <= 8)   #True
print(6 <= 6)   # TRUE
print(6 <= 4)   # False
print(9 != 7)   # True
print(6 == 8)   # False
print(True  >  False)   #True
print(3 + 4j == 3 + 4j) # True
print(3 + 4j == 5 + 6j) # False
print(3 + 4j != 5 + 6j) # True
print(10 == 10.0)   # True
print(3 + 4j >  3 + 4j) # error


'''
1) Can  complex  numbers   be  compared ?   ---> Yes  with  ==  and  !=

2) When  can  complex  numbers   be  not  compared  ?  ---> Wiith  > , <  , >=  and  <=
'''

True
True
False
True
True
False
True
False
True
True
False
True
True

'\n1) Can  complex  numbers   be  compared ?   ---> Yes  with  ==  and  !=\n\n2) When  can  complex  numbers   be  not  compared  ?  ---> Wiith  > , <  , >=  and  <=\n'

In [ ]:
#  Find  outputs  (Home  work)
print('Rama'   >  'Rajesh')  #   True :  'm' > 'j'
print('Rama'  <  'Sita') #  True : 'R' < 'S'
print('Hyd'  ==  'Hyd')  # True
print('Rama'  <=   'Ramana')  # True ''<='n'
print('Rama  Rao'  >=  'Rama')     # True    space>=''
print('Hyd'  != 'Sec')   # True
print('HYD'  <   'hyd')  # True


'''
1) Can  strings  be  compared  with  > ,  < , == ,  >= , <=  and  != ?  --->  Yes  only  in  python  but  not  in  other  languages

2) What  are  compared  internally  when  strings  are  compared ? --->  1st  non-matching  characters

3) Are  characters  compared  (or)  their  unicode  values ?  --->  Unicode  values

4) How  many  unicode  values  exist ?  ---> 512

5) What  is  the  range  of  unicode  values ?  ---> 0  to  511

6) What  are  the  unicode  values  of  'A'  to  'Z'  ?  ---> 65  to  90
     What  are  the  unicode  values  of  'a'  to   'z'  ?  --->  97  to  122
     What  are  the  unicode  values  of   '0'  to  '9' ?  ---> 48  to  57
     What  is  the  unicode  value  of   '$' ?  --->  36
     What  is  the  unicode  value  of  space ?  ---> 32

7) What  is  another  name  of  unicode ?  --->  Extended  Ascii (American  standard  code  for  information  and  interchange)
'''

True
True
True
True
True
True
True

"\n1) Can  strings  be  compared  with  > ,  < , == ,  >= , <=  and  != ?  --->  Yes  only  in  python  but  not  in  other  languages\n\n2) What  are  compared  internally  when  strings  are  compared ? --->  1st  non-matching  characters\n\n3) Are  characters  compared  (or)  their  unicode  values ?  --->  Unicode  values\n\n4) How  many  unicode  values  exist ?  ---> 512\n\n5) What  is  the  range  of  unicode  values ?  ---> 0  to  511\n\n6) What  are  the  unicode  values  of  'A'  to  'Z'  ?  ---> 65  to  90\n     What  are  the  unicode  values  of  'a'  to   'z'  ?  --->  97  to  122\n     What  are  the  unicode  values  of   '0'  to  '9' ?  ---> 48  to  57\n     What  is  the  unicode  value  of   '$' ?  --->  36\n     What  is  the  unicode  value  of  space ?  ---> 32\n\n7) What  is  another  name  of  unicode ?  --->  Extended  Ascii (American  standard  code  for  information  and  interchange)\n"

In [ ]:
# Chaining  relational  opeartors  (Home work)
print(10 < 20 < 30)  #   True
print(10 >= 20 < 30)  #   False : 10  is  not  >= 20
print(10 < 20 > 30) # False
print(1 < 2 < 3 < 4)    # True
print(1 < 2 > 3 > 1)    # False
print(4 > 3 >= 3 > 2)   # True

True
False
False
True
False
True

In [ ]:
#  or  operator  demo program
print(True  or  False) #  True
print(False  or  True) #   True
print(True  or  True) #  True
print(False  or   False)   #  False
print(10  or  20)#  10
print(0   or  20)  #  20
print(-25  or  0)   # -25
print(''  or  35)   # 35  bcz empty string
print(6j  or  'Hyd')    #6j bcz non int true
print(0.0  or  3 + 4j)  # 3+4j bcz 0.0 false
print('Hyd'   or   10.8)    # 'Hyd' bcz non empty string


'''
or  operator
--------------
1) When  is  the  result  of  or  operator  True ?  ---> When  at  least  one  operand  is  True
    When  is  the  result  of  or  operator  False ?  ---> When  both  the  operands  are  False

2) What  is  the  result  of  op1  or  op2  when  op1  is  False ?  ---> op2
    What  is  the  result  of  op1  or  op2  when  op1  is  True ?  ---> op1

3) and ,  or  operators  are  quite  opposite
'''

True
True
True
False
10
20
-25
35
6j
(3+4j)
Hyd

'\nor  operator\n--------------\n1) When  is  the  result  of  or  operator  True ?  ---> When  at  least  one  operand  is  True\n    When  is  the  result  of  or  operator  False ?  ---> When  both  the  operands  are  False\n\n2) What  is  the  result  of  op1  or  op2  when  op1  is  False ?  ---> op2\n    What  is  the  result  of  op1  or  op2  when  op1  is  True ?  ---> op1\n\n3) and ,  or  operators  are  quite  opposite\n'

In [ ]:
# not  operator  demo  program
print(not  True) #   False
print(not  False) #  True
print(not  25)  # False
print(not  0)   # True
print(not  'Hyd')   # False
print(not  '')  # True
print(not  -10) # False
print(not  not  'Hyd')  # True


'''
not  operator
----------------
1) What  does  not  operator  do ?  ---> Complement  operation

2) Is  not  a  unary  operator  ?  ---> Yes  due  to  single  operand
    What  about  and ,  or ? ---> Binary  operators  due  to  two  operands

3) What  is  the  associativity  of  unary  operators ?  --->  Right  to  Left
    What  is  the  associativity  of  binary  operators ?  --->  Left  to  Right  except  for  **
'''

False
True
False
True
False
True
False
True

'\nnot  operator\n----------------\n1) What  does  not  operator  do ?  ---> Complement  operation\n\n2) Is  not  a  unary  operator  ?  ---> Yes  due  to  single  operand\n    What  about  and ,  or ? ---> Binary  operators  due  to  two  operands\n\n3) What  is  the  associativity  of  unary  operators ?  --->  Right  to  Left\n    What  is  the  associativity  of  binary  operators ?  --->  Left  to  Right  except  for  **\n'

In [ ]:
#  Find   outputs (Home work)
i = 10
i = not  i > 14
print(i)    #True
print(not(6 < 4  or  9 >= 5  and  6 != 6))  # True

True
True

22/07/2025

In [ ]:
#  Find  outputs
print({10 , 20}  |  {30 , 20})  # {10,20,30,40}
print({10 : 'Hyd' , 20 : 'Sec'} |  {30 : 'Cyb' , 20 : 'Vja'})   # {10 : 'Hyd' ,  20 : 'Vja', 30 : 'Cyb' }
print(range(4) | range(5))  # Error
print([10 , 20]  |  [30 , 20])  # error

{10, 20, 30}
{10: 'Hyd', 20: 'Vja', 30: 'Cyb'}

In [ ]:
#  Assignment  operators  demo  program  (Home  work)
a = 25
print(a)    # 25
b =  a
print(b)    # 25
print(a  is  b) # True
x = 4
y = 5
z = x + y * 6  
print(z)    #34
25 = a  # error
a + b = x + y   # error

25
25
True
34

In [ ]:
# Find outputs (Home work)
a = b = c = 25
print(id(a))    # may be some 23456
print(id(b))    # same address
print(id(c))    # same address
print(a , b , c)    # 25 25 25

140718117244088
140718117244088
140718117244088
25 25 25

In [7]:
# Multiple  Assignment (Home work)
x , y , z = 25 , 10.8 , 'Hyd'
print(x)    # 25
print(y)    # 10.8
print(z)    # Hyd

25
10.8
Hyd

In [ ]:
# Find outputs (Home work)
a , b , c = 3 , 4 , 5
a *= b + c  # a=a*(b+c) 3*9
print(a)    #27

27

In [ ]:
# Find outputs (Home work)
a = 20
a %= 3 + 2 * 4  # a=20%(3+2*4)-->20%11
print(a)    # 9

9

In [10]:
# Find outputs (Home work)
a = 3
a **= 4 # 3**4
print(a)    # 81

81

In [11]:
# Identity operators demo program
a = 25
b = 25
print(a  is  b) # True
print(a  is  not  b)    # False
print(a == b)   # True

True
False
True

In [12]:
# Find outputs (Home work)
a = 25
b = 25.0
print(a  is  b) # Flase
print(a  is  not  b)    # True
print(a == b)   # True

False
True
True

In [ ]:
# Find outputs (Home work)
a = 'Hyd'
b = 'Hyd'
print(a  is  b) # True
print(a  is  not  b)    # False
print(a == b)   # True
print() # <space>
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 3 , 4]
print(x is y)   # False
print(x  is  not  y)    # True
print(x == y)   # True
print()     # <space>
m = (1 , 2 , 3 , 4)
n = (1 , 2 , 3 , 4)
print(m  is  n) # False
print(m  is  not  n)    # True
print(m == n)   # True
print(x == m)   # False

True
False
True

False
True
True

False
True
True
False

In [ ]:
# Membership operators demo program (Home work)
list = [10 , 20 , 15 , 12 , 18]
print(15 in list)   # True
print(19 in list)   # False
print(14 not in list)   # True
print(15 not in list)   # False
s = 'Hyd is green city'
print( 'is' in s)   # True
print('was' in s)   # False
print('g' in s) # True
print('z' in s) # False
print(' ' in s) # True
print('gre' in s)   # True
print('yd i' in s)  # True
print('' in s)  # True
print('' not in s)  # False

True
False
True
False
True
False
True
False
True
True
True
True
False

In [ ]:
# Find outputs (Home work)
x = [1 , 2 , 3 , 4]
y = [1 , 2 , 4 , 3]
print(x == y)   # False
a = (4 , 1 , 3 , 2)
b = (4 , 2 , 3 , 1)
print(a == b)   # False
p = {1 , 2 , 3 , 4}
q = {4 , 1 , 3 , 2}
print(p == q)   # True
m = range(5)
n = range(5)
print(m == n)   # True

False
False
True
True

In [ ]:
# Find outputs (Home work)
a = [10,20,30]
b = (10,20,30)
print(a  is  b) # False
print(a  ==  b) # False

False
False

23/07/25

In [ ]:
#  ++  and  --  operators  demo  program
a = 25
print(++a)  #  +(+a) = +a  =  25
print(a++)   #  (a+)+  =  a+ =  25+  throws   error
print(a++1)  #  a + (+1)  =  a +  1 = 25 + 1  = 26
print(--a)  #-(-a) = +a=25
print(a--)  # a-(-) = a+ = 25+ Error
print(a--1) # a-(-1) = a+1 =25+1= 26
print(-a)   # -25
print(+-a)  # +(-a)= -a = -25
print(-+a)  # -(+a)= -a = -25

25
26
25
26
-25
-25
-25

In [ ]:
#  Semicolon  demo  program
print('One');   # One
print('Two');   # Two
print('Three'); # Three
print('Hyd')  ;   print('Sec')  ;  print('Cyb')
# Hyd
# Sec
# Cyb

One
Two
Three
Hyd
Sec
Cyb

In [ ]:
#  floor()  and  ceil()  functions  demo  program
import  math
print(math . floor(10.8))  #10
print(math . ceil(10.8)) #  11
print(math . floor(25.0))   # 25
print(math . ceil(25.0))    # 25
print(math . floor(-3.5))   # -4
print(math . ceil(-3.5))    # -3
print(math . floor(-9.0))   # -9
print(math . ceil(-9.0))    # -9
print(math . floor(25.1))   # 25
print(math . ceil(25.1))    #26
print(floor(3.5))   # Error bcz we r not using math module and it search the floor func in current program/module
print(ceil(3.5))    # Error 


'''
1) What  does  floor(x)  do ?  --->  Returns  nearest  previous  integer  of  'x'

2) What  does  ceil(x)  do ?  --->  Returns  nearest  next  integer  of  'x'
'''

10
11
25
25
-4
-3
-9
-9
25
26

"\n1) What  does  floor(x)  do ?  --->  Returns  nearest  previous  integer  of  'x'\n\n2) What  does  ceil(x)  do ?  --->  Returns  nearest  next  integer  of  'x'\n"

In [ ]:
# gcd()  function  demo  program
import  math
print(math . gcd(12 , 15)) #    3
print(math . gcd(12 , 18))  #  6
print(math . gcd(4 , 7)) #   1
print(math . gcd(7 , 7))    # 7
print(math . gcd(-18 , -27))  # 9  
print(math . gcd(-4 , 6))   # 2
print(math . gcd(0 , 7))    # 7
print(math . gcd(3 , 0))    # 3
print(math . gcd(0 , 0))    # 0
print(gcd(5 , 15))  # error

3
6
1
7
9
2
7
3
0

In [6]:
#  abs()  function  demo  program
from  builtins  import  abs
print(abs(-35.8))   # 35.8
print(abs(-27)) # 27
print(abs(29.5))    # 29.5
print(abs(32))  # 32
import  builtins
print(builtins . abs(-25))  #25

35.8
27
29.5
32
25

In [7]:
#  max()  and  min()   functions  demo  program
from  builtins  import   max , min
print(max(10.8 , 20.6)) # 20.6
print(min(10.8 , 20.6 , 5.9 , 12.3))    # 5.9
print(max(25 , 10.8))   # 25
import  builtins
print(builtins . max(10 , 20 , 30)) # 30
print(builtins . min(10 , 20 , 15 , 5 , 12))    # 5

20.6
5.9
25
30
5

In [8]:
# pow()  function  demo  program
from  builtins  import  pow
print(pow(10 , -2)) # 0.01
print(pow(4 , pow(3 , 2)))  #4^3^2
import  builtins
print(builtins . pow(2 , 3))    # 2^3 = 8
print(builtins . pow(-2 , -3))  # -2^-3

0.01
262144
8
-0.125

In [ ]:
# Find  outputs
from keyword import kwlist #How  to  import   kw  list
print(kwlist) #How  to  print  kwlist
print(len(kwlist)) #How  to  print  number  of  keywords
print(type(kwlist)) #How  to  print  type  of kwlist
print(keyword . kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35
<class 'list'>

In [ ]:
#  Find  outputs  (Home  work)
import keyword #How  to  import   keyword  module
print(keyword.kwlist) #How  to  print  kwlist
print(len(keyword.kwlist)) #How  to  print  number  of  keywords
print(type(keyword . kwlist)) #How  to  print  type  of kwlist
print(kwlist)   # error

24/07/25

In [ ]:
# eval()  function  demo  program
print(eval('25'))   # 25
print(eval('10.8')) # 10.8
print(eval('False'))    # False
print(eval('3+4j')) # 3+4j
print(eval('Hyd'))  # Error
print(eval("    'Hyd'   ")) # Hyd
print(eval('3 + 4 * 5'))    # 23
print(eval('[10 , 20 , 15 , 18]'))  # [10 , 20 , 15 , 18]
print(eval('{10,20,15,18,20,12,18}'))   # {10,20,15,18,12}
print(eval('(10 , 20 , 30)'))   # (10 , 20 , 30)
print(eval("{10 : 'Hyd' , 10 : 'Sec'}"))    #{10:"Sec"}
print(eval(4 + 5))  # error

25
10.8
False
(3+4j)
Hyd
23
[10, 20, 15, 18]
{18, 20, 10, 12, 15}
(10, 20, 30)
{10: 'Sec'}

In [ ]:
#  Tricky  program
# Find  outputs  (Home  work)
print(eval("    'hyd'   ")) # hyd
hyd = 'Sec'
print(eval('hyd'))  # Sec
sec = '25'
print(eval('sec'))  # 25
print(eval(sec))    # 25
cyb = 10.8
print(eval('cyb'))  # 10.8
print(eval(cyb))    # Error

hyd
Sec
25
25
10.8

In [ ]:
#  Tricky  program
#  Find  output  (Home  work)
print(eval('print("Hyd")')) # Hyd  None

Hyd
None

In [ ]:
#  Find  outputs  (Home  work)
print(bool('False'))    # True
print(eval('False'))    # False
print(bool('')) # False
print(eval('  ""  '))   # empty
print(eval(''))    # Error
print(eval('  " "   ')) # empty
print(eval(' '))   # Error

True
False
False

In [ ]:
# What  is  the  advantage  of  eval(input()) ?
x = eval(input('Enter  any  input  :  '))   # what input the user enters it will give that output
print(type(x))  # if i/p is 25 i.e <class int>
print(x)    # 25

<class 'int'>
25

In [ ]:
# What  is  a  better  approach  to  read  string  input ?
a = input('Enter  any  string  :  ')
print(len(a))   # no.of characters will be printed
print(a)    # string of object a will be printed 
b = eval(input('Enter   any  string  : '))
print(len(b))   # no.of characters will be printed (if input is string)
print(b)     # string of object a will be printed

In [ ]:
# sep  argument  demo  program  (Home  work)
a , b , c = 25 , 10.8 , 'Hyd'
print(a , b , c , sep = ',')   #   25 , 10.8 , Hyd
print(a , b , c , sep = '\t')   # 25    10.8    Hyd
print(a , b , c , sep = '---')  # 25 --- 10.8 --- Hyd
print(a , b , c , sep = '\n')   # 25 <next line> 10.8 <next line> Hyd
print(a , b , c)    # 25 10.8 Hyd
print(a , b , c , separator = ':')  #   Error due to seperator

25,10.8,Hyd
25	10.8	Hyd
25---10.8---Hyd
25
10.8
Hyd
25 10.8 Hyd

In [ ]:
# Find  outputs  (Home  work)
a , b , c = 25 , 10.8 , 'Hyd'
print(a , b , c , end = '---')  #  25 --- 10.8 --- Hyd
print(a , b , c , sep = ',,,')  #   25 ,,, 10.8 ,,, Hyd
print(a , b , c , sep = ':::' , end = '\t\t\t') #25:::10.8:::Hyd	
print(a , b , c)    # 25 10.8 Hyd ( it will be printed in the above statemnet bcz of tab)

25 10.8 Hyd---25,,,10.8,,,Hyd
25:::10.8:::Hyd			25 10.8 Hyd

In [9]:
# Find outputs  (Home  work)
print('Hyd')    # Hyd
print() # empty
print('Sec')    # Sec
print() # empty
print('Cyb')    # Cyb

Hyd

Sec

Cyb

In [ ]:
# Find  outputs  (Home  work)
l = [10 , 20 , 30 , 40]
t = (10 , 20 , 30 , 40)
s = {10 , 20 , 30 , 40}
print(l , t , s)    # [10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [ ]:
#  Find  outputs (Home  work)
a = 25
b = '%f'  %a    
print(b)    # 25.000000
print(type(b))  # <class 'str'>
x = 10.8
y = '%d'  %x
print(y)    # 10
print(type(y))  #< class 'str'>
m = [10 , 20 , 15 , 18]
n = '%s'  %m
print(n)    # [10 , 20 , 15 , 18]
print(type(n))  # <class 'str'>

25.000000
<class 'str'>
10
<class 'str'>
[10, 20, 15, 18]
<class 'str'>

In [ ]:
# Find  Outputs  (Home  work)
a = 10.9274
print('%8.2f'  %a)  #  <3  spaces>10.93
print('%9.1f'  %a)  # <5 spaces>10.9
print('%10.3f'  %a) # <4 spaces>10.927
print('%.2f'  %a)   #10.93
print('%.6f'  %a)   # 10.927400
print('%f'  %a) # 10.927400

   10.93
     10.9
    10.927
10.93
10.927400
10.927400

In [ ]:
# Find  outputs (Home  work)
a = 'Hyd'
print('%7s'  %a)   #  <4  spaces>Hyd
print('%-7s'  %a)  #  Hyd<4   spaces>
print('%2s'  %a)   #  Hyd  and  ignores  smaller width
print('%s'  %a) #  Hyd
print('%s' , a) # %s Hyd
print('%s'  a)  # Error due to format syntax or comma
print('%s' , %a)    # error due to comma
print(a)    # Hyd

    Hyd
Hyd
Hyd
Hyd
%s Hyd
Hyd

In [ ]:
# Find  outputs  (Home  work)
a = [10 , 20 , 30 , 40]
print('%s'  %a)     # [10 , 20 , 30 , 40]
print('%s' , a) # %s [10 , 20 , 30 , 40]
print('%s'  a)  # Error due to not provided comma or format syntax
print('%s' , %a)    # Eror due to comma
print('%l'  %a) # Error
print(a)    # [10 , 20 , 30 , 40]

[10, 20, 30, 40]
%s [10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
#Find outputs  (Home  work)
a = 25
b = 10.9274
c = 'Hyd'
print('%d    %f    %s'  %(a , b , c))   # 25    10.927400   Hyd
print('%i    %g    %s'    %(a , b , c)) # 25    10.9274     Hyd
print('%s    %s    %s'  %(a , b , c))   # 25    10.9274     Hyd
print('%d    %g    %s'  , a , b , c)    # %d    %g  %s 25 10.9274 Hyd
print('%d    %g      %s'   a , b , c)   #Error Due forget comma
print('%d    %g    %s'  ,  %(a , b , c))   # Error due to comma
print('%d    %g    %s'    %a%b%c)   # error
print('%d'    %a  ,  '%f'     %b  ,  '%s'   %c) # 25    10.927400   Hyd

25    10.927400    Hyd
25    10.9274    Hyd
25    10.9274    Hyd
%d    %g    %s 25 10.9274 Hyd
25 10.927400 Hyd

26/07/25

In [ ]:
#  Find  outputs  (Home  work)
x = 25
y = F'{x}'
print(y)    # 25
print(type(y))  # <class str>
x = 10.8
y = F'{x}'  
print(y)    # 10.8
print(type(y))  # <class str>
x = [10,20,30,40]
y = F'{x}'
print(y)    #[10,20,30,40]
print(type(y))   # <class str>

25
<class 'str'>
10.8
<class 'str'>
[10, 20, 30, 40]
<class 'str'>

In [ ]:
#Find  outputs  (Home  work)
a ,  b , c = 25 , 10.8 , 'Hyd'
print(F'{a}  \t   {b}   \t  {c}')   # 25    10.8      Hyd
print(F'a = {a}  \t  b  =  {b}  \t  c  =  {c}') #a = 25     b = 10.8    c = Hyd
print(F'{a=}  \t   {b=}   \t  {c=}')    #a=25     b=10.8    c=Hyd
print(F'{a:}  \t   {b:}   \t  {c:}')    # 25    10.8    Hyd
print('a  =  {a}  \t  b  =  {b}  \t  c  =   {c}')   # a  =  {a}    b  =  {b}    c  =   {c}
print(F'a  =  a  \t  b  =  b  \t  c  =  c') # a  =  a     b  =  b      c  =  c
print(F'{x =}  \t   {y =}   \t  {z =}') # Error

25  	   10.8   	  Hyd
a = 25  	  b  =  10.8  	  c  =  Hyd
a=25  	   b=10.8   	  c='Hyd'
25  	   10.8   	  Hyd
a  =  {a}  	  b  =  {b}  	  c  =   {c}
a  =  a  	  b  =  b  	  c  =  c

In [ ]:
#  Find  outputs  (Home  work)
x = 25
print(F'{x}')  #  25
print(F'{{x}}')   #  {x}
print(F'{{{x}}}')  #   {25}
print(F'{{{{x}}}}') #   {{x}}
print(F'{{{{{x}}}}}')   # {{25}}
print(F'{{{{{{x}}}}}}') # {{{x}}}
print(F'{{{{{{{x}}}}}}}')   # {{{25}}}
print(F'{{{{{{{{x}}}}}}}}') # {{{{x}}}}



'''
1) What  is  printed  when  'x'  is  in  even  number  of  braces ?  --->  'x'  itself

2) What  is  printed  when  'x'  is  in  odd  number  of  braces ?  --->  Value   of  'x'  in  the  form  of  string

3) How  many  braces  are  printed  in  the  output ?  --->  Number  of  braces  //  2
'''

25
{x}
{25}
{{x}}
{{25}}
{{{x}}}
{{{25}}}
{{{{x}}}}

"\n1) What  is  printed  when  'x'  is  in  even  number  of  braces ?  --->  'x'  itself\n\n2) What  is  printed  when  'x'  is  in  odd  number  of  braces ?  --->  Value   of  'x'  in  the  form  of  string\n\n3) How  many  braces  are  printed  in  the  output ?  --->  Number  of  braces  //  2\n"

In [12]:
'''
Write  a  program  to  determine  sum , difference , product , quotient , largest  and  smallest  of  two  numbers.
Also  find  remainder,  sqrt  of  first  input , power, gcd  and  factorial  of  first  input

Hint:  Use  F  string  to  print  results

Let  inputs  be  10  and  7,
What  is  the  sum ?  --->  17
What  is  the  difference ?  --->  3
What  is  the  product ?  ---> 70
What  is  the  quotient ?  --->  1.42
What  is  the  remainder ?  --->  3
What  is  the  largest  number ?  ---> 10
What  is  the  smallest  number ?  --->  7
What  is  the  sqrt  of  1st  input ?  --->  3.16
What  is  the  result  of  power?  --->  10000000
What  is  the  gcd  of  2  numbers ?  ---> 1
What  is  the  factorial   of  1st  input ?  ---> 10!
'''
''' 
Enter 1st  integer  number :  10
Enter 2nd  integer  number :  7
10 + 7 = 17
10 - 7 = 3
10 * 7 = 70
10 / 7 = 1.4285714285714286
10 % 7 = 3
max(10 , 7) = 10
min(10 , 7) = 7
10 ^ 7 = 10000000
sqrt(10) = 3.1622776601683795
gcd(10 , 7) = 1
fact(10) = 3628800
'''
import math
a=int(input('Enter 1st integer number: '))
b=int(input('Enter 2nd integer number: '))
print(f'{a} + {b} =', a+b)
print(f'{a} - {b} =', a-b)
print(f'{a} * {b} =', a*b)
print(f'{a} / {b} =', a/b)
print(f'{a} % {b} =', a%b)
print(f'max({a} , {b}) = ', max(a,b))
print(f'min({a} , {b}) =', min(a,b))
print(f'{a}^{b}=',a**b)
print(f'sqrt({a}) =', math.sqrt(a))
print(f'gcd({a},{b})=',math.gcd(a,b))
print(f'Fact({a}) =', math.factorial(a))

10 + 7 = 17
10 - 7 = 3
10 * 7 = 70
10 / 7 = 1.4285714285714286
10 % 7 = 3
max(10 , 7) =  10
min(10 , 7) = 7
10^7= 10000000
sqrt(10) = 3.1622776601683795
gcd(10,7)= 1
Fact(10) = 3628800

In [ ]:
'''
Write  a  program  to  swap  values  of  any  two  objects  in  a  single  statement  without  using  3rd  object

Let  'x'  be  25  and  'y'  be   'Hyd'
What  are  'x'  and  'y'  after  swap ?  ---> Hyd  and  25

Hint:  Swap  references  but  not  objects

Enter  1st  input :  25
Enter  2nd  input : Hyd
Before  swap :  x='25'            y='Hyd'
After  swap :  x='Hyd'            y='25'
'''
x=eval(input('Enter 1st input: '))
y=eval(input('Enter 2nd input: '))
print(f"Before swap: x='{x}'    y='{y}'")
print(f"After swap: x='{y}'   y='{x}'")

Before swap: x='25'  y='Hyd'
After swap: x='Hyd' y='25'

In [21]:
'''
Write  a  program  to  determine  largest  of  three  inputs  without  using  max()  function

1) What  is  the  output  if  inputs  are  10 , 20  and  15 ?   --->  20

2) What  is  the  output  if  inputs  are  35.8 , 42.8  and  27.9 ?   --->  42.8

3) What  is  the  output  if  inputs  are  'RAMA'  , 'RAKESH'  and  'RAJESH' ?   --->  'RAMA'

4) What  is   the  output  if  inputs  are  [10 , 20 , 15 , 18]  , [10 , 20 , 32, 19]  and  [10 , 20 , 25, 17] ?  ---> [10 , 20 , 32 , 19]

5) Inputs  can  be  integers , floats , strings  and  so  on

6) Use  nested  ternary  operator

Enter 1st input : 10
Enter 2nd input : 20
Enter 3rd input : 15.8
Largest  Input  :  20
'''

a=eval(input('Enter 1st input: '))
b=eval(input('Enter 2nd input: '))
c=eval(input("Enter 3rd input: "))
largest=a if a>b and a>c else (b if b>c else c)
print("Largest Input:", largest)

Largest Input: rama

In [ ]:
'''
Write  a  program  to  print   '>'  if  1st  input  >  2nd  input,
                                               '<'  if  1st  input  <  2nd  input  and
                                                                                                                                           '='  if  inputs  are  same

1) What  is  the  result  if  inputs  are  10  and  20 ?  ---> <

2) What  is  the  result  if  inputs  are  70  and  60 ?  --->  >

3) What  is  the  result  if  inputs  are  25  and  25 ?  ---> =

4) Inputs  can  be  integers , floats , strings  and  so  on

5) Use  ternary  operator: value_if_true if condition else value_if_false


Enter 1st input : 10
Enter 2nd input : 20
Result :   <
'''
a=eval(input('Enter 1st input: '))
b=eval(input('Enter 2nd input: '))
result= '>' if a>b else '<'
print("Result: " ,result)

Result:  >

In [29]:
'''
Write  a  program  to  print  1  if  input  is  +ve  ,  -1    if  input  is  -ve  and  0  if  input  is  0

1) What  is  the  result  if  input  is  -25 ?  --->  -1

2) What  is  the  result  if  input  is  75 ?  --->  1

3) What  is  the  result  if  input  is  0 ?  --->  0

4) Use  nested  ternary  operator

Enter any number : -25
Result :  -1
'''
a=int(input('Enter any number'))
result=1 if a>0 else(-1 if a<0 else 0) 
print("Result: ", result)

Result:  1

In [ ]:
'''
Write  a  program  to  test  input  is  even  number  or  odd  number

1) What  is  an  even  number  ?  --->  Divisible  by  2

2) What  is  an  odd  number  ?  --->  Not  divisible  by  2

3) Use  ternary  operator
Enter  any  +ve  integer : 45
Odd  number
'''
a=int(input("Enter any +ve integer "))
result='Odd Number' if a%2==1 else 'Even Number'
print(result)

Odd Number

In [ ]:
'''
(Home  work)
Write  a  program  to  determine  area  and  perimeter  of  rectangle

1) What  are  the  inputs ?  ---> length  and   breadth

2) What  are  the  outputs  ?  --->  area  and  perimeter

3) What  is  the  area  of  rectangle  ?  --->  length * breadth

4) What  is  the  perimeter  of  rectangle ?  --->  2 * (length + breadth)
'''
a=int(input('Enter Length'))
b=int(input("Enter Breadth"))
print('Area of Rectangle=', a*b)
print('Perimeter of Rectangle=',2*(a+b))

Area of Rectangle= 10
Perimeter of Rectangle= 14

In [36]:
'''
(Home  work)
Write  a  program  to  determine  volume  of  a  sphere

1) What  is  the  input ?  --->  radius

2) What  is  the  output ?  --->  volume

3) What  is  the  volume  of  sphere  ?  --->  4 / 3  * pi *  r ^ 3
'''
r=int(input('Enter radius'))
output=4 / 3  * 3.14159 *  r ** 3
print('Volume of Shpere=',output)

Volume of Shpere= 4188.786666666666

In [37]:
'''
(Home  work)
Write  a  program  to  determine  simple  interest  and  compound  interest

1) What  are  the  inputs  ?  --->  principle , time  and   rate  of  interest

2) What  are  the  outputs ? --->  Simple  interest   and   compound  interest

3) What  is  simple  interest formula ?  ---> ptr / 100

4) What  is  compound  interest formula ?  --->  p * (1  +  r  /  100) ^  t  -  p
'''
p=float(input("Enter Principal amount: "))
t=float(input("Enter Time in years: "))
r=float(input("Enter Rate of Interest per annum: "))
simple_interest=(p*t*r)/100
compound_interest=p * (1  +  r  /  100) **  t  -  p
print("Simple Interest=", simple_interest)
print("Compound Interest=",compound_interest)

Simple Interest= 10.0
Compound Interest= 10.25

In [38]:
'''
(Home  work)
Write  a  program to swap values  of two objects using  3rd   object

Let  x = 10  and  y = 25
What  are  the  values  of  x  and  y  after  swap ?  --->  x = 25  and   y = 10
'''
x=int(input('Enter number'))
y=int(input('Enter number'))
temp=x
x=y
y=temp
print("After swap:x=",x, "y=",y)

After swap:x= 25 y= 10

In [41]:
'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  addition  and  two  subtractions

x = 25
y =  10
'''
x=int(input('Enter number:'))
y=int(input('Enter number:'))
x=x+y
y=x-y
x=x-y
print('x=',x , 'y=',y)

x= 10 y= 25

In [43]:
'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  multiplication  and  two  divisions

x =  -200
y =  100
'''
x=int(input('Enter number:'))
y=int(input('Enter number:'))
x=x*y
y=x/y
x=x/y
print('x=',x , 'y=',y)

x= 100.0 y= -200.0

28/07/25

In [ ]:
'''
Write  a  program  to  add ,  subtract , multiply  and  divide  two  complex  numbers

First  complex  number   --->  3 + 4j
2nd   complex  number   --->  5 + 6j
What  is  the  sum ? ---> (3 + 4j) + (5 + 6j) = 8 + 10j
What  is  the  difference ?  ---> (3 + 4j) - (5 + 6j) =  -2 - 2j
What  is  the  product ?  ---> (3 + 4j) * (5 + 6j) =  15 + 18j + 20j - 24 =  -9 + 38j


What  is  the  division ?  ---> (3 + 4j) / (5 + 6j) = (3 + 4j) * (5 - 6j) / (5 + 6j) * (5 -6j)
                                                                         =   (15 - 18j + 20j + 24) / (25 + 36)
Enter first complex number : 3+4j
Enter second complex number: 5+6j
Sum :  (8+10j)
Difference :  (-2-2j)
Product:  (-9+38j)
Division :  (0.6393442622950819+0.03278688524590165j)																	 = 39 / 61 + 2j / 61											   
'''
a=complex(input('Enter first complex number:'))
b=complex(input('Enter second complex number:'))
print(f'Sum:',a+b)
print(f'Difference:',a-b)
print(f'Product:',a*b)
print(f'Division:',a/b)

In [ ]:
# Identify  error
else:
		print('else  suite')
print('Outside')# Syntax Error because there is no if condition

In [ ]:
# Identify  error
if  9 > 12:
	print('Hyd')
else
	print('Sec')# semicolon missed for else

In [ ]:
# Identify  error
if  9 > 5
	print('Hello')
print('Bye')# semicolon missed after if condition

In [ ]:
# Identify  error
if  (10,20,15):
print('Hyd')
else:
print('Sec') # indentation error

In [ ]:
# Identify  error
if  ():
			print('Hyd')
	else:
					print('Sec')
print('Bye') # if and else should be in same column

In [ ]:
# Identify  error
if  { }:
{
	print('One')
	print('Two')
	print('Three')
}
else:
{
	print('Four')
	print('Five')
	print('Six')
}
print('Bye') # braces are used for code block

In [ ]:
# Identify  error
if  ():
	print('One')
	print('Two')
	print('Three')
else:
if  []:
	print('Four')
	print('Five')
	print('Six')
else:
if  {}:
	print('Seven')
	print('Eight')
	print('Nine')
else:
	print('Hyd')
	print('Sec')
	print('Cyb')
print('Bye') # when else and if are used the code will shift right side with indentation

In [ ]:
# Write  a  program  to  determine  a  number  is  even  or  odd  with   if  statement
''' # Write  a  program  to  determine  a  number  is  even  or  odd  with   if  statement '''
a=int(input('Enter an integer number:'))
if(a%2==0):
    print('Even number')
else:
    print('Odd number')

In [ ]:
# Find outputs  (Home  work)
if():
        print('Hyd')
        print('Sec')
        print('Cyb')
else:
        print('One')
        print('Two')
        print('Three')
print('Bye')
#One
#Two
#Three
#Bye

One
Two
Three
Bye

In [ ]:
# Find  outputs  (Home  work)
if{10 : 20 , 30 : 40}:
        print('Hyd')
        print('Sec')
        print('Cyb')
print('Bye')

# Hyd
#Sec
# Cyb
# Bye

Hyd
Sec
Cyb
Bye

In [ ]:
# Find outputs  (Home  work)
if { }:
	print('Hyd')
	print('Sec')
	print('Cyb')
print('Bye')	# bye

Bye

In [ ]:
# Write   a  program  to  print  month  name  for  input  month  number  by  using  if  and  elif  (Home  work)

'''
Enter month number (1 - 12): 6
June 

Enter month number (1 - 12): 13
Input  should  be  between  1  and   12

Enter month number (1 - 12): 10.8
Input  should  be  an  integer
'''
try:
    import calendar
    a=int(input('Enter month number:'))
    print(calendar.month_name[a])
except IndexError:
    print('Input should be from 1-12')
except ValueError:
    print('Input should be an integer')

In [ ]:
'''
Write  a  program  to  print  digit  in  words  with  else  and  if  (do  not  use  elif)
0 - Zero
1 - One
2 - Two
....
9 - Nine
10 - Invalid
'''

a=int(input('Enter a digit from 0-9'))
if a==0:
    print("Zero")
else:
    if a==1:
        print("One")
    else:
        if a==2:
            print("Two")
        else:
            if a==3:
                print("Three")
            else:
                if a==4:
                    print("Four")
                else:
                    if a==5:
                        print("Five")
                    else:
                        if a==6:
                            print("Six")
                        else:
                            if a==7:
                                print("Seven")
                            else:
                                if a==8:
                                    print("Eight")
                                else:
                                    if a==9:
                                        print("Nine")
                                    else:
                                        print("Invalid")