<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Copy_of_DE_SSO_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=eval(input("Enter a:"))
b=eval(input("Enter b:"))
print(f'values before swapping a={a} b={b}')
# a=b
# b=a
a,b=b,a
print(f'values after swapping a={a} b={b}')

Enter a:5
Enter b:"Ranjith"
values before swapping a=5 b=Ranjith
values after swapping a=Ranjith b=5

In [ ]:
#  Find  outputs  (Home  work)
x = 25
y = F'{x}'
print(y) #25
print(type(y)) #<class str>
x = 10.8
y = F'{x}'
print(y) #10.8
print(type(y)) #<class str>
x = [10,20,30,40]
y = F'{x}'
print(y) #[10,20,30,40]
print(type(y)) ##<class str>

25
<class 'str'>
10.8
<class 'str'>
[10, 20, 30, 40]
<class 'str'>

In [ ]:
#Find  outputs  (Home  work)
a ,  b , c = 25 , 10.8 , 'Hyd'
print(F'{a}  \t   {b}   \t  {c}') #25 10.8  'Hyd'
print(F'a = {a}  \t  b  =  {b}  \t  c  =  {c}') # a=25  b=10.8  c='Hyd'
print(F'{a=}  \t   {b=}   \t  {c=}') #25 10.8  'Hyd'
print(F'{a:}  \t   {b:.6f}   \t  {c:}') #a  =  {a}  	  b  =  {b}  	  c  =   {c}
print('a  =  {a}  \t  b  =  {b}  \t  c  =   {c}') # a=25  b=10.8  c='Hyd'
print(F'a  =  a  \t  b  =  b  \t  c  =  c') # a  =  a  	  b  =  b  	  c  =  c
# print(F'{x =}  \t   {y =}   \t  {z=}') #Error

25  	   10.8   	  Hyd
a = 25  	  b  =  10.8  	  c  =  Hyd
a=25  	   b=10.8   	  c='Hyd'
25  	   10.800000   	  Hyd
a  =  {a}  	  b  =  {b}  	  c  =   {c}
a  =  a  	  b  =  b  	  c  =  c

In [ ]:
x = 25
print(F'{x}')  #  25
print(F'{{x}}')   #  {x}
print(F'{{{x}}}')  #   {25}
print(F'{{{{x}}}}') # {{x}}
print(F'{{{{{x}}}}}') #{{25}}
print(F'{{{{{{x}}}}}}') # {{{x}}}
print(F'{{{{{{{x}}}}}}}') # {{{25}}}
print(F'{{{{{{{{x}}}}}}}}') #{{{{x}}}}


'''
1) What  is  printed  when  'x'  is  in  even  number  of  braces ?  --->  'x'  itself

2) What  is  printed  when  'x'  is  in  odd  number  of  braces ?  --->  Value   of  'x'  in  the  form  of  string

3) How  many  braces  are  printed  in  the  output ?  --->  Number  of  braces  //  2
'''

25
{x}
{25}
{{x}}
{{25}}
{{{x}}}
{{{25}}}
{{{{x}}}}

"\n1) What  is  printed  when  'x'  is  in  even  number  of  braces ?  --->  'x'  itself\n\n2) What  is  printed  when  'x'  is  in  odd  number  of  braces ?  --->  Value   of  'x'  in  the  form  of  string\n\n3) How  many  braces  are  printed  in  the  output ?  --->  Number  of  braces\xa0\xa0//\xa0\xa02\n"

In [ ]:
'''Hint:  Use  F  string  to  print  results

Let  inputs  be  10  and  7,
What  is  the  sum ?  --->  17
What  is  the  difference ?  --->  3
What  is  the  product ?  ---> 70
What  is  the  quotient ?  --->  1.42
What  is  the  remainder ?  --->  3
What  is  the  largest  number ?  ---> 10
What  is  the  smallest  number ?  --->  7
What  is  the  sqrt  of  1st  input ?  --->  3.16
What  is  the  result  of  power?  --->  10000000
What  is  the  gcd  of  2  numbers ?  ---> 1
What  is  the  factorial   of  1st  input ?  ---> 10!
'''
import builtins
import math
intput1=eval(input("enter input1 value"))
input2=eval(input("enter input2 value"))
print(f'sum of {intput1} and {input2} is {intput1+input2}')
print(f'difference of {intput1} and {input2} is {intput1-input2}')
print(f'product of {intput1} and {input2} is {intput1*input2}')
print(f'quotient of {intput1} and {input2} is {intput1/input2}')
print(f'remainder of {intput1} and {input2} is {intput1%input2}')
print(f'largest of {intput1} and {input2} is {max(intput1,input2)}')
print(f'smallest of {intput1} and {input2} is {min(intput1,input2)}')
print(f'sqrt of {intput1} is {intput1**0.5}')
print(f'{intput1} power {input2} is {intput1**input2}')
print(f'gcd of {intput1} and {input2} is {math.gcd(intput1,input2)}')
print(f'factorial of {intput1} is {math.factorial(intput1)}')

In [ ]:
'''Hint:  Use  F  string  to  print  results

Let  inputs  be  10  and  7,
What  is  the  sum ?  --->  17
What  is  the  difference ?  --->  3
What  is  the  product ?  ---> 70
What  is  the  quotient ?  --->  1.42
What  is  the  remainder ?  --->  3
What  is  the  largest  number ?  ---> 10
What  is  the  smallest  number ?  --->  7
What  is  the  sqrt  of  1st  input ?  --->  3.16
What  is  the  result  of  power?  --->  10000000
What  is  the  gcd  of  2  numbers ?  ---> 1
What  is  the  factorial   of  1st  input ?  ---> 10!
'''
import builtins
import math
intput1=eval(input("enter input1 value"))
input2=eval(input("enter input2 value"))




















a=eval(input("Enter a:"))
b=eval(input("Enter b:"))
print(f'values before swapping a={a} b={b}')
# a=b
# b=a
a,b=b,a
print(f'values after swapping a={a} b={b}')

enter input1 value55
enter input2 value44

In [ ]:
'''Hint:  Use  F  string  to  print  results

Let  inputs  be  10  and  7,
What  is  the  sum ?  --->  17
What  is  the  difference ?  --->  3
What  is  the  product ?  ---> 70
What  is  the  quotient ?  --->  1.42
What  is  the  remainder ?  --->  3
What  is  the  largest  number ?  ---> 10
What  is  the  smallest  number ?  --->  7
What  is  the  sqrt  of  1st  input ?  --->  3.16
What  is  the  result  of  power?  --->  10000000
What  is  the  gcd  of  2  numbers ?  ---> 1
What  is  the  factorial   of  1st  input ?  ---> 10!
'''
import builtins
import math
input1=eval(input("enter input1 value:"))
input2=eval(input("enter input2 value:"))
print(f'the sum of {input1} and {input2} is {input1+input2}')
print(f'the difference of {input1} and {input2} is {input1-input2}')
print(f'the product of {input1} and {input2} is {input1*input2}')
print(f'the quotient of {input1} and {input2} is {input1/input2:.2f}')
print(f'the remainder of {input1} and {input2} is {input1%input2}')
print(f'the maximum of {input1} and {input2} is {builtins.max(input1,input2)}')
print(f'the minimum of {input1} and {input2} is {builtins.min(input1,input2)}')
print(f'the square root of {input1} is {math.sqrt(input1):.2f}')
print(f'the power of {input1} and {input2} is {builtins.pow(input1,input2)}')
print(f'the gcd of {input1} and {input2} is {math.gcd(input1,input2)}')
print(f'the factorial of {input1} and {input2} is {math.factorial(input1)}')

enter input1 value:10
enter input2 value:7
the sum of 10 and 7 is 17
the difference of 10 and 7 is 3
the product of 10 and 7 is 70
the quotient of 10 and 7 is 1.43
the remainder of 10 and 7 is 3
the maximum of 10 and 7 is 10
the square root of 10 is 3.16
the power of 10 and 7 is 10000000
the gcd of 10 and 7 is 1
the gcd of 10 and 7 is 3628800

In [ ]:
import builtins
import math
input1=eval(input("enter input1 value:"))
input2=eval(input("enter input2 value:"))
print(f'{input1} + {input2} = {input1+input2}')
print(f'{input1} - {input2} = {input1-input2}')
print(f'{input1} * {input2} = {input1*input2}')
print(f'{input1} / {input2} = {input1/input2}')
print(f'{input1} % {input2} = {input1%input2}')
print(f'max({input1},{input2})={builtins.max(input1,input2)}')
print(f'min({input1},{input2})={builtins.min(input1,input2)}')
print(f'{input1}^{input2}={builtins.pow(input1,input2)}')
print(f'sqrt({input1})={math.sqrt(input1)}')
print(f'gcd({input1},{input2})={math.gcd(input1,input2)}')
print(f'fact({input1})={math.factorial(input1)}')

enter input1 value:10
enter input2 value:7
10 + 7 = 17
10 - 7 = 3
10 * 7 = 70
10 / 7 = 1.4285714285714286
10 % 7 = 3
max(10,7)=10
min(10,7)=7
10^7=10000000
sqrt(10)=3.1622776601683795
gcd(10,7)=1
fact(10)=3628800

In [ ]:
'''
Write  a  program  to  swap  values  of  any  two  objects  in  a  single  statement  without  using  3rd  object

Let  'x'  be  25  and  'y'  be   'Hyd'
What  are  'x'  and  'y'  after  swap ?  ---> Hyd  and  25

Hint:  Swap  references  but  not  objects


Enter  1st  input :  25
Enter  2nd  input : Hyd
Before  swap :  x='25'            y='Hyd'
After  swap :  x='Hyd'            y='25'
'''
x=input(f'{"Enter x value"}')
y=input(f'{"Enter y value"}')
print(f" Before swap x= '{x}'    y= '{y}' ") #print(f' Before swap x= '{x}'    y= '{y}' ) the comment print gives error because interpreter upto(f'.....swap x=') as fstringend {x}' for this it gives error
x,y=y,x
print(f"After swap:x='{x}'    y='{y}'")

Enter x value25
Enter y valueHyd
 Before swap x= '25'    y= 'Hyd'
After swap:x='Hyd'    y='25'

In [ ]:
'''
Write  a  program  to  print   '>'  if  1st  input  >  2nd  input,
                                               '<'  if  1st  input  <  2nd  input  and
                                               '='  if  inputs  are  same

1) What  is  the  result  if  inputs  are  10  and  20 ?  ---> <

2) What  is  the  result  if  inputs  are  70  and  60 ?  --->  >

3) What  is  the  result  if  inputs  are  25  and  25 ?  ---> =

4) Inputs  can  be  integers , floats , strings  and  so  on

5) Use  ternary  operator
'''
x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
if x>y:
  print('>')
else:
  if x<y:
    print('<')
  else:
    print('=')
print()
#printing in a single line
print('>' if x>y else '<' if  x<y else '=')

enter x value:"Ranjith"
enter y value:"Ranjithadda"
<

<

In [ ]:
'''
Write  a  program  to  determine  largest  of  three  inputs  without  using  max()  function

1) What  is  the  output  if  inputs  are  10 , 20  and  15 ?   --->  20

2) What  is  the  output  if  inputs  are  35.8 , 42.8  and  27.9 ?   --->  42.8

3) What  is  the  output  if  inputs  are  'RAMA'  , 'RAKESH'  and  'RAJESH' ?   --->  'RAMA'

4) What  is   the  output  if  inputs  are  [10 , 20 , 15 , 18]  , [10 , 20 , 32, 19]  and  [10 , 20 , 25, 17] ?  ---> [10 , 20 , 32 , 19]

5) Inputs  can  be  integers , floats , strings  and  so  on

6) Use  nested  ternary  operator
'''
x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
z=eval(input("enter z value:"))
if x>=y and x>=z:
  print(x)
elif y>=z and y>=x:
  print(y)
else:
  print(z)

enter x value:'RAMA'
enter y value:'RAKESH'
enter z value:'RAJESH'
RAMA

In [ ]:
'''
Write  a  program  to  print  1  if  input  is  +ve  ,  -1    if  input  is  -ve  and  0  if  input  is  0

1) What  is  the  result  if  input  is  -25 ?  --->  -1

2) What  is  the  result  if  input  is  75 ?  --->  1

3) What  is  the  result  if  input  is  0 ?  --->  0

4) Use  nested  ternary  operator
'''
input1=int(input("enter input:"))
if input1>0:
  print(1)
else:
  if input1 <0:
    print(-1)
  else:
    print(0)
print("printing in a single statement")
print('1' if input1>0 else '-1' if input1<0 else '0')

enter input:-25
-1
printing in a single statement
-1

In [ ]:
'''
Write  a  program  to  test  input  is  even  number  or  odd  number

1) What  is  an  even  number  ?  --->  Divisible  by  2

2) What  is  an  odd  number  ?  --->  Not  divisible  by  2

3) Use  ternary  operator


Enter  any  +ve  integer : 45
Odd  number
'''
x=int(input("Enter any +ve integer:"))
if x%2==0:
  print()
else:
  print("Odd number")
print("in a single line")
print("Odd number" if x%2==1 else "")

Enter any +ve integer:45
Odd number
in a single line
Odd number

In [ ]:
x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
print(f'{x}')
print(f'{y}')

enter x value4
enter y value"ranjith"
4
ranjith

In [ ]:
'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  using  3rd   object

Let  x = 10  and  y = 25
What  are  the  values  of  x  and  y  after  swap ?  --->  x = 25  and   y = 10
'''


x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
print(f" Before swap x= {x}    y= {y} ")
temp=x
x=y
y=temp
print(f" After swap x= {x}    y= {y} ")

enter x value20
enter y value30
 Before swap x= '20'    y= '30'
 After swap x= '30'    y= '20'

In [ ]:
'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  addition  and  two  subtractions

x = 25
y =  10
'''


x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
print(f" Before swap x= {x}    y= {y} ")
x=x+y
y=x-y
x=x-y
print(f" After swap x= {x}    y= {y} ")

enter x value50
enter y value100
 Before swap x= 50    y= 100
 After swap x= 100    y= 50

In [ ]:
'''
(Home  work)
Write  a  program  to  swap  values  of  two  objects  without  using  3rd  object

Hint: One  multiplication  and  two  divisions

x =  -200
y =  100
'''



x=eval(input("enter x value:"))
y=eval(input("enter y value:"))
print(f" Before swap x= {x}    y= {y} ")
x=x*y
y=x//y
x=x//y
print(f" After swap x= {x}    y= {y} ")

enter x value:44
enter y value:55
 Before swap x= 44    y= 55
 After swap x= 55    y= 44

In [ ]:
# Find  outputs  (Home  work)
for  i   in   range(1 , 8):
	print(i)
	if  i % 3  == 0:
			continue
	else:
			print('Sec')
	print('Hello')
# End of loop
print('Outside loop')

1
Sec
Hello
2
Sec
Hello
3
4
Sec
Hello
5
Sec
Hello
6
7
Sec
Hello
Outside loop

In [ ]:
# Find outputs (Home  work)
for  i   in   range(1 , 8):
	print(i)
	if   i % 3 == 0:
		break
	else:
		print('Sec')
	print('Hello')
# End  of  the  loop
print('Outside loop')

1
Sec
Hello
2
Sec
Hello
3
Outside loop

In [ ]:
# Find  outputs  (Home  work)
for  i   in   range(1 , 8):
	print(i)
	if   i % 3 == 0:
		pass
		print('Hyd')
	else:
		print('Sec')
	print('Hello')
# End  of  the  loop
print('Outside loop')

1
Sec
Hello
2
Sec
Hello
3
Hyd
Hello
4
Sec
Hello
5
Sec
Hello
6
Hyd
Hello
7
Sec
Hello
Outside loop

In [ ]:
# Find  outputs  (Home  work)
for  i   in   range(1 , 8):
	print(i)
	if   i % 3 == 0:
		exit()
	else:
		print('Sec')
	print('Hello')
# End  of  the  loop
print('Outside loop')

1
Sec
Hello
2
Sec
Hello
3
Hello
4
Sec
Hello
5
Sec
Hello
6
Hello
7
Sec
Hello
Outside loop

In [ ]:
# Find  outputs  (Home  work)
for  i  in  range(1 , 8):
	print(i)
	if   i % 3 == 0:
		continue
	else:
		print('Sec')
	print('Hello')
else:
	print('else  suite')
# End  of  the  loop
print('Outside  loop')

1
Sec
Hello
2
Sec
Hello
3
4
Sec
Hello
5
Sec
Hello
6
7
Sec
Hello
else  suite
Outside  loop

In [ ]:
# Find  outputs  (Home  work)
for  i  in  range(1 , 8):
	print(i)
	if  i % 3 == 0:
		break
	else:
		print('Sec')
	print('Hello')
else:
	print('else  suite')
#End   of  the  loop
print('Outside  loop')

1
Sec
Hello
2
Sec
Hello
3
Outside  loop

In [ ]:
# Find  outputs  (Home  work)
for  i  in  range(1 , 8):
	print(i)
	if  i == 8:
		break
	else:
		print('Sec')
	print('Hello')
else:
	print('else  suite')
# End  of  the  loop
print('Outside loop')

1
Sec
Hello
2
Sec
Hello
3
Sec
Hello
4
Sec
Hello
5
Sec
Hello
6
Sec
Hello
7
Sec
Hello
else  suite
Outside loop

Errors

In [ ]:
# Identify Error  (Home  work)
if ():
	print('Hyd')
	continue #without for or while loops
	print('Sec')

In [ ]:
# Identify Error  (Home  work)
if(10 , 20 , 30):
	print('Hyd')
	break #without for or while loops
	print('Sec')

In [ ]:
#  Walrus   operator (:=)  demo  program
print(a := 25) #25
print(a = 25) #Error or a=25
print(a) #25
print(a := 6 + 7) #13
print(a) #13
print((a := 6) + 7)#13
print(a) #13
print((a=6)+7)#Error

25
25
13
13
13
6

In [ ]:
# Find  outputs  (Home  work)
a = 0
if  a == 0:
	print('Hyd') #Hyd
else:
	print('Sec')
if  b := 0:
	print('Hyd')
else:
	print('Sec : ' , b) #Sec:
if  c = 0: #Syntax Error
	print('Hyd')
else:
	print('Sec') #Sec

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-2100912604.py, line 11)

In [ ]:
#  del  operator  demo program  (Home  work)
a = 25
print(a) #25
del a
# print(a) #Error

25

In [ ]:
# Find  outputs  (Home  work)
a = b = c = 25
print(a , b , c) #25,25,25
del   a
print(b , c) #25,25
print(a) #Error
del   b
print(c) #25
print(b)#Error
del c
print(c) #Error

25 25 25
25 25
25

In [ ]:
#  Can  multiple  objects  be  deleted  with  same  del  operator ?
a , b , c = 25 , 10.8 , 'Hyd'
print(a , b , c) #(25 10.8 'Hyd')
del   a , b , c
print(a)#Error
print(b)#Error
print(c)#Error

25 10.8 Hyd

In [ ]:
# Find outputs  (Home  work)
a = [10 , 20 , 15 , 18]
print(a) #[10 20 15 18]
del  a[2]
print(a) #[10 20 18]
del  a
print(a) #Error
print(a[0])#Error

[10, 20, 15, 18]
[10, 20, 18]

In [ ]:
# Find outputs  (Home work)
a = (10 , 20 , 15 , 18)
print(a) #(10 20 15 18)
print(a[0]) # 10
del  a[2] #(10 20 18)
del  a
print(a) #Error
print(a[0]) #Error

(10, 20, 15, 18)
10

In [ ]:
'''
Write  a  program  to  search  for  an  element  in  the  list  and  print  index  of  each  element
and  also  number  of  times  it  is  found (Assume  that  list  may  contain  duplicate  elements)

List :   [10 , 20 , 15 , 12 , 18 , 15 , 19 , 14 , 15 , 14]

Search  for  15

Outputs :  15  is  found  at  index  2
                 15  is  found  at  index  5
                 15  is  found  at  index  8
                 15  is  found   3  times
'''


lst=[10 , 20 , 15 , 12 , 18 , 15 , 19 , 14 , 15 , 14]
search_element=eval(input("enter search element"))
count=0
for i in range(len(lst)):
  if search_element==lst[i]:
    print("search element at index"+lst[i])
    count=count+1
print("the element"+search_element+"is repeted times is"+count)

In [ ]:
# Define the list
lst = [10, 20, 15, 12, 18, 15, 19, 14, 15, 14]

# Element to search
search_element = 15

# Initialize count
count = 0

# Loop through the list with index
for index in range(len(lst)):
    if lst[index] == search_element:
        print(f"{search_element} is found at index {index}")
        count += 1

# Print total count
print(f"{search_element} is found {count} times")

In [ ]:
n=eval(input("enter no of elements in the list"))
lst=[]
for i in range(1,n+1):
  ele=eval(input(f"enter {i} element:"))
  lst.append(ele)
search=eval(input("enter element you want to seach:"))
c=0
for j in range(len(lst)):
  if search==lst[j]:
    print(f"seach element is found at {j} index.")
    c=c+1
print(f"the {search} element is found {c} times.")

enter no of elements in the list5
enter 1 element11
enter 2 element22
enter 3 element11
enter 4 element33
enter 5 element22
enter element you want to seach11
seach element is found at 0 index
seach element is found at 2 index
the 11 search element is found 2 times

In [ ]:
import numpy as np
n=eval(input("enter no of elements in the arry"))
arr=[]
for r in range(1,n+1):
  ele=eval(input(f"enter {r} th element"))
  arr.append(ele)
arr=np.array(arr)
print(arr)
# L=len(arr)
# print(arr[2])
for i in range(len(arr)):
  for j in range(len(arr)-i-1):
    if arr[j] > arr[j + 1]:
      temp=arr[j]
      arr[j]=arr[j+1]
      arr[j+1]=temp
      # arr[j], arr[j + 1] = arr[j + 1], arr[j]
print(arr)

In [ ]:
n=eval(input("enter no of elements in the list"))
lst=[]
for i in range(1,n+1):
  ele=eval(input(f"enter {i} element"))
  lst.append(ele)
print(lst)

enter no of elements in the list3
enter 1 element10
enter 2 element20
enter 3 element30
[10, 20, 30]

In [ ]:
n=eval(input("enter no of elements in the list"))
lst=[]
for i in range(1,n+1):
  ele=eval(input(f"enter {i} element"))
  lst.append(ele)
print(lst)
search_element=eval(input("enter element you want to search"))
if j in range(len(lst)):
  if search_element==lst[j]:
    print(f"the element found at {}")

enter no of elements in the list3
enter 1 element11
enter 2 element10.8
enter 3 element66
[11, 10.8, 66]
enter element you want to search66

NameError: name 'j' is not defined

In [ ]:
import numpy as np
n=eval(input("enter no of elements in the list"))
lst=[]
for i in range(1,n+1):
  ele=eval(input(f"enter {i} element"))
  lst.append(ele)
print(lst)
# arr = np.array(elements)
a=np.array(lst)
print(a)
print(a,id(a))
print(lst,id(lst))

Command Line Argument

In [ ]:
#In this program sting inputs are not allowed con't cancatinate int and str i.e (int+str)
sum=ctr=0
while True:
  x = eval(input('Enter input  (ctrl + z  to  stop)  :  '))
  sum += x
  ctr +=1
print(f"average:{sum/ctr}")

Enter input  (ctrl + z  to  stop)  :  5
Enter input  (ctrl + z  to  stop)  :  1
Enter input  (ctrl + z  to  stop)  :  6
Enter input  (ctrl + z  to  stop)  :  

EOFError:

In [ ]:
'''
Modify  following   program  with  walrus  operator
Hint:  Combine  lines  7   and   8  to a  single  line  with   walrus  operator
'''
try:
	sum =  ctr = 0
	while  True:
		x = eval(input('Enter input  (ctrl + z  to  stop)  :  '))
		sum += x
		ctr +=1
except  EOFError:
	try:
		print(F'Average :   {sum / ctr}')
	except  ZeroDivisionError:
		print('Enter  at  least  one  input')
except  (NameError , TypeError):
	print('Input  can  not  be  string')

In [ ]:
'''
Modify  following   program  with  walrus  operator
Hint:  Combine  lines  7   and   8  to a  single  line  with   walrus  operator
'''


	try:
		print(F'Average :   {sum / ctr}')
	except  ZeroDivisionError:8
		print('Enter  at  least  one  input')
except  (NameError , TypeError):
	print('Input  can  not  be  string')

Enter input  (ctrl + z  to  stop)  :  5
Enter input  (ctrl + z  to  stop)  :  1
Enter input  (ctrl + z  to  stop)  :  22
Enter input  (ctrl + z  to  stop)  :  55
Enter input  (ctrl + z  to  stop)  :  8
Enter input  (ctrl + z  to  stop)  :

SyntaxError: invalid syntax (<string>, line 0)

In [ ]:
ihsefkjdnslkdjakshfskjflksjfaskdfhskfhns