<a href="https://colab.research.google.com/github/Addakularanjith123/DE-SSO/blob/main/Strings_DE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
(07-08-2025)


'''
Write  a  program  to  determine  largest  command  line  input

1) py   prog2.py   10     20     30.8   7  40    35.6
    What  is  the  largest  command  line  input ?  ---> 40
    What  is  argv ?  --->  ['prog2.py' , '10' , '20' , '30.8' , '7' , '40' , '35.6']
    What  is  list  'a' ?  --->  [10 , 20 , 30.8 , 7 , 40 , 35.6]
    How  to  determine  largest  element  of  list  'a' ?   ---> max(a)  i.e.  40
    What  is  the  result  of  max(argv[1:]) ?  ---> '7'
    What  is  the  issue  with  max(argv[1:])) ?  --->
				Largest  string  is  obtained  but  not  largest  number

2) py  prog2.py
    What  is  the  output ?  ---> Pls  send  inputs

3) py   prog2.py   'Rama'   'Sita'   'Rajesh'   'Manohar'   'Vamsi'   'Amar'
    What  is  the  largest  command  line  input ?  --->  'Vamsi'

4) py   prog2.py   25   'Ten'
    What  is  the  output ?  --->  Inputs  can  not  be  number  and  string

5) Hint1: Use  for  loop

6) Hint2: Use  try  and  except

'''

from sys import argv

if len(argv) == 1:
    print('Please send inputs')
else:
    a = [ ]
    num = str = False

          for i in argv[1:]:
                   try:
           	      num = a.append(float(i))
            	      num = True
     	except:
                          a.append(i)
                          str = True

    if num and str:
        print('Inputs can not be number and string')
    else:
        print('List:', a)
        print('Largest:', max(a))

#output:

List: [10.0, 20.0, 30.8, 7.0, 40.0, 35.6]
Largest: 40.0

List: ['Rama', 'Sita', 'Rajesh', 'Manohar', 'Vamshi', 'Amar']
Largest: Vamshi





'''
Write  a  program  to  determine  command  line  input  is  even  number  or  odd  number

1) py  prog3.py  26
    What  is  the  output ?  ---> Even  number

2) py  prog3.py  45
    What  is  the  output ?  ---> Odd  number

3) py  prog3.py
    What  is  the  output  ?  ---> Pls  send  an  integer  input

4) py  prog3.py  10.8
    What  is  the  output ?  --->  Pls  send   an  integer  input

5) py  prog3.py  Ten
    What  is  the  output  ?  --->  Pls  send   an  integer  input
 '''

from sys import argv
print(argv)

try:
        if int(argv[1])%2==0:
                  print('Even Number')
        else:
                  print('Odd Number')
except:
         print('Please Send an integer input')

#output:

['dict.py', '26']
Even Number

['dict.py', '45']
Odd Number





'''
Write  a  program  to  determine  average  of  command  line  inputs

1) py   prog4.py   10.8   25   True   14.6   19   False   7.4
    What  is  argv ?  --->['prog4.py' , '10.8' , '25' , 'True' , '14.6' , '19' , 'False' , '7.4']
    What  is  list  'a'  ?  ---> 	[10.8 , 25 , True , 14.6 , 19 , False , 7.4]
	How  to  determine  sum  of  list  elements ?  ---> sum(a)
    	How  to  determine  number  of  list  elements ?  ---> len(a)

2) py   prog4.py
    What  is  the  output ?  ---> Pls  send  number  inputs

3) py   prog4.py  25   'Ten'
    What  is  the  output  ?  --->  Pls  send  number  inputs
'''


from sys import argv
print(argv)

if len(argv) == 1:
	print('Pls send number inputs')
else:
    	try:
        	   nums = []
        	       for x in argv[1:]:
            		nums.append(eval(x))
         	   print(f'Average: {sum(nums) // len(nums)}')
	except:
        	        print('Pls send number inputs')

#output:

['dict.py', '10.8', '25', 'True', '14.6', '19', 'False', '7.4']
Average: 11.0




'''
Write  a  program  to  sort  command  line  inputs  in  ascending  order  and  descending  order

1) py  prog5.py  10   20    15.8   5   12.6
    What  is  argv ?  ---> ['prog5.py' , '10' , '20' , '15.8' , '5' , '12.6']
    What  is  list  'a' ?  --->  [10 , 20 , 15.8 , 5 , 12.6]
    How  to  sort  list  'a' ?  --->  sorted(a)
    How  to  sort  list  'a'  in  descending  order  ?  ---> sorted(a , reverse = True)

2) py  prog5.py   25   'Ten'
    What  is  the  output ?  --->  Pls  don't  send  number  and  string  inputs  together
'''

from sys import argv
print(argv)

try:
   a = []
        for i in argv[1:]:
                a.append(eval(i))
        print('Ascending order sort:', sorted(a))
        print('Descending order sort:', sorted(a, reverse=True))
except:
        print("Please don't send number and string inputs together")


#output:

['dict.py', '10.8', '25', 'True', '14.6', '19', 'False', '7.4']
Ascending order sort: [False, True, 7.4, 10.8, 14.6, 19, 25]
Descending order sort: [25, 19, 14.6, 10.8, 7.4, True, False]




# Find outputs  (Home  work)

print( 'green'   in   'Hyd  is  green  city')	#True
print('day'   in   'Sankar  dayal  sarma')	#True
print('Green'   in   'Hyd  is  green  city')	#False
print('d  is'   in   'Hyd  is  green  city')	#True
print('dis'   in   'Hyd  is  green  city')	#False
print('iniv'   in   'Srinivas')		#True
print('iniv'   not   in   'Srinivas')		#False





'''  (Home  work)
Slice  demo  program
0      1      2       3        4       5       6       7
R      a      m       a                R       a       o
-8    -7     -6      -5       -4      -3      -2      -1
'''
a = 'Rama Rao'
print(a [ : 7 : 2])	#  a[ 0 :  7 : 2]   --->  string  from  indexes   0  to   6  in  steps  of  2  	i.e.  Rm<space>a
print(a [ : 7])	#  a[ 0 :  7 : 1]   --->  string  from  indexes   0  to   6  in  steps  of  1  	i.e.  Rama<space>Ra
print(a [2 : 4])	#  a[ 2 :  4 : 1]   --->  string  from  indexes   2  to   3  in  steps  of  1  	i.e.  ma
print(a [2 : ])	#  a[ 2 :  8 : 1]   --->  string  from  indexes   2  to   7  in  steps  of  1  	i.e.  ma<space>Rao
print(a [ : 4 ])	#  a[ 0 :  4 : 1]   --->  string  from  indexes   0  to   3  in  steps  of  1  	i.e.  Rama
print(a [ : : 2])	#  a[ 0 :  8 : 2]   --->  string  from  indexes   0  to   7  in  steps  of  2  	i.e.  Rm<space>a
print(a [-6 : -1])	#  a[-6 : -1 : -1] --->  string  from  indexes  -6  to  -2  in  steps  of -1  i.e.  ma<space>Ra
print(a [-6 : ])	#  a[-6 :  8 : 1]   --->  string  from  indexes  -6  to   7  in  steps  of  1  	i.e.  ma<space>Rao
print(a [: -4 : -1])	#  a[-1 : -4 : -1] --->  string  from  indexes  -1  to  -3  in  steps  of -1  i.e.  oaR
print(a [-3 : -1])	#  a[-3 : -1 :  1] --->  string  from  indexes  -3  to  -2  in  steps  of -1  i.e.  Ra
print(a [-3 : ])	#  a[-3 :  8 : 1]   --->  string  from  indexes  -3  to   7  in  steps  of  1  	i.e.  Rao
print(a [ : : ])	#  a[ 0 :  8 : 1]   --->  string  from  indexes   0  to   7  in  steps  of  1  	i.e.  Rama<space>Rao
print(a [ : ])	#  a[ 0 :  8 : 1]   --->  string  from  indexes   0  to   7  in  steps  of  1  	i.e.  Rama<space>Rao
print(a [ : : -1])	#  a[-1 : -9 : -1] --->  string  from  indexes  -1  to  -8  in  steps  of -1  i.e.  oaR<space>amaR
print(a [ : : -2])	#  a[-1 : -9 : -2] --->  string  from  indexes  -1  to  -8  in  steps  of -2  i.e.  oRaa
print(a [ -2 : : -2])	#  a[-2 : -9 : -2] --->  string  from  indexes  -2  to  -8  in  steps  of -2  i.e.  a<space>mR
print(a [2 : 8])	#  a[ 2 :  8 : 1]   --->  string  from  indexes   2  to   7  in  steps  of  1  	i.e.  ma<space>Rao
print(a [2 : 8 : -1])	#  a[ 2 :  8 :-1]   --->  string  from  indexes   2  to   7  in  steps  of -1  	i.e.  (empty)  as step is negative
print(a [ : -6 : -1])	#  a[-1 : -6 :-1]  --->  string  from  indexes  -1  to  -5  in  steps  of -1 	i.e.  oaR<space>a
print(a [2 : -3])	#  a[ 2 : -3 : 1]   --->  string  from  indexes   2  to  -4  in  steps  of  1  	i.e.  ma
print(a [1 : 6 : 2])	#  a[ 1 :  6 : 1]   --->  string  from  indexes   1  to   5  in  steps  of  2  	i.e.  aaR
print(a [ : -5 : -5])	#  a[-1 : -5 : -5] --->  string  from  indexes  -1  to  -4  in  steps  of -5 	i.e.  o
print(a [2 : -5])	#  a[ 2 : -5 : 1]   --->  string  from  indexes   2  to  -6  in  steps  of  1  	i.e.  m
print(a [2 : -5 : 2])	#  a[ 2 : -5 : 2]   --->  string  from  indexes   2  to  -6  in  steps  of  2  	i.e.  m
print(a [ : 0 : -1])	#  a[-1 :  0 : -1] --->  string  from  indexes  -1  to   1  in  steps  of -1  	i.e.  oaR<space>ama
print(a [-5 : 0 : -2])#  a[-5 :  0 : -2] --->  string  from  indexes  -5  to   1  in  steps  of -2  i.e.  aa






'''
Write  a  program  to  concatenate  two  strings  separated  by  space  but  swap  first  two
characters  of  the  two  strings.
Assume  that  each  string  has  a   minimum  of  two  characters

Let  inputs  be  Java  and  Python
What  are  the  outputs ?  --->  Pyva<space>Jathon

Hint:  Use  slice
'''

s1 = input('Enter first string: ')
s2 = input('Enter second string: ')

if len(s1) < 2 or len(s2) < 2:
	print('Input should be a min of 2-char string')
else:
    	out = s2[:2] + s1[2:] + " " + s1[:2] + s2[2:]
   	print("Result:", out)

#output:

Enter first string: Java
Enter second string: Python
Result  :   Pyva Jathon

Enter first string: A
Enter second string: HYD
Input  should  be  a  min  of  2-char  string






'''
Write  a  program  to  print  first  two  and  the  last  two  characters  of  the  string
Print  an  empty  string  if  string  has  less  than  four  characters

1) Let  input  be  PYTHON
    What  is  the  output ?  ---> PYON

2) Let  input  be  Hyd
    What  is  the  output ?  --->  Nothing
'''

a = input('Enter any string: ')

if len(a) < 4:
	print("")
else:
   	print(a[:2] + a[-2:])

#output:

Enter any string: PYTHON
PYON



'''
Write  a  program  to  print  characters  of  the  string  in  forward  and  reverse
directions  without  slice

       	     		 0      1     2      3     4
Let  input  be		  V     A     M     S     I
			 -5    -4    -3    -2    -1

What  are  the  outputs ?  --->  Character  at  index  0  :  V
								                 Character  at  index  1   :  A
								                 Character  at  index  2   :  M
							              	                 Character  at  index  3   :  S
								                 Character  at  index  4   :  I
								                 Character  at  index  -1  :  I
								                 Character  at  index  -2  :  S
								                 Character  at  index  -3  :  M
								                 Character  at  index  -4  :  A
								                 Character  at  index  -5  :  V

Hint:  Use  two  for  loops
'''

a = input("Enter any string: ")

print("Forward direction:")
for i in range(len(s)):
	print(f"Character at index {i} : {a[i]}")

print("\nReverse direction:")
for i in range(-1, -len(a)-1, -1):
    	print(f"Character at index {i} : {a[i]}")

#output:

Enter any string: VAMSHI
Forward direction:
Character at index 0 : V
Character at index 1 : A
Character at index 2 : M
Character at index 3 : S
Character at index 4 : H
Character at index 5 : I

Reverse direction:
Character at index -1 : I
Character at index -2 : H
Character at index -3 : S
Character at index -4 : M
Character at index -5 : A
Character at index -6 : V





'''
Write  a  program  to  print  characters  at  even  and  odd  indexes  without  slice

		0      1      2      3     4     5     6      7
Let  input  be           R      a     m      a             R     a      o

odd =  '' + 'a' + 'a' + 'R' + 'o' = 'aaRo'
even =   '' + 'R' + 'm' + ' '  + 'a' = 'Rm a'

1) What  action  to  be  made  when  index  is  even ?  --->
				Concatenate  the  character  to  even  object

2) What  action  to  be  made  when  index  is  odd ?  --->
				Concatenate  the  characeter  to  odd  object

3) Hint: Use  single  for  loop
'''

a = input("Enter any string: ")

even = ""
odd = ""

for i in range(len(a)):
 	if i % 2 == 0:
        		even += a[i]
    	else:
        		odd += a[i]

print("String at even indexes:", even)
print("String at odd indexes:", odd)

#output:

Enter  any  string  :  RAMA RAO
String  at  even  indexes  : RM A
String  at  odd  indexes  : AARO




'''
Let  input  be    A   4   B   3   C   2   $   5
                                 0   1    2   3   4   5   6   7

What  is  the  output ?  --->  AAAABBBCC$$$$$

1) What  is  the  result  of  'A' * 4  ?  ---> 'AAAA'

2)  i        a[i]       a[i + 1]          out
   -------------------------------------------------------
                                               ''
     0        'A'          '4'            '' + 'A' * 4 = 'AAAA'

	 2        'B'          '3'            'AAAA' + 'B' * 3 = 'AAAA' + 'BBB' = 'AAAABBB'

	 4        'C'          '2'            'AAAABBB' + 'C' * 2 = 'AAAABBB' + 'CC' = 'AAAABBBCC'

	 6        '$'          '5'            'AAAABBBCC' + '$' * 5 = 'AAAABBBCC' + '$$$$$' = 'AAAABBBCC$$$$$'
   -------------------------------------------------------
What  is  the  difference  between  a[i]   and  a[i + 1] ?  --->
	a[i]  is  ith  char  of  string  and  a[i + 1]  is  (i + 1)th  char  of  string
'''

a = input("Enter any string with alternate character and digit: ")

if len(a) % 2 != 0:
	print("String should have alternate character 😘 and digit")

else:
    	out = ""
    	for i in range(0, len(a), 2):
        		out += a[i] * int(a[i+1])
   	 print("Result:", out)

#output:

Enter  any  string  with  alternate  character  and  digit :  A4B3C2$5
Result :   AAAABBBCC$$$$$

Enter  any  string  with  alternate  character  and  digit :  HYD
String   should  have  alternate  character  and  digit





'''
Write  a  program  to  merge  two  strings  to  form  a  new  string

1) Let  inputs  be    HYD   and   VAMSI
   What  is  the  output  ?  --->  HVYADMSI

             0     1    2
a  --->   H     Y    D

              0    1     2     3    4
b  --->    V    A    M    S    I


i       a[i]        b[i]          c
--------------------------------------------------------
                                    ''
0      'H'        'V'          '' + 'H' + 'V' = 'HV'

1      'Y'        'A'          'HV' + 'Y' + 'A' = 'HVYA'

2      'D'       'M'          'HVYA' + 'D' + 'M' = 'HVYADM'
--------------------------------------------------------
Concatenate  remainging  characters   of  the  other  string  to  object  'c'
What  is  the  final  result ?  --->  'HVYADMSI'

Hint:  Use  single  while  loop  and  slice
'''

a = input("Enter first string: ")
b = input("Enter second string: ")

i = 0
c = ""
while i < len(a) and i < len(b):
    c += a[i] + b[i]
    i += 1

c += a[i:] + b[i:]
print("Result:", c)


#output:

Enter  first  string  :  HYD
Enter  second  string  :  VAMSI
Result  :   HVYADMSI

Enter  first  string  :  SAIRAM
Enter  second  string  :  HYD
Result  :   SHAYIDRAM




'''
Write  a  program  to  remove  duplicate  characters  of  the  string  without  using  set

1) Let  input  be   RAMA  RAO
   What  is  the  output ? ---> RAM<space>O

2) out = '' + 'R' = 'R' + 'A' = 'RA' + 'M' = 'RAM' + ' ' = 'RAM ' + 'O' = 'RAM O'

3) What  action  to  be  made  if  the  character  is  not  in  out  object ?  --->
		Concatenate  the  character  to  out  object

4) What  action  to  be  made  if  the  character  is  already  in  out  object ?  --->
		Ignore  the  character

5) Hint:  Use  not  in   operator
'''

s = input("Enter any string: ")
out = ""

for ch in s:
    if ch not in out:
        out += ch

print("String without duplicates:", out)

#output:

Enter  any  string  :  MISSISIPI
String  without  duplicates  :    MISP





# len()  function  demo  program  (Home  work)

print(len('Hyd'))	# 3
print(len('Rama Rao'))	# 8
print(len('9247'))	# 4
print(len('+-$'))	# 3
print(len(''))		# 0
print(len(' '))		# 1
print(len('A2#'))	# 3
print(len(3456))		# error as we can't use len for int
print('Sec'. len('12'))	# error as syntax for str len is not valid




# chr()  function  demo  program

print(chr(65))	#   Converts  unicode  value  65  to  'A'
print(chr(90))	#   Converts  unicode  value  90  to  'Z'
print(chr(97))	#   Converts  unicode  value  97  to  'a'
print(chr(122))	#   Converts  unicode  value  122 to  'z'
print(chr(48))	#   Converts  unicode  value  48  to  '0'
print(chr(57))	#   Converts  unicode  value  57  to  '9'
print(chr(36))	#   Converts  unicode  value  36  to  '$'
print(chr(32))	#   Converts  unicode  value  32  to  'space'




# ord()  function  demo  program

print(ord('A'))	#  Converts  'A'  to  unicode  value  65
print(ord('Z'))	#  Converts  'Z'  to  unicode  value  90
print(ord('a'))	#  Converts  'a'  to  unicode  value  97
print(ord('z'))	#  Converts  'z'  to  unicode  value  122
print(ord('0'))	#  Converts  '0'  to  unicode  value  48
print(ord('9'))	#  Converts  '9'  to  unicode  value  57
print(ord('$'))	#  Converts  '$'  to  unicode  value  36
print(ord(' '))	#  Converts  ' '  to  unicode  value  32



'''
Let  input  be  A4M3Z5D2

What  is  the  output ?  --->  AEMPZ_DF

 0     1     2     3    4    5    6     7
 A     4     M     3    Z    5    D     2


   i       a[i]      a[i + 1]         out
--------------------------------------------------------------------------------
                                          ''
  0       'A'           '4'          '' + 'A' + chr(65 + 4) = '' + 'A' + 'E' = 'AE'

  2       'M'           '3'          'AE' + 'M' + chr(77 + 3) = 'AE' + 'M' + 'P' = 'AEMP'

  4       'Z'           '5'          'AEMP' + 'Z' + chr(90 + 5) = 'AEMP' + 'Z' + '' = 'AEMPZ'

  6       'D'           '2'          'AEMPZ_' + 'D' + chr(68 + 2) = 'AEMPZ_' + 'D' + 'F' = 'AEMPZ_DF'
-----------------------------------------------------------------------------------
Hint: Use  chr()  and  ord()  functions

'''

s = input("Enter any string with alternate character and digit: ")

if len(s) % 2 != 0:
    print("Pls enter string with alternate char and digit")
else:
    out = ""
    for i in range(0, len(s), 2):
        out += s[i] + chr(ord(s[i]) + int(s[i+1]))
    print("Result:", out)


#output:

Enter  any  string  with  alternate  character  and  digit  :  A4M3Z5D2
Result  :   AEMPZ_DF

Enter  any  string  with  alternate  character  and  digit  :  HYD
Pls  enter  string  with  alternate  char and digit

In [ ]:
#find demo
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index =a.find('is')
while  index != -1:
  print(index)
  index = a . find('is' , index +1)
print('End')

4
23
42
46
End

In [ ]:
'''
Modify  following  program  with  walrus  operator

Hint:  Combine  lines  7 , 8  and  10  to  a  single  line  with  walrus  operator
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = -1
while (index := a . find('is' , index +1)) != -1:
  print(index)
print('End')

4
23
42
46
End

In [ ]:
'''  (Home  work)
index()  method  demo  program

Modify  the  following  program  with  index()  method
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = a . index('is')
while  index != -1:
	print(index)
	index = a . index('is' , index + 1)
print('End')



'''
index()  method
-------------------
It  is  same  as  find()  method  except  that  it  throws   error (but  not  -1) when  string  is  not  found

Syntax :  Same  as   find()  method
'''

4
23
42
46

ValueError: substring not found

In [ ]:
#find()
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index =a.find('ranjith')
while index!=-1:
  print(index)
  index=a.find('ranjith' , index +1)
print('End') # it does not throws error because it is find method

End

In [ ]:
#index()
try:
  a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
  index =a.index('is')
  while True:
      print(index)
      index=a.index('is' , index +1)
except:
  print('End')

End

In [ ]:
#index() another way
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index =a.index('is')
try:
  while index!=-1:
    print(index)
    index=a.index('is' , index +1)
except ValueError:
  pass #for not printing anything
print('End')

# a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
# index = a . index('is')
# try:
#     while  index != -1:
#         print(index)
#         index = a . index('is' , index + 1)
# except ValueError:
#     print('End')

4
23
42
46
End

In [ ]:
'''(Home  work)
rfind()  method  demo  program

Modify  following  program  with  rfind()  method
'''
a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
index = a . rfind('is')
while  index != -1:
	print(index)
	index = a . rfind('is' ,0, index)#if we have str1 . rfind(str2 , x) two argument it will seach from left to right better to use 1 or 3 aguments.
print('End')



'''
rfind()  method
-------------------
1) What  does  str1 . rfind(str2 , x , y)  do ?  --->   Returns  index  of  str2  in  str1   between  indexes  y - 1  downto  x
																			  i.e. right  to  left

2) What  does  str1 . rfind(str2)  do ?  --->  Returns index  of  str2  in  str1   between  indexes  len(str1) - 1  downto  0
																     i.e. right  to  left

3) What  does  str1 . rfind(str2 , x)  do ?  --->  Returns  index  of  str2  in  str1   between  indexes  x  to  len(str1) - 1
														                  i.e.  left  to  right

4) How  many  arguments  can  rfind()  method  take ?  --->  1 (or) 3  but  not  2

5) What  is  the  issue  with  two  arguments ?  --->  Method  searches  from  left  to  right  even  though  it  is  rfind()  method

6) What  does  rfind()  method  return  (+ve  (or)  -ve  index) ?  --->  +ve  index  even  though  search  is  from  right  to  left

7) What  does  rfind()  method  do  if  str2  is  not  in  str1 ?  --->  Returns  -1
'''

46
42
23
4
End

'\nrfind()  method\n-------------------\n1) What  does  str1 . rfind(str2 , x , y)  do ?  --->   Returns  index  of  str2  in  str1   between  indexes  y - 1  downto  x\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t  i.e. right  to  left\n\n2) What  does  str1 . rfind(str2)  do ?  --->  Returns index  of  str2  in  str1   between  indexes  len(str1) - 1  downto  0\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t     i.e. right  to  left\n\n3) What  does  str1 . rfind(str2 , x)  do ?  --->  Returns  index  of  str2  in  str1   between  indexes  x  to  len(str1) - 1\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t                  i.e.  left  to  right\n\n4) How  many  arguments  can  rfind()  method  take ?  --->  1 (or) 3  but  not  2\n\n5) What  is  the  issue  with  two  arguments ?  --->  Method  searches  from  left  to  right  even  though  it  is  rfind()  method\n\n6) What  does  rfind()  method  return  (+ve  (or)  -ve  index) ?  --->  +ve  index  even  though  search  is  from  right  to  left\n\n7) What  does  rfind()  method  do  if  str2  is  not  in  str1 ?  --->\xa0\xa0Returns\xa0\xa0-1\n'

In [ ]:
'''  (Home  work)
rindex()   method  demo  program

Modify  following  program  with  rindex()  method

Hint: Use   try  and  except
'''

try:
  a = 'Hyd is green city. Hyd is hitec city. Hyd is his cityi'
  index = a . rindex('is')
  while True:
    print(index)
    index = a . rindex('is' ,0, index )
except:
  print('End')


'''
rindex()  method
--------------------
It  is  same  as   rfind()  method  except  that  it  throws  error  but  not  -1  when  string  is  not  found
'''

46
42
23
4
End

'\nrindex()  method\n--------------------\nIt  is  same  as   rfind()  method  except  that  it  throws  error  but  not  -1  when  string  is\xa0\xa0not\xa0\xa0found\n'

In [ ]:
#  count()  method  demo  program (Home  work)
a = 'Hyd is green city. Hyd is hitec city. Hyd is his city'
print(a . count('is')) #4
print(a . count('is' , 19 , 48)) #counting 'is' from 19 to 47 indexes of the sting.
print(a . count('was')) #0
'''
count()
---------
1) What  does  str1 . count(str2)  do ? --->  Returns  number  of  times  str2  is  found  in  str1

2) What  does  str1 . count(str2 , x , y)  do ? --->
														Returns  number  of  times  str2  is  found  in  str1  between  indexes  x  and  y - 1
'''

4
3
0

'\ncount()\n---------\n1) What  does  str1 . count(str2)  do ? --->  Returns  number  of  times  str2  is  found  in  str1\n\n2) What  does  str1 . count(str2 , x , y)  do ? --->\n\t\t\t\t\t\t\t\t\t\t\t\t\t\tReturns  number  of  times  str2  is  found  in  str1  between  indexes  x\xa0\xa0and\xa0\xa0y\xa0-\xa01\n'

In [ ]:
#  Find  outputs  (Home  work)
a = 'Hyd is\tgreen\ncity.Hyd is\thitec\ncity.Hyd is\this\ncity'
print(a . count(' '))#3
print(a . count('\t'))#3
print(a.count('\n'))#3

3
3
3

In [ ]:
'''
Write  a  program  to  replace  every  occurance  of  first  character  in  the  string  with  '*'  except  first  character

Let  input  be  'babble'
What  is  the  output ?  ---> ba**le
'''


a=input("enter the string")
b=a[:1]
c=b+a[1:].replace(b,'*')
print(c)

enter the stringbabble
ba**le

In [ ]:
#  Find  outputs  (Home  work)
a = '15:36:48'
print(a . split(':'))#[15,36,48]
print(a)#15:36:48

['15', '36', '48']
15:36:48

In [ ]:
# Find  outputs  (Home  work)
a = 'Hyd\nis green\tcity'
print(a . split(' '))#['Hyd\nis','green\tcity']
print(a . split())#it is default white space operator i.e \t,\n,\r and space therefore o/p:-['Hyd','is','green','city']
print(a . split('green')) #['Hyd\nis','green\tcity']
# print(a.split(''))#spliting with the empty string therefore it through error

['Hyd\nis', 'green\tcity']
['Hyd', 'is', 'green', 'city']
['Hyd\nis ', '\tcity']

In [ ]:
# Find  outputs  (Home  work)
a = 'Hyd	is	green	city' #  There  is  tab  between  the  words
print(a . split('\t'))#the input(a) is tab not space and it is also spliting with the tab so the o/p:-["Hyd","is","green","city"]
print(a . split())# the default whitespace operators therefore the o/p:-["Hyd","is","green","city"]
print(a.split(' '))#it spliting with the space not with the tab therefore the o/p:-['Hyd	is	green	city']

['Hyd', 'is', 'green', 'city']
['Hyd', 'is', 'green', 'city']
['Hyd\tis\tgreen\tcity']

In [ ]:
# Find  outputs (Home  work)
a = 'Hyd   is   green   city'  #  There  are  3  spaces  between  the  words
#if is space in the input then it gives the empty string ex:"Ranjith<space><space>Addakula" then the o/p:-["Ranjith","","Addakula"] insted of space it gives empty string you can see in the list
print(a . split())#
print(a.split(' '))

['Hyd', 'is', 'green', 'city']
['Hyd', '', '', 'is', '', '', 'green', '', '', 'city']

In [ ]:
# Find  outputs  (Home  work)
a = 'www.gmail.com'
print(a.split('.'))#splitting with the dot(.) so o/p:-['www', 'gmail', 'com']

['www', 'gmail', 'com']

In [ ]:
'''
Write  a  program  to  evaluate  an  expression  which  contains  only  +  symbols
Let  input  be  123+45+6+789
Print  the  sum  result
'''

#this is only work for the integes not for the float or strings or complex and bool inputs
a=input("enter input:")
b=a.split('+')
d=0
for i in b:
  c=eval(i)
  d=d+c
print(d)

enter input:5+(3+2j)

SyntaxError: '(' was never closed (<string>, line 1)

In [ ]:
try:
  a=input("enter input:")
  b=a.split('+')
  sum=0
  for i in b:
    sum=sum+eval(i)
  print(sum)
except TypeError:#it will execute when the input is string
  print("the input should not be string")
except:# it will execute when the input is with complex.
  print("invalid expression")

enter input:5+"ranjith"
the input should not be string

In [ ]:
#  Find  outputs  (Home  work)
a = ['15' , '36' , '48']
print(':' . join(a))#15:36:48
b = ('Hyd' , 'is' , 'green' , 'city')
print(' ' . join(b))#Hyd is green city
c = {'10' , '20' , '15' , '25' , '52'}
print(',' . join(c))#10,20,15,25,52
d = ['www' , 'gmail', 'com']
print('.' . join(d))#www.gmail.com
e = [15 , 36 , 48]#error because only strings has join method
# print(':' . join(e))
f = ['Sankar' , 'Dayal' , 'Sarma']
print('' . join(f))#SankarDayalSarma
g = range(5)
# print('-'.join(g))#error because only strings has join method

15:36:48
Hyd is green city
10,15,25,20,52
www.gmail.com
SankarDayalSarma

In [ ]:
# endswith()  method  demo  progrram (Home  work)
a = 'Hyd is green city'
print(a . endswith('city'))#True
print(a . endswith('town'))#False
print(a . endswith('green' , 3 , 12))#True
print(a . endswith('green' , 3 , 13))#False
print(a . endswith(' ',3,13))#false

True
False
True
False
False

## **for the below programs just excepting the output**

In [ ]:
# What  are  the  outputs  if  input  is   [25 , 10.8 , 'Hyd' , True]   (Home  work)
a = input('Enter  list  :  ')
print(type(a))#list
print(a)#[25 , 10.8 , 'Hyd' , True]
b = eval(a)
print(b)#[25 , 10.8 , 'Hyd' , True]
print(type(b))#<class list>

Enter  list  :  [25 , 10.8 , 'Hyd' , True]
<class 'str'>
[25 , 10.8 , 'Hyd' , True]
[25, 10.8, 'Hyd', True]
<class 'list'>

In [ ]:
#  Find  outputs (Home  work)
a = [10, 20, 15, 18]
b = a
print(a  is  b)#False
print(a  ==  b)#True
b[2]=12#[10, 20, 12, 18]
# print(b)
print(a)#[10, 20, 15, 18]

True
True
[10, 20, 12, 18]

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 15 , 18]
b = [100 , 200 , 150]
print(a + b)#[110,220,165,18] or error
print(a + 5)#error
print(a + '5')#error
print([10 , 20]+(30,40))#error

[10, 20, 15, 18, 100, 200, 150, 5]

In [ ]:
#  Tricky  program
#  Find  outputs
a = [1,2,3]
b = [4,5,6]
print(a , id(a))#[1,2,3] say 1000
a += b #[1,2,3,4,5,6]
print(a,id(a)) #[1,2,3,4,5,6] same 1000

[1, 2, 3] 137344771468992
[1, 2, 3, 4, 5, 6] 137344771468992

In [ ]:
#  Tricky  program
#  Find  outputs
a = [1,2,3]
b = [4,5,6]
print(a , id(a))#[1,2,3] say 1000
a  = a + b #[1,2,3,4,5,6]
print(a,id(a)) #[1,2,3,4,5,6] same 1000

[1, 2, 3] 137344771019904
[1, 2, 3, 4, 5, 6] 137344783938944

In [ ]:
# List  packing
a = 25
b = 10.8
c = 'Hyd'
d = True
e = [a , b , c , d]
print(e)#[25,10.8,'Hyd',True]
print(type(e))#<class list>

[25, 10.8, 'Hyd', True]
<class 'list'>

In [ ]:
# Find  outputs
list = [25 , 10.8 , 'Hyd' ,  True]
a , *b , c = list
print('a : ' , a)  #  a :  25
print('b : ' , b) #  b : [10.8 , 'Hyd']
print('c : ' , c) #  c :  True
print(type(b))#<class list>
x , *y = list
print('x : ' , x)#25
print('y : ' , y)#[10.8,"Hyd",True]
*p , q = list
print('p : ' , p)#[25,10.8,"Hyd"]
print('q : ',q)#True or 1.0

a :  25
b :  [10.8, 'Hyd']
c :  True
<class 'list'>
x :  25
y :  [10.8, 'Hyd', True]
p :  [25, 10.8, 'Hyd']
q :  True

In [ ]:
list = [25 , 10.8 , 'Hyd' ,  True,"ranjith",33,3+4j,"addakula"]
a , *b[1:4] , c = list
print('a : ' , a)  #  a :  25
print('b : ' , b) #  b : [10.8 , 'Hyd']
print('c : ' , c) #  c :  True

a :  25
b :  [10.8, 10.8, 'Hyd', True, 'ranjith', 33, (3+4j), 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 33, (3+4j), (3+4j), (3+4j)]
c :  addakula

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , c , d , e = list#error
a , b , *c , d , e = list#error
print('a : ' , a)
print('b : ' , b)
print('c : ' , c)
print('d : ' , d)
print('e : ' , e)
a , b , *c , d,e,f=list#error

a :  25
b :  [10.8, 10.8, 'Hyd', True, 'ranjith', 33, (3+4j), 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 'Hyd', True, 'ranjith', 33, (3+4j), 33, (3+4j), (3+4j), (3+4j)]
c :  addakula
d :  True
e :  [25, 10.8, 'Hyd', True]
nothing

In [ ]:
# Find  outputs  (Home  work)
list = [25 , 10.8 , 'Hyd' , True]
a , b , _  , d = list
print('a : ' , a)#25
print('b : ' , b)#10.8
print('_ :  ' , _)#"Hyd"
print('d : ',d)#True

a :  25
b :  10.8
_ :   Hyd
d :  True

In [ ]:
# Find  outputs (Home  work)
list = [25 , 10.8 , 'Hyd' , True , 3 + 4j]
a , b , a , d , a = list
print('a : ' , a)
print('b : ' , b)
print('d : ',d)

a :  (3+4j)
b :  10.8
d :  True

# List functions and methods

In [ ]:
#  len()  function demo   program  (Home  work)
a = [ 25, 10.8, 'Hyd', True]
print(len(a))#4
b = []
print(len(b))#empty list(0)
c = [[10 , 20] , 30 , 40]
print(len(c))#3


'''
What  does  len(list)  do ?  --->  Returns  number  of  elements  in  the  list
'''

4
0
3

'\nWhat  does  len(list)  do ?  --->  Returns  number  of  elements  in  the  list\n'

In [ ]:
# sum()  function  demo  program  (Home  work)
a = [25 , 10.8 , True]
print(sum(a))#36.8
b= [3 + 4j , 5 + 6j]
print(sum(b))#[8+10j]
c = [25 , 10.8 , True , 3 + 4j , False]
print(sum(c))#39.8+4j
d = [10 , 20 , 15 , 18]
print(sum(d))#53
e = [25 , 10.8 , 'Hyd' , True]
# print(sum(e))#error


'''
What  does  sum(list)  do ?  ---> Returns  sum  of  list  elements
'''

36.8
(8+10j)
(39.8+4j)
63

'\nWhat  does  sum(list)  do ?  ---> Returns  sum  of  list  elements\n'

In [ ]:
#  Find  outputs
a = [[10 , 20 , 15 , 18]]
# print(sum(a))
b=a[0]
print(sum(b))
# print(How  to  determine  sum  of  inner  list  elements)
# print(How  to  determine  sum  of  inner  list  elements  in  another  way)

63

In [ ]:
# max()  and  min()  functions  demo  program  (Home  work)
a = [10 , 20 , 15 , 18 , 30, 5 , 12]
print(max(a))#30
print(min(a))#5
b = ['Rama' , 'Sita' , 'Rajesh' , 'Kiran' , 'Amar' , 'Vamsi' , 'Manohar']
print(max(b))#vamsi
print(min(b))#Amar
c = [25 , 10.8 ,  3 + 4j , True]
# print(max(c))#10.8 or o/p:- error
d = [25 , '35']
# print(max(d))#error
# print(max([]))#error
# print(min([]))#error

30
5
Vamsi
Amar

In [ ]:
# list()  function  demo  program
a = (10 , 20 , 15, 18)
b = list(a)
print(b)#[10 , 20 , 15, 18]
print(type(b))#class list>
print(a  is  b)#False
print(a == b)#False

[10, 20, 15, 18]
<class 'list'>
False
False

In [ ]:
#  Find  outputs (Home  work)
a = range(4 , 10 , 2)#(4,6,8)
b = list(a)#[4,6,8]
print(b)#[4,6,8]
print(type(b))#<class list>
a = list('Vamsi')
print(a)#["vamsi"] or o/p:-["v","a","m","s","i"]
a = list()#["vamsi"] o/p:-or another empty list is created with the reference 'a'
print(a)#["vamsi"] o/p:- []
# print(list(25))#[25] o/p:-Error ('int' object is not iterable)
# print(list(10.8))#[10.8] o/p:-Error ('float' object is not iterable)
# print(list(True))#[1.0] o/p:-Error ('bool' object is not iterable)
# print(list(None))#[] o/p:-Error ('NoneType' object is not iterable)


'''
1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list  and  returns  list

2) What  does  list(no-args)  do ?  ---> Returns  an  empty  list

3) What  does  list(non-sequence)  do ?  --->  Throws  error
'''

[4, 6, 8]
<class 'list'>
['V', 'a', 'm', 's', 'i']
[]

'\n1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list  and  returns  list\n\n2) What  does  list(no-args)  do ?  ---> Returns  an  empty  list\n\n3) What  does  list(non-sequence)  do ?  --->  Throws  error\n'

In [ ]:
# Find  outputs (Home  work)
a = ((10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90))
print(list(a))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
b = { (10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)}
print(list(b))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
c = ([10 , 20] , (30 , 40) , {50 , 60})
print(list(c))#[[10 , 20] , (30 , 40) , {50 , 60}]

[(10, 20), (30, 40, 50), (60, 70, 80, 90)]
[(30, 40, 50), (60, 70, 80, 90), (10, 20)]
[[10, 20], (30, 40), {50, 60}]

In [ ]:
# sorted()  function   demo  program
a = [10 , 20 , 15 , 5 , 12]
b = sorted(a)#[5,10,12,15,20]
print(b)#[5,10,12,15,20]
print(type(b))#<class list>
c = sorted(a , reverse = True)
print(c)#[20,15,12,10,5]
print(a)#[10 , 20 , 15 , 5 , 12]


'''
sorted()  function
----------------------
1) What  does  sorted(list)  do  ?  ---> Returns  another  sorted  list

2) Is  argument  list  modified ?  --->  No  and  it  remains  unchanged

3) How  to  sort  list  in  descending  order ?  --->  sorted(list , reverse = True)

4) What  are  the  two  arguments  of  sorted()  function ?  --->  List  to  be  sorted
																												and
																					                  reverse = True  which  is  an  optional  argument
'''

[5, 10, 12, 15, 20]
<class 'list'>
[20, 15, 12, 10, 5]
[10, 20, 15, 5, 12]

'\nsorted()  function\n----------------------\n1) What  does  sorted(list)  do  ?  ---> Returns  another  sorted  list\n\n2) Is  argument  list  modified ?  --->  No  and  it  remains  unchanged\n\n3) How  to  sort  list  in  descending  order ?  --->  sorted(list , reverse = True)\n\n4) What  are  the  two  arguments  of  sorted()  function ?  --->  List  to  be  sorted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                  reverse = True  which  is  an  optional  argument\n'

In [ ]:
# Find  outputs  (Home  work)
a = ['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']
b = sorted(a)
print(b)#["Amar","Kiran","Rajesh","Rama","Rama Rao","Sita","Vamsi"]
c = sorted(a , reverse = True)
print(c)#["Vamsi","Sita","Rama Rao","Rama","Rajesh","kiran","Amar"]
print(a)#['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']

['Amar', 'Kiran', 'Rajesh', 'Rama', 'Rama  Rao', 'Sita', 'Vamsi']
['Vamsi', 'Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']
['Rama', 'Rajesh', 'Amar', 'Sita', 'Vamsi', 'Kiran', 'Rama  Rao']

In [ ]:
 #all()  function demo  program  (Home  work)
a = [12 > 10 , 5 < 20 , 30 == 30]
print(all(a))#True
b = [9 >= 6 , 12 <= 9 , 6 == 6]
print(all(b))#False
c = [25 , 10.8 , '' , True , 3+4j , 'Hyd']
print(all(c))#False
d = [10 , 0 , 20]
print(all(d))#False
e = []
print(all(e))#True


'''
all()  function
-----------------
1) What  does  all(list)  do ?  --->  Returns  True  when  every  element of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  --->  When  at  least  one  element  of  the  list  is  False

3) if  cond1  and  cond2  and  cond3  and  cond4:
    How  to  reduce  the  four  conditions  to  a  single  condition ?  --->  if  all([cond1 , cond2 , cond3 , cond4]):
'''

True
False
False
False
True

'\nall()  function\n-----------------\n1) What  does  all(list)  do ?  --->  Returns  True  when  every  element of  the  list  is  True  and  False  otherwise\n\n2) When  does  it  return  False ?  --->  When  at  least  one  element  of  the  list  is  False\n\n3) if  cond1  and  cond2  and  cond3  and  cond4:\n   How  to  reduce  the  four  conditions  to  a  single  condition ?  --->  if  all([cond1 , cond2 , cond3 , cond4]):\n'

In [ ]:
# any()  function demo program  (Home  work)
a  = [12 > 18 , 5 < 20 , 35 == 30]
print(any(a))#True
b = [12 > 18 , 25 < 20 , 35 == 30]
print(any(b))#False
c = [0 , 0.0 , '' , 25 , 0 + 0j , False]
print(any(c))#True
d = [0 , 0.0 , '' , 0 + 0j , False]
print(any(d))#False
e = []
print(any(e))#False


'''
any()   function
-------------------
1) What  does  any(list)  do ?  ---> Returns  True  when  at  least  one  element  of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  ---> When  every  element  of  the  list  is  false

3) if  cond1  or  cond2  or  cond3  or  cond4:
     How  to  reduce  the  four  conditions  to  a  single  condition ?  ---> if  any([cond1 , cond2 , cond3 , cond4]):

4) all()  and  any()  functions  are  used  as  an  alternative  when  there  are  too  many  conditions  in  if  and  while
'''

True
False
True
False
False

'\nany()   function\n-------------------\n1) What  does  any(list)  do ?  ---> Returns  True  when  at  least  one  element  of  the  list  is  True  and  False  otherwise\n\n2) When  does  it  return  False ?  ---> When  every  element  of  the  list  is  false\n\n3) if  cond1  or  cond2  or  cond3  or  cond4:\n     How  to  reduce  the  four  conditions  to  a  single  condition ?  ---> if  any([cond1 , cond2 , cond3 , cond4]):\n\n4) all()  and  any()  functions  are  used  as  an  alternative  when  there  are  too  many  conditions  in  if  and  while\n'

In [ ]:
# del  operator  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)#[10 , 20 , 15 , 18]
del    a[2] #15 will be deleted
print(a)#[10 , 20 , 18]
# del  a[3]#Error in the above 'a' there is no 3rd index element it gives error
del  a #reference 'a' will be deleted
# print(a) #error because there is no reference 'a'

[10, 20, 15, 18]
[10, 20, 18]

In [ ]:
#  append()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18]
print(list)#[10 , 20 , 15 , 18]
list . append(19) #19 will be added at the end of the list
print(list)#[10 , 20 , 15 , 18,19]

In [ ]:
#  Find  outputs (Home  work)
list = []
print(list)#empty list
list . append(25)
list . append(10.8)
list . append('Hyd')
list . append(True)
print(list)#[25,10.8,'Hyd',True]

[]
[25, 10.8, 'Hyd', True]

In [ ]:
# Find  outputs  (Home  work)
list = []
for  x  in   range(0 , 50 , 10):
	list . append(x)
print(list)#[0,10,20,30,40]

[0, 10, 20, 30, 40]

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 30]
a . append('Hyd')
print(a)#[10 , 20 , 30,"Hyd"]
print(len(a))#4
print(a[3])   # print(How  to  print  4th  element  of  list  'a')
print(a[3][0])  #print(How  to  print  'H')
print(a[3][1])   #print(How  to  print  'y')
print(a[3][2])   #print(How  to  print  'd')

[10, 20, 30, 'Hyd']
4
Hyd
H
y
d

In [ ]:
list = [10 , 20 , 15 , 18 , 15 , 12 , 15 , 19]
list . remove(15)
print(list) #[10 , 20 , 18 , 15 , 12 , 15 , 19]
# list . remove(25) #it is not present in the list so it throughs value error
print(list) #error

[10, 20, 18, 15, 12, 15, 19]
[10, 20, 18, 15, 12, 15, 19]

In [ ]:
# remove()  method  demo  program  (Home  work)
try:
	list = [10 , 20 , 15 , 18 , 15 , 12 , 15 , 19]
	list . remove(15)
	print(list) #[10 , 20 , 18 , 15 , 12 , 15 , 19]
	list . remove(25)
except:
	print('25  is   not  in  the  list')



'''
remove()   method
---------------------
1) What  does  remove(x)  do ?  --->  Removes   first  occurance  of  'x'  from  the  list

2) What  does  remove()  method  do  if  'x'  is  not   in  the  list ?  --->  Throws  ValueError

3) How  to  remove  all  ocurances  of  'x'  from  the  list ?  --->   Call  remove()  method  in  a  loop
'''

[10, 20, 18, 15, 12, 15, 19]
25  is   not  in  the  list

"\nremove()   method\n---------------------\n1) What  does  remove(x)  do ?  --->  Removes   first  occurance  of  'x'  from  the  list\n\n2) What  does  remove()  method  do  if  'x'  is  not   in  the  list ?  --->  Throws  ValueError\n\n3) How  to  remove  all  ocurances  of  'x'  from  the  list ?  --->   Call  remove()  method  in  a  loop\n"

In [ ]:
'''
Write  a  program  to  delete  'all'  occurences  of  'x'  from  the  list

Let  1st  input  be   [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]  and
2nd  input  be  15
What  is  the  output ?  ---> [10 , 20 ,  18 , 19 , 17 , 20 , 14]
'''

a=eval(input("enter list elements"))
b=eval(input("enter input to be deleted"))
for b in a:
    a.remove(b)
print(a)


# n = eval(input("Enter any list: "))
# b = eval(input("Enter the element to be deleted: "))
# while b in n:
#     n.remove(b) #Modifies the existing list by removing the 1st occurance of the desired element
# print(f"List without {b}'s: {n}")

enter list elements[10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]
enter input to be deleted15
[20, 18, 20, 15, 14]

In [ ]:
# clear() method  demo program  (Home  work)
list = [10 , 20 , 15 , 18]
print(list)#[10 , 20 , 15 , 18]
list . clear()
print(list)#[]


'''
clear()  method
------------------
1) What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  the  list  and  list  becomes  empty

2) What  about  remove()  and  pop()  methods  ?  ---> They  remove  single  element  of  the  list
'''

[10, 20, 15, 18]
[]

'\nclear()  method\n------------------\n1) What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  the  list  and  list  becomes  empty\n\n2) What  about  remove()  and  pop()  methods  ?  ---> They  remove  single  element  of  the  list\n'

In [ ]:
# reverse()  method  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)#[10 , 20 , 15 , 18]
a . reverse()
print(a)#[18,15,20,10]


'''
reverse()  method
---------------------
1) What  does  reverse()  method  do ?  --->  Reverses  all  the  elements  of  list

2) Where  are  the  results  stored ?  --->  In  the  same  list  replacing  existing  elements (List  is  mutable)
'''

[10, 20, 15, 18]
[18, 15, 20, 10]

'\nreverse()  method\n---------------------\n1) What  does  reverse()  method  do ?  --->  Reverses  all  the  elements  of  list\n\n2) Where  are  the  results  stored ?  --->  In  the  same  list  replacing  existing  elements (List  is  mutable)\n'

In [ ]:
#  sort()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18 , 5]
print(list)#[10 , 20 , 15 , 18 , 5]
list . sort()
print(list)##[5,10,15,18,20]
list . sort(reverse = True)
print(list)#[20,18,15,10,5]

[10, 20, 15, 18, 5]
[5, 10, 15, 18, 20]
[20, 18, 15, 10, 5]

In [ ]:
 # Find  outputs (Home  work)
a = ['Rama' , 'Rajesh' , 'Amar' ,  'Sita' ,  'Vamsi' , 'Kiran' , 'Rama  Rao']
print(a)#['Rama' , 'Rajesh' , 'Amar' ,  'Sita' ,  'Vamsi' , 'Kiran' , 'Rama  Rao']
a . sort()
print(a)#['Amar', 'Kiran', 'Rajesh', 'Rama', 'Rama  Rao', 'Sita', 'Vamsi']
a . sort(reverse = True)
print(a)#['Vamsi', 'Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']

['Rama', 'Rajesh', 'Amar', 'Sita', 'Vamsi', 'Kiran', 'Rama  Rao']
['Amar', 'Kiran', 'Rajesh', 'Rama', 'Rama  Rao', 'Sita', 'Vamsi']
['Vamsi', 'Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']

In [ ]:
# Identify  error (Home  work)
a = [25 , 10.8 ,  'Hyd' ,  True]
a . sort()#error because sequence and non sequence cann't be sorted

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
#  count()  method  demo    program (Home  work)
a = [10 , 20 , 15 , 18 , 15 , 12 , 14 , 15 , 19]
print(a . count(15))#3
print(a . count(25))#0
print(len(a))#9

'''
What  does  list . count(x)  do ?  ---> Returns  number  of  times  'x'  is  in  the  list
'''

3
0
9

In [ ]:
'''
Tricky  program
Write  a  program  to  remove  all  duplicate  elements  of  the  list  (Not  even  single  occurance)
Let  input  be  [10 , 20 , 15 , 10 , 14 , 10 , 18 , 20 , 19]
What  is  the  output ?  ---> [15 , 14 , 18 , 19]

Hint:  Use  count()  and  append()  methods

'''

a=eval(input("enter input values"))
b=[]
# count=0
for i in a:
  if a.count(i)==1:
    b.append(i)
print(b)

enter input values[10 , 20 , 15 , 10 , 14 , 10 , 18 , 20 , 19]
[15, 14, 18, 19]

In [ ]:
'''
Write  a  program  to  determine  all  the  list  elements  are  identical  or  not

1) Let  input  be  [25 , 25 , 25 , 25]
    What  is  the  output ?  ---> All  the  elements  are  identical
    How  many  elements  are  in  the  list ?  --->  4
    How  many  times  is  first  element  repeated ?  ---> 4

2) Let  input  be  [10 , 10 , 20 ,  10]
    What  is  the  output ?  --->All  the  elements  are  not  identical
    How  many  elements  are  in  the  list ?  ---> 4
    How  many  times  is  first  element  repeated ? --->  3

3) Hint: Use  len()  and  count()
'''
a=eval(input("enter input values"))
if a.count(a[0])==len(a):
  print("Identical")
else:
  print("not Identical")
# output:-

# Enter  any  list  :  [25,25,25,25]
# All  the  list  elements  are  identical
# Enter  any  list  :  [10,10,20,10]
# List   elements  are  not  identical

enter input values[10 , 10 , 20 ,  10]
not Identical

In [ ]:
# index()  method  demo  program  (Home  work)
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
#     0     1     2    3    4     5    6    7     8    9    10
try:
	i = a . index(15)
	while  True:
		print(i)
		i = a . index(15 , i + 1)
except:
	print(F'15  is  found  {a . count(15)}  times ')


'''
index()  method
-------------------
1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list

2) What  does  index(invalid-element)  do  ?  --->  Throws  error

3) list . index(x , i)
    list . index(x)
    What  is  the  difference  between  the  two  statements ?  --->
										list . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but
										list . index(x)   searches  for  for  'x'  from   index  0  of  the  list

Note:
1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()

2) What  is  the  only  search  method  in  list  class  ---> index()
'''

15  is  found  3  times

"\nindex()  method\n-------------------\n1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list\n\n2) What  does  index(invalid-element)  do  ?  --->  Throws  error\n\n3) list . index(x , i)\n    list . index(x)\n    What  is  the  difference  between  the  two  statements ?  --->\n\t\t\t\t\t\t\t\t\t\tlist . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but\n\t\t\t\t\t\t\t\t\t\tlist . index(x)   searches  for  for  'x'  from   index  0  of  the  list\n\nNote:\n1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()\n\n2) What  is  the  only  search  method  in  list  class  ---> index()\n"

In [ ]:
'''
Modify  the  following  program  with  walrus  operator

Hint:  Call  index()  method  only  once
'''
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
i=-1 #'-1' because in while condition i+1=>-1+1=0 it will start searching from the 0 index so for that reason i=-1
try:
	while (i := a . index(15 , i + 1)) :
		print(i)
except:
	print(F'15  is  found  {a . count(15)}  times ')

2
5
8
15  is  found  3  times

# **20/08/2025**

In [ ]:
# fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# newlist = [x for x in fruits if "a" in x]

# print(newlist)

In [ ]:
# Write  a  program  to  create  a  list  with  cubes  of  2 , 4 , 6 , 8 , 10  with  list  comprehension (Home  work)
lst=eval(input("enter list with elements:"))
# lst=[2,4,6,8,10]
list1=[x**3 for x in lst]
print(list1)

enter list with elements[2 , 4 , 6 , 8 , 10]
[8, 64, 216, 512, 1000]

In [ ]:
'''
(Home  work)
Write  a  program  to  extract  1st  character  of  each  string  in  capital  letters  in  a  list  of  srings  without  comprehension

Let  input  be   ['hyd' , 'pune' , 'chennai' , 'vijayawada']
What  is  the  output ?  ---> ['H' , 'P' , 'C' , 'V']
'''
lst=['hyd' , 'pune' , 'chennai' , 'vijayawada']
b=[]
for i in lst:
  b.append(i[0].upper())
print(b)

['H', 'P', 'C', 'V']

In [ ]:
# dir(list)

In [ ]:
from os import sep
'''
Write  a  program  to  append  each  word  of  the  sentence  and  its  length  to  a  list
(word  should  be  in  capital  letters)  without  comprehension

Let  input  be   hyd  is  green  city
What  is  the  output ?  --->  [['HYD' , 3] , ['IS' , 2] , ['GREEN' , 5] , ['CITY', 3]]
'''

lst=input("enter the sentence:")
b=lst.split()
c=[]
for i in b:
  c.append([i.upper(),len(i)])
print(c)

enter the sentence:Students are getting bored
[['STUDENTS', 8], ['ARE', 3], ['GETTING', 7], ['BORED', 5]]

In [ ]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input :  hyd  is  green  city

Output :  [['HYD' , 3] , ['IS' , 2] , ['GREEN' , 5] , ['CITY' , 4]]
'''

lst=input("enter the sentence:")
c=[[i.upper(),len(i)] for i in lst.split()]
print(c)

#the below code is not working
# b=lst.split()
# c=[[c for i in b[c.append([i.upper(),len(i)])]]
# for i in b:
#   c.append([i.upper(),len(i)])
# print(c)

enter the sentence:hyd  is  green  city
[['HYD', 3], ['IS', 2], ['GREEN', 5], ['CITY', 4]]

In [ ]:
'''
Write  a  program  to  add  two  lists  of  unequal  length  without  comprehension

Let  1st  list  be  [10 , 20 , 30 , 40 , 50 , 60 , 70]  and  2nd  list  be  [100 , 200 , 300 , 400]
What  is   the  result ?  ---> [10 + 100 , 20 + 200 , 30 + 300 , 40 + 400]
'''
# lst1=[10 , 20 , 30 , 40 , 50 , 60 , 70]
# lst2=[100 , 200 , 300 , 400]
# res=[]
# for i in



lst1=[10 , 20 , 30 , 40 , 50 , 60 , 70]
lst2=[100 , 200 , 300 , 400]
res=[]

# loop until the smaller length
for i in range(min(len(lst1), len(lst2))):
    if i < len(lst1) and i < len(lst2):
        res.append(lst1[i] + lst2[i])

print(res)

[110, 220, 330, 440]

In [ ]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input1 : [10 , 20 , 30 , 40 , 50 , 60 , 70]
Input2 :  [100 , 200 , 300 , 400]
Output :  [110 , 220 , 330 , 440]
'''
lst1=[100 , 200 , 300 , 400]
lst2=[10 , 20 , 30 , 40 , 50 , 60 , 70]
res=[lst1[i]+lst2[i] for i in range(min(len(lst1), len(lst2)))]
print(res)

[110, 220, 330, 440]

In [ ]:
'''
Write   a  program  to  initialize  a  nested  list  with  zeroes  without  comprehension

Let inputs  be  3  and  4
What  is  the  output ?  --->  [[0 , 0 , 0 , 0] , [0 , 0 , 0 , 0] , [0 , 0 , 0 , 0]]

Hint:  Use  repetition  operator  *
'''
input1=eval(input("enter no of list"))
input2=eval(input("enter no of elements in the list"))
result=[]
for i in range(input1):
  result.append([0]*input2)
print(result)

enter no of list5
enter no of elements in the list2
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [ ]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Inputs :  3  and  4

Output :  [[0 , 0 , 0 , 0] , [0 , 0 , 0 , 0] , [0 , 0 , 0 , 0]]
'''
input1=eval(input("enter no of list"))
input2=eval(input("enter no of elements in the list"))
result=[([0]*input2) for i in range(input1)]
print(result)

enter no of list2
enter no of elements in the list6
[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]

In [ ]:
#WAP to print even numbers between 1 to 20 with comprehension
a=[x for x in range(1,21) if x%2==0]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#WAP to print even numbers between 1 to 20 without comprehesion
a=[x for x in range(2,21,2)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
'''
Write  a  program  to  extract  those  elements  of  1st  list  which  are  not  in  2nd  list   without  comprehension

Let  1st  list  be  [10 , 20 , 15 , 18 , 25 , 32]  and  2nd  list  be  [30 , 40 , 10 , 25 , 15]
What  is  the  output ?  --->  [20 , 18 ,  32]
'''

a=eval(input("enter list1:")) #[10 , 20 , 15 , 18 , 25 , 32]
b=eval(input("enter list2:")) #[30 , 40 , 10 , 25 , 15]
c=[]
for i in set(a):
  if i not in set(b):
    c.append(i)
print(c)

enter list1:[10 , 20 , 15 , 18 , 25 , 32]
enter list2:[10 , 20 , 15 , 18 , 25 , 32]
[]

In [ ]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input1 :   [10 , 20 , 15 , 18 , 25 , 32]
Input2 :  [30 , 40 , 10 , 25 , 15]
Output :  [20 , 18 , 32]
'''

a=eval(input("enter list1:")) #[10 , 20 , 15 , 18 , 25 , 32]
b=eval(input("enter list2:")) #[30 , 40 , 10 , 25 , 15]
c=[[i if i not in b] for i in set(a)]

SyntaxError: expected 'else' after 'if' expression (ipython-input-2405927110.py, line 12)

# 21-08-25

In [ ]:
# Find  outputs   (Home  work)
a = 25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 'Hyd' , 25
print(a)#(25 , 10.8 , (3 + 4j) , 'Hyd' , True , None , 'Hyd' , 25)
print(type(a))#<class tuple>
# a[3] = 'Sec'#error
# a[3 : 6] = 60 , 70 , 80 #error

(25, 10.8, (3+4j), 'Hyd', True, None, 'Hyd', 25)
<class 'tuple'>

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a))#(1,2,3) say 1000
a += b
print(a , id(a))#(1,2,3,4,5,6) say 20000

(1, 2, 3) 136530807860096
(1, 2, 3, 4, 5, 6) 136530821062880

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a)) ##(1,2,3) say 1000
a = a + b
print(a , id(a)) #(1,2,3,4,5,6) say 9000

(1, 2, 3) 136530807721920
(1, 2, 3, 4, 5, 6) 136530821062880

In [ ]:
#  What   are  the  outputs  if  input  is  (10 , 20 , 30 , 40) ?   (Home  work)
a = input('Enter  Tuple  :  ')#(10 , 20 , 30 , 40)
print(a) #(10 , 20 , 30 , 40)
print(type(a)) #<class str>
b = eval(a)
print(b)#(#10,20,30,40)
print(type(b))#<class tuple>
print(len(b))#4

Enter  Tuple  :  (10,20,30,40)
(10,20,30,40)
<class 'str'>
(10, 20, 30, 40)
<class 'tuple'>
4

In [ ]:
# Find  outputs  (Home  work)
a = (10 , [20 , 30 , 40] , 50 , 60)
a[1][0]=80
a[1].append(70)#= 70 #no error because it is list
print(a)#(10 , [20 , 30 , 70] , 50 , 60)
print(type(a))
# a[1] = [80 , 90 , 100]#error because of updating the 1st element of the tuple class
print(a)#(10 , [20 , 30 , 40] , 50 , 60)

(10, [80, 30, 40, 70], 50, 60)
<class 'tuple'>
(10, [80, 30, 40, 70], 50, 60)

In [ ]:
# Find  outputs  (Home  work)
a = [10 , (20 , 30 , 40) , 50 , 60]
# a[1][0] = 70 #error because it is tuple element
print(a) #[10 , (20 , 30 , 40) , 50 , 60]
a[1] = [80 , 90] #modifing the list of index '1' because list is mutable in index 1 it is tuple but you're modifing the list.
print(a)

[10, (20, 30, 40), 50, 60]
[10, [80, 90], 50, 60]

In [ ]:
# Find  outputs   (Home  work)
a = 25
b = 10.8
c = 'Hyd'
d = True
x = a , b , c , d
print(x) #(25,10.8,'Hyd',True)
print(type(x)) #<class tuple>

(25, 10.8, 'Hyd', True)
<class 'tuple'>

In [ ]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True
a , b , c , d = x
print(a)
print(b)
print(c)
print(d)
# p , q , r =  x #error
# a , b , c , d  , e = x #erro

25
10.8
Hyd
True

In [ ]:
# Find  outputs   (Home  work)
tpl = 25 , 10.8 , 'Hyd' , True
a , b , *c , d , e = tpl
print(a) #25
print(b) #10.8
print(c) #[]
print(d) #"Hyd"
print(e) #True

25
10.8
[]
Hyd
True

In [ ]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True , 3 + 4j
a , b , _ , d , _= x
print(a) #25
print(b) #10.8
print(_) #(3+4j) overwrite the object '_'
print(d) #True
print(_) #(3+4j) reassigned to the object '_'

25
10.8
(3+4j)
True
(3+4j)

In [ ]:
# tuple()  function  demo  program   (Home  work)
a = range(100 , 150 , 10)
b = tuple(a)
print(b) #(100,110,120,130,140)
print(type(b)) #<class tuple
c = [10 , 20 , 15, 18]
d = tuple(c)
print(d) #(10,20,15,18)
e = tuple('Vamsi')
print(e) #('v','a','m','s','i')
# print(tuple(25)) #error because non sequence
print(tuple()) #empty tuple





'''
tuple()  function
--------------------
1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple

2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple

3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only

4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one
'''

(100, 110, 120, 130, 140)
<class 'tuple'>
(10, 20, 15, 18)
('V', 'a', 'm', 's', 'i')
()

'\ntuple()  function\n--------------------\n1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple\n\n2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple\n\n3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only\n\n4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one\n'

# **22-08-25**

In [13]:
#index()  and  count()  methods  demo  program   (Home  work)
a = (10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25)
#    0    1      2     3    4     5     6    7     8    9    10
ele=int(input("enter element to be search:"))
try:
	i = a . index(ele) #2 5 8
	while  True: # after 8th index index() method through error so it will false so excepet will execute
		print('15 is found at index : ' , i)
		i = a . index(ele , i + 1)
except:
		print(F'{ele}  is  found  {a . count(ele)}  times')

enter element to be search:15
15 is found at index :  2
15 is found at index :  5
15 is found at index :  8
15  is  found  3  times

In [20]:
#  How  to  modify  an  element  of  tuple ?    (Home  work)
a  =  10 ,  20 ,  30 ,   40 ,  50
#     0      1    2       3     4
# a[2] = 35  # Error #tulple immutable so cann't be changed if we want then convert into list then modify
print(a)
print(id(a))
a=list(a)
print(a,id(a))
a[2]=35
a=tuple(a) #How  to  modify  30  in  tuple  to  35 #first tuple should convert into the list then modify afterthat modified list convert into tuple again
print(a)
print(id(a))

(10, 20, 30, 40, 50)
134041394705600
[10, 20, 30, 40, 50] 134041396045952
(10, 20, 35, 40, 50)
134041394705600

In [ ]:
# How  to  delete  an  element  of  tuple ?   (Home  work)
a  = 10 , 20 , 30 , 40 , 50
#    0     1      2     3      4
a . remove(30) #Error #tuple is immutable
del  a[2] #cann't delete the element of the tuple you can delete the
a . pop(2)
print(a)
print(id(a))
How  to  remove  30  from  tuple  'a'
print(a)
print(id(a))