18/08/25

In [ ]:
#  len()  function demo   program  (Home  work)
a = [ 25, 10.8, 'Hyd', True]
print(len(a))
b = []
print(len(b))
c = [[10 , 20] , 30 , 40]
print(len(c))


'''
What  does  len(list)  do ?  --->  Returns  number  of  elements  in  the  list
'''

In [ ]:
# sum()  function  demo  program  (Home  work)
a = [25 , 10.8 , True]
print(sum(a))
b= [3 + 4j , 5 + 6j]
print(sum(b))
c = [25 , 10.8 , True , 3 + 4j , False]
print(sum(c))
d = [10 , 20 , 15 , 18]
print(sum(d))
e = [25 , 10.8 , 'Hyd' , True]
print(sum(e))


'''
What  does  sum(list)  do ?  ---> Returns  sum  of  list  elements
'''

In [ ]:
#  Find  outputs
a = [[10 , 20 , 15 , 18]]
print(sum(a))
print(How  to  determine  sum  of  inner  list  elements)
print(How  to  determine  sum  of  inner  list  elements  in  another  way)

In [ ]:
# max()  and  min()  functions  demo  program  (Home  work)
a = [10 , 20 , 15 , 18 , 30, 5 , 12]
print(max(a))
print(min(a))
b = ['Rama' , 'Sita' , 'Rajesh' , 'Kiran' , 'Amar' , 'Vamsi' , 'Manohar']
print(max(b))
print(min(b))
c = [25 , 10.8 ,  3 + 4j , True]
print(max(c))
d = [25 , '35']
print(max(d))
print(max([]))
print(min([]))


'''
1) What  does  max(list)  do ?  --->  Returns  largest  element  of  the  list

2) What  does  min(list)  do ?  --->  Returns  smallest  element  of  the  list
'''

In [ ]:
# list()  function  demo  program
a = (10 , 20 , 15, 18)
b = list(a)
print(b)
print(type(b))
print(a  is  b)
print(a == b)

In [ ]:
#  Find  outputs (Home  work)
a = range(4 , 10 , 2)
b = list(a)
print(b)
print(type(b))
a = list('Vamsi')
print(a)
a = list()
print(a)
print(list(25))
print(list(10.8))
print(list(True))
print(list(None))


'''
1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list  and  returns  list

2) What  does  list(no-args)  do ?  ---> Returns  an  empty  list

3) What  does  list(non-sequence)  do ?  --->  Throws  error
'''

In [ ]:
# Find  outputs (Home  work)
a = ((10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90))
print(list(a))
b = { (10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)}
print(list(b))
c = ([10 , 20] , (30 , 40) , {50 , 60})
print(list(c))

In [ ]:
# sorted()  function   demo  program
a = [10 , 20 , 15 , 5 , 12]
b = sorted(a)
print(b)
print(type(b))
c = sorted(a , reverse = True)
print(c)
print(a)


'''
sorted()  function
----------------------
1) What  does  sorted(list)  do  ?  ---> Returns  another  sorted  list

2) Is  argument  list  modified ?  --->  No  and  it  remains  unchanged

3) How  to  sort  list  in  descending  order ?  --->  sorted(list , reverse = True)

4) What  are  the  two  arguments  of  sorted()  function ?  --->  List  to  be  sorted
																												and
																					                  reverse = True  which  is  an  optional  argument
'''

In [ ]:
# Find  outputs  (Home  work)
a = ['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']
b = sorted(a)
print(b)
c = sorted(a , reverse = True)
print(c)
print(a)

In [ ]:
# all()  function demo  program  (Home  work)
a = [12 > 10 , 5 < 20 , 30 == 30]
print(all(a))
b = [9 >= 6 , 12 <= 9 , 6 == 6]
print(all(b))
c = [25 , 10.8 , '' , True , 3+4j , 'Hyd']
print(all(c))
d = [10 , 0 , 20]
print(all(d))
e = []
print(all(e))


'''
all()  function
-----------------
1) What  does  all(list)  do ?  --->  Returns  True  when  every  element of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  --->  When  at  least  one  element  of  the  list  is  False

3) if  cond1  and  cond2  and  cond3  and  cond4:
    How  to  reduce  the  four  conditions  to  a  single  condition ?  --->  if  all([cond1 , cond2 , cond3 , cond4]):
'''

In [ ]:
# any()  function demo program  (Home  work)
a  = [12 > 18 , 5 < 20 , 35 == 30]
print(any(a))
b = [12 > 18 , 25 < 20 , 35 == 30]
print(any(b))
c = [0 , 0.0 , '' , 25 , 0 + 0j , False]
print(any(c))
d = [0 , 0.0 , '' , 0 + 0j , False]
print(any(d))
e = []
print(any(e))


'''
any()   function
-------------------
1) What  does  any(list)  do ?  ---> Returns  True  when  at  least  one  element  of  the  list  is  True  and  False  otherwise

2) When  does  it  return  False ?  ---> When  every  element  of  the  list  is  false

3) if  cond1  or  cond2  or  cond3  or  cond4:
     How  to  reduce  the  four  conditions  to  a  single  condition ?  ---> if  any([cond1 , cond2 , cond3 , cond4]):

4) all()  and  any()  functions  are  used  as  an  alternative  when  there  are  too  many  conditions  in  if  and  while
'''

In [ ]:
# del  operator  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)
del    a[2]
print(a)
del  a[3]
del  a
print(a)

In [ ]:
#  append()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18]
print(list)
list . append(19)
print(list)

In [ ]:
#  Find  outputs (Home  work)
list = []
print(list)
list . append(25)
list . append(10.8)
list . append('Hyd')
list . append(True)
print(list)

In [ ]:
# Find  outputs  (Home  work)
list = []
for  x  in   range(0 , 50 , 10):
	list . append(x)
print(list)

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 30]
a . append('Hyd')
print(a)
print(len(a))
print(How  to  print  4th  element  of  list  'a')
print(How  to  print  'H')
print(How  to  print  'y')
print(How  to  print  'd')

In [ ]:
# remove()  method  demo  program  (Home  work)
try:
	list = [10 , 20 , 15 , 18 , 15 , 12 , 15 , 19]
	list . remove(15)
	print(list)
	list . remove(25)
except:
	print('25  is   not  in  the  list')



'''
remove()   method
---------------------
1) What  does  remove(x)  do ?  --->  Removes   first  occurance  of  'x'  from  the  list

2) What  does  remove()  method  do  if  'x'  is  not   in  the  list ?  --->  Throws  ValueError

3) How  to  remove  all  ocurances  of  'x'  from  the  list ?  --->   Call  remove()  method  in  a  loop
'''

In [ ]:
'''
Write  a  program  to  delete  'all'  occurences  of  'x'  from  the  list

Let  1st  input  be   [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]  and
2nd  input  be  15
What  is  the  output ?  ---> [10 , 20 ,  18 , 19 , 17 , 20 , 14]

Enter List  :  [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]
Enter  element  to  be  deleted : 15
List  without   15's :  [10, 20, 18, 19, 17, 20, 14]
'''

In [ ]:
# clear() method  demo program  (Home  work)
list = [10 , 20 , 15 , 18]
print(list)
list . clear()
print(list)


'''
clear()  method
------------------
1) What  does  clear()  method  do ?  --->  Removes  all  the  elements  of  the  list  and  list  becomes  empty

2) What  about  remove()  and  pop()  methods  ?  ---> They  remove  single  element  of  the  list
'''

In [ ]:
# reverse()  method  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)
a . reverse()
print(a)


'''
reverse()  method
---------------------
1) What  does  reverse()  method  do ?  --->  Reverses  all  the  elements  of  list

2) Where  are  the  results  stored ?  --->  In  the  same  list  replacing  existing  elements (List  is  mutable)
'''

In [ ]:
#  sort()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18 , 5]
print(list)
list . sort()
print(list)
list . sort(reverse = True)
print(list)

In [ ]:
# Find  outputs (Home  work)
a = ['Rama' , 'Rajesh' , 'Amar' ,  'Sita' ,  'Vamsi' , 'Kiran' , 'Rama  Rao']
print(a)
a . sort()
print(a)
a . sort(reverse = True)
print(a)

In [ ]:
# Identify  error (Home  work)
a = [25 , 10.8 ,  'Hyd' ,  True]
a . sort()

In [ ]:
#  count()  method  demo    program (Home  work)
a = [10 , 20 , 15 , 18 , 15 , 12 , 14 , 15 , 19]
print(a . count(15))
print(a . count(25))
print(len(a))


'''
What  does  list . count(x)  do ?  ---> Returns  number  of  times  'x'  is  in  the  list
'''

In [ ]:
'''
Tricky  program
Write  a  program  to  remove  all  duplicate  elements  of  the  list  (Not  even  single  occurance)
Let  input  be  [10 , 20 , 15 , 10 , 14 , 10 , 18 , 20 , 19]
What  is  the  output ?  ---> [15 , 14 , 18 , 19]

Hint:  Use  count()  and  append()  methods
'''

In [ ]:
'''
Write  a  program  to  determine  all  the  list  elements  are  identical  or  not

1) Let  input  be  [25 , 25 , 25 , 25]
    What  is  the  output ?  ---> All  the  elements  are  identical
    How  many  elements  are  in  the  list ?  --->  4
    How  many  times  is  first  element  repeated ?  ---> 4

2) Let  input  be  [10 , 10 , 20 ,  10]
    What  is  the  output ?  --->All  the  elements  are  not  identical
    How  many  elements  are  in  the  list ?  ---> 4
    How  many  times  is  first  element  repeated ? --->  3

3) Hint: Use  len()  and  count()

Enter  any  list  :  [25,25,25,25]
All  the  list  elements  are  identical

Enter  any  list  :  [10,10,20,10]
List   elements  are  not  identical
'''

In [ ]:
# index()  method  demo  program  (Home  work)
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
#     0     1     2    3    4     5    6    7     8    9    10
try:
	i = a . index(15)
	while  True:
		print(i)	# 2 <next line> 5 <next line> 8
		i = a . index(15 , i + 1)
except:
	print(F'15  is  found  {a . count(15)}  times ')	# 15 is found 3 times


'''
index()  method
-------------------
1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list

2) What  does  index(invalid-element)  do  ?  --->  Throws  error

3) list . index(x , i)
    list . index(x)
    What  is  the  difference  between  the  two  statements ?  --->
										list . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but
										list . index(x)   searches  for  for  'x'  from   index  0  of  the  list

Note:
1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()

2) What  is  the  only  search  method  in  list  class  ---> index()
'''

2
5
8
15  is  found  3  times

"\nindex()  method\n-------------------\n1) What  does  index(x)  do ?  --->  Returns  index  of  first  'x'  in  the  list\n\n2) What  does  index(invalid-element)  do  ?  --->  Throws  error\n\n3) list . index(x , i)\n    list . index(x)\n    What  is  the  difference  between  the  two  statements ?  --->\n\t\t\t\t\t\t\t\t\t\tlist . index(x , i)  searches  for  'x'  from   index  'i'  of  the  list  but\n\t\t\t\t\t\t\t\t\t\tlist . index(x)   searches  for  for  'x'  from   index  0  of  the  list\n\nNote:\n1) What  are  the  four  search  methods  in  str  class  --->  find() , rfind() , index() , rindex()\n\n2) What  is  the  only  search  method  in  list  class  ---> index()\n"

### 19/08/25

In [41]:
'''
Modify  the  following  program  with  walrus  operator

Hint:  Call  index()  method  only  once
'''
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
try:
	i =-1
	while (i := a . index(15 , i + 1)):
		print(i)
		
except:
	print(F'15  is  found  {a . count(15)}  times ')

2
5
8
15  is  found  3  times

In [40]:
'''
Most   tricky  program
Write  a  program  to  determine  first  list  is  a  sublist  of  2nd  list  or  not.
Print  True  if  it  is  a  sublist  and  False  otherwise

1) First  list :  [10 , 20 , 30]
    Second  list :  [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
    What  is  the  output ?  --->  True  becoz  elements  10 , 20 , 30  are  in  2nd  list  in  same  order

2) First  list :  [10 , 20 , 20]
    Second  list :  [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
    What  is  the  output ?  ---> False  becoz   elements  10 , 20 , 30  are  not  in  2nd  list

3) First  list :  [2 , 2 , 5]
    Second  list :  [2 , 2 , 3 , 4 , 5]
    What  is  the  output ?  --->  True  becoz   elements  2 , 2 , 5  are  in  [2 , 2 , 3 , 4 , 5]

4) First  list :  [2 , 4 , 3]
    Second  list :  [2 , 2 , 3 , 4 , 5]
    What  is  the  output ?  --->  False  becoz   elements  2 , 4 , 3   are  not  in  [2 , 2 , 3 , 4 , 5]

5) Hint:  Use  index()  method

Enter  the  first  list :  [10 , 20 , 30]
Enter  the  second  list : [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
True

Enter  the  first  list : [10 , 20 , 20]
Enter  the  second  list : [15 , 18 , 10 ,  12 ,  19 , 20 , 14 , 12 , 30 , 25 ,  16]
False
'''
a=eval(input("Enter First List: "))
b=eval(input("Enter Second List: "))
res=0
found = True
for i in a:
    try:
        res=b.index(i,res)+1
     
    except ValueError:
        found = False
        break
print(found)

False

In [ ]:
# copy()  method  demo program  (Home  work)
a = [10 , 20 , 15 , 18]
b = a . copy()
print(b)    # [10 , 20 , 15 , 18]
print(a  is  b) # False
print(a  ==  b) # True
c = a[:]
print(c)    # [10 , 20 , 15 , 18]
print(a  is  c) # False
print(a  ==  c) # True
d = a
print(d)    # [10 , 20 , 15 , 18]
print(a  is  d) # True
print(a  ==  d) #True


'''
copy()  method
------------------
1) What  does  copy()  method  do ? --->  Returns  a  new  list  with  same  elements

2) b = a . copy()
    What  is  another  way  to  copy  list  elements  to  another list ?  --->  b = a[:]
'''

[10, 20, 15, 18]
False
True
[10, 20, 15, 18]
False
True
[10, 20, 15, 18]
True
True

'\ncopy()  method\n------------------\n1) What  does  copy()  method  do ? --->  Returns  a  new  list  with  same  elements\n\n2) b = a . copy()\n    What  is  another  way  to  copy  list  elements  to  another list ?  --->  b = a[:]\n'

In [ ]:
'''
Tricky  program
Write  a  program  to  determine  mode

1) What  is  mode ?  ---> The  element  which  is  repeated  maximum  number  of  times  in  the  list

2) Let  input  be  [12 , 20 , 18 , 15 , 10 ,  15 , 10 ,  15 ,  20 , 18 , 15 , 10 , 20 , 15 , 10]
    What  is  set(list) ?  ---> {12 , 20 , 18 , 15 , 10}
    How  many  times  is  first  element  12  repeated  in  the  list  ?  --->  1
    How  many  times  is  2nd  element  20  repeated  in  the  list  ?  --->  3
    How  many  times  is  3rd  element  18  repeated  in  the  list  ?  --->  2
    How  many  times  is  4th  element  15  repeated  in  the  list  ?  --->  5
    How  many  times  is  last  element  10  repeated  in  the  list  ?  --->  4
    What  is  the  mode  ?  --->	15  becoz  it  is  repeated  max  number  of  times  i.e.  5

3) mode = 15
    ctr = 5

Enter  List  :   [12 , 20 , 18 , 15 , 10 ,  15 , 10 ,  15 ,  20 , 18 , 15 , 10 , 20 , 15 , 10]
Mode :  15
'''

a=eval(input("Enter list: "))
ctr=0
mode=a[0]
for i in a:
    if a.count(i)>ctr:
        ctr=a.count(i)
        mode=i
print("Mode :" ,mode)

Mode : 15

In [22]:
#  Nested  List  demo  program  (Home  work)
a = [[10 , 20 , 30 ,  40]  ,  [50 , 60 ,  70 , 80]  ,  [90 , 100 , 110 , 120] ]
print(a)    # [[10 , 20 , 30 ,  40]  ,  [50 , 60 ,  70 , 80]  ,  [90 , 100 , 110 , 120] ]
print(len(a))   # 3
print(a[0]) #(How  to  print  1st  inner  list)
print(a[1])  #(How  to  print  2nd  inner  list)
print(a[2])  #(How  to  print  3rd  inner  list)
print(a[0][2]) #(How  to  print  30)
print(a[1][3]) #How  to  print  80)
print(a[2][1]) #How  to  print  100)


'''
What  is  a  nested  list ?  --->  A  list  in  another  list
'''

[[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]]
3
[10, 20, 30, 40]
[50, 60, 70, 80]
[90, 100, 110, 120]
30
80
100

'\nWhat  is  a  nested  list ?  --->  A  list  in  another  list\n'

In [21]:
#  Find  outputs  (Home  work)
a=[ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
print(a[0]) #(How  to  print  1st   inner  list)
print(a[1]) #(How  to  print  2nd   inner  list)
print(a[2]) #How  to  print  3rd   inner  list)
print(len(a[0])) #(How  to  print  number  of  elements  in  1st  inner  list)
print(len(a[1])) #How  to  print  number  of  elements  in  2nd  inner  list)
print(len(a[2])) #How  to  print  number  of  elements  in  3rd  inner  list)

[10, 20]
[30, 40, 50]
[60, 70, 80, 90]
2
3
4

In [19]:
#  How  to  print  nested  list  in  differnent  ways
a = [[10 , 20] , [30 , 40 ,  50] , [60 , 70 , 80 , 90]]
print('Nested list  with  print function')
#print(???)
print('Each  inner  list   of   outer  list  without  indexes')
for x in a:
    print(x)    #How  to  print  each  inner  list  of  list  'a'  without  using  indexes  (use  for  loop)
print('Elements  in  the  form   of  matrix   without  using  indexes')
for  x in a: #How  to   print  elements  of  each  inner  list  without  using  indexes  in  matrix style  (use  nested  loop)
    for i in x:
        print(i, end=' ')
    print()
print('Elements  in  the  form   of  matrix  using  indexes')
#How  to   print  elements  of  each  inner  list  using  indexes  in  matrix style (use  nested  loop)
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end=' ')

    print()


'''
matrix   style
----------------
10    20
30    40   50
60    70   80   90
'''

Nested list  with  print function
Each  inner  list   of   outer  list  without  indexes
[10, 20]
[30, 40, 50]
[60, 70, 80, 90]
Elements  in  the  form   of  matrix   without  using  indexes
10 20
30 40 50
60 70 80 90
Elements  in  the  form   of  matrix  using  indexes
10 20
30 40 50
60 70 80 90

'\nmatrix   style\n----------------\n10    20\n30    40   50\n60    70   80   90\n'

In [9]:
#  Find  outputs (Home  work)
a = [[10 , 20] , [30 , 40] , [50 , 60] , [70 , 80]]
for  x  in  a:
    print(x)    # [10,20] <next line> [30,40] <next line> [50,60] <next line> [70,80]
print() # empty
for  x , y  in  a:
	print(x , y , sep = '...')  # 10...20 <next line> 30...40 <next line> 50...60 <next line> 70...80

[10, 20]
[30, 40]
[50, 60]
[70, 80]

10...20
30...40
50...60
70...80

In [8]:
#  Find  outputs (Home  work)
a = [[10 , 20 , 30] , [40 , 50 , 60] , [70 , 80 , 90]]
for  x  in  a:
    print(x)    # [10,20,30] <next line> [40,50,60] <next line> [70,80,90]
print() # empty
for  x , y ,  z  in   a:
	print(x , y , z , sep = '...')  # 10...20...30 <next line> 40...50...60 <next line> 70...80...90

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

10...20...30
40...50...60
70...80...90

In [ ]:
#  Find  outputs (Home  work)
a = [[10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
for  x  in  a:
	print(x)	#[10,20]<next line> [30,40,50]<next line> [60,70,80,90]
for  x , y  in  a:
	print(x , y ,	sep = '...') # for 1st iteration we get 10...20 and from 2nd iteration we get error bczz many values in list

[10, 20]
[30, 40, 50]
[60, 70, 80, 90]

In [4]:
#  Find  outputs  (Home  work)
a = [[]]
print(a[0]) #(How  to  print  inner  list)
print(*a) #(How  to  print  inner  list  in  another  way)

[]
[]

In [ ]:
#  Find  outputs  (Home  work)
a = [[10 , 'Rama' , 1000.0] , [20 , 'Sita' , 2000.0] , [15 , 'Rajesh' , 3500.0] , [18 , 'Kiran' , 2800.0] , [5 , 'Amar'  ,5000.0] ]
print(sorted(a))    # [[5 , 'Amar'  ,5000.0], [10 , 'Rama' , 1000.0] , [15 , 'Rajesh' , 3500.0] ,[18 , 'Kiran' , 2800.0],  [20 , 'Sita' , 2000.0]]
print(sorted(a , reverse = True))   # [ [20 , 'Sita' , 2000.0], [18 , 'Kiran' , 2800.0],[15 , 'Rajesh' , 3500.0] ,[10 , 'Rama' , 1000.0] ,[5 , 'Amar'  ,5000.0]]
print(a)    # [[10 , 'Rama' , 1000.0] , [20 , 'Sita' , 2000.0] , [15 , 'Rajesh' , 3500.0] , [18 , 'Kiran' , 2800.0] , [5 , 'Amar'  ,5000.0] ]

[[5, 'Amar', 5000.0], [10, 'Rama', 1000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [20, 'Sita', 2000.0]]
[[20, 'Sita', 2000.0], [18, 'Kiran', 2800.0], [15, 'Rajesh', 3500.0], [10, 'Rama', 1000.0], [5, 'Amar', 5000.0]]
[[10, 'Rama', 1000.0], [20, 'Sita', 2000.0], [15, 'Rajesh', 3500.0], [18, 'Kiran', 2800.0], [5, 'Amar', 5000.0]]

### 20/08/25

In [2]:
# Write  a  program  to  create  a  list  with  cubes  of  2 , 4 , 6 , 8 , 10  with  list  comprehension (Home  work)

s=[x**3 for x in range(2,11,2)]
print(s)

[8, 64, 216, 512, 1000]

In [6]:
'''
(Home  work)
Write  a  program  to  extract  1st  character  of  each  string  in  capital  letters  in  a  list  of  srings  without  comprehension

Let  input  be   ['hyd' , 'pune' , 'chennai' , 'vijayawada']
What  is  the  output ?  ---> ['H' , 'P' , 'C' , 'V']

Enter  list  of  lower  case  strings :  ['hyd' , 'pune' , 'chennai' , 'vijayawada']
['H', 'P', 'C', 'V']
'''

st=eval(input("Enter list of lower case strings: "))
res=[]
for i in st:
    res.append(i[0].upper())
print(res)

['H', 'P', 'C', 'V']

In [9]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input :  ['hyd' , 'pune' , 'chennai' , 'vijayawada']

Output :  ['H' , 'P' , 'C' , 'V']
'''
st=eval(input("Enter list of lower case strings: "))
res=[(i[0].upper()) for i in st]
print(res)

['H', 'P', 'C', 'V']

In [20]:
'''
Write  a  program  to  append  each  word  of  the  sentence  and  its  length  to  a  list
(word  should  be  in  capital  letters)  without  comprehension

Let  input  be   'hyd  is  green  city'
What  is  the  output ?  --->  [['HYD' , 3] , ['IS' , 2] , ['GREEN' , 5] , ['CITY', 3]]

Enter  any  sentence :  'Students are getting bored'
[['STUDENTS', 8], ['ARE', 3], ['GETTING', 7], ['BORED', 5]]
'''

st=eval(input("Enter any sentence: "))
res=[]
word=''
for i in st:
    if i!=' ':
        word+=i
    elif word:
        res.append([(word.upper()),len(word)])
        word=''
if word:
    res.append([(word.upper()),len(word)])
print(res)

[['HYD', 3], ['IS', 2], ['GREEN', 5], ['CITY', 4]]

In [21]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input :  hyd  is  green  city

Output :  [['HYD' , 3] , ['IS' , 2] , ['GREEN' , 5] , ['CITY' , 4]]
'''
st=eval(input("Enter any sentence: "))
res=[[word.upper(),len(word)] for word in st.split()]
print(res)

[['HYD', 3], ['IS', 2], ['GREEN', 5], ['CITY', 4]]

In [24]:
'''
Write  a  program  to  add  two  lists  of  unequal  length  without  comprehension

Let  1st  list  be  [10 , 20 , 30 , 40 , 50 , 60 , 70]  and  2nd  list  be  [100 , 200 , 300 , 400]
What  is   the  result ?  ---> [10 + 100 , 20 + 200 , 30 + 300 , 40 + 400]

Enter  1st  list  :  [10,20,30,40,50,60,70]
Enter  2nd  list  :  [1,2,3,4]
[11, 22, 33, 44]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
res=[]
min_length=min(len(l1),len(l2))
for i in range(min_length):
    res.append(l1[i]+l2[i])
print(res)

[11, 22, 33, 44]

In [25]:
'''
(Home  work)
Repeat   previous  progra
m  with  comprehension

Input1 : [10 , 20 , 30 , 40 , 50 , 60 , 70]
Input2 :  [100 , 200 , 300 , 400]
Output :  [110 , 220 , 330 , 440]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
res=[l1[i]+l2[i] for i in range(min(len(l1),len(l2)))]
print(res)

[110, 220, 330, 440]

In [28]:
'''
Write   a  program  to  initialize  a  nested  list  with  zeroes  without  comprehension

Let inputs  be  3  and  4
What  is  the  output ?  --->  [[0 , 0 , 0 , 0] , [0 , 0 , 0 , 0] , [0 , 0 , 0 , 0]]

Hint:  Use  repetition  operator  *

How  many  lists  ?  :  3
How  many  elements  in  each  list ?  :  5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
'''

n1=int(input("How  many  lists  ?  : "))
n2=int(input("How  many  elements  in  each  list ?  : "))
res=[]
for i in range(n1):
    res.append([0]*n2)
print(res)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [29]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Inputs :  3  and  4

Output :  [[0 , 0 , 0 , 0] , [0 , 0 , 0 , 0] , [0 , 0 , 0 , 0]]
'''
n1=int(input("How  many  lists  ?  : "))
n2=int(input("How  many  elements  in  each  list ?  : "))
res=[[0]*n2 for i in range(n1)]
print(res)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [32]:
'''
Write  a  program  to  extract  those  elements  of  1st  list  which  are  not  in  2nd  list   without  comprehension

Let  1st  list  be  [10 , 20 , 15 , 18 , 25 , 32]  and  2nd  list  be  [30 , 40 , 10 , 25 , 15]
What  is  the  output ?  --->  [20 , 18 ,  32]

Enter 1st  list  :  [10,20,15,18,25,32]
Enter 2nd  list  :  [30,40,10,25,15]
Elements  of  1st  list  which  are  not  in  2nd  list  :   [20, 18, 32]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
l3=[]
for i in l1:
    if i not in l2:
        l3.append(i)
print(l3)

[20, 18, 32]

In [33]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input1 :   [10 , 20 , 15 , 18 , 25 , 32]
Input2 :  [30 , 40 , 10 , 25 , 15]
Output :  [20 , 18 , 32]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
l3=[i for i in l1 if i not in l2]
print(l3)

[20, 18, 32]

In [ ]:
#  Write   a  program  to  print  even  numbers  between  1  and  20  with  comprehension

#Even numbers  between  1  and  20 :   [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

n1=int(input("Enter a Number: "))
n2=int(input("Enter a Number: "))
n=[i for i in range(n1,n2+1) if i%2==0 ]
print(f'Even numbers  between  {n1}  and  {n2} : {n}')

Even numbers  between  1  and  20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
'''
Repeat  previous  program  with  comprehension  and  without  using  if

Output: [Even  numbers  between  1  and  20]
'''
n1=int(input("Enter a Number: "))
n2=int(input("Enter a Number: "))
if n1%2!=0:
    n1+=1
n=[i for i in range(n1,n2+1,2)]
print(f'Even numbers  between  {n1}  and  {n2} : {n}')

Even numbers  between  2  and  20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [37]:
'''
Write  a  program  to  print  those  squares  of  1 , 2 , 3 , 4 , ... 20  which  are  divisible   by  2  with  comprehension

What  is  the  output ?  ---> [4 , 16 , 36 , ... ,  400]

Squares  of  1  to  20  which  are  divisible  by   2 :   [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
'''
n1=int(input("Enter a Number: "))
n2=int(input("Enter a Number: "))
n=[i**2 for i in range(n1,n2+1) if i%2==0 ]
print(f'Squares  of {n1} to {n2} which  are  divisible  by   2 : {n}')

Squares  of 1 to 20 which  are  divisible  by   2 : [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [38]:
#  Repeat  previous  program  with  comprehension  and  without  using  if
n1=int(input("Enter a Number: "))
n2=int(input("Enter a Number: "))
if n1%2!=0:
    n1+=1
n=[i**2 for i in range(n1,n2+1,2)]
print(f'Squares  of {n1} to {n2} which  are  divisible  by   2 : {n}')

Squares  of 2 to 20 which  are  divisible  by   2 : [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [39]:
'''
Write  a  program  to  add  each  element  of  1st  list  with  all  the  elements  of  2nd  list  without  comprehension

Let  1st  list  be  [10 , 20 , 15]  and  2nd  list  be  [30 , 40 , 35 , 32]
What  is  the  result ?  --->
					[10 + 30 , 10 + 40 , 10 + 35 , 10 + 32 , 20 + 30 , 20 + 40 , 20 + 35 , 20 + 32 , 15 + 30 , 15 + 40 , 15 + 35 , 15 + 32]

Hint : Nested  for  loops

Enter 1st list : [10,20,15]
Enter 2nd list : [30,40,35,12]
[40, 50, 45, 22, 50, 60, 55, 32, 45, 55, 50, 27]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
res=[]
for i in l1:
    for j in l2:
        res.append(i+j)
print(res)

[40, 50, 45, 22, 50, 60, 55, 32, 45, 55, 50, 27]

In [40]:
'''
(Home  work)
Repeat   previous  program  with  comprehension

Input1 :  [10 , 20 , 15]
Input2 :  [30 , 40 , 35 , 32]
Output :  [10 + 30 , 10 + 40 , 10 + 35 , 10 + 32 , 20 + 30 , 20 + 40 , 20 + 35 , 20 + 32 , 15 + 30 , 15 + 40 , 15 + 35 , 15 + 32]
'''
l1=eval(input("Enter 1st list: "))
l2=eval(input("Enter 2nd list: "))
res=[(i+j) for i in l1 for j in l2 ]
print(res)

[40, 50, 45, 42, 50, 60, 55, 52, 45, 55, 50, 47]

In [42]:
'''
Write  a  program  to  concatenate  each  character  of  1st  string  with  every  character  of   2nd  string  with  comprehension

Let  1st string  be  HYD  and   2nd string  be   PUNE
What  is  the  result  ?  --->  ['HP' , 'HU' , 'HN' , 'HE' , 'YP' , 'YU' , 'YN' , 'YE' , 'DP' , 'DU' , 'DN' , 'DE']

Hint: Same  as  previous  program
'''
s1=input("Enter a string: ")
s2=input("Enter a string: ")
s=[(i+j) for i in s1 for j in s2]
print(s)

['HP', 'HU', 'HN', 'HE', 'YP', 'YU', 'YN', 'YE', 'DP', 'DU', 'DN', 'DE']

In [45]:
'''
Write  a  program  to  convert  a  nested  list  to  list  without  comprehension

Let  input  be  [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
What  is  the  output ?  --->  [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]

Enter nested list : [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
'''
l=eval(input("Enter a nested list: "))
res=[]
for i in l:
    for j in i:
        res.append(j)
    
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [46]:
'''
Write  a  program  to  convert  a  nested  list  to  list  with  comprehension

Let  input  be  [ [10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]

What  is  the  output ?  --->  [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]
'''
l=eval(input("Enter a nested list: "))
res=[j for i in l for j in i]
print(res)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# Find  outputs (Home  work)
a = [[10 , 20] , [30 , 40 , 50] , [60 , 70 , 80 , 90]]
b = [ x  for  x  in  a  for  y  in  x]
print(b)    # [[10, 20], [10, 20], [30, 40, 50], [30, 40, 50], [30, 40, 50], [60, 70, 80, 90], [60, 70, 80, 90], [60, 70, 80, 90], [60, 70, 80, 90]]

[[10, 20], [10, 20], [30, 40, 50], [30, 40, 50], [30, 40, 50], [60, 70, 80, 90], [60, 70, 80, 90], [60, 70, 80, 90], [60, 70, 80, 90]]

In [ ]:
#  Nested  comprehension  demo  program (Home  work)
a = [ [ j  for   j  in   range(i)]   for   i   in   range(5)]
print(a) # [[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

[[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]

In [1]:
'''
Most  tricky  program
Input :   List  of  strings
              Eg: ['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
Output :  Nested  list
		        i.e.  [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra'] , ['King']]

Hint: Do  not  sort  the  lists

1) b = ['S' , 'A' ,  , 'Z' , 'K' ]

2) c = []

3) Iteartion  1 :  d  = ['Swathi' , 'Srinivas']
                           c =  [['Swathi' , 'Srinivas']]

4) Iteartion  2 :  d  =  ['Anand' , 'Amar']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar']]

5) Iteartion  3 :  d  =  ['Zebra']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra']]

6) Iteartion  4 :  d  =  ['King']
                           c =   [['Swathi' , 'Srinivas'] , ['Anand' , 'Amar'] , ['Zebra'] , ['King']]


Enter  list  of  strings :  ['Swathi' , 'Anand' , 'Srinivas' , 'Zebra' , 'King' , 'Amar' ]
[['Swathi', 'Srinivas'], ['Anand', 'Amar'], ['Zebra'], ['King']]
'''

# Input list
names = ['Swathi', 'Anand', 'Srinivas', 'Zebra', 'King', 'Amar']

c = []       
seen = []     

for name in names:
    first = name[0]   
    
    if first not in seen:
        
        d = [n for n in names if n[0] == first]
        c.append(d)
        seen.append(first)

print(c)

[['Swathi', 'Srinivas'], ['Anand', 'Amar'], ['Zebra'], ['King']]

In [47]:
'''
Write  a  program  to  merge  two  sorted  lists  to  produce  another  sorted  list


                          0      1      2       3       4
Eg:    List  'a'   --->  [10  ,  20  , 30   ,  40   ,  50]
       List  'b'   --->  [5  ,  12  , 20   ,  37]
	                   0     1      2      3
                       
	List  'c' --->  [5 , 10 , 12 , 20 , 20 , 30 , 37 , 40 , 50]

Hint1 :  Unsorted  lists  can  not  be  merged

Hint2 :  Use  single  while  loop
'''
l1=eval(input("Enter a list1: "))
l2=eval(input("Enter a list2: "))
i, j = 0, 0
l3 = []

while i < len(l1) or j < len(l2):
    if i < len(l1) and (j == len(l2) or l1[i] <= l2[j]):
        l3.append(l1[i])
        i += 1
    else:
        l3.append(l2[j])
        j += 1

print("Merged sorted list:", l3)

Merged sorted list: [5, 10, 12, 20, 20, 30, 37, 40, 50]

In [2]:
'''
Write  a  program  to  determine  n-th  largest  element   of   a   list

Input1 :  [10,20,30,25,40,35,12,5]
Input2 :  3  (3rd  largest)
Output :  30

Enter list:[10,20,30,25,40,35,12,5]
Enter which largest which to be shown:4
4th  largest  element  :  25
'''
lst = [10, 20, 30, 25, 40, 35, 12, 5]
n = int(input("Enter which largest which to be shown: "))

# Sort in descending order
sorted_lst = sorted(lst, reverse=True)
print(f"{n}th largest element : {sorted_lst[n-1]}")

4th largest element : 25

In [3]:
'''
Write  a  program  to  sort a  list  without  using  sorted()  function  and  sort()  method

Input :  [10,20,30,25,40,35,12,5]
Output :  [5,10,12,20,25,30,35,40]

Enter list:[10,20,15,12,5]
[5, 10, 12, 15, 20]
'''
lst = [10, 20, 15, 12, 5]

# Bubble Sort
n = len(lst)
for i in range(n):
    for j in range(0, n-i-1):
        if lst[j] > lst[j+1]:
            # swap
            lst[j], lst[j+1] = lst[j+1], lst[j]

print(lst)

[5, 10, 12, 15, 20]

### 21/08/25

In [ ]:
# Find  outputs   (Home  work)
a = 25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 'Hyd' , 25
print(a)    # (25, 10.8, (3+4j), 'Hyd', True, None, 'Hyd', 25)
print(type(a))  # <class 'tuple'>
a[3] = 'Sec'    # error
a[3 : 6] = 60 , 70 , 80 # error

(25, 10.8, (3+4j), 'Hyd', True, None, 'Hyd', 25)
<class 'tuple'>

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a))    # (1, 2, 3) 1879065125760
a += b
print(a , id(a))    # (1, 2, 3, 4, 5, 6) 1879065026304

(1, 2, 3) 1879065125760
(1, 2, 3, 4, 5, 6) 1879065026304

In [ ]:
#  Find  outputs
a = (1,2,3)
b = (4,5,6)
print(a , id(a))    # (1, 2, 3) 1879064981440
a = a + b
print(a , id(a))    # (1, 2, 3, 4, 5, 6) 1879065026304

(1, 2, 3) 1879064981440
(1, 2, 3, 4, 5, 6) 1879065026304

In [ ]:
#  What   are  the  outputs  if  input  is  (10 , 20 , 30 , 40) ?   (Home  work)
a = input('Enter  Tuple  :  ')
print(a)    # (10 , 20 , 30 , 40)
print(type(a))  # <class 'str'>
b = eval(a)
print(b)    # (10, 20, 30, 40)

print(type(b))  # <class 'tuple'>
print(len(b))   # 4

(10 , 20 , 30 , 40)
<class 'str'>
(10, 20, 30, 40)
<class 'tuple'>
4

In [ ]:
# Find  outputs  (Home  work)
a = (10 , [20 , 30 , 40] , 50 , 60)
a[1][0] = 70
print(a)    # (10, [70, 30, 40], 50, 60)
a[1] = [80 , 90 , 100]  # error
print(a)    # (10, [70, 30, 40], 50, 60)

(10, [70, 30, 40], 50, 60)
(10, [70, 30, 40], 50, 60)

In [ ]:
# Find  outputs  (Home  work)
a = [10 , (20 , 30 , 40) , 50 , 60]
#a[1][0] = 70    # error
print(a)    #[10, (20, 30, 40), 50, 60]
a[1] = [80 , 90]
print(a)    # [10, [80, 90], 50, 60]

[10, (20, 30, 40), 50, 60]
[10, [80, 90], 50, 60]

In [ ]:
# Find  outputs   (Home  work)
a = 25
b = 10.8
c = 'Hyd'
d = True
x = a , b , c , d
print(x)    # (25, 10.8, 'Hyd', True)
print(type(x))  # <class 'tuple'>

(25, 10.8, 'Hyd', True)
<class 'tuple'>

In [ ]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True
a , b , c , d = x
print(a)    # 25
print(b)    # 10.8
print(c)    # Hyd
print(d)    # True
p , q , r =  x  # error
a , b , c , d  , e = x  # error

25
10.8
Hyd
True

In [ ]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True
a , *b , c = x
print(a)    # 25
print(b)    # [10.8, 'Hyd']
print(c)    # True

25
[10.8, 'Hyd']
True

In [ ]:
# Find  outputs   (Home  work)
tpl = 25 , 10.8 , 'Hyd' , True
a , b , *c , d , e = tpl
print(a)    # 25
print(b)    # 10.8
print(c)    # []
print(d)    # Hyd
print(e)    # True

25
10.8
[]
Hyd
True

In [ ]:
# Find  outputs   (Home  work)
x = 25 , 10.8 , 'Hyd' , True , 3 + 4j
a , b , _ , d , _= x
print(a)    # 25
print(b)    # 10.8
print(_)    # (3+4j)
print(d)    # True
print(_)    # (3+4j)

25
10.8
(3+4j)
True
(3+4j)

In [ ]:
# tuple()  function  demo  program   (Home  work)
a = range(100 , 150 , 10)
b = tuple(a)
print(b)    # (100, 110, 120, 130, 140)
print(type(b))  # <class 'tuple'>
c = [10 , 20 , 15, 18]
d = tuple(c)
print(d)    # (10, 20, 15, 18)
e = tuple('Vamsi')
print(e)    # ('V', 'a', 'm', 's', 'i')
print(tuple(25))    # error
print(tuple())  # ()


'''
tuple()  function
--------------------
1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple

2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple

3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only

4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one
'''

(100, 110, 120, 130, 140)
<class 'tuple'>
(10, 20, 15, 18)
('V', 'a', 'm', 's', 'i')
()

'\ntuple()  function\n--------------------\n1) What  does  tuple(sequence)  do  ?  --->  Converts  sequence  to  tuple\n\n2) What  does  tuple(No-args)  do  ?  ---> Returns  an  empty  tuple\n\n3) Is  tuple(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence  only\n\n4) How  many  arguments  can  tuple()  function  take ?  --->  1 (or)  none  but  not  more  than  one\n'

### 22/08/25

In [1]:
#index()  and  count()  methods  demo  program   (Home  work)
a = (10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25)
#     0   1    2     3   4    5    6   7   8    9    10
try:
	i = a . index(15)
	while  True:
		print('15 is found at index : ' , i)	# 2 <next line> 5 <next line>8
		i = a . index(15 , i + 1)
except:
		print(F'15  is  found  {a . count(15)}  times')	# 15 found 3 times

15 is found at index :  2
15 is found at index :  5
15 is found at index :  8
15  is  found  3  times

In [ ]:
#  How  to  modify  an  element  of  tuple ?    (Home  work)
a  =  10 ,  20 ,  30 ,   40 ,  50
#     0     1     2       3      4
a[2] = 35   # error
print(a)    # (10 ,  20 ,  30 ,   40 ,  50)
print(id(a))    # address of the object
b=a[:2]+(35,)+a[3:]#How  to  modify  30  in  tuple  to  35
print(b)    #(10, 20, 35, 40, 50)
print(id(b))    # address of new obj

(10, 20, 30, 40, 50)
2346254984080
(10, 20, 35, 40, 50)
2346248849344

In [ ]:
# How  to  delete  an  element  of  tuple ?   (Home  work)
a  = 10 , 20 , 30 , 40 , 50
#    0     1      2     3      4
a . remove(30)  # error
del  a[2]   # error
a . pop(2)  # error
print(a)    # (10 , 20 , 30 , 40 , 50)
print(id(a))    # address of the obj
b=a[:2]+a[3:]#How  to  remove  30  from  tuple  'a'
print(b)    # (10, 20, 40, 50)
print(id(b))    # 2346256045280

(10, 20, 30, 40, 50)
2346223505696
(10, 20, 40, 50)
2346256045280

In [10]:
#  Nested   tuple  (Home  work)
a = ( (10 , 20)  ,  (30 , 40 , 50)  ,  (60 , 70 , 80 , 90) )
print(a)    # ( (10 , 20)  ,  (30 , 40 , 50)  ,  (60 , 70 , 80 , 90) )
print(type(a))  # <class tuple>
print(len(a))   # 3
print(a[0]) #(How  to  print  1st  inner  tuple)
print(a[1]) #(How  to  print  2nd  inner  tuple)
print(a[2]) #(How  to  print  3rd  inner  tuple)
print(a[0][1]) #(How  to  print  20)
print(a[1][2]) #(How  to  print  50)
print(a[2][3]) #(How  to  print  90)

((10, 20), (30, 40, 50), (60, 70, 80, 90))
<class 'tuple'>
3
(10, 20)
(30, 40, 50)
(60, 70, 80, 90)
20
50
90

In [12]:
# Find  outputs  (Home  work)
a = ((10 , 20 , 30),)
print(a[0]) #(How  to   print  inner  tuple)
print(*a) #(How  to   print  inner  tuple  in  another  way)
print(a[0][0]) #(How   to  print   10)
print(a[0][1]) #(How   to  print   20)
print(a[0][2]) #(How   to  print   30)
b = ((),)
print(b[0]) #(How  to   print  inner  tuple  of  tuple  'b')
print(*b) #(How  to   print  inner  tuple  of  tuple  'b'  in  another  way)

(10, 20, 30)
(10, 20, 30)
10
20
30
()
()

In [ ]:
#  Find  outputs (Home  work)
a = ((10 , 20 , 30))
print(a)    # (10 , 20 , 30)
print(*a)   # 10 , 20 , 30
b = (())
print(b)    # ()
print(*b)   # empty

(10, 20, 30)
10 20 30
()

In [ ]:
# What  are  the  outputs  if  input  is  {10 , 20 , 15 , 18 , 20 , 12 , 18}
a = input('Enter  Set  :  ')
print(a)    #  {10 , 20 , 15 , 18 , 20 , 12 , 18} 
print(type(a))  # <class str>
b = eval(a)
print(b)     #{10 , 20 , 15 , 18 , 12 } in any order
print(type(b))  # <class set>

 {10 , 20 , 15 , 18 , 20 , 12 , 18}
<class 'str'>
{18, 20, 10, 12, 15}
<class 'set'>

#### set()

In [ ]:
#  Find  outputs  (Home  work)
print({(10 , 20 , 30)}) # {(10 , 20 , 30)}
print({[10 , 20 , 30]}) # error
print({{10 , 20 , 30}}) # error
print({{}}) # error

{(10, 20, 30)}

In [26]:
# How  to  print  set  in  differnet ways  (Home  work)
a = {25 , True , 'Hyd' , 10.8}
print('set  with  print  function')
print(a)    # {25 , True , 'Hyd' , 10.8}
print('Iterate  elements  of  set  with  for  loop')
b=set()
for i in a: #How  to  iterate  set  with  for  loop
    print(i)
    b.add(i)
print(b)
# 2 way
print("using unpacking: " ,*a)
# 3way
print("Using join:", ", ".join(map(str,a)))

set  with  print  function
{25, 10.8, 'Hyd', True}
Iterate  elements  of  set  with  for  loop
25
10.8
Hyd
True
{25, 10.8, 'Hyd', True}
using unpacking:  25 10.8 Hyd True
Using join: 25, 10.8, Hyd, True

In [ ]:
# Find  outputs  (Home  work)
a = 'Hyd'
b = True
c = 25
d = 1
e = 'Hyd'
s = {a , b , c , d , e}
print(s)    # {'Hyd',True, 25}
print(len(s))   # 3
print(type(s))  # <class set>

{True, 'Hyd', 25}
3
<class 'set'>

In [31]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)    # {'Hyd',  25,  True,  10.8 }
a , b , c , d = s
print(a)    # 'Hyd'
print(b)    # 25
print(c)    # True
print(d)    # 10.8

{25, 10.8, 'Hyd', True}
25
10.8
Hyd
True

In [ ]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)    # {'Hyd',  25,  True,  10.8 } in any order
a , *b = s
print(a)    # 'Hyd'
print(b)    # [25, True, 10.8]
print(type(b))  # <class list>

{25, 10.8, 'Hyd', True}
25
[10.8, 'Hyd', True]
<class 'list'>

In [29]:
# Find  outputs  (Home  work)
s = {'Hyd',  25,  True,  10.8 }
print(s)    # {'Hyd',  25,  True,  10.8 }
a , *b , c = s
print(a)    # 'Hyd'
print(b)    # [25, True]
print(c)    # 10.8

{25, 10.8, 'Hyd', True}
25
[10.8, 'Hyd']
True

In [30]:
# Find  outputs  (Home  work)
s = {20 , 10 , 20 , 10}
print(s)    # {10,20}
x , y = s
print(x)    # 10
print(y)    # 20

{10, 20}
10
20

In [ ]:
# set()  function  demo  program  (Home  work)
a = range(100 , 151 , 10)
b = set(a)
print(b)    # {100,110,120,130,140}
c = [10 , 20 , 15 , 18 , 10 , 50 , 20 , 12 , 18]
d = set(c)  
print(d)    # {10,20,15,18,50,12}
e = set('Rama  rAo')
print(e)    #{'R','a','m',' ', 'r','A','o'}
print(set(25))  # error
print(set())    # ()


'''
set()  function
-----------------
1) What  does  set(sequence)  do ?  ---> Converts  sequence  to  set

2) What  does  set(No-args)  do ?  --->  Returns  an  empty  set

3) How  many  arguments  can  set()  function  take ?  ---> Zero  (or) One  but  not  more  than  one

4) Is  set(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence
'''

{130, 100, 140, 110, 150, 120}
{10, 12, 15, 18, 50, 20}
{'R', 'r', 'a', 'A', 'o', ' ', 'm'}
set()

'\nset()  function\n-----------------\n1) What  does  set(sequence)  do ?  ---> Converts  sequence  to  set\n\n2) What  does  set(No-args)  do ?  --->  Returns  an  empty  set\n\n3) How  many  arguments  can  set()  function  take ?  ---> Zero  (or) One  but  not  more  than  one\n\n4) Is  set(non-sequence)  valid ?  --->  No  becoz  argument  should  be  sequence\n'