In [ ]:
#  Find  outputs  (Home  work)
def  change(b):
	b . append(25)
	b[2] = 17
	del  b[1]
# End  of  the  function
a = [10 , 20 , 15 , 18]
print(a)	# [10 , 20 , 15 , 18]
change(a)
print(a)	# [10 , 17, 15 , 25]

'''
output:
[10, 20, 15, 18]
[10, 17, 18, 25]

1)  a = [10 , 20 , 15 , 18]
    change(a)
    What  is   passed  to  change()  function ? --->List  itself  but  not  elements  of  list

2) Modifying  list  'b' is  as  good  as  modifying  list  'a'  becoz  'a'  and  'b'  point  to  same  list
'''

[10, 20, 15, 18]
[10, 17, 18, 25]

"\n1)  a = [10 , 20 , 15 , 18]\n    change(a)\n    What  is   passed  to  change()  function ? --->List  itself  but  not  elements  of  list\n\n2) Modifying  list  'b' is  as  good  as  modifying  list  'a'  becoz  'a'  and  'b'  point  to  same  list\n"

In [ ]:
# Find  outputs  (Home  work)
def  change(b):
	b  = [50 , 60 , 70 , 80]
	print(b)	# [50 , 60 , 70 , 80]
# End  of  the  function
a = [10 , 20 , 30 , 40]
print(a)	# [10 , 20 , 30 , 40]
change(a)
print(a)	# [10 , 20 , 30 , 40]
''' 
[10, 20, 30, 40]
[50, 60, 70, 80]
[10, 20, 30, 40]'''

[10, 20, 30, 40]
[50, 60, 70, 80]
[10, 20, 30, 40]

In [ ]:
#  Find  outputs  (Home  work)
def   f1(x):
	x = 20
	print(x)	# 20
# End  of   the   function
x = 10
print(x)	# 10
f1(x)
print(x)	# 10
''' 10
20
10'''

10
20
10

In [ ]:
#  Find  outputs  (Home  work)
def  f1(b):
	b[2] = 25 # error bcz tuple is immutable
    #pass
#end  of  the  function
a = (10 , 20 , 15 , 18)
print(a)	# (10 , 20 , 15 , 18)
f1(a)
print(a)	# (10 , 20 , 15 , 18)

(10, 20, 15, 18)
(10, 20, 15, 18)

In [6]:
# Find  outputs (Home  work)
square = lambda  x = 10  :   x * x
print(square(5))    # 25
print(square()) # 100

25
100

In [ ]:
# Find  outputs  (Home  work)
print((lambda   x  :   x * x) (7))  # 49
print( lambda   x  :  x * x(7)) #  <lambda func> address of function
print( lambda   x  :   x * x)   # <lambda func> address of function
print( (lambda  x = 25 :  x * x) () )   # 625
square = lambda  x :  x  *  x
print(square(5))    # 25

49
<function <lambda> at 0x00000160C1DBD8A0>
<function <lambda> at 0x00000160C1DBD8A0>
625
25

In [ ]:
# Find  output (Home  work)
#How  to  define  lambda  function   to  return  sum   of  two  arguments
add=lambda a,b:a+b
print(type(add))    # <class function>
print(add(10 , 20)) # 30
print(add(10.6 , 20.8)) # 31.4
print(add('Hyder' , 'abad'))    # Hyderabad
print(add(True , False))    # 1
print(add(25 , 10.8))   # 35.8
print(add(3 + 4j , 5 + 6j)) # 8+10j
print(add(10 , '20'))   # error bcz can not concatenate string and int
print(add())    # error bcz not sending a,b values
print(add)  # <lambda function> address of function

<class 'function'>
30
31.4
Hyderabad
1
35.8
(8+10j)
<function <lambda> at 0x00000160C244AFC0>

In [12]:
#  Find  outputs (Home  work)
add = lambda  a = 1 , b = 2 :  a + b
print(add(10 , 20)) # 30
print(add())    # 3

30
3

In [ ]:
#  Find  outputs (Home work)
print((lambda  x , y : x + y) (10 , 20) )       #30
print((lambda  x , y : x + y) (10.8 , 20.6))    # 31.4
print((lambda  x , y : x + y) ('Hyder' , 'abad'))   # Hyderabad
print(lambda  x , y : x + y  ('Hyder','abad'))  # <lambda func> address of function bcz there is no seperate paranthesis for func

30
31.400000000000002
Hyderabad
<function <lambda> at 0x00000160C244AB60>

In [ ]:
#  Find  outputs (Home  work)
#How  to  define  lambda  to  detrmine  largest  of  two  arguments
large=lambda a,b: a if a>b else b 
print(large(10  ,  20)) # 20
print(large(10.7  ,  5.6))  # 10.7
print(large('g'  ,  's'))   # s
print(large('Rama'  ,  'Rajesh'))   # Rama
print(large(True  ,  False))    # True

20
10.7
s
Rama
True

In [ ]:
#Find  outputs (Home  work)
power = lambda  a = 3.5 , b = 2  :  a ** b
print(power(2 , 3)) # 2^3=8
print(power(4.5 , 4))   # 4.5^4= 410.06
print(power())  # 3.5^2=12.25
print(power(9)) # 9^2= 81

8
410.0625
12.25
81

In [ ]:
# Find  outputs
all = lambda  a , b :  (a + b ,  a - b , a * b , a / b)
x = all(10 , 7)
print(type(x))  # <class tuple>
print(x)    # (17    3   70  1.42)
p , q , r , s = all(9 , 2)
print(p)    # 11
print(q)    # 7
print(r)    # 18
print(s)    # 4.5

<class 'tuple'>
(17, 3, 70, 1.4285714285714286)
11
7
18
4.5

In [ ]:
#  Find  outputs
a  =  lambda  :  'Hyd'
print(a())  # Hyd
print(a)    # <lambda func> address of func

Hyd
<function <lambda> at 0x00000160C239A520>

In [21]:
# Find  outputs
a  =  lambda  :  print('Hyd')  ;  print('Sec');  print('Cyb')
print(a())  # Sec < nextline> Cyb <nextline> Hyd

Sec
Cyb
Hyd
None

In [ ]:
# Find  outputs   (Home  work)
a  =  lambda  :  print('Hyd')  , print('Sec')  , print('Cyb')
print(type(a)) #<class tuple>
print(a) # func lambda and adress of func 
for  x  in  a:
	print(x) #<function <lambda> address of func <nextline> None <nextline> None)
# a() # error
print(a[0]())	# Hyd and None

Sec
Cyb
<class 'tuple'>
(<function <lambda> at 0x00000160C2508400>, None, None)
<function <lambda> at 0x00000160C2508400>
None
None
Hyd
None

In [ ]:
#  Find  outputs  (Home  work)
s = 'Hyd'
print(lambda  s  :  print(s))   # func lambda and address of func
print(lambda  x  :  print(x) (s)) # func lambda and address of func
print((lambda  x  :  print(x)) (s)) # Hyd and None
(lambda  x  :  print(x)) (s)    #   # Hyd

<function <lambda> at 0x00000160C239A520>
<function <lambda> at 0x00000160C239A520>
Hyd
None
Hyd

In [ ]:
# Find outputs  (Home  work)
x = 5
adder1 = lambda  y , x = x  : x + y
x = 10
adder2 = lambda  y , x = x : x + y
x = 20
print(adder1(100))  # 105
print(adder2(200))  # 210
print(adder1(300 , 400))    # 700

105
210
700

In [ ]:
#Find  outputs  (Home  work)
a = [lambda   x  :  x ** 2 , lambda   x  :  x ** 3 ,  lambda   x  :  x ** 4]
for   fun   in   a:
        print(fun(5))   #  25 <next line> 125 <next line> 625

25
125
625

In [ ]:
#  Find  outputs
def   f1():
	print('Hyd')
def   f2():
	print('Sec')
a = [f1 , f2]
for  x  in  a:
	     x() # Hyd <next line> Sec
a = [def   f1():  print('Hyd') ,  def   f2():  print('Sec')] 	# error
print(a)	#[<function f1 at 0x00000160C1E3DE40>, <function f2 at 0x00000160C1E3FF60>]

Hyd
Sec
[<function f1 at 0x00000160C2508400>, <function f2 at 0x00000160C2509080>]

In [30]:
# Find output  (Home  work)
a = {'power_2'  :  lambda   x  :  x ** 2 ,
       'power_3'  :  lambda   x  :  x ** 3 ,
  	   'power_4'  :  lambda   x  :  x ** 4}
key = 'power_3'
print(a[key]) # <func lambda > and address of func
print(a[key](5))     # 5^3= 125

<function <lambda> at 0x00000160C2508F40>
125

In [ ]:
# Find  outputs  (Home  work)
def   f1(x):
        return  lambda  n  :  x ** n
lamb = f1(3)
print(type(f1)) # <class func>
print(type(lamb))       # # <class func>
print(lamb(2))  # 3^2=9
print(lamb(5))# 3^5 =243
print(lamb)     # <func lamda> address of func
print(lamb())   # error bcz not sending the value

<class 'function'>
<class 'function'>
9
243
<function f1.<locals>.<lambda> at 0x00000160C1E3DE40>

In [ ]:
# Find  outputs   (Home  work)
def   eval(a , b , c):
        return   lambda    x  :    a *   x **  2  +   b * x  +  c
lam  = eval(3 , 4 , 5)
print(lam(2))   # 3 * 2 ** 2 + 4 * 2 + 5=> 3 *4 + 8 + 5=> 12+13 =25
print(lam(2.5)) # 33.75
print(lam(4))   # 69

25
33.75
69

In [34]:
#Nested  lambda  function  (Home  work)
add  =  lambda    x = 10   :    lambda   y  :  x  +  y
a = add()
print(a(20))    # 30
print(add(30)(40))  # 70

30
70

In [ ]:
# Find  outputs
a= ((10 , 'Rama' , 1000.0) , (20 , 'Sita' , 2000.0) , (15 ,'Rajesh' , 500.0) ,  (18 , 'Kiran' , 2800.0) , (5 , 'Amar' , 1300.0))
b = sorted(a)
print(b)    # [(5 , 'Amar' , 1300.0), (10 , 'Rama' , 1000.0), (15 ,'Rajesh' , 500.0) ,  (18 , 'Kiran' , 2800.0) , (20 , 'Sita' , 2000.0) )]
print()
c = sorted(a , reverse = True)
print(c)    #[(20 , 'Sita' , 2000.0), (18 , 'Kiran' , 2800.0), (15 ,'Rajesh' , 500.0), , (10 , 'Rama' , 1000.0), (5 , 'Amar' , 1300.0))]
print()
d = sorted(a ,  key =  lambda   x  :  x[1])
print(d)   # [(5 , 'Amar' , 1300.0), (18 , 'Kiran' , 2800.0), (15 ,'Rajesh' , 500.0), (10 , 'Rama' , 1000.0) , (20 , 'Sita' , 2000.0))]
print()
e = sorted(a , key =  lambda   x  :  x[2])
print(e)    # [(15 ,'Rajesh' , 500.0) , (10 , 'Rama' , 1000.0) ,(5 , 'Amar' , 1300.0), (20 , 'Sita' , 2000.0), (18 , 'Kiran' , 2800.0) )]
print()
f = sorted(a , key = lambda   x  :  x[0])
print(f)    # [(5 , 'Amar' , 1300.0), (10 , 'Rama' , 1000.0), (15 ,'Rajesh' , 500.0) ,  (18 , 'Kiran' , 2800.0) , (20 , 'Sita' , 2000.0) )]
print()
g = sorted(a , key = lambda  x : x[1] , reverse = True) 
print(g) #[(20 , 'Sita' , 2000.0) , (10 , 'Rama' , 1000.0), (15 ,'Rajesh' , 500.0), (18 , 'Kiran' , 2800.0), (5 , 'Amar' , 1300.0))]
print(sorted(a , key = x[1])) # error

[(5, 'Amar', 1300.0), (10, 'Rama', 1000.0), (15, 'Rajesh', 500.0), (18, 'Kiran', 2800.0), (20, 'Sita', 2000.0)]

[(20, 'Sita', 2000.0), (18, 'Kiran', 2800.0), (15, 'Rajesh', 500.0), (10, 'Rama', 1000.0), (5, 'Amar', 1300.0)]

[(5, 'Amar', 1300.0), (18, 'Kiran', 2800.0), (15, 'Rajesh', 500.0), (10, 'Rama', 1000.0), (20, 'Sita', 2000.0)]

[(15, 'Rajesh', 500.0), (10, 'Rama', 1000.0), (5, 'Amar', 1300.0), (20, 'Sita', 2000.0), (18, 'Kiran', 2800.0)]

[(5, 'Amar', 1300.0), (10, 'Rama', 1000.0), (15, 'Rajesh', 500.0), (18, 'Kiran', 2800.0), (20, 'Sita', 2000.0)]

[(20, 'Sita', 2000.0), (10, 'Rama', 1000.0), (15, 'Rajesh', 500.0), (18, 'Kiran', 2800.0), (5, 'Amar', 1300.0)]

In [ ]:
# Find outputs  (Home  work)
a = [ {'Make' : 'Ford' , 'Model' : 'Focus' , 'Year' : 2013} ,
        {'Make' : 'Tesla' , 'Model' : 'X' , 'Year' : 1999} ,
        {'Make' : 'Mercedes' , 'Model' : 'C350E' , 'Year' : 2008} ]
b = sorted(a , key = lambda  x  :  x['Year'])
print(b)        # [{'Make' : 'Tesla' , 'Model' : 'X' , 'Year' : 1999},{'Make' : 'Mercedes' , 'Model' : 'C350E' , 'Year' : 2008}, {'Make' : 'Ford' , 'Model' : 'Focus' , 'Year' : 2013}]
print(sorted(a))        # error

[{'Make': 'Tesla', 'Model': 'X', 'Year': 1999}, {'Make': 'Mercedes', 'Model': 'C350E', 'Year': 2008}, {'Make': 'Ford', 'Model': 'Focus', 'Year': 2013}]

In [ ]:
# Find outputs  (Home  work)
a = ((10 , 'Rama' , 1000.0) , (20 , 'Sita' , 2800.0) , (15 , 'Vamsi' , 2000.0) , (25 , 'Kiran' , 1500.0) ,  (5 , 'Amar' , 1300.0))
print(max(a , key = lambda  x  :  x[0] ))   # (25 , 'Kiran' , 1500.0)
print(max(a , key = lambda  x  :  x[1] ))   # (15 , 'Vamsi' , 2000.0)
print(max(a , key = lambda  x  :  x[2] ))   # (20 , 'Sita' , 2800.0) 
print(max(a))   # (25 , 'Kiran' , 1500.0)

(25, 'Kiran', 1500.0)
(15, 'Vamsi', 2000.0)
(20, 'Sita', 2800.0)
(25, 'Kiran', 1500.0)

In [ ]:
# Find  output  (Home  work)
add = lambda  x  :   x == 25
print(add(10))  # False
add = lambda  x = 25 :   x == 35
print(add())    # False
add = lambda  x  :   x = 25 # Error
add = lambda  x  :   x := 25    # error

False
False