### 15/07/25

In [ ]:
# float  object  demo  program (Home  work)
a = 10.8
print(a)         # 10.8
print(type(a))  #<class float>
print(id(a))    # may be 1231200
b = 25.        
print(b)        #25.0
print(type(b))  #<class float>
c = .689       
print(c)        #0.689
d = 3.4E2       
print(d)        #3.4*10^2
print(type(d))  #<class float>
e = 9.62e-2
print(e)        # 9.62*10^-2
print(9.8.2)    # Error

10.8
<class 'float'>
2081342648112
25.0
<class 'float'>
0.689
340.0
<class 'float'>
0.0962

In [4]:
# complex object demo program
a = 3 + 4j
print(a)            #3+4j
print(type(a))      #<class complex>
print(id(a))        # may be 102101
print(a . real)     # 3.0
print(a . imag)     # 4.0
print(type(a . real))   # <class float>
print(type(a . imag))   # <class float>

(3+4j)
<class 'complex'>
2446328820944
3.0
4.0
<class 'float'>
<class 'float'>

In [ ]:
# Find outputs (Home work)
a = 6j
print(a)        # 6j
print(type(a))  # <class complex>
print(a.real)   # 0.0
print(a.imag)   # 6.0
print(5 + j6)  # Error due to 'j' is before 6
print(3 + 4i)  # Error due to  'i'
print(4+j)     # Error- we need to write at least '1' before 'j'
print(4 + 1j)   # 4+1j
print(4 + 0j)   #4+0j

6j
<class 'complex'>
0.0
6.0
(4+1j)
(4+0j)

In [ ]:
# bool object demo program  (Home  work)
a = True
print(a)        # True
print(type(a))  # <class bool>
print(id(a))    # may be 1000
b = False       
print(b)        # False
print(type(b))  # <class bool>
print(True + True)  # 2
print(True + False) # 1
print(False + True) # 1
print(False + False)    # 0
print(True + True + True)   # 3
print(25 + 10.8 + True) # 36.8
print(True > False)     # True
print(True)         # True
print(False)        # False
print(true)         # error due to 't'
print(false)        # error dut to 'f'

True
<class 'bool'>
140706418268176
False
<class 'bool'>
2
1
1
0
3
36.8
True
True
False

In [ ]:
# Find  outputs (Home  work)
a = 0O6247
print(a)        # 3249
print(type(a))  #<class int>
print(id(a))    # may be 2108210
b = 0o6247      
print(id(b))    #same address
print(b)        #3249  
c = 3239
print(c)        # 3239
print(id(c))    #same address
#print(0o9248)   # error due to '9' - octal int contain 0-7

3239
<class 'int'>
2056685792240
2056685790576
3239
3239
2056685791792

In [ ]:
# Find  outputs  (Home  work)
a = 0XA7B9
print(a) # 42937
print(type(a))  #<classs int>
b = 0xBEEF 
print(b)    #48879
print(A7B9) # error due to 'A7B9'
print('A7B9')   # Error due to A7B9

42937
<class 'int'>
48879
A7B9

In [12]:
# Find outputs (Home  work)
a = 9248
print(a) # 9248
print(type(a)) # <class int>

9248
<class 'int'>

16/07/25--- sequence

In [ ]:
#  Find  outputs  (Home  work)
a = "Rama Rao"
print(a)    # Rama Rao
print(type(a))  # <class 'str'>
print(id(a))    # may be 2108310
b = 'Hyd'
print(b)        # Hyd
c = '''Hyd is green city.
Hyd is hitec city.
Hyd is beautiful city.'''
print(c) #Hyd is green city.
        # Hyd is hitec city.
        # Hyd is beautiful city.

Rama Rao
<class 'str'>
2681571989488
Hyd
Hyd is green city.
Hyd is hitec city.
Hyd is beautiful city.

In [ ]:
# Index   demo  program  (Home  work)
a = 'Hyd'
print(a[0])#(How  to  print  'H'  of  object  'a')   
print(a[1]) #(How  to  print  'y'  of  object  'a')    
print(a[2]) #(How  to  print  'd'  of  object  'a')     
print(a[3]) # error
print(a[-1])#(How  to  print  'd'  of  object  'a')     
print(a[-2]) #(How  to  print  'y'  of  object  'a')     
print(a[-3]) #(How  to  print  'H'  of  object  'a')     
print(a[-4])    # error
print(a[0] ==  a[-3])   # True
a[2] = 'c'      
print(25[0])       #error due to 'int'
print('25'[0])      # 2
print(True[1])     # error due to 'bool'
print('True'[1])    # r

2
r

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a * 3)    # HydHydHyd
print(a * 2)    # HydHyd
print(a * 1)    # Hyd
print(a * 0)    # empty ''
print(a * -1)   # empty ''
print(25 * 3)   # 75
print('25' * 3) # 252525
#print('25' * 4.0)   # error due to 'float'
print(3 * 'Hyd')    # HydHydHyd
print('25' * True)  # 25

HydHydHyd
HydHyd
Hyd


75
252525
HydHydHyd
25

In [ ]:
#  Find  outputs  (Home work)
a = 'Hyd'
print(a , id(a))    # Hyd 2134576
a = a * 3
print(a , id(a))    # HydHydHyd 12345098

Hyd 2681571880384
HydHydHyd 2681578346864

In [ ]:
# len()  function  (Home  work)
print(len('Hyd'))       # 3
print(len('Rama Rao'))  # 8
print(len('9247'))  # 4
print(len(''))  # 0
print(len(' ')) # 1
print(len(689)) # error due to 'int'

3
8
4
0
1

TypeError: object of type 'int' has no len()

In [ ]:
# Find  outputs  (Home  work)
a = """"Hyd"""
print(a)    #Error 
print(len(a))   # 4
print(a[0]) # "
print("""Hyd"""")  # error
b = """""Hyd"""
print(b)    # ""Hyd
print(len(b))   # 5

4
"
""Hyd
5

In [ ]:
# Find  outputs
a = 'Sankar Dayal Sarma'
print(a[7 : 12])    # Dayal
print(a[7 : ])  #Dayal Sarma
print(a[ : 6])  #Sankar
print(a[ : ])  #  a[ 0 :  18  : 1]  --->   string  from  indexes  0  to  17  in  steps  of   1  i.e.  Sankar<space>Dayal<space>Sarma
print(a[:  : ]) # Sankar Dayal Sarma
print(a[1 : 10 : 2])    # akrdy
print(a[0 : : 2])       #sna aa am
print(a[1 : : 2])   # akrDylsra
print(a[-5 : -1])   # Sarm
print(a[::-1])  #amraS layaD raknaS
print(a[-1:-5:-1])  # amra
print(a[ : : -2]) #   a[-1 :  -19 : -2]  --->  string  from  indexes  -1  to  -18  in  steps  of   -2  i.e.  arSlyDrka
print(a[3 : -3])    #kar Dayal Sa
print(a[2 : -5])    #nkar Dayal 
print(a[-1:-5])     # ''
print(a[3 : 3])     # ''


#   0      1      2      3      4       5       6           7       8       9     10     11     12           13     14       15      16     17
#   S      a      n      k      a       r                    D       a      y     a       l                  S       a         r       m       a
#  -18   -17   -16      -15    -14     -13      -12        -11     -10    -9     -8    -7      -6            -5      -4       -3      -2      -1

Dayal
Dayal Sarma
Sankar
Sankar Dayal Sarma
Sankar Dayal Sarma
akrDy
Sna aa am
akrDylSra
Sarm
amraS layaD raknaS
amra
arSlyDrka
kar Dayal Sa
nkar Dayal

In [ ]:
#  Find  outputs  (Home  work)
a =  'A'
#print(a[1]) # error
print(a[1:])    # ''

In [ ]:
# int()  function  demo  program
print(int(10.8))  #  Converts  float   object  10.8  to  int  object  10
print(int(True))  #  Converts  bool   object    True  to  int  object 1
print(int(False))   # Converts  bool   object    Flase  to  int  object 0
print(int('25'))  # converts string object '25' to int object 25
print(int('0075')) #75
print(int(0B11010)) # 26
print(0B11010)  #26
print(int(0O6247))  # 3239
print(0O6247)    # 3239
print(int(0XA7B9))  # 42937
print(0XA7B9)   # 42937
print(int(3 + 4j))  # error due to complex
print(int('25.4'))  # Error 
print(int('Ten'))   # error



'''
int()  function
----------------
1) What  does  int(x)  do  ?  --->  Converts  object  'x'  to  integer'''

10
1
0
25
75
26
26
3239
3239
42937
42937

ValueError: invalid literal for int() with base 10: 'Ten'

In [ ]:
# float()  function  demo  program
print(float(25))  #  Converts  int  object  25  to  float  object   25.0
print(float(True))   #  Converts  bool  object   True   to  float  object   1.0
print(float(False)) # 0.0
print(float('92'))  # 92.0
print(float('36.4')) #36.4
print(float('0075'))    #75.0
print(float(0B1010101)) # 85.0
print(float(0O6247))    # 3239.0
print(float(0XA7B9))    # 42937.0
#print(float(3 + 4j))    # error due to complex
print(float('Ten'))     #error due to str





'''
float()   function
--------------------
1) What  does  float(x)  do  ?  --->  Converts  object  'x'  to  float'''

25.0
1.0
0.0
92.0
36.4
75.0
85.0
3239.0
42937.0

ValueError: could not convert string to float: 'Ten'

In [ ]:
# complex()  function  demo  program
print(complex(3 , 4))   # (3+4j)
print(complex(0 , 4))   #  4j
print(complex(3))   #(3+0j)
print(complex(3.8 , 4.6))   # (3.8+4.6j)
print(complex(3.8)) #(3.8+0j)
print(complex(3 , 4.5)) # (3+4.5j)
print(complex(True , False)) # (1+0j)
print(complex(True))    # (1+0j)
print(complex(False))   #0j
print(complex(True , 4))    # (1+4j)
print(complex('3')) #(3+0j)
print(complex('3.8'))   #(3.8+0j)
print(complex(3 , '4')) # error due to 'str'
print(complex('3' , 4)) # error due to second arg
print(complex('3' , '4')) # error due to second arg
print(complex('Ten'))   # error

(3+4j)
4j
(3+0j)
(3.8+4.6j)
(3.8+0j)
(3+4.5j)
(1+0j)
(1+0j)
0j
(1+4j)
(3+0j)
(3.8+0j)

ValueError: complex() arg is a malformed string

In [ ]:
#  bool()  function  demo  program
print(bool(0))  # False
print(bool(10))     # True :  10  is  non-zero
print(bool(-25))    # True
print(bool(-25))    # True
print(bool(-25))    # True
print(bool(0.0))    #True
print(bool(0.1))    #False
print(bool(0 + 0j)) #True
print(bool(10 + 20j))#True
print(bool(-15j)) # False
print(bool('False')) # True
print(bool('')) # False
print(bool('Hyd'))  # True
print(bool(' ')) # True
print(bool('True'))# True
'''
bool()  function
------------------
1) What  does  bool(x)  do  ?  --->  Converts  object  'x'  to  True / False

2) Is  0  True  (or)  False ? --->  False
    What  about  non-zero ?  --->  True

3) Is  ''(i.e.  Empty  string)  True  (or) False ?  --->  False
    What  about  non-empty  string ?  --->	True

4) When  is  x + yj  treated  as  False ?  --->  When  both  'x'  and  'y'  are  zeroes
     When  is  x + yj  treated  as  True ?  --->  When  either  'x'  is   non-zero  (or)  'y'  is  non-zero
'''

False
True
True
True
True
False
True
False
True
True
True
False
True
True
True

"\nbool()  function\n------------------\n1) What  does  bool(x)  do  ?  --->  Converts  object  'x'  to  True / False\n\n2) Is  0  True  (or)  False ? --->  False\n    What  about  non-zero ?  --->  True\n\n3) Is  ''(i.e.  Empty  string)  True  (or) False ?  --->  False\n    What  about  non-empty  string ?  --->\tTrue\n\n4) When  is  x + yj  treated  as  False ?  --->  When  both  'x'  and  'y'  are  zeroes\n     When  is  x + yj  treated  as  True ?  --->  When  either  'x'  is   non-zero  (or)  'y'  is  non-zero\n"

In [ ]:
# str()  function  demo  program
print(str(25))  #  Converts   25  to  '25'
print(str(10.8)) # 10.8
print(str(3 + 4j)) # (3+4j)
print(str(True))# True
print(str(False))#False
print(str(None)) # None


'''
What  does  str(x)  do ?  --->  Converts  object  'x'  to  string
'''

25
10.8
(3+4j)
True
False
None

"\nWhat  does  str(x)  do ?  --->  Converts  object  'x'  to  string\n"

In [ ]:
# oct()  function  demo  program
print(oct(195)) #0o303
print(oct(0B10101110010)) # 0o2562
print(oct(0xA7B9))	# 0o123671
'''
oct()  function
-----------------
1) What  does  oct(x)  do ?  --->  Converts  object  'x'  to  octal  number  where
								                    'x'  can  be  binary / decimal / hexa-decimal  number'''

0o303
0o2562
0o123671

"\noct()  function\n-----------------\n1) What  does  oct(x)  do ?  --->  Converts  object  'x'  to  octal  number  where\n\t\t\t\t\t\t\t\t                    'x'  can  be  binary / decimal / hexa-decimal  number"

In [ ]:
# hex()  function  demo  program
print(hex(25)) #0x19
print(hex(0B10101111010111)) #(11223)0x2bd7
print(hex(0O6247)) # (3239) 0xca7

'''
hex()  function
------------------
1) What  does  hex(x)  do ?  --->  Converts  object  'x'  to  hexa-decimal  number  where
								                     'x'  can  be  binary / decimal / octal  number'''

0x19
0x2bd7
0xca7

"\nhex()  function\n------------------\n1) What  does  hex(x)  do ?  --->  Converts  object  'x'  to  hexa-decimal  number  where\n\t\t\t\t\t\t\t\t                     'x'  can  be  binary / decimal / octal  number"

17/07/25

In [ ]:
# Find  outputs    (Home  work)

a = range(10 , 50 , 5)

print(type(a)) # <class 'range'>

print(a)    #range(10,50,5)

print(*a)   # 10 15 20 25 30 35 40 45

print(id(a))    # may be 23456

print(len(a))   # 8

print(*a[2 : 7] , sep = ' , ')  # 20,25,30,35,40

print(*a[ : : -1])  # 45 40 35 30 25 20 15 10

a[4] = 32   #   error due to immutable

print(a * 2)    # error due to int

<class 'range'>
range(10, 50, 5)
10 15 20 25 30 35 40 45
2549895699248
8
20 , 25 , 30 , 35 , 40
45 40 35 30 25 20 15 10

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [2]:
#  Find  outputs  (Home  work)
a = range(10 , 20)
print(*a , sep = ',')   # 10,11,12,13,14,15,16,17,18,19
b = range(5)    
print(*b)   # 0 1 2 3 4
c = range(10 , 1 , -1)
print(*c , sep = '...') # 10...9...8...7...6...5...4...3...2
d = range(-10 , 0)
print(*d)   #   -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
e = range(-10)
print(*e)   # empty
f = range(2 , 2)
print(*f)   # empty
g = range(10 , 11 , 0.1) # error due to 'float'
h = range('A' , 'F')    # error due to 'str'

10,11,12,13,14,15,16,17,18,19
0 1 2 3 4
10...9...8...7...6...5...4...3...2
-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [1]:
#  Find  outputs  (Home  work)
r = range(10 ,  17 , 3)
a , b , c = r
print(a , b , c)    # 10 13 16
r = range(3)
x , y = r   # error
p , q  , r , s = r  # error
a , b , c = *r  # error

10 13 16

18/07/2025

In [ ]:
#  Find  outputs  (Home  Work)
a = [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(a)    # [25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25]
print(*a)   # 25 , 10.8 , 'Hyd' , True , 3 + 4j , None , 'Hyd' , 25
print(type(a))  # <class 'list'>
print(id(a))    # may be 123456
print(len(a))   #8
a[2] = 'Sec'
print(a)    # [25 , 10.8 , 'sec' , True , 3 + 4j , None , 'Hyd' , 25] 
print(a[2 : 5]) # ['sec' , True , 3 + 4j]

[25, 10.8, 'Hyd', True, (3+4j), None, 'Hyd', 25]
25 10.8 Hyd True (3+4j) None Hyd 25
<class 'list'>
2036889237376
8
[25, 10.8, 'Sec', True, (3+4j), None, 'Hyd', 25]
['Sec', True, (3+4j)]

In [4]:
# append()  and  remove()  methods  (Home  work)
a = [ ]
print(a)    #[]
a . append(25)
a . append(10.8)
a . append('Hyd')
a . append(True)
print(a)    #[25,10.8,'Hyd',True]
a . remove('Hyd')   
print(a)    # [25,10.8,True]
a . remove('25')
print(a)    # error due to '25'

[]
[25, 10.8, 'Hyd', True]
[25, 10.8, True]

In [5]:
#  Find  outputs  (Home  work)
a = [25 , 10.8 , 'Hyd']
print(a)    # [25 , 10.8 , 'Hyd']
print(id(a))    # 12345987654
print(a * 3)    #[25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(a * 2)    # [25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(a * 1)    # [25 , 10.8 , 'Hyd']
print(a * 0)    # []
print(a * -1)   # []
#print(a * 4.0)  # error
a = a * 3
print(a)      # [25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd',25 , 10.8 , 'Hyd']
print(id(a))    # 12345876
a = [25]
print(a * a) # Error

[25, 10.8, 'Hyd']
2202739341824
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
[25, 10.8, 'Hyd']
[]
[]
[25, 10.8, 'Hyd', 25, 10.8, 'Hyd', 25, 10.8, 'Hyd']
2202739196480

In [6]:
# list()  function  demo  program
a = list('Hyd')
print(a)    # ['H','y','d']
print(type(a))  # <class 'list'>
print(len(a))   # 09873456745
b = (10 , 20 , 15 , 18)
print(list(b))  # [10 , 20 , 15 , 18]
print(list(range(5)))   # [0,1,2,3,4]
print(list(25)) # Error


'''
list()  function
-----------------
1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list

2) Is  list(non-sequence)  valid ?  --->   No  becoz  argument  should  be  sequence  only

3) What  does  list(No-args)  do ?  ---> Returns  an  empty  list  i.e.  []

4) Finally  list()  function  does  typecasting
'''

['H', 'y', 'd']
<class 'list'>
3
[10, 20, 15, 18]
[0, 1, 2, 3, 4]

'\nlist()  function\n-----------------\n1) What  does  list(sequence)  do ?  --->  Converts  sequence  to  list\n\n2) Is  list(non-sequence)  valid ?  --->   No  becoz  argument  should  be  sequence  only\n\n3) What  does  list(No-args)  do ?  ---> Returns  an  empty  list  i.e.  []\n\n4) Finally  list()  function  does  typecasting\n'

In [ ]:
# Find  outputs
a = [ ]
print(type(a))  # <class 'list'>
print(a)    # []
print(len(a)) # 0
b = list()
print(b)     # []
print(len(b))   # 0

<class 'list'>
[]
0
[]
0

In [ ]:
# Slice  demo  program (Home  work)
#        0      1    2        3      4      5       6      7
list = [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
#       -8     -7   -6        -5     -4     -3      -2      -1
print(list[2 : 7])  # [ 3 + 4j , 'Hyd' , True , None , 10.8 ]
print(list[ : : ])  # [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[:]) #  list[0 :  8 :  1]  --->  List  from  indexes  0  to  7  in  steps  of  1  i.e.  [25 , 10.8 , 3 + 4j , 'Hyd' , True , None , 10.8 , 'Hyd']
print(list[ : : -1])    # ['Hyd',10.8,None,True,'Hyd',3+4j,10.8,25]
print(list[ : : 2])     # [25 , 3 + 4j ,  True ,  10.8 ]
print(list[1 : : 2])    # [10.8, 'Hyd', None, 'Hyd']
print(list[ : : -2]) #  list[-1 :  -9 : -2]  --->  List  from  indexes   -1  to  -8  in  steps  of   -2   i.e.  ['Hyd' , None , 'Hyd' , 10.8]
print(list[-2 : : -2])  # [10.8, True, 3+4j, 25]
print(list[1 : 4])  # [10.8 , 3 + 4j , 'Hyd' ]
print(list[-4 : -1])    #[True , None , 10.8]
print(list[3 : -3]) # ['Hyd' , True]
print(list[2 : -5]) # [3 + 4j , 'Hyd' ]
print(list[-1:-5])  # []

[(3+4j), 'Hyd', True, None, 10.8]
[25, 10.8, (3+4j), 'Hyd', True, None, 10.8, 'Hyd']
[25, 10.8, (3+4j), 'Hyd', True, None, 10.8, 'Hyd']
['Hyd', 10.8, None, True, 'Hyd', (3+4j), 10.8, 25]
[25, (3+4j), True, 10.8]
[10.8, 'Hyd', None, 'Hyd']
['Hyd', None, 'Hyd', 10.8]
[10.8, True, (3+4j), 25]
[10.8, (3+4j), 'Hyd']
[True, None, 10.8]
['Hyd', True]
[(3+4j)]
[]

In [ ]:
#  Find  outputs  (Home  work)
#        0    1      2      3       4      5     6        7
list = [25 , 10.8 , 3+4j , 'Hyd' , True , None , 10.8 , 'Hyd']
x ,  y = list[3 : 5]
print('x : ' , x) # x: Hyd
print('y : ' , y)	# y:  True 
for  x  in  list[2:7]:
	print(x)	#3+4j  Hyd  True  None  10.8

x :  Hyd
y :  True
(3+4j)
Hyd
True
None
10.8

In [ ]:
#  Find  outputs  (Home  work)
#     0   1    2    3     4
a = [10 , 20 , 30 , 40 , 50]
print(a , id(a))    # [10 , 20 , 30 , 40 , 50] 23456787654
a[1 : 4] = [60 , 70]   
print(a , id(a))     # [10, 60, 70, 50]  same address
a[2: 4] = [100 , 200 ,  300]
print(a , id(a))    #[10, 60, 100, 200, 300] same address

[10, 20, 30, 40, 50] 2036889334272
[10, 60, 70, 50] 2036889334272
[10, 60, 100, 200, 300] 2036889334272

In [ ]:
#  Find  outputs  (Home  work)
a =  [25]
print(a[1]) # error
print(a[1:])    #[]

[]

In [ ]:
# Find  outputs  (Home  work)
a = (25)
b = 25,
c = 25
d = (25,)
print(type(a))  # <class 'int'>
print(type(b))  # <class 'tuple'>
print(type(c))  # <class 'int'>
print(type(d))  # <class 'tuple'>
print(a * 4)    # 100
print(b * 4)    # (25,25,25,25)
print(c * 4)    # 100
print(d * 4)    # (25,25,25,25)

<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
100
(25, 25, 25, 25)
100
(25, 25, 25, 25)

In [7]:
# tuple()  function  demo  program  (Home  work)
a = tuple('Hyd')
print(a)    # ('H','y','d')
print(type(a))  # <class 'tuple'>
print(len(a))   # 3
b = [10 , 20 , 15 , 18]
print(tuple(b)) # (10 , 20 , 15 , 18)
print(tuple(range(5)))  # (0,1,2,3,4)
print(tuple(25))    # Error



'''
tuple()  function
-------------------
1) What  does  tuple(sequence)  do ?  --->  Converts  sequence  to  tuple

2) Is  tuple(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only

3) What  does  tuple(No-args)  do ?  ---> Returns  an  empty  tuple
'''

('H', 'y', 'd')
<class 'tuple'>
3
(10, 20, 15, 18)
(0, 1, 2, 3, 4)

'\ntuple()  function\n-------------------\n1) What  does  tuple(sequence)  do ?  --->  Converts  sequence  to  tuple\n\n2) Is  tuple(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only\n\n3) What  does  tuple(No-args)  do ?  ---> Returns  an  empty  tuple\n'

In [ ]:
# Find  outputs (Home  work)
a = ()
print(type(a))  # <class 'tuple'>
print(a)    # ()
print(len(a))   # 0
b = tuple()
print(b)    # ()
print(len(b))   # 0

<class 'tuple'>
()
0
()
0

In [15]:
# Tricky program
# Find  outputs (Home  work)
a = (10 , 20 , 30)
print(a)    # (10 , 20 , 30)
print(id(a))    # 4321234567
a = a * 2
print(a)    # (10 , 20 , 30, 10 , 20 , 30)
print(id(a))    # 1234567876

(10, 20, 30)
2036895897344
(10, 20, 30, 10, 20, 30)
2036896751168

In [9]:
#  set  object  demo  program  (Home  work)
a = {25 , 10.8 , 'Hyd' , True , 3+4j , None , 25 , 'Hyd'}
print(a)    # { 10.8 , True , 3+4j , None , 25 , 'Hyd'}
print(type(a))  # <class 'set'>
print(len(a))   # 6
print(a[2]) # Error
print(a[1 : 4]) # error
a[2] = 'Sec'    # error
print(a * 2)    # error
print(a * a)    # Error

{None, True, 25, 10.8, 'Hyd', (3+4j)}
<class 'set'>
6

In [ ]:
# Tricky  program
# Find  outputs (Home  work)
a = {1 , 'Hyd' , False , True , 0.0 , '' , 1.0 ,  0}
print(a)    # {False, 1, 'Hyd', ''}
print(len(a))   # 4
print(type(a))  # <class 'set'>

{False, 1, 'Hyd', ''}
4
<class 'set'>

In [10]:
#  set()  function demo  program
a = set('Rama rAo')
print(a)    # {'A', 'a', 'R', 'r', 'o', ' ', 'm'}
print(len(a))   # 7
print(set([10 , 20 , 15 , 20])) # {10,20,15}
print(set((25 , 10.8 , 'Hyd' , 10.8)))  # (25 , 10.8 , 'Hyd')
print(set(range(10 , 20 , 3)))  # Error
print(set(25))  # Error
print(set([25 , 10.8 , [] , 'Hyd']))    # error


'''
set()  function
-----------------
1) What  does  set(sequence)  do ?  --->  Converts  sequence  to  set

2) Is  set(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only

3) What  does  set(No-args)  do ?  ---> Returns  an  empty  set
'''

{'a', 'o', 'm', 'A', 'R', 'r', ' '}
7
{10, 20, 15}
{25, 10.8, 'Hyd'}

'\nset()  function\n-----------------\n1) What  does  set(sequence)  do ?  --->  Converts  sequence  to  set\n\n2) Is  set(non-sequence)  valid ?  ---> No  becoz  argument  should  be  sequence  only\n\n3) What  does  set(No-args)  do ?  ---> Returns  an  empty  set\n'

In [ ]:
# Find  outputs  (Home  work)
a =   [ ]
b =   ( )
c =   {}
d =   set()
print(type(a))  # <class 'list'>
print(type(b))  # <class 'tuple'>
print(type(c))  # <class 'dict'>
print(type(d))  #<class 'set'>
print(a)    #[]
print(b)    #()
print(c)    #{}
print(d)    #set()

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
[]
()
{}
set()

In [ ]:
# Tricky  program
# add()  and  remove()  methods  (Home  work)
a = set()
a . add(25)
a . add(10.8)
a . add('Hyd')
a . add(True)
a . add(None)
a . add('Hyd')
a . add(1)
print(a)    # (25, 'Hyd', 10.8, True, None)
print(len(a))   # 5
a . remove(25)
print(a)    # {None, 'Hyd', 10.8, True}
a . append(100) # Error
a . add(set())  # Error
a . add(())    # Error
a . add([])    # Error
print(a)    # {None, 'Hyd', 10.8, True}
a . add({})    # Error

{None, True, 10.8, 'Hyd', 25}
5
{None, True, 10.8, 'Hyd'}
{None, True, 10.8, 'Hyd'}

In [ ]:
# How  to  print  set  in  two  differnet ways  (Home  work)
a = {25 , True , 'Hyd' , 10.8}
print('set  with  print  function') # 'set  with  print  function'
print(How  to  print  set)  # Print(a)
print('Iterate  thru  set  with  for  loop')    # 'Iterate  thru  set  with  for  loop'
How  to  iterate  thru  set  with  for  loop    # for i in a:
                                                    #print(a)

19/07/2025

In [12]:
# Find  outputs  (Home  work)
a = {10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(a)    # {10 : 'Ramesh' , 20 : 'Kiran' , 15 : 'Amar' , 18 : 'Sita'}
print(type(a)) # <class 'dict'>
print(a[10])   #(How  to  obtain  value  key  10) 
print(a[20])   #(How  to  obtain  value  key  20)
print(a[20])   #(How  to  obtain  value  key  15)
print(a[18])   #(How  to  obtain  value  key  18)
print(a[19])    # Error
print(a[0]) # Error
print(a['Amar'])    # Error
a[15]='Krishna'    #How  to  modify  value  of   key  15  to  'Krishna'
del a[20]   #How  to  remove  20 :  'Kiran'  from  dict  'a'
a[25]='Vamsi'   # How  to  append  25 : 'Vamsi'  to  dict  'a'
print(a)    #{10 : 'Ramesh' , 15 : 'Krishna' , 18 : 'Sita', 25:'Vamsi'}
print(len(a))   # 4
print(a * 2)    # Error

{10: 'Ramesh', 20: 'Kiran', 15: 'Amar', 18: 'Sita'}
<class 'dict'>
Ramesh
Kiran
Kiran
Sita
{10: 'Ramesh', 15: 'Krishna', 18: 'Sita', 25: 'Vamsi'}
4

In [ ]:
# Find  outputs  (Home  work)
a = {10 : 'Hyd' , 10 : 'Sec'}
print(a)    #{10 : 'Sec'}
print(len(a))   #1
b = {'R' : 'Red' , 'G' : 'Green' , 'B' : 'Blue' , 'Y' : 'Yellow' , 'G' : 'Gray' , 'B' : 'Black'}
print(b)    # {'R' : 'Red', 'G' : 'Gray' , 'B' : 'Black','Y' : 'Yellow' }
print(len(b)) # 4

{10: 'Sec'}
1
{'R': 'Red', 'G': 'Gray', 'B': 'Black', 'Y': 'Yellow'}
4

In [ ]:
#  Tricky  program
# Find output  (Home  work)
a = {True : 'Yes' , 1 : 'No' , 1.0 : 'May  be'}
print(a)    # {True: 'may be}
print(len(a))   #1

{True: 'May  be'}
1

In [13]:
# Find  outputs
a = { [ ] : 25} # error
b = { ( ) : 25}
print(b)    # error
c = { { } : 25} # error
d = {'Ramesh' : [9948250500, 9848565090, 9440250404]}
print(d)    #{'Ramesh' : [9948250500, 9848565090, 9440250404]}
print(len(d))   # 1
e = {set() : 10.8}  # error

{'Ramesh': [9948250500, 9848565090, 9440250404]}
1

In [ ]:
# Find  outputs
a = {}
print(type(a))  # <class 'dict'>
print(len(a))   # 0
print(a)    #{}
b = dict()  
print(type(b))   # <class 'dict'>
print(len(b))   #0
print(b)    # {}

<class 'dict'>
0
{}
<class 'dict'>
0
{}