In [ ]:
#  len()  function demo   program  (Home  work)
a = [ 25, 10.8, 'Hyd', True]
print(len(a))#4
b = []
print(len(b))#0
c = [[10 , 20] , 30 , 40]
print(len(c))#3

In [ ]:
#  Find  outputs
a = [[10 , 20 , 15 , 18]]
#print(sum(a))#Error
print(sum(a[0]))#How  to  determine  sum  of  inner  list  elements)
sum=0
for x in a[0]:
    sum+=x
print(sum)#print(How  to  determine  sum  of  inner  list  elements  in  another  way)

In [ ]:
# sum()  function  demo  program  (Home  work)
a = [25 , 10.8 , True]
print(sum(a))#36.8
b= [3 + 4j , 5 + 6j]
print(sum(b))#8+10j
c = [25 , 10.8 , True , 3 + 4j , False]
print(sum(c))#39.8+4j
d = [10 , 20 , 15 , 18]
print(sum(d))#63
e = [25 , 10.8 , 'Hyd' , True]
print(sum(e))#Error bcz str cannot be added

In [ ]:
# max()  and  min()  functions  demo  program  (Home  work)
a = [10 , 20 , 15 , 18 , 30, 5 , 12]
print(max(a))#30
print(min(a))#5
b = ['Rama' , 'Sita' , 'Rajesh' , 'Kiran' , 'Amar' , 'Vamsi' , 'Manohar']
print(max(b))#Vamsi
print(min(b))#Amar
c = [25 , 10.8 ,  3 + 4j , True]
print(max(c))#Error cannot comapre
d = [25 , '35']
print(max(d))#Cannot commapre
print(max([]))#Error bcz empty cannot compared
print(min([]))#Error bcz empty cannot compared

In [ ]:
# list()  function  demo  program
a = (10 , 20 , 15, 18)
b = list(a)
print(b)#[10,20,15,18]
print(type(b))#<class list>
print(a  is  b)#False
print(a == b)#False

In [ ]:
#  Find  outputs (Home  work)
a = range(4 , 10 , 2)#[4,6,8]
b = list(a)
print(b)#[4,6,8]
print(type(b))#<class list>
a = list('Vamsi')
print(a)#['v','a','m','s','i']
a = list()
print(a)#[]
print(list(25))#Error agument is not sequence
print(list(10.8))#Error agument is not sequence
print(list(True))#Error agument is not sequence
print(list(None))#Error agument is not sequence

In [ ]:
# Find  outputs (Home  work)
a = ((10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90))
print(list(a))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
b = { (10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)}
print(list(b))#[(10 , 20) , (30 , 40 , 50) , (60 , 70 , 80 , 90)]
c = ([10 , 20] , (30 , 40) , {50 , 60})
print(list(c))#[[10 , 20] , (30 , 40) , {50 , 60}]

In [ ]:
# sorted()  function   demo  program
a = [10 , 20 , 15 , 5 , 12]
b = sorted(a)#[5,10,12,15,20]
print(b)#[5,10,12,15,20]
print(type(b))#<class list>
c = sorted(a , reverse = True)#[20,15,12,10,5]
print(c)#[20,15,12,10,5]
print(a)#[10 , 20 , 15 , 5 , 12]

In [ ]:
# Find  outputs  (Home  work)
a = ['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']
b = sorted(a)#['Amar','Kiran','Rajesh','Rama','Rama  Rao','Sita','Vamsi']
print(b)#['Amar','Kiran','Rajesh','Rama','Rama  Rao','Sita','Vamsi']
c = sorted(a , reverse = True)
print(c)#['Vamsi','Sita', 'Rama  Rao', 'Rama', 'Rajesh', 'Kiran', 'Amar']
print(a)#['Rama',  'Rajesh',  'Amar',  'Sita',  'Vamsi'  ,  'Kiran'  , 'Rama  Rao']

In [ ]:
# all()  function demo  program  (Home  work)
a = [12 > 10 , 5 < 20 , 30 == 30]
print(all(a))#True
b = [9 >= 6 , 12 <= 9 , 6 == 6]
print(all(b))#False
c = [25 , 10.8 , '' , True , 3+4j , 'Hyd']
print(all(c))#False
d = [10 , 0 , 20]
print(all(d))#False
e = []
print(all(e))#False

In [ ]:
# any()  function demo program  (Home  work)
a  = [12 > 18 , 5 < 20 , 35 == 30]
print(any(a))#True
b = [12 > 18 , 25 < 20 , 35 == 30]
print(any(b))#False
c = [0 , 0.0 , '' , 25 , 0 + 0j , False]
print(any(c))#True
d = [0 , 0.0 , '' , 0 + 0j , False]
print(any(d))#False
e = []
print(any(e))#False

In [ ]:
# del  operator  demo  program (Home  work)
a = [10 , 20 , 15 , 18]
print(a)#[10 , 20 , 15 , 18]
del    a[2]
print(a)#[10,20,18]
#del  a[3]#Error bcz we dont have a[3]
del  a#delete whole a
print(a)#Error as a is already deleted

In [ ]:
#  append()  method  demo  program (Home  work)
list = [10 , 20 , 15 , 18]
print(list)#[10 , 20 , 15 , 18]
list . append(19)
print(list)#[10 , 20 , 15 , 18,19]

In [ ]:
#  Find  outputs (Home  work)
list = []
print(list)#[]
list . append(25)#[25]
list . append(10.8)#[25,10.8]
list . append('Hyd')#[25,10.8,'Hyd']
list . append(True)#[25,10.8,'Hyd',True]
print(list)#[25,10.8,'Hyd',True]

In [ ]:
# Find  outputs  (Home  work)
list = []
for  x  in   range(0 , 50 , 10):# 0,10,20,30,40
    list . append(x)
print(list)#[0,10,20,30,40]

In [ ]:
#  Find  outputs  (Home  work)
a = [10 , 20 , 30]
a . append('Hyd')
print(a)#[10 , 20 , 30 , 'H','y','d']
print(len(a))#4
#print(a[4])#How  to  print  4th  element  of  list  'a' #Error bcz not 4th element
#print(a[5])#How  to  print  'H')#Error bcz not 5th element
#print(How  to  print  'y')##Error bcz not 6th element
#print(How  to  print  'd')#Error bcz not 7th element

In [ ]:
# remove()  method  demo  program  (Home  work)
try:
    list = [10 , 20 , 15 , 18 , 15 , 12 , 15 , 19]
    list . remove(15)
    print(list)#[10 , 20 ,  18 , 15 , 12 , 15 , 19]
    list . remove(25)#25  is   not  in  the  list
except:
    print('25  is   not  in  the  list')

In [ ]:
'''
Write  a  program  to  delete  'all'  occurences  of  'x'  from  the  list

Let  1st  input  be   [10 , 20 , 15 , 18 , 19 , 15 , 17 , 20 , 15 , 14]  and
2nd  input  be  15
What  is  the  output ?  ---> [10 , 20 ,  18 , 19 , 17 , 20 , 14]
'''

l=eval(input("Enter the list : "))
new=[]
for x in l:
    if x!=15:
        new.append(x)
print(new)



l=eval(input("Enter List  :"))
d=int(input("Enter  element  to  be  deleted : "))
while True:
    try:
        l.remove(d)
    except ValueError: 
        break

print(F'List  without   15 : {l}')

In [ ]:
# clear() method  demo program  (Home  work)
list = [10 , 20 , 15 , 18]
print(list)# [10 , 20 , 15 , 18]
list . clear()
print(list)#[]

In [ ]:
# index()  method  demo  program  (Home  work)
a = [10 , 20 , 15 , 12 , 14 , 15 , 18 , 19 , 15 , 12 , 25]
#     0   1     2    3    4   5    6    7     8    9    10
try:
    i = a . index(15)
    while  True:
        print(i)#2,5,8
        i = a . index(15 , i + 1)
except:
    print(F'15  is  found  {a . count(15)}  times ')# 15 is found 3 times

In [ ]:
'''
Tricky  program
Write  a  program  to  remove  all  duplicate  elements  of  the  list  (Not  even  single  occurance)
Let  input  be  [10 , 20 , 15 , 10 , 14 , 10 , 18 , 20 , 19]
What  is  the  output ?  ---> [15 , 14 , 18 , 19]

Hint:  Use  count()  and  append()  methods
'''
l=eval(input("Enter the list :"))
New=[]
for i in l:
    if l.count(i)==1:
        New.append(i)
    else:
        pass
print(New)